{% extends "account/base_cf.html" %}
{% load i18n avatar_tags %}

{% block title %} <title>Configuración - {{ request.user.username }} - Imágenes de perfil.</title> {% endblock %}

{% block extra-css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/avatar.css" />
{% endblock %}

{% block extra-js %}
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>
$(document).ready(function() {
    $("#option-avatar").find("img").click(function() {
        if ($('#option-avatar').find('img').size() == 1) {
            $(this).toggleClass('active');
        } else {
            $("img").removeClass('active');
            $(this).toggleClass('active');
        }
    });
});
</script>
{% endblock %}
{% block cf-title %}
<hgroup>
	<h4 class="cn"> Imágen de perfil </h4>
	<h6 class="ch"> Elige y gestiona tus imágenes de perfil </h6>
</hgroup>
{% endblock %}

{% block cf-form %}
    <div class="col-lg-12 col-md-10 col-sm-12 current-avatar">
    <p>{% trans "Your current avatar: " %}</p>
    {% avatar user %}
    <a href="{% url 'avatar_delete' %}" class="delete-profile-image"><i class="fa fa-trash"></i></a>
    <a href="{% url 'avatar_add' %}" class="add-profile-image"><i class="fa fa-plus"></i></a>
        </div>
    {% if not avatars %}
        <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
    {% else %}
        <div id="option-avatar" class="col-lg-12 col-md-12 col-sm-12 options-avatar">
        <form method="POST" action="{% url 'avatar_change' %}">
            <ul>
                {{ primary_avatar_form.as_ul }}
            </ul>
            <p>{% csrf_token %}<input type="submit" value="{% trans "Choose new Default" %}" /></p>
        </form>
    {% endif %}

    <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
        {{ upload_avatar_form.as_p }}
        <p>{% csrf_token %}<input type="submit" value="{% trans "Upload New Image" %}" /></p>
    </form>

        </div>
    </div>
{% endblock %}
