{% extends "account/base_cf.html" %}
{% load i18n %}

{% block title %} <title>Configuración - {{ request.user.username }} - Imágenes de perfil.</title> {% endblock %}

{% block extra-css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/avatar.css" />
{% endblock %}

{% block extra-js %}
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>
$(document).ready(function() {
    $('#delete-avatar').find('img').click(function() {
        $(this).toggleClass('active');
    });
});
</script>
{% endblock %}

{% block cf-title %}
<div class="hgroup">
	<h4 class="cn"> Imágen de perfil </h4>
	<h6 class="ch"> Elimina aquellos avatares que no necesites </h6>
</div>
{% endblock %}
{% block cf-form %}
<div id="delete-avatar" class="col l12 m10 s12 current-avatar">
    <div class="delete-avatars">
    {% if avatars %}
    <p>{% trans "Please select the avatars that you would like to delete." %}</p>
    {% endif %}
    {% if not avatars %}
        {% url 'avatar_add' as avatar_change_url %}
        <p>{% blocktrans %}You have no avatars to delete. Please <a href="{{ avatar_change_url }}">upload one</a> now.{% endblocktrans %}</p>
    {% else %}
        <div class="row">
        <form method="POST" action="{% url 'avatar_delete' %}">
            <ul>
                {{ delete_avatar_form.as_ul }}
            </ul>
            <a title="Subir imágenes de perfil" href="{% url 'avatar_add' %}" class="add-profile-image"><i class="fa fa-plus"></i></a>
            {% csrf_token %}<input class="btn blue darken-1 waves-effect waves-light left" type="submit" value="{% trans "Delete These" %}" />
        </form>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}
