{% extends 'base_interface.html' %}

{% block content %}

<div id="panel"> 

  <div id="widget" onClick="cambiopagina()"> 
<!--
    <div id="middle"><img src="{{STATIC_URL}}img/5.jpg" width="300" height="300"><span class="entypo-user"></span></div>
    <div id="linkedin" class="size left"><span class="entypo-users"></span></div>
-->
    <div id="middle"><img src="../../" width="300" height="300"><span class="entypo-user"></span></div>
    <div id="linkedin" class="size left"><a href="/friends"><span class="entypo-users"></span></a></div>
    <div id="dribbble" class="size right"><span class="entypo-mail"></span></div>
    <div id="facebook" class="size left"><a href="/columnas"><span class="entypo-calendar"></span></div></a>
    <div id="twitter" class="size right"><a href="/outsession"><span class="entypo-logout"></span></div></a>
  </div>
</div>



<div class="container"><wbr>
<div class="foto_perfil"></div><p class="nameact">Nombre Apellido</p>
    <!--
    <div id="panel1">
      <span class="fontawesome-cog"></span>
  		<span class="fontawesome-comment-alt"></span>
  		<span class="fontawesome-th"></span>
    </div>
    -->
</div>



<!--</div>-->

<div class="container">
  
  <div class="col-lg-8 col-md-6 col-sm-12">

    <div class="container">
 
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="user-card card">
          <div class="user-avatar"><img src="{{STATIC_URL}}img/bola/11.jpg" class="user-bg"><span class="entypo-info-circled"></span>
            <input type="checkbox" id="button-menu"  />
            <div class="caja">
             <div class="item">
                
               <img src="{{STATIC_URL}}img/bola/2.jpg" class="user-pic">
               <span class="informacion">
                 <span class="entypo-plus" title="Agregar" ></span>
                 <span class="entypo-thumbs-up" title="¡Me gusta!"></span>
                 <span class="entypo-forward" title="Escribir"></span>
               </span>
              </div>
            </div>
          </div>
    
          <header>
            <!--
            <h1>Adrian Subname</h1>
            <p>_Adrianxxxxxxx</p>
            -->
            <!--
            <h1>{{ user.first_name }} {{ user.last_name }}</h1>
            <p>{{ user.username }}</p>
            -->
            
            <h1>{{ userProfile.first_name }} {{ userProfile.last_name }}</h1>
            <p>{{ userProfile.username }}</p>
                     
          </header>
          <div class="status">Play hard.</div><span class="fontawesome-pencil"> </span>
          <ul class="stats">
            <li><a href="/friends"><strong>380</strong><span>Seguidores</span></a></li>
            <li><a><strong>934</strong><span value="me gusta" onclick="javascript:contador()">Me gusta</span></a></li>
            <li><a class='inline' href="#inline_content"><strong>48</strong><span>Fotos</span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="stock card">
          <div class="stock-chart">
            <div id="chart"></div>
          </div>
          <div class="current-price container">
            <div class="info col-lg-6"><abbr>AAPL</abbr>
              <time>Yesterday, 15:04 pm</time>
            </div>
            <div class="changes col-lg-6">
              <div class="value up">694.00</div>
              <div class="change">+4.95 (3.49%)</div>
            </div>
          </div>
  
          <div class="yearly-changes container">
            <div class="year-all col-lg-6"><strong>+105.32</strong><span>Yearly change</span></div>
            <div class="year-chart col-lg-6">
              <ul class="chart-bars">
                <li data-value="35" data-title="January">
                  <div class="value"></div>
                  <label>J</label>
                </li>
                <li data-value="35" data-title="February">
                  <div class="value"></div>
                  <label>F</label>
                </li>
                <li data-value="35" data-title="March">
                  <div class="value"></div>
                  <label>M</label>
                </li>
                <li data-value="35" data-title="April">
                  <div class="value"></div>
                  <label>A</label>
                </li>
                <li data-value="35" data-title="May">
                  <div class="value"></div>
                  <label>M</label>
                </li>
                <li data-value="35" data-title="June">
                  <div class="value"></div>
                  <label>J</label>
                </li>
                <li data-value="35" data-title="July">
                  <div class="value"></div>
                  <label>J</label>
                </li>
                <li data-value="35" data-title="August">
                  <div class="value"></div>
                  <label>A</label>
                </li>
                <li data-value="35" data-title="September">
                  <div class="value"></div>
                  <label>S</label>
                </li>
                <li data-value="35" data-title="October">
                  <div class="value"></div>
                  <label>O</label>
                </li>
                <li data-value="35" data-title="November">
                  <div class="value"></div>
                  <label>N</label>
                </li>
                <li data-value="35" data-title="December">
                  <div class="value"></div>
                  <label>D</label>
                </li>
              </ul>
            </div>
          </div>
          <div class="summary container">
            <div class="col-lg-6 mobile-grid-50"><a><strong>18.3 M</strong><span>Shares traded</span></a></div>
            <div class="col-lg-6 mobile-grid-50"><a><strong>13.45 B</strong><span>Market cap</span></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="video-player card">
        <div class="vbox">
          <div class="thumbnail"></div>
          <button class="play-btn"><span class="fontawesome-play"></span></button>
        </div>
        <ul class="unstyled controls table">
          <li class="play">
            <button><span class="fontawesome-play"></span></button>
          </li>
          <li class="timeline">
            <div class="progress-bar">
              <div class="bar">
                <div class="progress">
                  <div class="value"></div>
                </div>
              </div>
            </div>
          </li>
          <li class="volume-ctl">
            <ul class="unstyled table">
              <li class="volume-btn">
                <button><span class="fontawesome-volume-up"></span></button>
              </li>
              <li class="volume-bar">
                <div class="progress-bar">
                  <div class="bar">
                    <div class="value"></div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="fullscreen">
            <button><span class="fontawesome-desktop"></span></button>
          </li>
        </ul>
      </div>
      <div class="location card">
        <div class="map"></div>
        <div class="decription container">
          <div class="col-lg-9">
            <div class="loc"> <span class="fontawesome-home"> </span>Tu localizacion</div>
            <div class="city">Murcia, Espa&Ntildea</div>
          </div>
          <div class="col-lg-3"><a class="photos">Mirar fotos</a></div>
        </div>
      </div>
      <div class="messages">
        <div class="messages-box">
          <div class="message notice">
            <button data-close="true" class="close"></button>
            <div class="message-text">Ya estas dentro.</div>
          </div>
          <div class="message success">
            <button data-hide="true" class="close"></button>
            <div class="message-text">Comentario publicado correctamente.</div>
          </div>
          <div class="message error">
            <button data-close="true" class="close"></button>
            <div class="message-text">Tu no tienes permiso para borrar este comentario.</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="container">
      <div class="col-lg-12">
        <div class="sidebar card">
          <ul class="unstyled table fullwidth links">
            <li class="active"><a>Popular</a></li>
            <li class="comentarios"><a>Comentarios</a></li>
            <li class="active"><a>Recientes</a></li>
          </ul>
          <ul class="unstyled content">
            <div class="wrapper">
  <div id="box">
        <input id="profile" type="checkbox" checked> 
        <label class="popo" for="profile">
        <img src="http://www.1053kissfm.com/files/kp.jpg"alt="img">
        </label>
        <span class="entypo-thumbs-up"></span> 
        <span class="entypo-forward"></span>
    <span class="entypo-plus"></span>
  </div>
  <article class="articulo">
    <h2 class="h22"><a href="http://www.twitter.com/random_studio" target="_blank" >_random_studio</a> mentioned you</h2>
    <p class="parrafo">
      <a href="file:///C:/Users/Adrian/Desktop/skyfolk/perfil.html" target="_blank">_adriancarayol</a> How would you like to intern with us this summer?
    </p>
  </article>
  </div>
                           <div class="wrapper">

  <div id="box">
        <input id="profile" type="checkbox" checked> 
        <label class="popo1" for="profile">
        <img src="http://www.1053kissfm.com/files/kp.jpg"alt="img">
        </label>
        <span class="entypo-thumbs-up"></span> 
        <span class="entypo-forward"></span>
    
  </div>
  <article class="articulo">
    <h2 class="h22"><a href="http://www.twitter.com/random_studio" target="_blank" >_random_studio</a> mentioned you</h2>
    <p class="parrafo">
      <a href="file:///C:/Users/Adrian/Desktop/skyfolk/perfil.html" target="_blank">_adriancarayol</a> How would you like to intern with us this summer?
    </p>
  </article>
  </div>
   <div class="wrapper">                  
  <div id="box">
        <input id="profile" type="checkbox" checked> 
        <label class="popo" for="profile">
        <img src="http://www.1053kissfm.com/files/kp.jpg"alt="img">
        </label>
        <span class="entypo-thumbs-up"></span> 
        <span class="entypo-forward"></span>
  </div>
  <article class="articulo">
    <h2 class="h22"><a href="http://www.twitter.com/random_studio" target="_blank" >_random_studio</a> mentioned you</h2>
    <p class="parrafo">
      <a href="file:///C:/Users/Adrian/Desktop/skyfolk/perfil.html" target="_blank">_adriancarayol</a> How would you like to intern with us this summer?
    </p>
  </article>
  </div>
                   <div class="wrapper">
  <div id="box">
        <input id="profile" type="checkbox" checked> 
        <label class="popo" for="profile">
        <img src="http://www.1053kissfm.com/files/kp.jpg"alt="img">
        </label>
        <span class="entypo-thumbs-up"></span> 
        <span class="entypo-forward"></span>
  </div>
  <article class="articulo">
    <h2 class="h22"><a href="http://www.twitter.com/random_studio" target="_blank" >_random_studio</a> mentioned you</h2>
    <p class="parrafo">
      <a href="file:///C:/Users/Adrian/Desktop/skyfolk/perfil.html" target="_blank">_adriancarayol</a> How would you like to intern with us this summer?
    </p>
  </article>
  </div>
          </ul>
      </div>
      </div>
      </div>
      
 
      <div class="col-lg-12">
        <div class="weather card">
          <div class="current">
            <div class="icon"><span class="fontawesome-cloud"></span></div>
            <div class="temperature">30&deg;</div>
          </div>
          <div class="container info">
            <div class="col-lg-10">
              <div class="city">Los Angeles</div>
              <div class="container indicators">
                <div class="col-lg-6 precipitation"><span class="fontawesome-tint"></span>13%</div>
                <div class="col-lg-6 wind"><span class="fontawesome-leaf"></span>15<small>Mph</small></div>
              </div>
            </div>
            <div class="col-lg-2">
              <button class="refresh"><span class="fontawesome-refresh"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--</div>-->


<!-- This contains the hidden content for inline calls -->
<div style='display:none'>
      <div id='inline_content' style='padding:10px; background:#fff;'>
        <p><strong><form action="" method="get">
              <span><img src="{{STATIC_URL}}img/2.jpg"></span>
              </form></strong></p>
      
      </div>
</div>

{% endblock%}





