@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
body {
  max-width: 800px;
  margin: 0;
}
div.wrapper {
  width: 500px;
  text-align: center;
  margin: auto;
}
div.parrafo {
  margin: auto;
  position: relative;
  text-align: center;
  display: inline-block;
  
}
div.parrafo p {
  width: 900px;
  margin: auto;
  position: relative;
  text-align: center;
  display: inline-block;
}
div.contenedor {
  position: absolute;
  margin: auto auto;
  background-color: rgba(138, 145, 146, 0.7);
  border-radius: 100%;
  max-width: 700px;
  min-width: 185px;
  display: block;
  max-height: 200px;
  min-height: 180px;
  left: 40%;
  top: 15%;
  border: 3px solid rgba(29, 145, 146, 0.5);
}
ul.lis {
  list-style-type: none;
  display: inline;
  max-height: 10px;
}
ul.lis li.azul {
  color: red;
  display: inline;
  padding: 39px 20px;
  height: 10px;
  width: 50px;
  position: absolute;
  top: 0%;
  background: #00AAAA;
  border-top-left-radius: 100%;
  border: 2px solid #fff;
  left: 0%;
  opacity: 0.8;
  -moz-animation: pulso 1s linear infinite;
  -webkit-animation: pulso 1s linear infinite;
  }
ul.lis li.rosa {
  color: red;
  display: inline;
  padding: 39px 20px;
  height: 10px;
  width: 50px;
  position: absolute;
  top: 0%;
  background: #5453AF;
  border-top-right-radius: 100%;
  border: 2px solid #fff;
  right: 0;
  opacity: 0.8;
   -moz-animation: pulso 1s linear infinite;
  -webkit-animation: pulso 1s linear infinite;
}
ul.lis li.verde {
  display: inline;
  padding: 39px 20px;
  height: 10px;
  width: 50px;
  position: absolute;
  top: 50%;
  background: grey;
  border-bottom-right-radius: 100%;
  border: 2px solid #fff;
  right: 0;
  opacity: 0.8;
   -moz-animation: pulso 1s linear infinite;
  -webkit-animation: pulso 1s linear infinite;
}
ul.lis li.amarillo {
  display: inline;
  padding: 39px 20px;
  height: 10px;
  width: 50px;
  position: absolute;
  top: 50%;
  background: #CA5092;
  border-bottom-left-radius: 100%;
  border: 2px solid #fff;
  left: 0;
  opacity: 0.8;
   -moz-animation: pulso 1s linear infinite;
  -webkit-animation: pulso 1s linear infinite;
}
p {
  position: absolute;
  top: 0%;
  font-family: 'Open Sans', sans-serif;
  color: grey;
  font-size: 1.3em;
  text-align: center;
  margin:auto 30%;
}

/* animaciones */

@-moz-keyframes pulso {
     25%{ -moz-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes pulso {
     25%{ -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}