$blueskyfolk: #1e88e5
$default-transition: all .2s ease-out 0s
$graycolor: #555
$shadowcolor: rgba(0, 0, 0, .15)
$tomatocolor: #ff6347
$lightgray: #bdbdbd
$whitedarkcolor: #eee
$whitewithopacity: rgba(255, 255, 255, .8)

.delete-profile-image,
.add-profile-image
  font-size: 2em
  & .fa-trash,
  .fa-plus
    color: $graycolor
    padding: 7px
    transition: $default-transition
  & .fa-trash
    float: left
    margin-left: 7px
    &:hover
      color: $tomatocolor
  & .fa-plus
    float: right
    margin-right: 7px
    &:hover
      color: $blueskyfolk
.wrapper-p
  & .avatar_from_url

  & .current-avatar
    box-shadow: 0 1px 5px $shadowcolor
    min-height: 30%
    height: auto
    padding: 10px
    font-size: 1.4em
    & img,
    p
      margin: 30px auto 0 auto
      text-align: center
      display: block
    & p
      margin-bottom: 20px
      border-bottom: 2px solid $lightgray
      padding: 5px
      width: 80%
    & img
      box-shadow: 0 1px 2px $blueskyfolk
  & .options-avatar
    box-shadow: 0 1px 5px $shadowcolor
    height: auto
    padding: 10px
    margin-top: 15%
    font-size: 1.4em
    ul >
      padding: 10px
      li
        display: inline-block
    & input[type="radio"]
      display: none
    & .file_avatar
      overflow: hidden
      padding: 7px
      &::-webkit-file-upload-button
        visibility: hidden
      &:before
        content: ''
        display: inline-block
        white-space: nowrap
        -webkit-user-select: none
    & label[for="id_avatar"]
      display: none
    & img, label
      position: relative
      display: inline-block
    & img
      margin-left: 30px
    & label
      margin-bottom: 20px
.wrapper-p
  .active
    border: 4px solid $blueskyfolk

  /* DELETE AVATAR */
.delete-avatars
  & input[type="checkbox"]
    display: none
  & img, label
    position: relative
  & img
    margin-left: 30px
  & label
    margin-bottom: 20px
  ul
    padding: 10px
    display: block
    > li
      margin-right: 10px
      display: inline-block

/* IF AVATAR EMPTY */
.file_avatar
  overflow: hidden
  padding: 7px
  &::-webkit-file-upload-button
    visibility: hidden
    &:before
      content: ''
      display: inline-block
      white-space: nowrap
      -webkit-user-select: none
  & label[for="id_avatar"]
    display: none
