@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);

/*caja de busqueda*/
.field {
    display: flex;
    position: absolute;
    margin: 5em auto;
    width: 901px; /*70%*/
    height: 38px;
    top: -30px;
    left: 150px;
    flex-direction: row;
    box-shadow: 1px 1px 0 rgb(22, 160, 133),
    2px 2px 0 rgb(22, 160, 133),
    3px 3px 0 rgb(22, 160, 133),
    4px 4px 0 rgb(22, 160, 133),
    5px 5px 0 rgb(22, 160, 133),
    6px 6px 0 rgb(22, 160, 133),
    7px 7px 0 rgb(22, 160, 133);
    font-weight: bold;

}

.field > form input[type=text],
.field > form button {
    /*display:block;*/
    font: 1.2em 'Montserrat Alternates';
}

.field > form input[type=text] {
    flex: 1;
    padding: 0.6em;
    border: 0.2em solid rgb(26, 188, 156);
    width: 822px;
    height: 34px;
    margin-top: 2px;
    margin-left: 2px;
}

.field > form button {
    /*padding: 0.6em 0.8em;*/
    background-color: rgb(26, 188, 156);
    color: white;
    border: none;
    font-weight: bold;
    font-size: 1.2em;
    height: 34px;
    width: 70px;
    margin-left: 1px;
}

.btn {
    cursor: pointer;
}

#searchform {

    margin-top: 45px;

}

.container-search {

    height: auto;
    width: 40%;
    margin: 0 auto 0 auto;
    margin-top: 70px;
    background-color: white;

    border: 2px solid #a4f4e8;
    padding: 2px;

    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;

    padding-top: 0px;
    padding-bottom: 0px;

}

.container-search #search-noelements {

    margin: 0 auto 0 auto;
    width: 40%;
    text-align: center;
    font: 1.6em 'Montserrat Alternates';
    margin-top: 10px;

}

.container-search ul {

    list-style-type: none;
    margin-top: 0px;
    /*background-color:green;*/
    height: 100%;
    width: 100%;
    padding-left: 0px;

}

.container-search li {

    margin-left: 0px;
    font: 1.2em 'Montserrat Alternates';
    /*background-color:red;*/
    height: 100px;
    width: 100%;
    padding: 25px 12px;
    border-top: 1px solid #a4f4e8;

}

.container-search li .container-img {

    margin-top: 15px;
    height: 72px;
    width: 72px;
    background-color: #ebf4f2;
    padding: 2px;
    float: left;
    margin-left: 15px;
    border-radius: 98%;
    background-color: red;

}

.container-search li .container-img:hover {
    height: 72px;
    width: 72px;
    background-color: #ebf4f2;
    padding: 2px;
    float: left;
    margin-left: 15px;
    transform: scale(1.15);
    border-radius: 98%;

}

.container-search li .container-img img {

    /*background-color:yellow;*/
    height: 71px;
    width: 71px;

}

.container-search li .container-userdata {

    /*background-color:violet;*/
    height: 50px;
    width: 290px;
    float: left;
    margin-left: 10px;
    padding: 10px 10px;

}

.container-search li .container-fullname {

    /*
    background-color:orange;
    height:5px;
    width:50px;
    */
    text-transform: capitalize;

}

.container-search li .container-username {

    font-style: italic;

}

.container-search li .container-actions {

    float: right;
    margin-top: 0px;
    margin-right: 20px;

    /*background-color:blue;*/
}

.container-search li .container-actions .item-action {

    padding-left: 10px;

}













