$blueskyfolk: #1e88e5

.title-email
  text-align: center
  font-size: 1.6em
  color: grey
  margin-bottom: 7px

p
  text-align: center
strong
  text-align: center
  color: grey
  font-weight: 100
  font-family: 'Open Sans', sans-serif
  font-size: 12px
.email_list
  background: transparent
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15)
  display: block
  position: relative
  margin-bottom: 50px
  margin-top: 30px
  padding: 10px
  & .buttonHolder
    width: 100%
    margin-top: 60px
  & .verified
    color: #8bc34a
  & .unverified
    color: tomato
  & .primary
    color: $blueskyfolk

button[name="action_add"], .primaryAction, .secondaryAction
  margin-right: 0 !important
