$blueskyfolk: #1e88e5

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

body
  font-size: 11.5px !important
  font-style: normal
  font-weight: 300
  font-family: 'Open Sans', sans-serif !important
  color: #555

hgroup
  margin-bottom: 70px
  position: relative
  border-bottom: 1px solid #66757F
  padding: 10px 0px

span
  position: relative
  top: 40px
  left: 0px

h4
  display: block
  color: #66757F
  font-weight: 100
  font-size: 22px !important

h6
  display: inline-block
  margin-top: 7px
  margin-left: 15px !important
  color: #66757F
  font-weight: 100
  font-size: 15px !important

.wrapper-p
  margin-top: 5% !important
  margin-left: 7% !important
  background-color: #fafafa
  padding: 10px
  border-radius: 8px
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15)



/* Menu horizontal */

.menu-config
  position: relative
  display: block
  float: left
  width: 20%
  height: auto
  margin-top: 5%
  background-color: #eeeeee

.menu-config a
  flex: 1
  text-decoration: none
  color: grey
  text-align: center
  height: 40px
  display: block
  border-right: 2px solid $blueskyfolk
  background-color: #fff
  margin-bottom: 5px
  transition: all .3s linear
  -webkit-transition: all .3s linear
  -moz-transition: all .3s linear

.menu-config a:hover
  color: $blueskyfolk
  border-right: 10px solid #eee

.wr
  position: relative
  margin: auto
  width: auto
  height: 300px
  left: 27%

#recent, #new, #new2
  display: list-item

#form-changepass
  position: relative
  display: block
  margin-left: 27%

#form-changepass label
  font-size: 1.2em

#form-changepass #btn
  margin-top: 40px

.img-profile
  width: 120px
  height: 120px
  box-shadow: 0px 1px 5px #1976D2
  cursor: pointer
  display: block
  position: relative
  margin: auto
  top: 80px

.actual, #form-changepass input
  padding: 5px 5px
  border: none
  border-bottom: solid 2px #c9c9c9
  transition: border 0.3s
  outline: none
  width: 100%
  background-color: transparent

#form-changepass input
  width: 30%

.actual:focus, #form-changepass input:focus, #id_status:focus
  border-bottom: solid 2px $blueskyfolk


.index-wrapper
  position: relative
  display: block
  width: 350px
  margin-right: auto
  margin-left: auto
  margin-top: 25%
  height: auto
  font-size: 1.4em

.nameConfig, .lastConfig, .image-usr, .backimage-usr, .status-usr, .menu-usr
  position: relative
  display: block
  margin-bottom: 30px


.nameConfig .errorlist, .lastConfig .errorlist
  color: tomato


#float
  font-size: 15px
  font-family: 'Open Sans', sans-serif
  margin: -30px
  padding-right: 5px
  background: #FFFFFF
  border: 50px solid #FFF
  border-radius: 8px 8px 8px 8px
  box-shadow: rgb(196, 196, 196) 5px 5px

input[type="password"]
  position: relative
  display: list-item
  border: 1px solid rgb(196, 196, 196)
  width: 120px
  height: 30px
  padding: 10px 5px
  left: 220px

label[for="id_oldpassword"]
  color: #212121
  font-weight: 100
  position: relative
  top: 25px

label[for="id_password1"]
  color: #212121
  font-weight: 100
  position: relative
  top: 25px

label[for="id_password2"]
  color: #212121
  font-weight: 100
  position: relative
  top: 25px

#contra
  position: absolute
  left: 0
  right: 0
  margin-left: auto
  margin-right: auto
  display: block
  background-color: #fff
  top: 15%
  height: 570px
  max-height: auto
  width: 50%
  border-radius: 7px
  -webkit-box-shadow: 2px 2px 7px 0px #efefef
  -moz-box-shadow: 2px 2px 7px 0px #efefef
  box-shadow: 2px 2px 7px 0px #efefef
  border: 1px solid #e0e0e0

#contra li
  list-style-type: none
  position: relative
  display: list-item
  margin-top: 30px

#contra-2
  margin-top: 10px
  height: 100%
  width: 100%

#form-changepass
  height: auto


/* Boton salvar cambios */

button[type="submit"]
  border: medium none
  border-radius: 2px
  display: inline-block
  height: 36px
  line-height: 36px
  padding: 0px 2rem
  text-transform: uppercase
  vertical-align: middle
  text-decoration: none
  color: $blueskyfolk
  background-color: transparent
  text-align: center
  letter-spacing: 0.5px
  transition: all 0.2s ease-out 0s
  cursor: pointer
  float: right
  margin-right: 10%
  outline: none
  &:hover
    background-color: #eee
    opacity: 0.8

#boton-perfil, #btn
  position: relative
  padding: 10px 7px
  width: auto
  height: 30px
  float: right
  line-height: 2px
  font-size: 1.3em
  display: block

#id_image
  display: list-item
  position: relative
  top: 0px
  margin-top: 20px

label[for="id_image"]
  color: #212121
  font-weight: 100

#id_backImage
  display: list-item
  position: relative
  top: 0px
  margin-top: 20px

label[for="id_backImage"]
  color: #212121
  font-weight: 100
  margin-right: 10px

#id_status
  padding: 5px 5px
  border: none
  border-bottom: solid 2px #c9c9c9
  transition: border 0.3s
  outline: none
  width: 100%
  background-color: transparent

label[for="id_status"]
  top: 0px
  font-family: 'Open Sans', sans-serif
  font-weight: 100
  position: relative

#id_hiddenMenu
  opacity: 1

label[for="id_hiddenMenu"]
  top: 0px
  font-family: 'Open Sans', sans-serif
  font-weight: 100
  position: relative

hgroup
  position: relative
  margin-bottom: 30px
  margin-top: 0px

.cn
  font-size: 20px
  text-shadow: #ccc 0.5px 0.5px 0.5px
  color: #424242
  font-family: 'Open Sans', sans-serif
  margin-left: 17px
  margin-top: -14px

.ch
  font-size: 12px
  text-shadow: #ccc 0.2px 0.2px 0.2px
  color: #424242
  margin-left: 20px
  margin-top: 20px
  font-family: 'Open Sans', sans-serif

.wrapper-profilex
  min-height: initial
.profilex
  position: relative
  height: 200px
  box-shadow: 0px 1px 5px grey
  background-color: transparent
