$blueskyfolk: #1e88e5
$followcolor: #64b5f6
$greycolor: #555

@font-face
  font-family: 'Open Sans'
  font-weight: 300
  font-style: normal
  src: url('../fonts/Open-Sans-300/Open-Sans-300.eot')
  src: url('../fonts/Open-Sans-300/Open-Sans-300.eot?#iefix') format('embedded-opentype'), local('Open Sans Light'), local('Open-Sans-300'), url('../fonts/Open-Sans-300/Open-Sans-300.woff2') format('woff2'), url('../fonts/Open-Sans-300/Open-Sans-300.woff') format('woff'), url('../fonts/Open-Sans-300/Open-Sans-300.ttf') format('truetype'), url('../fonts/Open-Sans-300/Open-Sans-300.svg#OpenSans') format('svg')

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

html
  color: $greycolor !important
  font-family: 'Open Sans', sans-serif !important
  font-size: 11.5px !important
  font-style: normal !important
  font-weight: 300 !important
  -webkit-font-smoothing: antialiased !important

button::-moz-focus-inner
  border: 0

/* IMPORTANTE PARA CONSERVAR LOS BORDES DE LA INTERFAZ */
html, body, div, span, applet, object, iframe, .header, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font: inherit
  vertical-align: baseline

article, aside, details, figcaption, figure, footer, header, menu, nav, section, .header
  display: block

body
  line-height: 1

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: none

table
  border-collapse: collapse
  border-spacing: 0

a:visited
  color: inherit !important

.emoji
  width: 20px !important
  height: 20px !important

.material-icons
  display: inline-flex
  align-items: center
  justify-content: center
  vertical-align: middle

.material-icons.md-18
  font-size: 18px
.material-icons.md-24
  font-size: 24px
.material-icons.md-36 
  font-size: 36px
.material-icons.md-48
  font-size: 48px

.material-icons.md-dark
  color: rgba(0, 0, 0, 0.54)
.material-icons.md-dark.md-inactive
  color: rgba(0, 0, 0, 0.26)

.material-icons.md-light
  color: rgba(255, 255, 255, 1)
.material-icons.md-light.md-inactive
  color: rgba(255, 255, 255, 0.3)
.material-icons.blue1e88e5
  color: #1e88e5
  font-style: normal

.input-field input[type=text]:focus + label, input[type=url]:focus + label
  color: #64b5f6 !important

.input-field input[type=text]:focus, input[type=url]:focus
  border-bottom: 1px solid #64b5f6 !important
  box-shadow: 0 1px 0 0 #64b5f6 !important

.input-field .active
  color: #64b5f6 !important

.input-field textarea:focus
  border-bottom: 1px solid #64b5f6 !important
  box-shadow: 0 1px 0 0 #64b5f6 !important

.autocomplete-me .ac-results
  border-bottom: 2px solid #64b5f6
  background-color: #fefefe
  margin-top: -14px
  color: #555 !important

.autocomplete-me .ac-results .ac-result
  text-decoration: none
  font-weight: 600
  color: #64B5F6 !important
  img
    width: 60px
    height: 60px
    vertical-align: middle
    margin-right: 7px
    box-shadow: 0 1px 5px #64b5f6
.card
  .card-title-md-18
    font-size: 18px
    padding-top: 10px
    padding-bottom: 10px
    line-height: 20px
.collection .collection-item
  height: auto
.container
  *zoom: 1
  max-width: 100%
  margin-left: auto
  margin-right: auto

.container:before, .container:after
  content: " "
  display: table

.container:after
  clear: both

.container .row
  *zoom: 1
  display: block

.container .row:before, .container .row:after
  content: " "
  display: table

.container .row:after
  clear: both

body > .container
  margin-top: 7em
  margin-bottom: 1em

@media screen and (max-width: 480px)
  .arrow-up, .arrow-down
    -ms-transform: scale(0.5, 0.5)
    -webkit-transform: scale(0.5, 0.5)
    transform: scale(0.5, 0.5)

@media only screen and (min-width: 641px) and (max-width: 959px)
  body > .container
    margin: 1em

@media only screen and (min-width: 1220px)
  body > .container
    font-size: 1.1em
    max-width: 99%
  .user-stats
    margin-left: 0.5% !important

/* LOADER */

@-webkit-keyframes loader-before
  0%
    left: 0
    width: 0

  50%
    left: 25%
    width: 75%

  75%
    left: 100%
    width: 0

@keyframes loader-before
  0%
    left: 0
    width: 0

  50%
    left: 25%
    width: 75%

  75%
    left: 100%
    width: 0

@-webkit-keyframes loader-after
  0%,
  50%
    left: 0
    width: 0

  75%
    left: 0
    width: 25%

  100%
    left: 100%
    width: 0

@keyframes loader-after
  0%,
  50%
    left: 0
    width: 0

  75%
    left: 0
    width: 25%

  100%
    left: 100%
    width: 0

#loader
  display: inline-block
  position: fixed
  height: 4px
  width: 100%
  margin-top: 0
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), -webkit-linear-gradient(left, #1e88e5, #1e88e5)
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), linear-gradient(to right, #1e88e5, #1e88e5)

#loader:after, #loader:before
  content: ""
  position: absolute
  top: 0
  bottom: 0
  width: 0
  background-color: #1e88e5
  -webkit-animation-duration: 1s
  -moz-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-iteration-count: infinite
  -moz-animation-iteration-count: infinite
  animation-iteration-count: infinite
  -webkit-animation-timing-function: linear
  -moz-animation-timing-function: linear
  animation-timing-function: linear

#loader:before
  left: 0
  -webkit-animation-name: loader-before
  -moz-animation-name: loader-before
  animation-name: loader-before

#loader:after
  right: 0
  -webkit-animation-name: loader-after
  -moz-animation-name: loader-after
  animation-name: loader-after

/* NOTIFICACIONES - CHAT MENU VERTICAL */
.nav-vertical-and-chat
  .collection > .collection-item > span.title
    word-wrap: break-word
  .collection .avatar .circle img
    width: 100%
    height: 100%
  & .nav-vertical-controls
    position: relative
    display: block
    height: 120px
    bottom: 0
    width: 100%
    & .controls-notifications
      position: relative
      list-style-type: none
      text-align: center
      display: block
      & .nav-button-notifications, .nav-button-notifications:visited
        display: inline-block
        height: 36px
        line-height: 36px
        padding: 0 2rem
        text-transform: uppercase
        font-size: 1.3em
  & li
    height: 110px
    width: 100%
    margin-top: 2%
    display: list-item
    padding: 10px
    font-size: 1.3em
    background-color: #fff
    opacity: 0.5
    -webkit-transition: all .1s linear
    -moz-transition: all .1s linear
    transition: all .1s linear
    & a
      color: $blueskyfolk
      text-decoration: none
      padding: 0
      display: inline-block
      height: 0
      line-height: 0
      font-size: 1em
    & .notification-body, .notification-buttons
      position: relative
      display: block
      width: 90%
      height: auto
    & .notification-buttons
      margin-top: 5.25%
      text-align: center
    & .accept-response, .rejected-response
      height: 36px
      padding: 0 2rem
      margin-right: 5%
      display: inline-block
      vertical-align: middle
      cursor: pointer
      &:hover
        opacity: 0.8
        background-color: #eee
    & i
      position: relative
      display: inline-block
      margin-top: 2.5%
    & .notification-img
      width: 58px
      height: 58px
      position: relative
      border-radius: 100%
      float: left
      display: inline-block
      border: 3px solid #64b5f6
      margin-right: 5%
    & .notification-verb
      color: $followcolor
      font-weight: 800
    & .remove-notification
      position: relative
      float: right
      right: -10px
      color: #616161
      cursor: pointer
      &:hover
        opacity: 0.8
    &:hover
      opacity: 1

/* ATAJOS KEYBOARD */
#atajos-keyboard-profile
  position: absolute
  top: 15%
  margin-left: auto
  margin-right: auto
  left: 0
  right: 0
  max-width: 500px
  height: auto
  z-index: 9999
  display: none
  background-color: #fafafa
  border-radius: 7px

#atajos-keyboard-profile .atajos-title
  position: relative
  text-align: center
  font-size: 16px
  padding-bottom: 2.5px
  padding-top: 2.5px

#atajos-keyboard-profile .atajos-title .close-shortcuts
  float: right
  font-size: 14px
  margin-right: 5px
  margin-bottom: 1.5px
  cursor: pointer

#atajos-keyboard-profile .acc-atajos-div
  margin-left: 20px
  position: relative

#atajos-keyboard-profile .acc-atajos
  font-size: 15px
  color: #000
  font-weight: 500

#atajos-keyboard-profile .modal-table
  position: relative
  width: 90%
  margin: 2px auto auto
  height: 92.5%

#atajos-keyboard-profile .modal-table .thead
  position: relative
  display: inline-block
  font-size: 14px
  color: #000
  border-bottom: 2px solid #eee
  margin-top: 1.5px

#atajos-keyboard-profile .modal-table b
  background-color: #e0e0e0
  padding: 3px
  border-radius: 1.5px
  -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75)
  -moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75)
  box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75)

/* REGLAS PARA DIV ESTANDAR */
.default-div
  background-color: #fff
  border-radius: 7px !important
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8) !important

/** Mensaje flotante */
*, *:before, *:after
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.compose-div
  cursor: default
  font-family: 'Open Sans', sans-serif
  position: absolute
  top: 20%
  margin: 0 auto 0 auto
  right: 0 !important
  left: 0 !important
  resize: none
  z-index: 9999
  button
    margin-right: 10px
  textarea
    font-size: 1.3em
    font-weight: 600

.compose-div .title-page-wrapper
  font-size: 1.4em
  background-color: #fafafa
  overflow: hidden

#message-form2
  margin-top: 1.5rem

.open
  color: green

.closed
  color: red

.nav-wrapper .button-right-notify > i
  display: inline-block

.nav-wrapper .button-right-notify > span
  background-color: #f44336
  font-size: 12px
  padding: 5px 5px
  line-height: 10px
  text-decoration: none
  border-radius: 10px 100% 100% 100%
  display: inline-block
  color: white

// RIGHT VERTICAL MENU

ul#vertical-menu
  .userView
    overflow: hidden
    position: relative
    padding: 32px 32px 0
    margin-bottom: 8px
    a
      height: auto
      padding: 0
  a
    color: rgba(0, 0, 0, 0.87)
    font-size: 14px
    font-weight: 600
  li
    &:not(:first-child) a
      height: 48px
      line-height: 48px
    float: none
    padding: 0
    line-height: 64px
    &:nth-child(1):hover
      background-color: transparent
    &:hover > a
      color: #1e88e5
      > i
        color: #1e88e5 !important
    > a >
    i, [ class ^= "mdi-" ], [ class *= "mdi-" ], i .material-icons
      color: rgba(0, 0, 0, 0.54)
      float: left
      line-height: 48px
      margin: 0 42px 0 0
      width: 14px
  .userView a img
    border-radius: 3px
    display: block

.side-nav .userView
  .name, .email
    display: block

ul#vertical-menu .userView .background
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  height: 100%
  width: 100%
  z-index: -1

/* Pagination loader */

.endless_loading
  text-align: center

.draggable--over
  opacity: 0.5

.draggable-mirror
  z-index: 9999

.pagination li.active
  background-color: #1e88e5 !important

.arrow-up
  width: 0
  height: 0
  border-left: 20px solid transparent
  border-right: 20px solid transparent
  border-bottom: 20px solid
  margin: auto auto 10px auto
  overflow: hidden
  cursor: pointer
  opacity: 0.8

.arrow-down
  width: 0
  height: 0
  border-left: 20px solid transparent
  border-right: 20px solid transparent
  border-top: 20px solid
  margin: 10px auto
  overflow: hidden
  cursor: pointer
  opacity: 0.8
