$greylightcolor: #f9f9f9
$whitecolor: #ffffff
$boxshadow: 0 1px 5px rgba(0, 0, 0, 0.15)
$blueskyfolk: #1e88e5
$graycolor: #555
$eocolor: #e0e0e0

html, body
  color: #555 !important
  font-family: "Open Sans",sans-serif !important
  font-size: 11.5px !important

.container
  & .upload_form
    width: 55%
    background: #fff
    padding: 1em
    box-shadow: $boxshadow
    overflow: hidden
    position: fixed
    margin: -100px auto 0 auto
    top: 50%
    right: 0
    left: 0
    z-index: 9999
    display: none
    & input[type="submit"]
      border: medium none
      border-radius: 2px
      display: inline-block
      height: 36px
      line-height: 36px
      padding: 0 2rem
      text-transform: uppercase
      vertical-align: middle
      text-decoration: none
      color: #1e88e5
      background-color: transparent
      text-align: center
      letter-spacing: 0.5px
      transition: all 0.2s ease-out 0s
      cursor: pointer
      float: right
      outline: none

.container-gallery
  & .btn-upload-photo
    display: block
    border: none
    background-color: rgba(30, 136, 229, 0.4)
    color: #ecf0f1
    margin: 0 auto 1% auto
    border-radius: 100%
    padding: 10px
    width: 50px
    height: 50px
    font-size: 1.5em
    transition: all .1s ease-in-out
    outline: none
    cursor: pointer
    &:hover
      background-color: rgba(30, 136, 229, 1)
.image-div
  margin-bottom: 2.5%
.container-image
  background-color: $whitecolor
  height: 400px
  border-radius: 3px
  box-shadow: $boxshadow
  & .principal-content
    display: block
    height: 85%
    width: 100%
    position: relative
    & img
      width: 100%
      height: 100%
      border-radius: 3px
      border-bottom: 2px solid #1e88e5
    & .tags-content
      position: absolute
      padding: 10px
      height: 50px
      width: 100%
      text-align: center
      & blockquote
        display: inline-block
        color: $blueskyfolk
        border-radius: 3px
        background-color: rgba(255, 255, 255, 0.15)
        transition: all .1s ease-in-out
        padding: 10px
        margin-top: 2%
        &:hover
          background-color: rgba(255, 255, 255, 1)
  & .legend-content
    height: 15%
    padding: 10px
    & .legend-user-image
      width: 20%
      height: 50px
      display: inline-block
      float: left
      margin-right: 2%
      & img
        width: 100%
        height: 100%
        border-radius: 3px
        box-shadow: $boxshadow
    & .legend-user-data
      & a
        text-decoration: none
        color: $blueskyfolk
        font-weight: 600
        display: block
      & .photo-title
        font-weight: 600
        margin-top: 10px
        display: block
      & .photo-date
        clear: both
        display: block
        margin-top: 1.5%
        color: $graycolor
      & blockquote
        display: inline-block
        padding: 10px
