$background: #eee
$blueSkyfolk: #1e88e5

.wrapper-options
  position: relative
  margin-top: 20px
  background-color: $background
  padding: 10px
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15)
  & h1
    text-align: center
    font-size: 1.7em
    padding: 5px
    font-style: italic
    font-weight: 600
    margin-bottom: 20px

  & .options
    height: auto
    & ul
      position: relative
      width: 100%
      height: auto
    & li
      list-style-type: none
      background-color: #fff
      padding: 10px
      display: inline-block
      color: #616161
      margin-top: 10px
      & h3
        text-align: center
        font-size: 1.3em
        color: $blueSkyfolk
      & p
        font-size: 1.2em
        margin-top: 10px
        font-weight: bold

label[for="id_privacity"]
  margin-bottom: 10px
  display: inline-block
  padding: 10px
select
  font-family: inherit
  background-color: transparent
  width: 100%
  padding: 5px
  color: $blueSkyfolk
  border: none
  border-bottom: 2px solid #eee