venv
*.pyc
.project
.pydevproject
skyfolk/media/
avatars
whoosh_index/
skyfolk.sublime-project
skyfolk.sublime-workspace
.settings/
.idea
Thumbs.db
db.sqlite3
.ropeproject/
.externalToolBuilders/
.metadata/
.vscode
Web.config
*.log
*.log.*
.sass-cache/
node_modules/
run/

# vi temp files
*~
*.swp
*.swo
celerybeat-schedule
celerybeat.pid
# docker files
esdata/
db/
kibana/
tmp/
config/config
# local_static_files
static/
