venv
*.pyc
.project
.pydevproject
skyfolk/media/
avatars
whoosh_index/
skyfolk.sublime-project
skyfolk.sublime-workspace
build/
.settings/
.idea
Thumbs.db
db.sqlite3
.ropeproject/
.externalToolBuilders/
.metadata/
.vscode
Web.config
*.log

# vi temp files
*~
*.swp
*.swo
celerybeat-schedule
celerybeat.pid
# docker files
esdata/
db/
kibana/
tmp/
*.log
config/config
