venv
*.pyc
.project
.pydevproject
skyfolk/media/
avatars/
whoosh_index/
skyfolk.sublime-project
skyfolk.sublime-workspace
build/
.settings/
.idea/
skyfolk/media
Thumbs.db
db.sqlite3
.ropeproject/
.externalToolBuilders/
.metadata/
.vscode/
Web.config

# vi temp files
*~
*.swp
*.swo
celerybeat-schedule
celerybeat.pid
geckodriver.log
# docker files
esdata/
db/
kibana/
tmp/
celerybeat.pid
