Django==1.6.2
Markdown==2.4
Pillow==2.3.1
PyYAML==3.11
South==0.8.4
defusedxml==0.4.1
dj-database-url==0.3.0
dj-static==0.0.5
django-allauth==0.16.1
django-debug-toolbar==1.2.1
django-emoji==2.0.0
django-filter==0.7
django-messages==0.5.1
django-oauth-plus==2.2.4
django-oauth2-provider==0.2.6
django-toolbelt==0.0.1
djangorestframework==2.3.13
gunicorn==18.0
httplib2==0.8
oauth2==1.5.211
oauthlib==0.6.1
psycopg2==2.5.2
pystache==0.5.3
python-openid==2.2.5
requests==2.2.1
requests-oauthlib==0.4.0
shortuuid==0.4.0
sqlparse==0.1.11
static==1.0.2
