<div class="hidden" id="caja-comentario-{{ node.pk }}">
    <!-- REPLY FORM -->
    <form class="reply-form" action="" method="post">{% csrf_token %}
        <input id="id_author" name="p_author" type="hidden" value="{{ request.user.id }}">
        <input id="id_board_photo" name="board_photo" type="hidden" value="{{ photo.id }}">
        <input id="id_parent" name="parent" type="hidden">
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea class="materialize-textarea message-reply" id="message-reply-{{ node.pk }}" cols="40"
                                  maxlength="500" name="content"
                                  placeholder="Responder a @{{ node.p_author }}" rows="10" required=""></textarea>
                        <label for="message-reply-{{ node.pk }}">Escribe tu mensaje aqui...</label>
                    </div>
                    <div class="file-field input-field col s12">
                        <div class="btn">
                            <span>Imágenes</span>
                            <input id="id_image_reply" name="image" type="file" multiple>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload one or more files">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" id="reply-{{ node.pk }}" class="waves-effect waves-light btn right blue enviar">Enviar<i
                class="material-icons right">send</i></button>
    </form>
</div>