{% extends 'account/base_interface.html' %}
{% load avatar_tags %}
{% load i18n %}
{% load humanize %}
{% block title %} <title>Skyfolk - Media</title> {% endblock %}

{% block include_files %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/gallery.css" onload="if(media!='all')media='all'">
    <!-- Estilos para la galeria de fotos -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" onload="if(media!='all')media='all'">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/cropper.min.css" onload="if(media!='all')media='all'">
{% endblock %}

{% block content %}
    <div class="container" id="crop-avatar">
        <div class="row">
            <div class="col l12 m12 s12 container-gallery">
                <a id="btn-upload-photo" class="btn-floating btn-large waves-effect waves-light blue darken-1"><i
                        class="material-icons">add</i></a>
                {% if object_list %}
                    <div class="row">
                        {% include 'photologue/photo_gallery_page.html' %}
                    </div>
                {% endif %}
            </div> <!-- end container-gallery -->
        </div>
        <div class="upload_form" id="upload_photo" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a href="#foto" class="active">Foto</a></li>
                    <li class="tab col s3"><a href="#collection">Colección</a></li>
                </ul>
            </div>
            <div id="foto">
                <form class="avatar-form" action="{% url "photologue:upload-photo" %}" method="post"
                      accept-charset="utf-8"
                      enctype="multipart/form-data">{% csrf_token %}
                    <div class="row">
                        <div class="file-field input-field avatar-upload">
                            {{ form.image.errors }}
                            <div class="btn blue darken-1 waves-effect waves-light">
                                <span>Imágen</span>
                                {{ form.image }}
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate avatar-input" name="image" type="text">
                            </div>
                            <input type="hidden" class="avatar-src" name="avatar_src">
                            <input type="hidden" class="avatar-data" name="avatar_data">
                            <input type="hidden" class="is-cutted" name="avatar_cut" value="false">
                        </div>
                    </div>
                    <div class="row">
                        <a id="crop-image" class="waves-effect waves-light btn blue darken-1 right">Recortar
                            <i class="material-icons right">crop</i>
                        </a>
                    </div>
                    <div class="row">
                        {{ form.url_image.errors }}
                        <div class="input-field col s12">
                            {{ form.url_image }}
                            <label for="id_url_image">URL Imagen</label>
                        </div>
                    </div>
                    <div class="row">
                        {{ form.title.errors }}
                        <div class="input-field col s12">
                            <i class="material-icons prefix">title</i>
                            {{ form.title }}
                            <label for="id_title">{% trans "title" %}</label>
                        </div>
                    </div>
                    <div class="row">
                        {{ form.caption.errors }}
                        <div class="input-field col s12">
                            <i class="material-icons prefix">closed_caption</i>
                            {{ form.caption }}
                            <label for="id_caption">{% trans "caption" %}</label>
                        </div>
                    </div>
                    <div class="row">
                        {{ form.tags.errors }}
                        <div class="input-field col s12">
                            <i class="material-icons prefix">label</i>
                            {{ form.tags }}
                            <label for="id_tags">{{ form.tags.help_text }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <button class="waves-effect waves-light btn blue darken-1 right" type="submit">Subir
                            <i class="material-icons right">file_upload</i>
                        </button>
                        <button id="close_upload_form" class="waves-effect waves-light btn right transparent black-text btn-close"
                                type="button">Cerrar
                            <i class="material-icons right">close</i>
                        </button>
                    </div>
                </form>
            </div>
            <div id="collection">
                <form method="post" action="{% url "photologue:upload-zip" %}" accept-charset="utf-8"
                      enctype="multipart/form-data">{% csrf_token %}
                    <div class="row">
                        <div class="file-field input-field">
                            {{ form_zip.zip_file.errors }}
                            <div class="btn blue darken-1 waves-effect waves-light">
                                <span>{% trans "Upload a zip archive" %}</span>
                                {{ form_zip.zip_file }}
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    {% comment %}
                        {{ form_zip.title.errors }}
                    {% endcomment %}
                        <div class="input-field col s12">
                            <i class="material-icons prefix">title</i>
                            {{ form_zip.title }}
                            <label for="id_title">{% trans "title" %}</label>
                        </div>
                    </div>
                    <div class="row">
                        {{ form_zip.caption.errors }}
                        <div class="input-field col s12">
                            <i class="material-icons prefix">closed_caption</i>
                            {{ form_zip.caption }}
                            <label for="id_caption">{% trans "caption" %}</label>
                        </div>
                    </div>
                    <div class="row">
                        {{ form_zip.description.errors }}
                        <div class="input-field col s12">
                            <i class="material-icons prefix">description</i>
                            {{ form_zip.description }}
                            <label for="id_caption">{% trans "description" %}</label>
                        </div>
                    </div>
                    <div class="row">
                        {{ form_zip.is_public.errors }}
                        <p>
                            {{ form_zip.is_public }}
                            <label for="id_is_public">{% trans "Is public" %}</label>
                            <i>{{ form_zip.is_public.help_text }}</i>
                        </p>
                    </div>
                    <div class="row">
                        {{ form_zip.tags.errors }}
                        <div class="input-field col s12">
                            <i class="material-icons prefix">label</i>
                            {{ form_zip.tags }}
                            <label for="id_tags">{{ form_zip.tags.help_text }}</label>
                        </div>
                    </div>
                    <button class="waves-effect waves-light btn blue darken-1 right" type="submit">Subir
                        <i class="material-icons right">file_upload</i>
                    </button>
                    <button id="close_upload_zip_form" class="waves-effect waves-light btn right transparent black-text btn-close"
                                type="button">Cerrar
                            <i class="material-icons right">close</i>
                    </button>
                </form>
            </div>
        </div>
        <div id="crop-image-preview" class="crop-image-div">
            <div class="row">
                <span class="close-crop-image fa fa-close right"></span>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="avatar-wrapper"></div>
                </div>
            </div>
            <div class="row avatar-btns">
                <div class="col s12">
                    <div class="btn-group">
                        <button type="button" class="waves-effect waves-light btn transparent black-text"
                                data-method="rotate"
                                data-option="-90"
                                title="Rotate -90 degrees">Rotate Left
                        </button>
                        <button type="button" class="waves-effect waves-light btn transparent black-text"
                                data-method="rotate"
                                data-option="-15">-15deg
                        </button>
                        <button type="button" class="waves-effect waves-light btn transparent black-text"
                                data-method="rotate"
                                data-option="-30">-30deg
                        </button>
                        <button type="button" class="waves-effect waves-light btn transparent black-text"
                                data-method="rotate"
                                data-option="-45">-45deg
                        </button>
                        <button type="button" class="waves-effect waves-light btn transparent black-text"
                                data-method="rotate"
                                data-option="90"
                                title="Rotate 90 degrees">Rotate Right
                        </button>
                        <button type="button" class="waves-effect waves-light btn transparent black-text"
                                data-method="rotate"
                                data-option="15">15deg
                        </button>
                        <button type="button" class="waves-effect waves-light btn transparent black-text"
                                data-method="rotate"
                                data-option="30">30deg
                        </button>
                        <button type="button" class="waves-effect waves-light btn transparent black-text"
                                data-method="rotate"
                                data-option="45">45deg
                        </button>
                        <button id="cut-done" type="button" class="waves-effect waves-light btn blue darken-1 right">
                            OK
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
    </div> <!-- end wrapper -->
    {% block js-gallery %}
        {{ block.super }}
        <script async src="{{ STATIC_URL }}js/photo_gallery.js" type="text/javascript"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/cropper.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
        <script src="{{ STATIC_URL }}el-pagination/js/el-pagination.js"></script>
        <script>
            $.endlessPaginate({
                paginateOnScroll: true,
                paginateOnScrollMargin: 20
            });
        </script>
    {% endblock %}
{% endblock %}
