{% extends 'account/base_interface.html' %}
{% load avatar_tags %}
{% load i18n %}
{% load humanize %}
{% block title %} <title>Galería de {{ user_gallery }}</title> {% endblock %}

{% block include_files %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/gallery.css" onload="if(media!='all')media='all'"> <!-- Estilos para la galeria de fotos -->
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col l12 m12 s12 container-gallery">
            <button class="btn-upload-photo" title="¡Subir una foto!" id="btn-upload-photo"><i class="fa fa-camera-retro" aria-hidden="true"></i></button>
                {% if object_list %}
                    <div class="row">
                    {% for photo in object_list %}
                        <div class="col l2 m12 s12 image-div">
                            <div class="container-image">
                                <div class="col l12 principal-content">
                                    <div class="tags-content">
                                    {% for tag in photo.tags.all %}
                                        <blockquote>{{ tag.name }}</blockquote>
                                    {% endfor %}
                                    </div>
                                    <img src="{{ photo.image.url }}" alt="{{ photo.title }}" title="{{ photo.title }}" onclick="location.href='{{ photo.get_absolute_url }}'">
                                </div>
                                <div class="col l12 legend-content">
                                    <div class="legend-user-image">
                                        {% avatar photo.owner.username %}
                                    </div>
                                    <div class="col l8 m8 s8 legend-user-data">
                                        <a href="/profile/{{ photo.owner.username }}">@{{ photo.owner.username }}</a>
                                        <i class="photo-title">{{ photo.title }}</i>
                                        <i class="photo-date"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ photo.date_added|naturaltime }}</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            </div> <!-- end container-gallery -->
        </div>
    <div class="upload_form" id="upload_photo">
        <form action="" method="post" accept-charset="utf-8" enctype="multipart/form-data">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="submit" value="Submit">
        </form>
    </div>
</div> <!-- end wrapper -->
    <script async src="{{STATIC_URL}}js/photo_gallery.js" type="text/javascript"></script>
{% endblock %}
