{% extends "account/base_interface.html" %}
{% load photo_publications_tags %}
{% load avatar_tags %}
{% load app_filters %}
{% load humanize %}
{% load mptt_tags %}
{% load embed_video_tags %}
{% load group_utils %}
{% load static %}
{% block extra-css %}


    <link rel="stylesheet" type="text/css" href="{% static "css/comentarios.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/publication_detail.css" %}">

{% endblock %}

{% block title %} <title> Skyfolk - Publicacion #{{ publication_id }}</title> {% endblock %}
{% block content %}
    <div class="container" id="publication-thread">
        <div class="row">
            <div class="col l3 offset-l5 offset-s3 s6 z-depth-2 board-photo">
                <div class="col l3 s6 board-photo-container">
                    <img src="
                            {% if photo.thumbnail %}{{ photo.thumbnail.url }}{% elif photo.image %}{{ photo.image.url }}{% else %}{{ photo.url_image }}{% endif %}">
                </div>
                <div class="col l9 s6 board-photo-link">
                    <a href="/photo/{{ photo.slug }}">Ver imagen</a>
                </div>
            </div>
        </div>
        <div class="infinite-container">
            {% for node in publication %}
                <div class="row row-pub infinite-item"
                     {% if node.parent %}data-parent="{{ node.parent.id }}"{% endif %}>
                    <div class="col s12">
                        <div class="row">
                            <div class="col wrapper{% if node.level == 0 %} col offset-l1 l10 m11 s12 {% else %} offset-l2 l9 m10 s11{% endif %}"
                                    {% if node.level > 0 %}
                                 style="border-right: 2px solid #1e88e5;"{% endif %}
                                 id="pub-{{ node.id }}"
                                 data-id="{{ user.pk }}">
                        <span id="check-{{ node.pk }}" class="top-options zoom-pub tooltipped" data-position="bottom"
                              data-delay="50"
                              data-tooltip="Ver conversación completa"><a class="material-icons"
                                                                          href="/publication_pdetail/{{ node.id }}/">open_in_new</a></span>
                                {% if user.id == node.p_author.id %}
                                    {% if node.event_type == 1 or node.event_type == 3 %}
                                        <span data-id="{{ node.pk }}"
                                              class="top-options edit-comment tooltipped"
                                              data-position="bottom"
                                              data-delay="50"
                                              data-tooltip="Editar comentario"><i
                                                class="material-icons">mode_edit</i></span>
                                    {% endif %}
                                {% endif %}
                                <div class="row">
                                    <div class="image col l1 m2 s2">
                                        <div class="usr-img img-responsive">{% avatar node.p_author %}</div>
                                    </div>
                                    <div class="articulo col l9 s8">
                                        <h2 class="author-header"><a
                                                href="/profile/{{ node.p_author.username }}">@{{ node.p_author.username }}</a>
                                            {% if node.parent %}
                                                <span class="chip">
                                                        {% avatar node.parent.p_author %}
                                                        <a
                                                                href="/publication_pdetail/{{ node.parent.id }}">@{{ node.parent.p_author }}: {{ node.parent.content|truncatewords_html:10|safe }}</a>
                                                </span>
                                            {% endif %}
                                        </h2>
                                        <div class="row">
                                            <div class="parrafo comment">
                                                <p
                                                        class="blue-text text-darken-2 pub-created">{{ node.created|naturaltime }}</p>
                                                <div class="wrp-comment">{{ node.content|safe }}</div>
                                            </div>
                                            <div class="show-more" id="show-comment-{{ node.pk }}">
                                                <a href="#">+ Mostrar más</a>
                                            </div>
                                        </div>
                                        {% with node.images.all as images %}
                                            {% if images %}
                                                <div class="row">
                                                    {% for image in images %}
                                                        {% if image.image %}
                                                            <div class="col s4 z-depth-2">
                                                                <img class="materialboxed responsive-img lazyload"
                                                                     data-src="{{ image.image.url }}"
                                                                     alt="Imagen de: {{ node.p_author }}"
                                                                     title="Imagen de: {{ node.p_author }}">
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        {% endwith %}
                                        {% with node.videos.all as videos %}
                                            {% if videos %}
                                                <div class="row">
                                                    {% for video in videos %}
                                                        {% if video.video %}
                                                            <div class="col s4 z-depth-2 center">
                                                                <video class="responsive-video" controls loop>
                                                                    <source src="{{ video.video.url }}"
                                                                            type="video/mp4">
                                                                </video>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        {% endwith %}
                                        {% if node.publication_photo_extra_content %}
                                            {% comment %} Para publicaciones con URL {% endcomment %}
                                            {% if node.publication_photo_extra_content.video %}
                                                {% video node.publication_photo_extra_content.video as my_video %}
                                                {% video my_video "100% x 100%" %}
                                                {% endvideo %}
                                            {% else %}
                                                <div class="card small">
                                                    <div class="card-image">
                                                        <img class="lazyload" data-src="

                                                                {% if node.publication_photo_extra_content.image %}{{ node.publication_photo_extra_content.image }}{% else %}{% static "dist/img/nuevo_back.png" %}{% endif %}">
                                                        <span class="card-title white-text">{{ node.publication_photo_extra_content.title }}</span>
                                                    </div>
                                                    <div class="card-content">
                                                        <p>{{ node.publication_photo_extra_content.description }}</p>
                                                    </div>
                                                    <div class="card-action">
                                                        <a href="{{ node.publication_photo_extra_content.url }}">Ver</a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="divider"></div>
                                    <div class="options_comentarios col s12">
                                        <ul class="opciones">
                                            {% if user.id == photo.owner_id or user.id == node.p_author_id %}
                                                <li class="trash-comment" title="Borrar comentario"><i
                                                        class="material-icons">delete_forever</i>
                                                </li>
                                            {% endif %}
                                            {% comment %} Si el usuario esta logueado {% endcomment %}
                                            <li title="No me gusta" class="hate-comment"{% if node.have_hate %}
                                                style="color: rgb(186, 104, 200);"{% endif %}>
                                                <i class="material-icons md-18">keyboard_arrow_down</i>
                                                <i class="hate-value">{{ node.hates|zero_to_empty }}</i>
                                            </li>
                                            <li title="¡Me gusta!" class="like-comment"
                                                {% if node.have_like %}style="color: rgb(240, 98, 146);"{% endif %}>
                                                <i class="material-icons md-18">keyboard_arrow_up</i>
                                                <i class="like-value">{{ node.likes|zero_to_empty }}</i>
                                            </li>
                                            <li title="Responder" class="reply-comment"
                                                id="reply-caja-comentario-{{ node.pk }}"><i
                                                    class="material-icons md-18">reply</i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                {% if user.id == node.p_author.id %}
                                    <div id="p_author-controls-{{ node.pk }}"
                                         class="p_author-controls">
                                        <div class="row">
                                            <div class="col s12">
                                                <form method="post" accept-charset="utf-8">
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                            <input type="number" name="pk" required
                                                                   value="{{ node.pk }}" hidden>
                                                            <i class="material-icons prefix">create</i>
                                                            <textarea class="materialize-textarea"
                                                                      placeholder="Escribe el contenido del nuevo mensaje"
                                                                      id="id_caption-{{ node.pk }}" cols="40"
                                                                      maxlength="500"
                                                                      name="content" rows="10" required="required"
                                                                      style="height: 10.9969px;">{{ node.content }}</textarea>
                                                            <label for="id_caption-{{ node.pk }}">Editar
                                                                comentario</label>
                                                        </div>
                                                        <div class="row">
                                                            <button
                                                                    class="waves-effect waves-light btn blue darken-1 right edit-comment-btn"
                                                                    type="button">Editar
                                                                <i class="material-icons right">mode_edit</i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% include "photologue/new_reply.html" %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if publication.has_next %}
            <a class="infinite-more-link waves-effect waves-light btn-large blue darken-1 white-text center"
               href="?page={{ publication.next_page_number }}">More</a>
        {% endif %}
        <div class="progress loading_skyline" style="display: none">
            <div class="indeterminate blue darken-1"></div>
        </div>
    </div>
    <script src="{% static "js/photo_detail.js" %}" type="text/javascript"></script>
    <script src="{% static "js/socket_photo_publication.js" %}"></script>
    <script>
        UTILS.init([{{ user.pk }}]);
        UTILS.conn_socket();
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            offset: 'bottom-in-view',
            onBeforePageLoad: function () {
                $('.loading_skyline').show();
            },
            onAfterPageLoad: function () {
                $('.loading_skyline').hide();
                $('div[id^="pub-"]').each(function (i) {
                    var div = $('[id="' + this.id + '"]').slice(1).closest('.row-pub').remove();
                });
            }
        });
    </script>
{% endblock %}
