<div class="hidden" id="caja-comentario-{{ node.pk }}">
    <!-- REPLY FORM -->
    <form class="reply-form" method="post">
        <input name="board_video" type="hidden" value="{{ object.id }}">
        <input name="parent" type="hidden" value="{{ node.id }}">
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea class="materialize-textarea message-reply" id="message-reply-{{ node.pk }}" cols="40"
                                  maxlength="500" name="content"
                                  placeholder="Responder a @{{ node.author }}" rows="10" required=""></textarea>
                        <label for="message-reply-{{ node.pk }}">Escribe tu mensaje aqui...</label>
                    </div>
                    <div class="file-field input-field col s12">
                        <div class="btn">
                            <span>Imágenes</span>
                            <input name="image" type="file" multiple>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload one or more files">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" id="reply-{{ node.pk }}" class="waves-effect waves-light btn right blue enviar">Enviar<i
                class="material-icons right">send</i></button>
    </form>
</div>
