{% load photo_publications_tags %}
{% load avatar_tags %}
{% load app_filters %}
{% load humanize %}
{% load mptt_tags %}
{% load emoji_tags %}
{% load embed_video_tags %}
{% load static %}
            <div class="row row-pub infinite-item" id="pub-{{ node.pk }}" data-id="{{ group_profile.pk }}" {% if node.parent %}data-parent="{{ node.parent.id }}"{% endif %}>
                <div class="col s12">
                    <div class="row">
                        <div class="col wrapper{% if node.level == 0 %} col offset-l1 l10 m11 s12 {% else %} offset-l2 l9 m10 s11{% endif %}" {% if node.level > 0 %}
                             style="border-right: 2px solid #1e88e5;"{% endif %}>
                            <div class="row">
                                <div class="col l1 m2 s2">
                                    <div class="row">
                                        <div class="usr-img img-responsive">{% avatar node.author %}</div>
                                    </div>
                                    {% include "publications_base/publication_score.html" %}
                                </div>
                                <div class="articulo col l11 s10">
                                    <h2 class="author-header"><a
                                            href="/profile/{{ node.author.username }}">@{{ node.author.username }}</a>
                                        {% if node.parent %}
                                            <br><br>
                                            <div class="row z-depth-1-half">
                                                        <a
                                                    href="/publication_pdetail/{{ node.parent.id }}">@{{ node.parent.author }}: {{ node.parent.content|safe|emoji_replace|truncatewords_html:10|safe }}</a>
                                                </div>
                                        {% endif %}
                                    </h2>
                                    <div class="row">
                                        <div class="parrafo comment">
                                            <p
                                               class="blue-text text-darken-2 pub-created">{{ node.created|naturaltime }}{% if node.edition_date %}<i> - Editado</i>{% endif %}</p>
                                            <div class="wrp-comment">{{ node.content|safe|emoji_replace }}</div>
                                        </div>
                                        <div class="show-more" id="show-comment-{{ node.pk }}">
                                            <a href="#">+ Mostrar más</a>
                                        </div>
                                    </div>
                                    {% with node.images.all as images %}
                                            {% if images %}
                                            <div class="row">
                                            {% for image in images %}
                                                {% if image.image %}
                                                <div class="col s12 z-depth-1">
                                                    <img class="materialboxed responsive-img lazyload" data-src="{{image.image.url}}" alt="Imagen de: {{ node.author }}" title="Imagen de: {{ node.author }}">
                                                </div>
                                                {% endif %}
                                            {% endfor %}
                                            </div>
                                            {% endif %}
                                        {% endwith %}
                                {% with node.videos.all as videos %}
                                        {% if videos %}
                                            <div class="row">
                                         {% for video in videos %}
                                              {% if video.video %}
                                            <div class="col s12 z-depth-1 center">
                                                    <video class="responsive-video" controls loop>
                                                        <source src="{{ video.video.url }}" type="video/mp4">
                                                    </video>
                                            </div>
                                             {% endif %}
                                        {% endfor %}
                                            </div>
                                        {% endif %}
                                    {% endwith %}
                                    {% if node.extra_content %}
                                        {% comment %} Para publicaciones con URL {% endcomment %}
                                        {% if node.extra_content.video %}
                                            {% video node.extra_content.video as my_video %}
                                               {% video my_video "100% x 100%" is_secure=True %}
                                            {% endvideo %}
                                        {% else %}
                                        <div class="card small">
                                            <div class="card-image">
                                                <img class="lazyload" data-src="
                                                        {% if node.extra_content.image %}{{ node.extra_content.image }}{% else %}{% static "dist/img/nuevo_back.jpg" %}{% endif %}">
                                                <span class="card-title white-text">{{ node.extra_content.title }}</span>
                                            </div>
                                            <div class="card-content">
                                                <p>{{ node.extra_content.description }}</p>
                                            </div>
                                            <div class="card-action">
                                                <a class="white-text blue right btn right" target="_blank" href="{{ node.extra_content.url }}">Ver</a>
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="divider"></div>
                                {% with group_profile.owner as user_profile %}
                                    {% include "publications_base/publication_options.html" %}
                                {% endwith %}
                        {% if user.id == node.author.id %}
                            <div id="author-controls-{{ node.pk }}"
                             class="author-controls">
                            <div class="row">
                                <div class="col s12">
                                    <form method="post" accept-charset="utf-8">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input type="number" name="pk" required value="{{ node.pk }}" hidden>
                                                <i class="material-icons prefix">create</i>
                                                <textarea class="materialize-textarea"
                                                          placeholder="Escribe el contenido del nuevo mensaje"
                                                          id="id_caption-{{ node.pk }}" cols="40" maxlength="500"
                                                          name="content" rows="10" required="required"
                                                          style="height: 11px;">{{ node.content }}</textarea>
                                                <label for="id_caption-{{ node.pk }}">Editar comentario</label>
                                            </div>
                                            <div class="row">
                                                <button
                                                        class="waves-effect waves-light btn blue darken-1 right edit-comment-btn"
                                                        type="submit">Editar
                                                    <i class="material-icons right">mode_edit</i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                            {% include "groups/new_reply.html" %}
                        </div>
                    </div>
                </div>
            </div>
            </div>