<html>
<head>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/amigos.css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<header> <form method="get" action="/search" id="search">
  <input name="q" type="text" size="40" placeholder="Buscar..." />
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.0.min.js" /></script>
  <script src="{{STATIC_URL}}js/friends.js"></script>
</form> </header>
<!-- CREAR NUEVO GRUPO DE AMIGOS -->
<fieldset>
<button class="fontawesome-plus" title="Create new group"></button>
<button class="All" title="All">All</button>
<select>
  <option value="1">Choose...</option>
  <option value="2">Amigos</option>
  <option value="3">Trabajo</option>
</select>
</fieldset>
<section id="section" style="display:none;">
  <span class="fontawesome-remove" title="Cerrar"></span>
<img class="group" src="http://uxrepo.com/static/icon-sets/elusive/svg/group.svg">
<ul>
<li><input type="text" target="group" placeholder="Nombre del grupo"></li>
<li><input type="text" target="local" placeholder="Lugar"></li>
<li><select>
<option value="1" title="Todos pueden enviar invitaciones">Público</option>
<option value="2" title="Sólo tu puedes enviar invitaciones">Privado</option>
</select>
</li>
<li><input type="search" placeholder="Buscar amigo..."></li>
<li>
  <div class="contactos">
    <ul class="cont">
      <li><img src="http://piposerrano.files.wordpress.com/2008/12/pipo-perfil.jpg"><a>Nombre Apellido</a></li>
      <li><img src="http://piposerrano.files.wordpress.com/2008/12/pipo-perfil.jpg"><a>Nombre Apellido</a></li>
      <li><img src="http://piposerrano.files.wordpress.com/2008/12/pipo-perfil.jpg"><a>Nombre Apellido</a></li>
      <li><img src="http://piposerrano.files.wordpress.com/2008/12/pipo-perfil.jpg"><a>Nombre Apellido</a></li>
      <li><img src="http://piposerrano.files.wordpress.com/2008/12/pipo-perfil.jpg"><a>Nombre Apellido</a></li>
  </div
  ></li>
</ul>
</section>
<!-- FIN CREAR NUEVO GRUPO AMIGOS -->
<div id="content_profile_cards">



{% for item in friends_top4 %}

<li><div class="profile_card">
  <div class="header">
    <div class="inner_head">
      <a href="#"><span class="entypo-plus"></span><i>Agregar</i></a>
      <a href="#"><span class="entypo-chat"></span><i>Chat</i></a>
      <a href="#"><span class="entypo-star"></span><i>Favorito</i></a>
      <a href="#"><span class="entypo-heart-empty"></span><i>Me gusta</i></a>
    </div>
  </div>
  <div class="perfil">
    <div class="foto_perfil"></div>
    <div class="inner_content">
      <h2 class="nomb" id="nomb">{{item.user.username}}</h2>
      <span id="desc">
        <p class="descripcion" id="desc_one">Profunder</p>
      <p class="descripcion" id="desc_two">Mensaje de texto de prueba </p></span>

      <div class="social_links">
        <ul>
          <li ><a id="Enviar..." href="/" class="button"><span class="entypo-forward"></span></a></li>
          <li ><a id="Notificar..." href="/"  class="button"><span class="entypo-bell"></span></a></li> 
          <li ><a id="Bloquear..." href="/"  class="button"><span class="entypo-block"></span></a></li> 
        </ul>
      </div>
    </div>

  </div>
</div></li>
{% endfor %}



</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



<center><img id="loader-ajax" src="{{STATIC_URL}}img/b.gif"><center>
<button id="button-more-friends" type="button" onclick="AJAX_loadFriends()">More!</button>


<!--
<div class="profile_card">
  <div class="header">
    <div class="inner_head">
      <a href="#"><span class="entypo-plus"></span><i>Agregar</i></a>
      <a href="#"><span class="entypo-chat"></span><i>Chat</i></a>
      <a href="#"><span class="entypo-star"></span><i>Favorito</i></a>
      <a href="#"><span class="entypo-heart-empty"></span><i>Me gusta</i></a>
    </div>
  </div>
  <div class="perfil">
    <div class="foto_perfil"></div>
    <div class="inner_content">
      <h2 class="nomb" id="nomb">Adrián Carayol</h2>
      <span id="desc">
        <p class="descripcion" id="desc_one">Profunder</p>
      <p class="descripcion" id="desc_two">Mensaje de texto de prueba </p></span>

      <div class="social_links">
        <ul>
          <li ><a id="Enviar..." href="/" class="button"><span class="entypo-forward"></span></a></li>
          <li ><a id="Notificar..." href="/"  class="button"><span class="entypo-bell"></span></a></li> 
          <li ><a id="Bloquear..." href="/"  class="button"><span class="entypo-block"></span></a></li> 
        </ul>
      </div>
    </div>

  </div>
</div>







<div class="profile_card">
  <div class="header">
    <div class="inner_head">
      <a href="#"><span class="entypo-plus"></span><i>Agregar</i></a>
      <a href="#"><span class="entypo-chat"></span><i>Chat</i></a>
      <a href="#"><span class="entypo-star"></span><i>Favorito</i></a>
      <a href="#"><span class="entypo-heart-empty"></span><i>Me gusta</i></a>
    </div>
  </div>
  <div class="perfil">
    <div class="foto_perfil"></div>
    <div class="inner_content">
      <h2 class="nomb" id="nomb">Nestor</h2>
      <span id="desc">
        <p class="descripcion" id="desc_one">Profunder</p>
      <p class="descripcion" id="desc_two">Mensaje de texto de prueba </p></span>

      <div class="social_links">
        <ul>
          <li ><a id="Enviar..." href="/" class="button"><span class="entypo-forward"></span></a></li>
          <li ><a id="Notificar..." href="/"  class="button"><span class="entypo-bell"></span></a></li> 
          <li ><a id="Bloquear..." href="/"  class="button"><span class="entypo-block"></span></a></li> 
        </ul>
      </div>
    </div>

  </div>
</div>





<div class="profile_card">
  <div class="header">
    <div class="inner_head">
      <a href="#"><span class="entypo-plus"></span><i>Agregar</i></a>
      <a href="#"><span class="entypo-chat"></span><i>Chat</i></a>
      <a href="#"><span class="entypo-star"></span><i>Favorito</i></a>
      <a href="#"><span class="entypo-heart-empty"></span><i>Me gusta</i></a>
    </div>
  </div>
  <div class="perfil">
    <div class="foto_perfil"></div>
    <div class="inner_content">
      <h2 class="nomb" id="nomb">Carlos Canicio</h2>
      <span id="desc">
        <p class="descripcion" id="desc_one">Profunder</p>
      <p class="descripcion" id="desc_two">Mensaje de texto de prueba </p></span>

      <div class="social_links">
        <ul>
          <li ><a id="Enviar..." href="/" class="button"><span class="entypo-forward"></span></a></li>
          <li ><a id="Notificar..." href="/"  class="button"><span class="entypo-bell"></span></a></li> 
          <li ><a id="Bloquear..." href="/"  class="button"><span class="entypo-block"></span></a></li> 
        </ul>
      </div>
    </div>

  </div>
</div>




<div class="profile_card">
  <div class="header">
    <div class="inner_head">
      <a href="#"><span class="entypo-plus"></span><i>Agregar</i></a>
      <a href="#"><span class="entypo-chat"></span><i>Chat</i></a>
      <a href="#"><span class="entypo-star"></span><i>Favorito</i></a>
      <a href="#"><span class="entypo-heart-empty"></span><i>Me gusta</i></a>
    </div>
  </div>
  <div class="perfil">
    <div class="foto_perfil"></div>
    <div class="inner_content">
      <h2 class="nomb" id="nomb">Pablo Rossiñol</h2>
      <span id="desc">
        <p class="descripcion" id="desc_one">Profunder</p>
      <p class="descripcion" id="desc_two">Mensaje de texto de prueba </p></span>

      <div class="social_links">
        <ul>
          <li ><a id="Enviar..." href="/" class="button"><span class="entypo-forward"></span></a></li>
          <li ><a id="Notificar..." href="/"  class="button"><span class="entypo-bell"></span></a></li> 
          <li ><a id="Bloquear..." href="/"  class="button"><span class="entypo-block"></span></a></li> 
        </ul>
      </div>
    </div>

  </div>
</div>

-->


</html>