{% extends 'account/base_interface.html' %}
{% load app_filters %}
<html>
{% block content %}

<div class="container">
<div class="col-lg-12 col-md-10 col-sm-12">
{% for item in friends_top4 %}
<div class="col-lg-3 col-md-10 col-sm-12">
    <div class="personal-card">
        <div class="col-lg-12">
            <div class="header">
               {% if item.user__profile__image and item.user__profile__image|file_exists %}
                   <img class="back-profile-user" src="{{MEDIA_URL}}{{item.user__profile__image}}">
                   {% else %}
                   <img class="back-profile-user" src="{{ STATIC_URL }}img/6.jpg">
                {% endif %}
                <i class="fa fa-user fa-2x like-him">
                </i>
                <div class="bg-user">
                    {% if item.user__profile__backImage and item.user__profile__backImage|file_exists %}
                        <img class="profile-user-bg" src="{{ MEDIA_URL }}{{ item.user__profile__backImage }}">
                    {% else %}
                        <img class="profile-user-bg" src="{{ STATIC_URL }}img/7.jpg">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="name-friend">
            <p>{{ item.user__username }}</p><br>
                <p>{{ item.user__first_name }}</p>
            </div>

        </div>
    </div>
</div>
{% endfor %}
    </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



<center><img id="loader-ajax" src="{{STATIC_URL}}img/b.gif"></center>

<center><button id="button-more-friends" type="button" onclick="AJAX_loadFriends()">More!</button></center>

</div>
{% endblock %}
</html>