<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="description" content="Mi perfil">
<meta name="keywords" content="Mi perfil, Mensajes, Amigos, Seguidores, Comentarios">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/listado_busqueda.css" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 

<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/materialize.min.css"  media="screen,projection"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/materialize.min.js"></script>
<script src="{{STATIC_URL}}js/jquery.min.js"></script>
<script src="{{STATIC_URL}}js/jquery-ui.js"></script>
<script src="{{STATIC_URL}}js/jquery.easytabs.js"></script>
<script src="{{STATIC_URL}}js/jquery.gritter.js"></script>
<script src="{{STATIC_URL}}js/profile.js"></script>
<script src="{{STATIC_URL}}js/jquery.colorbox.js"></script>
<script src="{{STATIC_URL}}js/jquery.shorten.1.0.js"></script>

<!-- NEW MENU -->

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">


{% block include_files %}{% endblock %}

<script>
/*
$(document).ready(function(){
  $("#Menu").mouseover(function(){
    $("#panel").slideToggle("slow");
	  });
});

$(document).ready(function(){
  $("#Menu").mouseover(function(){
    $("#panel").animate({
      left:'250px',
      opacity:'0.9',
      height:'0px',
      width:'0px'
    });
  });
});
*/
</script> 

<script language="javascript">
/*
function aparecerbola(){
	document.getElementById("widget").style.opacity = "0.9";
	document.getElementById("widget").style.webkitTransition = "opacity 1s linear";
}
function cambiopagina(){
	document.getElementById("widget").style.opacity = "0";
	document.getElementById("widget").style.webkitTransition = "opacity 0.9s linear";
	setTimeout('location.href="columnas.php"', 500);
}
function cambiopagina(){
	document.getElementById("widget").style.opacity = "0";
	document.getElementById("widget").style.webkitTransition = "opacity 0.9s linear";
	setTimeout('location.href="columnas.php"', 500);
}
*/
</script>

<script language="JavaScript1.2">
<!--

window.moveTo(0,0);
if (document.all) {
top.window.resizeTo(screen.availWidth,screen.availHeight);
}
else if (document.layers||document.getElementById) {
if (top.window.outerHeight<screen.availHeight||top.window.outerWidth<screen.availWidth){
top.window.outerHeight = screen.availHeight;
top.window.outerWidth = screen.availWidth;
}
}
//-->
</script>






</head>

<body>
<!-- <div id="oHBContainer"> -->
<nav class="box-tool">
<ul>
<!-- Segundo menu bola <li><button type="button" id="Menu">
  
<div id="centro"><img src="" width="300" height="300"><span class="entypo-user"></span></div>
<div id="llinkedin" class="size left"><span class="entypo-users"></span></div>
<div id="ddribbble" class="size right"><span class="entypo-mail"></span></div>
<div id="ffacebook" class="size left"><span class="entypo-calendar"></span></div>
<div id="ttwitter" class="size right"><span class="entypo-logout"></span></div>
    </button>-->
  {% if user_profile.profile.image %}
<div id="toggle">
  <nav class="menup">
    <li class="profilee"><img src="{{user_profile.profile.image.url}}"><i>{{user_profile.username}}</i></li>
    <li onclick="javascript:location.href='/config/profile'"><i class="fa fa-cog fa-lg"></i> Configuracion </li>
    <li onclick="javascript:location.href='/messages'"><i class="fa fa-inbox fa-lg"></i> Mensajes privados </li>
    <li><i class="fa fa-bookmark-o fa-lg"></i> Market</li>
    <li><i class="fa fa-circle-o fa-lg"></i> Mis relaciones</li>
    <li><i class="fa fa-play fa-lg"></i> Multimedia</li>   
  </nav>
</div>
{% else %}
<div id="toggle">
  <nav class="menup">
    <li class="profilee"><img src="{{STATIC_URL}}img/generic-avatar.png"><i>{{user_profile.username}}</i></li>
    <li onclick="javascript:location.href='/config/profile'"><i class="fa fa-cog fa-lg"></i> Configuracion</li>
    <li onclick="javascript:location.href='/messages'"><i class="fa fa-inbox fa-lg"></i> Mensajes privados </li>
    <li><i class="fa fa-bookmark-o fa-lg"></i> Market</li>
    <li><i class="fa fa-circle-o fa-lg"></i> Mis relaciones</li>
    <li><i class="fa fa-play fa-lg"></i> Multimedia</li>   
  </nav>
</div>
{% endif %}

<li><div class="field" id="searchform">
  	<!--<input type="text" id="searchterm" placeholder="¿Que es lo que quieres buscar?" />-->
  	<!--<button type="submit" class="btn">¡Buscar!</button>-->
     
	<form method='post' action='/search/'>{% csrf_token %}

		{{searchForm}}
		<!--<button type="submit" class="btn" onclick="javascript:window.location.href='/search'">¡Buscar!</button>-->

	</form>
  <!-- Logotipo que re-direcciona a la pagina principal -->
	<li>
  <div class="logotipo_skyfolk" onclick="javascript:window.location.href='/'">

  </div>
  </li>

  	</div>
  	</li>
  	<li class="fa fa-comment fa-lg"></li>
      <div class="notificationss">
        <li class="fa fa-bell fa-lg"><em>2</em></li>
        <div id="notificationn">
          <ul class="not">
        <li>
            <div class="cabeza">
              <em>3</em>
            </div>
        </li>
        <div class="msg">
            <li><i class="fa fa-heart fa-lg"></i><a>+1 me gusta.</a></li>
            <li><i class="fa fa-user fa-lg"></i><a>Pepe ha comenzado a seguirte.</a></li>
            <li><i class="fa fa-paper-plane-o fa-lg"></i><a>Pedro te ha enviado un mensaje.</a></li>
      </div>
  </ul>
  </div>
</div>
<li class="fa fa-bars fa-lg"></li>
  	<li>
  	</ul>

  	{% if showPerfilButtons or user.username == user_profile.username %}




  	{% endif %}

</nav>

{% block content %}{% endblock %}

</body>

</html>
