{% comment %}
  Base para el head de la pagina (menu horizontal con busqueda etc...)
{% endcomment %}
{% load notifications_tags %}
<nav class="box-tool">
    <ul class="box-tool-wrapper">
      <li>
        {% include "account/menu-vertical.html" %}
      </li>
      <li><div class="field" id="searchform">
        <form method='post' action='/search/'>{% csrf_token %}
          {{searchForm}}
        </form>
        <!-- Logotipo que re-direcciona a la pagina principal -->
         </div></li>
        <li>
          <div class="logotipo_skyfolk" onclick="location.href='/profile/{{ request.user }}'" title="Perfil de {{ user }}"><i>S</i>kyfolk</div>
        </li>
         <!-- Notificaciones para skyfolk - (Botón campana) -->
        <li class="notification-bell">
          <i class="fa fa-bell fa-lg"></i>
          <em onclick="contador()">{% live_notify_badge %}</em>
        </li>
      {% if showPerfilButtons or user.username == user_profile.username %}
      <!-- BOTONES ESPACIALES PARA EL USUARIO QUE HACE LOGIN, SÓLO VISIBLE POR EL USUARIO QUE INICIA SESIÓN -->
        {% endif %}
      <!-- Menu principal - horizontal -->
        <!-- MENU HORIZONTAL - PANEL DE USUARIO -->
        {% include "account/menu-horizontal.html" %}
        <!-- MENU VERTICAL CON NOTIFICACIONES  -->
        {% include "account/notification-right-menu.html" %}
        <!-- LOADER DE TODA LA PÁGINA -->
        <li id="loader"></li>
    </ul>
    </nav>
    <script src="{{STATIC_URL}}js/jquery.min.js" type="text/javascript"></script>
    <script async src="{{STATIC_URL}}js/jquery-ui.js" type="text/javascript"></script>
    <script async src="{{STATIC_URL}}js/core.js" type="text/javascript"></script>
    <script async src="{{STATIC_URL}}js/jquery.shorten.1.0.js" type="text/javascript"></script>
    <!-- <script async src="{{STATIC_URL}}js/jquery.textcomplete.js"></script> -->
    <!-- Mentions -->
    <!--
    <script src="{{STATIC_URL}}js/mentions/bootstrap-typeahead.js"></script>
    <script src="{{STATIC_URL}}js/mentions/mention.js"></script>
  -->
<!-- Sweet Alert -->

    <link rel="stylesheet" href="{{STATIC_URL}}dist/sweetalert.css" onload="if(media!='all')media='all'">
    <link rel="stylesheet" href="{{STATIC_URL}}themes/google/google.css" onload="if(media!='all')media='all'">
    <script async src="{{STATIC_URL}}dist/sweetalert.min.js" type="text/javascript"></script>
