<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- Hojas de estilo SASS -->

	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" author="Skyfolk"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <title>¡Bienvenido a Skyfolk! - Iniciar sesión (pre)</title>
        <meta name="keywords" content="skyfolk, social, login, registro, sky, folk," />
        <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css" />
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/login-signup.css" />
        <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/materialize.min.css"  media="screen,projection"/>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/materialize.min.js"></script>
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>

	{% block extra_head %}
	{% endblock %}
    </head>
    <body>

    <div class="namesn">
        <div onclick="javascript:location.href='/'" class="logo">
                <h5><i>S</i>kyfolk.</h5>
                     <img src="{{STATIC_URL}}img/logo.png">
        </div>
    </div>

 <div id="background_cycler" > <!-- Random backgrounds -->
      <img class="active" src="{{STATIC_URL}}img/backgrounds/back.jpg" alt=""/>
  </div>

       {% block content %}{% endblock %}
    <div class="footer_base">
      <div class="col s3 m3 l10 footer-copyright">
            <div class="container">
            <a class="left">© 2016 Copyright</a>
            <a class="right" href="#!">More Links</a>
            <a id="about" href="/about/home">Sobre Skyfolk</a>
            <a id="Blog" href="/blog">Blog</a>
            <a id="tutorial" href="/blog">Ayuda</a>
            <a id="empleo" href="/blog">Trabaja con nosotros</a>
            <a id="anunciarse" href="/blog">Anunciarse</a>
            <a id="privacidad" href="/blog">Privacidad</a>
            </div>
          </div>
    </div>

</body>

</html>
