<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- Hojas de estilo SASS -->

	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" author="Skyfolk"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/noti.css" />
        <!-- DE MOMENTO NO ES NECESARIO
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}media/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}media/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}media/bootstrap/css/bootstrap-theme.css" />
        -->
        <title>¡Bienvenido a Skyfolk! - Iniciar sesión (pre)</title>
        <meta name="keywords" content="skyfolk, social, login, registro, sky, folk," />
        <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css" />

      <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/materialize.min.css"  media="screen,projection"/>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="{{STATIC_URL}}js/materialize.min.js"></script>
		  <script src="{{STATIC_URL}}js/modernizr.custom.63321.js"></script>
      <script src="{{STATIC_URL}}media/bootstrap/js/bootstrap.js"></script>
      <script src="{{STATIC_URL}}media/bootstrap/js/bootstrap.min.js"></script>
      <script src="{{STATIC_URL}}media/bootstrap/js/npm.js"></script>
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <script src="{{STATIC_URL}}js/showandhide.js"></script>
    <!-- IMPORTANTE PARA CAMBIO DE BACKGROUND -->
      <script>

      function cycleImages(){
        var $active = $('#background_cycler .active');
        var $next = ($('#background_cycler .active').next().length > 0) ? $('#background_cycler .active').next() : $('#background_cycler img:first');
          $next.css('z-index',2);//move the next image up the pile
          $active.fadeOut(1500,function(){//fade out the top image
          $active.css('z-index',1).show().removeClass('active');//reset the z-index and unhide the image
          $next.css('z-index',3).addClass('active');//make the next image the top one
      });
    }

    $(window).load(function(){
    $('#background_cycler').fadeIn(1500);//fade the background back in once all the images are loaded
      // run every 7s
      setInterval('cycleImages()', 7000);
    })
    </script>

		<!--[if lte IE 7]><style>.main{display:none;} .support-note .note-ie{display:block;}</style><![endif]-->

	{% block extra_head %}
	{% endblock %}
    </head>
    <body>
<div class="namesn">
    <div onclick="javascript:location.href='/'" class="logo">
            <h5><i>S</i>kyfolk.</h5>
                 <img src="{{STATIC_URL}}img/logo2.png">
    </div>
    </div>

       <div id="background_cycler" > <!-- Random backgrounds -->

      <script type="text/javascript">
        $('#background_cycler').hide();//hide the background while the images load, ready to fade in later
      </script>

      <img class="active" src="{{STATIC_URL}}img/backgrounds/3.jpg" alt=""/>
        <img src="{{STATIC_URL}}img/backgrounds/5.jpg" alt=""/>
      </div>


       {% block content %}{% endblock %}
    <div class="footer_base">
      <div class="col s3 m3 l12footer-copyright blue-text text-lighten-5">
            <div class="container">
            <a class="blue-text text-lighten-5 left">Â© 2015 Copyright</a>
            <a class="blue-text text-lighten-5 right" href="#!">More Links</a>
            <a id="about" class="blue-text text-lighten-5" href="/about/home">Sobre Skyfolk</a>
            <a id="Blog" class="blue-text text-lighten-5" href="/blog">Blog</a>
            <a id="tutorial" class="blue-text text-lighten-5" href="/blog">Ayuda</a>
            <a id="empleo" class="blue-text text-lighten-5" href="/blog">Trabaja con nosotros</a>
            <a id="anunciarse" class="blue-text text-lighten-5" href="/blog">Anunciarse</a>
            <a id="privacidad" class="blue-text text-lighten-5" href="/blog">Privacidad</a>
            </div>
          </div>
    </div>

</body>

</html>
