{% load notifications_tags %}
<nav class="box-tool">
    <ul class="box-tool-wrapper">
      <li>
        {% include "account/menu-vertical.html" %}
      </li>

      <li><div class="field" id="searchform">
        <form method='post' action='/search/'>{% csrf_token %}
          {{searchForm}}
        </form>
        <!-- Logotipo que re-direcciona a la pagina principal -->
        <li>
          <div class="logotipo_skyfolk" onclick="location.href='/'"> <i>S</i>kyfolk</div>
        </li>
        <div>
         <!-- Notificaciones para skyfolk - (Botón campana) -->
        <li class="notification-bell">
          <i class="fa fa-bell fa-lg"></i>
          <em onclick="contador()">{% live_notify_badge %}</em>
          <button type="submit" id="hover-clear-notify"><i class="fa fa-trash fa-2x"></i></button> <!-- Mostrar "borrar notificaciones" al hacer hover -->
        </li>
      {% if showPerfilButtons or user.username == user_profile.username %}
      <!-- BOTONES ESPACIALES PARA EL USUARIO QUE HACE LOGIN, SÓLO VISIBLE POR EL USUARIO QUE INICIA SESIÓN -->
        {% endif %}
      <!-- Menu principal - horizontal -->
        <!-- MENU HORIZONTAL - PANEL DE USUARIO -->
        {% include "account/menu-horizontal.html" %}
        <!-- MENU VERTICAL CON NOTIFICACIONES  -->
        {% include "account/notification-right-menu.html" %}
        <!-- LOADER DE TODA LA PÁGINA -->
        <div id="loader"></div>
    </nav>
    <script src="{{STATIC_URL}}js/jquery.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery-ui.js"></script>
    <script src="{{STATIC_URL}}js/jquery.easytabs.js"></script>
    <script src="{{STATIC_URL}}js/jquery.gritter.js"></script>
    <script src="{{STATIC_URL}}js/profile.js"></script>
    <script src="{{STATIC_URL}}js/jquery.colorbox.js"></script>
    <script src="{{STATIC_URL}}js/jquery.shorten.1.0.js"></script>
    <script src="{{STATIC_URL}}js/jquery.textcomplete.js"></script>
    <!-- Mentions -->
    <!--
    <script src="{{STATIC_URL}}js/mentions/bootstrap-typeahead.js"></script>
    <script src="{{STATIC_URL}}js/mentions/mention.js"></script>
  -->
<!-- Sweet Alert -->

    <link rel="stylesheet" href="{{STATIC_URL}}dist/sweetalert.css">
    <link rel="stylesheet" href="{{STATIC_URL}}themes/google/google.css">
    <script src="{{STATIC_URL}}dist/sweetalert.min.js"></script>
