{% extends "account/base_interface.html" %}
{% load avatar_tags %}
{% block title %} <title>Skyfolk</title> {% endblock %}
{% block extra-css %}
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/news.css" />
{% endblock %}

{% block content %}
    <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 wrapper-news">
    {% for pub in publications %}
        <div class="col-lg-3 col-md-12 col-sm-12 notice-item">
            <div class="col-lg-3 col-md-2 col-sm-3 img">
	                {% avatar pub.author.username %}
            </div>
            <div class="col-lg-7 col-md-8 col-sm-7 contenido">
                <a href="/profile/{{ pub.author.username }}">{{ pub.author.username }}</a>
                <span><blockquote>{{pub.content}}</blockquote></span>
            </div>
        </div>
    {% endfor %}
    </div>
    </div>
{% endblock %}