{% comment %}
Base para la interfaz en comun de todos los usuarios.
{% endcomment %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Mi perfil">
    <meta name="keywords" content="Mi perfil, Mensajes, Amigos, Seguidores, Comentarios">
    <meta name="viewport" content="width=device-width, maximum-scale=3, minimum-scale=0.5">
    <meta content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="{% static "dist/css/bundle.min.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}" media="screen,projection">
    <link rel="stylesheet" type="text/css" href="{% static "fonts/iconfont/material-icons.css" %}">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static "img/apple-touch-icon-57x57.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "img/apple-touch-icon-114x114.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "img/apple-touch-icon-72x72.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "img/apple-touch-icon-144x144.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static "img/apple-touch-icon-60x60.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static "img/apple-touch-icon-120x120.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static "img/apple-touch-icon-76x76.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static "img/apple-touch-icon-152x152.png" %}" />
    <link rel="icon" type="image/png" href="{% static "img/favicon-196x196.png" %}" sizes="196x196" />
    <link rel="icon" type="image/png" href="{% static "img/favicon-96x96.png" %}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{% static "img/favicon-32x32.png" %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static "img/favicon-16x16.png" %}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{% static "img/favicon-128.png" %}" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{% static "img/mstile-144x144.png" %}" />
    <meta name="msapplication-square70x70logo" content="{% static "img/mstile-70x70.png" %}" />
    <meta name="msapplication-square150x150logo" content="{% static "img/mstile-150x150.png" %}" />
    <meta name="msapplication-wide310x150logo" content="{% static "img/mstile-310x150.png" %}" />
    <meta name="msapplication-square310x310logo" content="{% static "img/mstile-310x310.png" %}" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-72424818-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-72424818-1');
    </script>
    <script src="{% static "js/jquery-3.1.0.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery-migrate-1.4.1.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery-ui.js" %}" type="text/javascript"></script>
    <script src="{% static "js/lazysizes.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery.waypoints.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/infinite.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/masonry.pkgd.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/imagesloaded.pkgd.min.js" %}" type="text/javascript"></script>
    <title>Skyfolk // {% block title %}Bienvenido{% endblock %}</title>
    {% block extra-js %}{% endblock %}
    <!-- bloques de estilos para cada pagina -->
    {% block extra-css %}{% endblock %}
    {% block include_files %}
    {% endblock %}
    {% block dashboard_files %}
    {% endblock %}
</head>
<body>
    {% block barra_navegacion %}
    {% include "account/base-header.html" %}
    {% endblock %}
    {% block dashboard_content %}
    {% endblock %}
    {% block content %}
    <!-- Contenido de cada pagina por separado -->
    {% endblock %}
    {% if user.is_authenticated %}
    {% block compose-div-message %}
    {% comment "Componer mensaje" %}
    Componer mensaje para mi propio perfil.
    {% endcomment %}
    <div class="row">
        <div id="self-page-wrapper" class="col l5 m12 s12 default-div compose-div" style="display:none;">
            <div class="row">
                <div class="col s12 title-page-wrapper">
                    <h4><i class="material-icons left">send</i>Publicar comentario</h4>
                    <h6>Publica un comentario para que el mundo lo vea.</h6>
                </div>
            </div>
            <form id="message-form3" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="row">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea class="materialize-textarea" cols="40" data-length="500" id="message2"
                            maxlength="500" name="content" placeholder="Escribe tu mensaje aqui..."
                            rows="10" required=""></textarea>
                            <label for="message2">Escribe tu mensaje</label>
                        </div>
                    </div>
                </div>
                <input id="self_author" name="author" type="hidden" value="{{ request.user.id }}">
                <input id="self_board_owner" name="board_owner" type="hidden" value="{{ request.user.id }}">
                <input id="self_parent" name="parent" type="hidden">
                <div class="row">
                    <div class="col s12">
                        <div class="file-field">
                            <div class="btn blue lighten-2">
                                <span><i class="material-icons md-24" aria-hidden="true">photo_camera</i></span>
                                <input id="id_image_self" name="image" type="file" multiple>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text"
                                placeholder="Subir imágenes o videos">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button type="submit" id="sendselfformpubli"
                        class="waves-effect waves-light btn right blue">
                        Enviar<i class="material-icons right">send</i></button>
                        <button type="button"
                        class="waves-effect waves-light btn right transparent black-text close">Cerrar<i
                        class="material-icons right">close</i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endblock %}
    {% block shortcuts %}
    <!-- Atajos del usuario -->
    <div class="default-div compose-div" id="atajos-keyboard-profile">
        <table class="responsive-table highlight modal-table" summary="Atajos para acciones comunes.">
            <caption class="atajos-title">
                <p class="hide-on-med-and-down">Atajos de teclado</p>
                <i class="material-icons close-shortcuts">close</i>
            </caption>
            <thead>
                <tr class="acc-atajos">
                    <th colspan="2">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="shortcut">
                        <b class="sc-key">M</b>
                    </td>
                    <td class="shortcut-label">Nuevo comentario</td>
                </tr>
                <tr>
                    <td class="shortcut">
                        <b class="sc-key">F</b>
                    </td>
                    <td class="shortcut-label">Me gusta</td>
                </tr>
                <tr>
                    <td class="shortcut">
                        <b class="sc-key">A</b>
                    </td>
                    <td class="shortcut-label">Abrir atajos</td>
                </tr>
                <tr>
                    <td class="shortcut">
                        <b class="sc-key">B</b>
                    </td>
                    <td class="shortcut-label">Bloquear usuario</td>
                </tr>
                <tr>
                    <td class="shortcut">
                        <b class="sc-key">/</b>
                    </td>
                    <td class="shortcut-label">Buscar</td>
                </tr>
                <tr>
                    <td class="shortcut">
                        <b class="sc-key">Ctrl</b>
                        +
                        <b class="sc-key">Enter</b>
                    </td>
                    <td class="shortcut-label">Enviar comentario</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endblock %}
{% endif %}
{% comment "menu movil" %}
Menu para versiones tablet/movil
{% endcomment %}
{% include "account/mobile-menu.html" %}
{% block footer %}

<script src="{% static "emoji/js/textarea_find_emoji.js" %}" type="text/javascript"></script>

{% endblock %}
</body>
</html>
