{% load url from future %}
{% load i18n %}
<!DOCTYPE html>
<html>
  <!-- codigo del modulo allauth -->

  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/setup.css" />
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, maximum-scale=3, minimum-scale=0.5">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/materialize.min.js"></script>
  </head>
  <body>
    {% block body %}
    {% if messages %}
    <div class="div-messages">
      <strong>{% trans "Messages" %}:</strong>
      <ul>
  {% for message in messages %}
  <li>{{message}}</li>
  {% endfor %}
      </ul>
    </div>
    {% endif %}
<div class="display-info-reset-password">
<div class="logotipo_skyfolk" onclick="location.href='/'"> <h5><i>S</i>kyfolk</h5> <h6>Restablecimiento de contraseña</h6></div>

</div>
     {% block menu %}
    <div class="menu">
      <strong>¿No necesitas recuperar o restablecer tu contraseña?</strong>
      <ul>
  {% if user.is_authenticated %}
  <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
  <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
  {% else %}
  <li><a class="waves-effect waves-light btn blue lighten-2" onclick="javascript:location.href='{% url 'account_login' %}'">Iniciar Sesión</a></li>
  <li><a class="waves-effect waves-light btn blue lighten-2" onclick="javascript:location.href='{% url 'account_signup' %}'">Registrarme</a></li>
  {% endif %}
      </ul>
    </div>
     {% endblock %}
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>





  <!-- codigo nuestro -->



</html>
