{% extends 'account/base_interface.html' %}
{% comment %}
  Base para el template de busqueda
{% endcomment %}
{% load app_filters %}
{% load static %}
{% block title %} <title>Buscar contactos</title> {% endblock %}
{% block extra-css %}
    <link type="text/css" rel="stylesheet" href="{% static "css/amigos.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "css/search_advanced.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "css/news.css" %}">
{% endblock %}

{% block content %}

    {% block messages %}
    {% endblock %}

{% endblock %}
