{% comment %}
  Base para la interfaz en comun de todo usuario "lo comun" a todas las paginas
{% endcomment %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Mi perfil">
    <meta name="keywords" content="Mi perfil, Mensajes, Amigos, Seguidores, Comentarios">
    <meta name="viewport" content="width=device-width, maximum-scale=3, minimum-scale=0.5">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/core.css" onload="if(media!='all')media='all'">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/buscar.css" onload="if(media!='all')media='all'">
    <link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.min.css">
    <link rel="icon" type="image/ico" href="{{ STATIC_URL }}img/favicon.ico"/>
    {% block title %} <title>Skyfolk - Bienvenido.</title> {% endblock %}
    {% block extra-js %}{% endblock %}
    <!-- bloques de estilos para cada pagina -->
    {% block extra-css %}{% endblock %}
    {% block include_files %}{% endblock %}
    <script async>
      window.moveTo(0,0);
      if (document.all) {
        top.window.resizeTo(screen.availWidth,screen.availHeight);
      }
      else if (document.layers||document.getElementById) {
        if (top.window.outerHeight<screen.availHeight||top.window.outerWidth<screen.availWidth){
          top.window.outerHeight = screen.availHeight;
          top.window.outerWidth = screen.availWidth;
        }
      }
    </script>
  </head>
  <body>
    <!-- Header de la pagina -->
    {% block barra_navegacion %}
      {% include "account/base-header.html" %}
    {% endblock %}

    {% block content %}
    <!-- Contenido de cada pagina por separado -->
    {% endblock %}
    <!-- bloque de js para cada pagina -->
    <!-- Form para nuevo mensaje -->
  {% if user.is_authenticated %}
  <div id="page-wrapper" style="display:none;">
    <div id="status">
        <i class="fa fa-paper-plane"> </i>
        {% if user == user_profile %}
                <h4>Publicar comentario</h4>
                <h6>Publica un comentario para que el mundo lo vea.</h6>
        {% else %}
                <h4>Escribe algo a: {{ user_profile.username }}</h4>
                <h6>Escribe un mensaje en el tablón de {{ user_profile.username }}.</h6>
        {% endif %}
      <p></p>
    </div>
    <form id="message-form2" action="" method="post">{% csrf_token %}
        {{ publicationForm.csrftoken }}
        <p>{{ publicationForm.content }}</p>
        {{ publicationForm.author }}
        {{ publicationForm.board_owner }}
        {{ publicationForm.parent }}
        <button type="submit" id="sendformpubli"><i class="fa fa-paper-plane"> </i> Enviar</button>
        <button type="button" id="close"><i class="fa fa-remove"> </i> Cerrar</button>
        <!--  <input type="submit" id="sendformpubli" value="Submit Feedback" /> -->
        <button class="fontawesome-bullhorn"><i class="fa fa-bullhorn"> </i> Difundir mensaje</button>
        <button class="fontawesome-file"><i class="fa fa-paperclip"> </i> Añadir archivo</button>
        <button class="fontawesome-map-marker"><i class="fa fa-map-marker"> </i> Añadir localización</button>
    </form>
  </div>
  <!-- Atajos del usuario -->
  <div id="atajos-keyboard-profile">
    <table class="modal-table" summary="Atajos para acciones comunes.">
      <div class="atajos-title">
      Atajos de teclado
      <i class="fa fa-close"></i>
      </div>
        <thead>
        <div class="acc-atajos-div">
          <tr class="acc-atajos">
            <th colspan="2">Acciones</th>
          </tr>
          </div>
        </thead>
        <tbody>
          <tr>
            <td class="shortcut">
              <b class="sc-key">m</b>
            </td>
            <td class="shortcut-label">Nuevo comentario</td>
          </tr>
          <tr>
            <td class="shortcut">
              <b class="sc-key">f</b>
            </td>
            <td class="shortcut-label">Favorito</td>
          </tr>
          <tr>
            <td class="shortcut">
              <b class="sc-key">r</b>
            </td>
            <td class="shortcut-label">Responder</td>
          </tr>
          <tr>
            <td class="shortcut">
              <b class="sc-key">a</b>
            </td>
            <td class="shortcut-label">Abrir atajos</td>
          </tr>
          <tr>
            <td class="shortcut">
              <b class="sc-key">d</b>
            </td>
            <td class="shortcut-label">Mensaje privado</td>
          </tr>
          <tr>
            <td class="shortcut">
              <b class="sc-key">s</b>
            </td>
            <td class="shortcut-label">Silenciar usuario</td>
          </tr>
          <tr>
            <td class="shortcut">
              <b class="sc-key">b</b>
            </td>
            <td class="shortcut-label">Bloquear usuario</td>
          </tr>
          <tr>
            <td class="shortcut">
              <b class="sc-key">o</b>
            </td>
            <td class="shortcut-label">Cerrar mensajes</td>
          </tr>
          <tr>
            <td class="shortcut">
              <b class="sc-key">p</b>
            </td>
            <td class="shortcut-label">Expandir foto</td>
          </tr>
          <tr>
            <td class="shortcut">
              <b class="sc-key">/</b>
            </td>
            <td class="shortcut-label">Buscar</td>
          </tr>
          <tr>
            <td class="shortcut">
              <b class="sc-key">Shift</b>
              +
              <b class="sc-key">Enter</b>
            </td>
            <td class="shortcut-label">Enviar comentario</td>
          </tr>
        </tbody>
      </table>
  </div>
{% endif %}
  <script src="{{STATIC_URL}}emoji/js/textarea_find_emoji.js" type="text/javascript"></script>
  </body>
</html>
