{% extends 'account/base_interface.html' %}

{% block include_files %}
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

 	<link rel="stylesheet" href="{{STATIC_URL}}css/configuracion.css" type="text/css" media="all">
	<link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.min.css">

	<!--[if IE 7]>
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome-ie7.min.css" rel="stylesheet" />
	<![endif]-->

	<script>
	$(document).ready(function() {
		$('ul.form li a').click(
			function(e) {

				e.stopPropagation; // stop the click from bubbling
				$(this).closest('ul').find('.selected').removeClass('selected');
				$(this).parent().addClass('selected');
			});
	});
	</script>


	{% block additional_files %}{% endblock%}


</head>
{% endblock%}


{% block content %}

    <div class="container">
        <div class="col lg-12">
        <nav class="menu-config">
            <a class="perfil" onclick="window.location.href='/config/profile'"><i class="fa fa-user"></i><br>Perfil</a>
            <a class="Contraseña" onclick="window.location.href='/accounts/password/change/'"><i class="fa fa-lock"></i><br>Contraseña</a>
            <a onclick="window.location.href='/config/privacity'" class="Seguridad"><i class="fa fa-eye fa"></i><br>Privacidad</a>
            <a class="Movil"><i class="fa fa-mobile"></i><br>Movil y correo</a>
            <a class="widgets"><i class="fa fa-list-ul"></i><br>Widgets</a>
            <a class="Diseño"><i class="fa fa-dashboard"></i><br>Diseño</a>
            <a class="ban"><i class="fa fa-minus"></i><br>Lista negra</a>
            <a onclick="window.location.href='/config/relations'" class="relaciones"><i class="fa fa-circle-thin fa"></i><br>Mis relaciones</a>
        </nav>
        </div>
    <div class="col-lg-10">
        <hgroup>
<span>
	<h3 class="fontawesome-cog"><i class="fa fa-cog"></i> Configuracion</h3>
	<h6>Configure, edite o cambie cualquier cosa de su perfil.</h6>
</span>
        </hgroup>
    </div>

    <div class="col-lg-12 col-sm-9">


    <div class="col-lg-7 col-md-9 col-sm-8">
    <div id="contra">
    <li>
    <form id="levi">
    	{% block cf-title %}{% endblock %}

    </form>
    </li>
        {% block cf-form %}{% endblock %}

    </div>
    </div>
    </div>
    </div>
{% endblock%}
