{% extends "account/base_cf.html" %}
{% load static humanize %}
{% block cf-title %}
    <div class="hgroup">
        <h4 class="cn"> Afinidad </h4>
        <h6 class="ch"> Visualiza la afinidad con tus contactos</h6>
        <p class="ch">Muestra un limite de 3000 relaciones</p>
    </div>
{% endblock %}
{% block extra-css %}
    <style type="text/css">
        #container {
            width: 100%;
            height: 400px;
            margin: auto;
        }
    </style>
{% endblock %}
{% block cf-form %}
    <div id="container"></div>
    <script src="{% static "js/sigma.min.js" %}"></script>
    <script src="{% static "js/settings.js" %}"></script>
    <script src="{% static "js/sigma.parsers.json.min.js" %}"></script>
    <script src="{% static "js/sigma.plugins.dragNodes.min.js" %}"></script>
    <script src="{% static "js/sigma.canvas.edges.labels.curve.js" %}"></script>
    <script src="{% static "js/sigma.canvas.edges.labels.curvedArrow.js" %}"></script>
    <script src="{% static "js/sigma.canvas.edges.labels.def.js" %}"></script>
    <script>
        var data = JSON.parse('{{ data|safe }}');
        s = new sigma({
            graph: data,
            renderer: {
                // IMPORTANT:
                // This works only with the canvas renderer, so the
                // renderer type set as "canvas" is necessary here.
                container: 'container',
                type: 'canvas'
            },
            settings: {
                edgeLabelSize: 'proportional'
            }
        });

        s.cameras[0].goTo({x: 0, y: 0, angle: 0, ratio: 0.1});
        var dragListener = sigma.plugins.dragNodes(s, s.renderers[0]);
    </script>
    <script>
        $('.menu-config').find('li:nth-child(8)').css({'background-color': 'rgba(0,0,0,0.1)', 'color': '#1e88e5'});
    </script>
{% endblock %}