{% extends "account/base_cf.html" %}
{% comment %}
	Template para la configuracion del perfil de usuario
{% endcomment %}
{% block additional_files %}
{% load i18n avatar_tags %}
{% endblock%}
{% block extra-css %}
<link rel="stylesheet" href="{{STATIC_URL}}css/pincode.css" onload="if(media!='all')media='all'">
{% endblock %}
{% block cf-title %}
<div class="hgroup">
	<h4 class="cn"> Pincode </h4>
	<h6 class="ch"> Consulta tu pincode. </h6>
</div>
{% endblock %}
{% block cf-form %}
    <div class="col l12 m12 s12 wrapper-profilex">
        <div class="personal-code">
            <p id="pincode" class="pin-code">{{ pin }}</p>
            <button id="show-code" class="show-personal-code">ver pincode</button>
        </div>
    </div>
    <script async>
        $('#show-code').click(function () {
            $('#pincode').show();
        });
    </script>
{% endblock %}