{% extends "account/base_cf.html" %}

{% block additional_files %}
	
	<style>
		#menucf-profile {
			background:#fafafa;
		}
		
	</style>
	
{% endblock%}

{% block cf-title %}
	<h4 id="cn"> Perfil </h4>
	<h6 id="ch"> Cambia datos de tu perfil</h6>
{% endblock %}


{% block cf-form %}

	<form id='formulario' method='post' action='' enctype="multipart/form-data">{% csrf_token %}
		{{ user_form }}
    	{{ perfil_form }}

		<input id="btn" type="submit" value="Guardar cambios">
		<img id="croppedimage">

	</form>

{% endblock %}
