{% extends "account/base_cf.html" %}
{% block additional_files %}
{% load i18n avatar_tags %}

{% endblock%}

{% block cf-title %}
<hgroup>
	<h4 class="cn"> Perfil </h4>
	<h6 class="ch"> Cambia datos de tu perfil</h6>
</hgroup>
{% endblock %}


{% block cf-form %}
	<form id='formulario' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
	<div class="col-lg-12 col-md-12 col-sm-12 wrapper-profilex">

        {% comment %}
        <div id="change-avatar" class="col-lg-10 col-md-10 col-sm-12">

        </div>
        {% endcomment %}
		{% if user_profile.profile.backImage %}
			<div class="col-lg-12 col-md-12 col-sm-12 profilex" style="background: url('{{user_profile.profile.backImage.url}}') no-repeat center center; background-size: cover;">
		{% else %}
			<div class="col-lg-12 col-md-12 col-sm-12 profilex" style="background: url('{{STATIC_URL}}img/backgrounds/5.jpg') no-repeat center center; background-size: cover;">
		{% endif %}
		{% comment %}
		{% if user_profile.profile.image %}
			<img src="{{user_profile.profile.image.url}}" class="img-profile">
		{% else %}
			<img src="{{STATIC_URL}}img/nuevo.png" class="img-profile">
		{% endif %}
		{% endcomment %}
		<div class="img-profile">
			<a href="{% url 'avatar_change' %}">
			{% avatar user %}
			</a>
                <a href="{% url 'avatar_delete' %}" class="delete-profile-image"><i class="fa fa-trash"></i></a>
                <a href="{% url 'avatar_add' %}" class="add-profile-image"><i class="fa fa-plus"></i></a>
		</div>
		</div>
		<div class="index-wrapper">
				<div class="nameConfig">
				<p>{{ user_form.first_name.errors}}</p>
				<p>¿Como te llamas?</p>
				<p>{{ user_form.first_name }}</p>
			</div>
				<div class="lastConfig">
				<p>{{ user_form.last_name.errors }}</p>
				<p>¿Y tu apellido?</p>
				<p>{{ user_form.last_name }}</p>
			</div>
			{% comment %}
				Eliminar esto si nos quedamos con Django-Avatar.
				<div class="image-usr">
					<p>{{ perfil_form.image.errors }}</p>
					<p>Elige una imagen de perfil.</p>
					<p>{{ perfil_form.image }}</p>
				</div>
			{% endcomment %}

				<div class="backimage-usr">
					<p>{{ perfil_form.backImage.errors }}</p>
					<p>Elige una imagen de fondo.</p>
					<p>{{ perfil_form.backImage }}</p>
				</div>

				<div class="status-usr">
					<p>{{ perfil_form.status.errors }}</p>
					<p>Introduce un estado ;-).</p>
					<p>{{ perfil_form.status }}</p>
				</div>

				<div class="menu-usr">
					<p>{{ perfil_form.hiddenMenu.errors }}</p>
					<p>Menu estático</p>
					<p>{{ perfil_form.hiddenMenu }}</p>
				</div>
		</div>
			</div>
				<button class="btn btn-info" id="boton-perfil" type="submit">Salvar cambios</button>
		</div>
	</form>
	<script>
		jQuery("a").each(function(i, value) {
	   var hyperlink = jQuery(value);
	   var text = hyperlink.text();

	   if(text.length > 25) {
	      hyperlink.text(text.substring(0, 21) + "...");
	   }
	});
	</script>
{% endblock %}
