{% extends "account/base_cf.html" %}

{% load url from future %}
{% load i18n %}
{% load account %}

{% block title %} <title>Configuración - {% trans "Confirm E-mail Address" %}</title> {% endblock %}

{% block extra-css %}
    <style>
        body {
            background-color: #b0bec5;
        }
        .container {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
        }
        button {
            margin-top: 2.5%;
        }
        .information-text {
            font-size: 1.3em;
        }
        .email-info {
            padding: 10px;
        }
        .email-info > h1 {
            font-size: 2em;
        }
    </style>
{% endblock %}
{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block barra_navegacion %}{% comment %} No debe aparecer, ya que no estamos registrados aun {% endcomment %}{% endblock %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col l12 s12 m12">
        <div class="col l12 s12 m12 hgroup">
            <h4 class="cn"> Email </h4>
            <h6 class="ch"> {% trans "Confirm E-mail Address" %} </h6>
        </div>
        <div class="col l12 s12 m12 email-info">
        {% if confirmation %}

        {% user_display confirmation.email_address.user as user_display %}

        <p class="information-text">{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{email}}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>
         <div class="row">
            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
                <button class="waves-effect waves-light btn right" type="submit">{% trans 'Confirm' %}</button>
            </form>
        </div>
        {% else %}

        {% url 'account_email' as email_url %}

        <p class="flow-text information-text">{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url}}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
        {% endif %}
        </div>
        </div>
    </div>
</div>
{% endblock %}
