{% extends "account/base_cf.html" %}

{% load i18n %}
{% load static %}

{% block title %} <title>Configuración - Email.</title> {% endblock %}

{% block extra-css %}
    <link rel="stylesheet" href="{% static "css/cf-email.css" %}" type="text/css" media="all">
{% endblock %}

{% block cf-title %}
    <div class="hgroup">
        <h4 class="cn"> Email </h4>
        <h6 class="ch"> Administra tus direcciones email </h6>
    </div>
{% endblock %}

{% block cf-form %}
    {% comment %}
    {% if messages %}
        <div class="div-messages">
            <strong>{% trans "Messages" %}:</strong>
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% endcomment %}
    <h1 class="title-email">{% trans "E-mail Addresses" %}</h1>
    {% if user.emailaddress_set.all %}
        <p>{% trans 'The following e-mail addresses are associated with your account:' %}</p>

        <form class="email_list" method="post">
            {% csrf_token %}
            <fieldset class="blockLabels">
                <div class="collection">
                    {% for emailaddress in user.emailaddress_set.all %}
                        <a class="collection-item black-text">
                            <input id="email_radio_{{ forloop.counter }}" type="radio" name="email"
                                   {% if emailaddress.primary %}checked="checked"{% endif %}
                                   value="{{ emailaddress.email }}"/>
                            <label for="email_radio_{{ forloop.counter }}"
                                   class="{% if emailaddress.primary %}primary_email{% endif %}"></label>
                            {{ emailaddress.email }}
                            {% if emailaddress.verified %}
                                <span class="secondary-content verified chip">{% trans "Verified" %}</span>
                            {% else %}
                                <span class="secondary-content unverified chip">{% trans "Unverified" %}</span>
                            {% endif %}
                            {% if emailaddress.primary %}
                                <span class="secondary-content primary chip">{% trans "Primary" %}</span>{% endif %}
                        </a>
                    {% endfor %}
                </div>
                <div class="buttonHolder">
                    <button class="btn blue darken-1 secondaryAction" type="submit"
                            name="action_primary">{% trans 'Make Primary' %}</button>
                    <button class="btn blue darken-1 secondaryAction" type="submit"
                            name="action_send">{% trans 'Re-send Verification' %}</button>
                    <button class="btn blue darken-1 primaryAction" type="submit"
                            name="action_remove">{% trans 'Remove' %}</button>
                </div>
            </fieldset>
        </form>
    {% else %}
        <p><strong>{% trans 'Warning:' %}</strong>
            {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}
        </p>
    {% endif %}
    <div class="divider"></div>
    <h2 class="title-email">{% trans "Add E-mail Address" %}</h2>
    <form method="post" action="{% url 'account_email' %}" class="add_email">
        {% csrf_token %}
        <div class="row">
            {{ form.email.errors }}
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    {{ form.email }}
                    <label for="id_email">Email</label>
                </div>
            </div>
        </div>
        <button class="waves-effect waves-light btn blue darken-1" name="action_add"
                type="submit">{% trans "Add E-mail" %}</button>
    </form>

    <script>
        $('.menu-config').find('li:nth-child(4)').css({'background-color': 'rgba(0,0,0,0.1)', 'color': '#1e88e5'});
    </script>
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        (function () {
            var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
            var actions = document.getElementsByName('action_remove');
            if (actions.length) {
                actions[0].addEventListener("click", function (e) {
                    if (!confirm(message)) {
                        e.preventDefault();
                    }
                });
            }
        })();
    </script>
{% endblock %}
