{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}
{% block menu %}{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="row">
            <p class="flow-text">{% trans "Confirm E-mail Address" %}.</p>
            <div class="col offset-l3 col l6 m12 s12">
                <div class="z-depth-1">
                    {% if confirmation %}

                        {% user_display confirmation.email_address.user as user_display %}

                        <p>{% blocktrans with confirmation.email_address.email as email %}Por favor, confirma que
                            <a href="mailto:{{ email }}">{{ email }}</a> es tu correo para la cuenta
                            {{ user_display }}.{% endblocktrans %}</p>

                        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                            {% csrf_token %}
                            <div class="row right-align">
                                <button class="btn blue" type="submit">{% trans 'Confirm' %}</button>
                            </div>
                        </form>

                    {% else %}

                        {% url 'account_email' as email_url %}

                        <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please
                            <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}
                        </p>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
