{% extends 'account/base_interface.html' %}
{% comment %}
  Lista de usuarios que han dado like al perfil pasado como parametro de la url.
{% endcomment %}
{% load static %}
{% block title %} <title>Likes de {{ user_profile }} </title> {% endblock %}
{% block extra-css %}
    <link type="text/css" rel="stylesheet" href="{% static "css/amigos.css" %}" onload="if(media!='all')media='all'">
    <link rel="stylesheet" href="{% static "css/profile.css" %}" onload="if(media!='all')media='all'">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col l12 m10 s12 container-responsive">
                <div class="row">
                    {% include "account/like_entries.html" %}
                </div>
            </div>
        </div>
        {{ pagination|safe }}
    </div> 
{% endblock %}
