{% extends 'account/base_interface.html' %}
{% comment %}
  Lista de usuarios que han dado like al perfil pasado como parametro de la url.
  {% endcomment %}
{% load static %}
{% block title %}Likes de {{ user_profile }}{% endblock %}
{% block extra-css %}
    <link type="text/css" rel="stylesheet" href="{% static "css/amigos.css" %}" onload="if(media!='all')media='all'">
    <link rel="stylesheet" href="{% static "css/profile.css" %}" onload="if(media!='all')media='all'">
    <style>
        .grid {
            margin: 0 auto;
        }

        .grid-item {
            width: 400px;
            margin-bottom: 10px;
            float: left;
            background-color: #fff;
        }

        .photo-date {
            display: initial;
        }

        .grid-item .img {
            border-radius: 3px;
            box-shadow: 0 1px 5px #1e88e5;
        }

        .grid-item .img > img {
            width: 100%;
            height: 100%;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row grid">
            <div class="col l12 m10 s12 container-responsive">
                <div class="row">
                    {% include "account/like_entries.html" %}
                </div>
            </div>
        </div>
        <div class="row">
            {% if likes_profile.has_other_pages %}
                <ul class="pagination center">
                    {% if likes_profile.has_previous %}
                        <li><a href="?page={{ likes_profile.previous_page_number }}"><i
                                class="material-icons">chevron_left</i></a>
                        </li>
                    {% else %}
                        <li class="disabled"><span><i class="material-icons">chevron_left</i></span></li>
                    {% endif %}
                    {% for i in likes_profile.paginator.page_range %}
                        {% if likes_profile.number == i %}
                            <li class="active blue darken-1 white-text"><span>{{ i }}</span></li>
                        {% else %}
                            <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if likes_profile.has_next %}
                        <li><a href="?page={{ likes_profile.next_page_number }}">
                            <i class="material-icons">chevron_right</i>
                        </a></li>
                    {% else %}
                        <li class="disabled"><span>
                <i class="material-icons">chevron_right</i>
            </span></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
    <script>
        $(window).on('load', function () {
            var $grid = $('.grid').imagesLoaded(function () {
                $grid.masonry({
                    itemSelector: '.grid-item',
                    columnWidth: 400,
                    gutter: 20,
                    fitWidth: true,
                    horizontalOrder: true,
                    transitionDuration: '0.3s'
                });
            });

            var infinite = new Waypoint.Infinite({
                element: $('.grid'),
                offset: 'bottom-in-view',
                onBeforePageLoad: function () {
                    $('.loading_search').show();
                },
                onAfterPageLoad: function () {
                    $('.loading_search').hide();
                    $grid.imagesLoaded().progress(function () {
                        $grid.masonry('reloadItems');
                        $grid.masonry('layout');
                    });
                }
            });
        });
    </script>
{% endblock %}
