{% comment %}
  Template para el menu horizontal del perfil
{% endcomment %}
<li>
  <ul class="fa fa-bars fa-lg">
    {% if user.profile.hiddenMenu == False %} <!-- Elección del usuario el menu a mostrar -->
        <li class="fa-bars-content">
          <ul>
              <li class="fa fa-paper-plane fa-2x" id="publish2"> </li>
              <li class="fa fa-home fa-2x" onclick="location.href='/'"> </li>
              <li class="fa fa-users fa-2x" onclick="location.href='/following/{{ request.user }}'"> </li>
              <li class="fa fa-sign-out fa-2x" onclick="location.href='{% url 'account_logout' %}'"> </li>
                {% if request.user.profile.image %}
                  <li class="profile-user" onclick="location.href='/profile/{{ request.user }}'">
                    <img src="{{request.user.profile.image.url}}">
                  </li>
                {% else %}
                  <li class="profile-user" onclick="location.href='/profile/{{ request.user }}'">
                    <img src="{{STATIC_URL}}img/nuevo.png">
                  </li>
                {% endif %}
          </ul>
        </li>
        {% endif %}
      </ul>
</li>
{% if user.profile.hiddenMenu == True %}
      <li><ul id="hor-menu" class="oldMenu">
        <li onclick="location.href='/inicio'"><i class="fa fa-home" ></i> Inicio</li>
        <li id="publish2"><i class="fa  fa-paper-plane"> </i> Mensaje</li>
        <li onclick="location.href='/following/{{ request.user }}'"><i class="fa fa-user"></i> Seguidos</li>
        <li id="agregar-amigo"><i class="fa fa-user-plus"> </i> Agregar</li>
        <li onclick="location.href='{% url 'account_logout' %}'"><i class="fa fa-sign-out"></i> Salir</li>
      </ul></li>
{% endif %}
