{% comment %}
  Menu vertical
{% endcomment %}
{% load avatar_tags %}
{% load app_filters %}

<ul id="vertical-menu" class="side-nav">
    <li>
        <div class="userView">
            {% if request.user.profile.back_image %}
                <img class="background" src="{{ request.user.profile.back_image.url }}">
            {% else %}
                <img class="background" src="{{ STATIC_URL }}dist/img/nuevo_back.png">
            {% endif %}
            <a href="/profile/{{ request.user }}">{% avatar user %}</a>
            <a href="/profile/{{ request.user }}"><span class="white-text name">{{ request.user.username }}</span></a>
            <a><span class="white-text email">{{ request.user.first_name }}</span></a>
        </div>
    </li>
    <li class="hide-on-large-only">
        <div class="field" id="searchform">
            <form method='post' action='/user-search/'>{% csrf_token %}
                {{ searchForm }}
            </form>
        </div>
    </li>
    <li><a href="{% url "user_profile:config_profile" %}"><i class="material-icons">settings</i>Configuración</a></li>
    <li><a href="/messages/inbox/"><i class="material-icons">email</i>Mensajes privados</a></li>
    <li><a id="new_group"><i class="material-icons">people</i>Crear grupo</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a href="{% url 'account_logout' %}" class="subheader"><i class="material-icons">exit_to_app</i>Salir</a></li>
    <li><a class="waves-effect shortcut-keyboard"><i class="material-icons">keyboard</i>Atajos</a></li>
    <li><a href="/about/home/" class="waves-effect"><i class="material-icons">help</i>Ayuda</a></li>
</ul>
