{% comment %}
  Menu de notificaciones verticales
{% endcomment %}
{% load notifications_tags %}
<script src="{{STATIC_URL}}js/notify.js" type="text/javascript"></script>
{% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' menu_id='list-notify' %}
<!-- MENU VERTICAL CON NOTIFICACIONES  -->
<div id="notification-menu" class="col-lg-3 col-md-8 col-sm-12 nav-vertical-and-chat">
    <ul id="list-notify" class="list-notifications">
    {% live_notify_list %}
    </ul>
    <div class="col-lg-12 col-md-12 col-sm-12 nav-vertical-controls">
        <div class="controls-notifications">
            <button class="nav-button-notifications"><a id="clear-notify">Limpiar</a></button>
            <button class="nav-button-notifications"><a href="/inbox/notifications/">Todas</a></button>
      </div>
      </div>
</div>
