{% extends "account/base_cf.html" %}

{% block additional_files %}

{% endblock %}

{% load url from future %}
{% load i18n %}

{% block cf-title %}
	<div class="hgroup">
		<h4 class="cn"> Contraseña </h4>
		<h6 class="ch"> Cambia tu contraseña o recupera tu contraseña actual.</h6>
	</div>
{% endblock %}


{% block cf-form %}
<div class="col l12 m12 s12 wrapper-profilex">
	  <form method="POST" id="form-changepass" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
            <div class="row">
                  <div class="row">
                      <div class="red-text">{{ form.oldpassword.errors }}</div>
                    <div class="input-field col s12">
                      <i class="material-icons prefix">vpn_key</i>
                      {{ form.oldpassword }}
                      <label for="id_oldpassword">{% trans "Current Password" %}</label>
                    </div>
                  </div>
            </div>
          <div class="row">
                  <div class="row">
                      <div class="red-text">{{ form.password1.errors }}</div>
                    <div class="input-field col s12">
                      <i class="material-icons prefix">vpn_key</i>
                      {{ form.password1 }}
                      <label for="id_password1">{% trans "New Password" %}</label>
                    </div>
                  </div>
            </div>
          <div class="row">
                  <div class="row">
                      <div class="red-text">{{ form.password2.errors }}</div>
                    <div class="input-field col s12">
                      <i class="material-icons prefix">vpn_key</i>
                      {{ form.password2 }}
                      <label for="id_password2">{% trans "New Password (again)" %}</label>
                    </div>
                  </div>
          </div>
          <div class="row">
            <button class="btn btn-info right blue darken-1 btn-password" type="submit" name="action">{% trans "Change Password" %}</button>
          </div>
    </form>
	</div>

	<script>
  	$('.menu-config').find('li:nth-child(2)').css({'background-color': 'rgba(0,0,0,0.1)', 'color': '#1e88e5'});
	</script>

{% endblock %}
