{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}
{% block head_title %}Skyfolk - {% trans "Password Reset" %}{% endblock %}

{% block base-title %}
    <a class="left grey-text hide-on-med-and-down"><h6>{% trans "Password Reset" %}</h6></a>
{% endblock %}
{% block menu %}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3 class="lost-password-title">{% trans "Password Reset" %}</h3>
                {% if user.is_authenticated %}
                    {% include "account/account/snippets/already_logged_in.html" %}
                {% endif %}

                <p class="lost-password">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
            </div>
        </div>
        <div class="row">
            <div class="col l6 offset-l3 s12">
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn blue lighten-2 right" type="submit" value="{% trans "Reset My Password" %}"/>
                </form>
            </div>
        </div>
        <br><br>
        <div class="divider"></div>
        <div class="row">
            <p class="contacto-password">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
            <img class="need-help" src="{% static "img/help.svg" %}"
                 onclick="location.href='{% url 'support:support-password' %}'" title="Necesito ayuda"
                 alt="Necesito ayuda"/>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
