{% extends "account/base_cf.html" %}

{% load url from future %}
{% load i18n %}

{% block cf-title %}
	<h4 class="cn"> Contraseña </h4>
	<h6 class="ch"> Cambia tu contraseña o recupera tu contraseña actual.</h6>
{% endblock %}

{% block cf-form %}
    <form method="POST" id="form-changepass" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <!--<button type="submit" name="action">{% trans "Change Password" %}</button>-->
        <button class="btn btn-info" id="btn" type="submit" name="action">Salvar cambios</button>
        {% if messages %}
			<ul class="messages">
			    {% for message in messages %}
			    	{% if message.extra_tags == 'PASSCHANGED' %}
			    		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			    	{% endif %}
			    {% endfor %}
			</ul>
		{% endif %}
    </form>
{% endblock %}
