{% extends 'account/base_interface.html' %}
{% load avatar_tags %}
{% block title %} <title>Galería de {{ user_gallery }}</title> {% endblock %}
{% load humanize %}

{% block include_files %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/gallery.css" onload="if(media!='all')media='all'"> <!-- Estilos para la galeria de fotos -->
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="col-lg-12 col-md-12 col-sm-12 container-gallery">
            {% if object_list %}
                {% for photo in object_list %}
                    <div class="col-lg-2 col-md-12 col-sm-12 container-image">
                        <div class="col-lg-12 principal-content">
                            <img src="{{ photo.photo.image.url }}" alt="{{ photo.photo.title }}" title="{{ photo.photo.title }}">
                        </div>
                        <div class="col-lg-12 legend-content">
                            <div class="legend-user-image">
                                {% avatar photo.owner.username %}
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 legend-user-data">
                                <a href="/profile/{{ photo.owner.username }}">@{{ photo.owner.username }}</a>
                                <i class="photo-title">{{ photo.photo.title }}</i>
                                <i class="fa-clock-o" aria-hidden="true"> {{ photo.photo.date_added|naturaltime }}</i>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div> <!-- end container-gallery -->
    {{ form.as_p }}
</div> <!-- end wrapper -->
{% endblock %}