{% comment %}
  Pin izquierda arriba
{% endcomment %}
<div class="col s12">
    <div class="stock card">
        <div class="ventana-pin">
            <a><i class="material-icons">remove</i></a>
            <a><i class="material-icons">flip_to_front</i></a>
        </div>
        <!-- Widget encuestas -->
        <div class="wrapper">
            <div class="widget-wr">
                <div class="widget-wr-ans">
                    <img src="{{ STATIC_URL }}img/1.jpg">
                    <span class="wr-tittle">¿Debería viajar aquí?</span>
                </div>
                <div class="widget-options">
                    <button type="submit" class="widget-ok"><i class="material-icons">thumb_up</i></button>
                    <button type="submit" class="widget-no"><i class="material-icons">thumb_down</i></button>
                    <span class="widget-result">
                 <i class="widget-result-no">56</i>
                 <i class="widget-result-ok">44</i>
               </span>
                </div>
            </div>
        </div>
    </div>
</div>
