<div class="col-lg-6 col-md-12 col-sm-12">
        <div class="stock card">
            <nav class="ventana-pin">
              <a><i class="fa fa-times"></i></a>
              <a><i class="fa fa-expand"></i></a>
              <a><i class="fa fa-thumb-tack"></i></a>
          </nav>
                  <!-- Widget encuestas -->
         <div class="wrapper">
            <div class="widget-wr">
               <div class="widget-wr-ans">
              <img src="{{STATIC_URL}}img/1.jpg">
              <span class="wr-tittle">¿Debería viajar aquí?</span>
            </div>
             <div class="widget-options">
                <button type="submit" class="fa fa-heart widget-ok"></button>
               <button type="submit" class="fa fa-times widget-no"></button>
               <span class="widget-result">
                 <i class="widget-result-no">56</i>
                 <i class="widget-result-ok">44</i>
               </span>
            </div>
          </div>
        </div>
        </div>
</div>