{% comment %}
  Galeria de imagenes de cada perfil
{% endcomment %}
<div style='display:none'>
      <div id='inline_content' style='padding:10px; background:#fff;'>
        <section>
  <fieldset class="controls">
  <ul class="btn">
    <li><button class="all">Todas</button></li>
    <li>
        <select>
      <option value="choose" selected="selected">Choose...</option>
      <option value="rec">Recientes</option>
      <option value="+">Mas Likes</option>
      <option value="+m">Mas comentadas</option>
        </select>
    </li>
    <li>
        <select>
      <option value="choose" selected="selected">Year...</option>
      <option value="rec">2015</option>
      <option value="+">2016</option>
      <option value="+m">2017</option></select>
    </li>
  </ul>
  <ul class="layout">
    <li><button class="fontawesome-reorder"></button></li>
    <li><button class="fontawesome-table"></button></li>
</ul>
          </fieldset>
  <ul>
    <li><div class="photo">
      <span class="text">
        <p href="#">Vacaciones en Tenerife.</p>
        <i class="fontawesome-heart"> 1.031</i>
        <a class="fontawesome-comment"> 432</a>
      </span><img src="{{STATIC_URL}}img/1.jpg" alt="Photo">
   </div></li>
  <li><div class="photo"><span class="text">
        <p>Vacaciones en Tenerife.</p>
        <i class="fontawesome-heart"> 1.031</i>
        <a class="fontawesome-comment"> 432</a>
      </span></span><img src="{{STATIC_URL}}img/1.jpg" alt="Photo"></div></li>
    <li><div class="photo"><span class="text">
        <p href="#">Vacaciones en Tenerife.</p>
        <i class="fontawesome-heart"> 1.031</i>
        <a class="fontawesome-comment"> 432</a>
      </span><img src="{{STATIC_URL}}img/1.jpg" alt="Photo"></div></li>
    <li><div class="photo"><span class="text">
        <p href="#">Vacaciones en Tenerife.</p>
        <i class="fontawesome-heart"> 1.031</i>
        <a class="fontawesome-comment"> 432</a>
      </span><img src="{{STATIC_URL}}img/1.jpg" alt="Photo"></div></li>
    <li><div class="photo"><span class="text">
        <p href="#">Vacaciones en Tenerife.</p>
        <i class="fontawesome-heart"> 1.031</i>
        <a class="fontawesome-comment"> 432</a>
      </span><img src="{{STATIC_URL}}img/1.jpg" alt="Photo"></div></li>
  </ul>
</section>

      </div>
</div>
