{% load decorators %}
{% load avatar_tags %}
{% load app_filters %}
{% load humanize %}
{% load mptt_tags %}
{% load el_pagination_tags %}

{% for node in publications %}
    {% recursetree node %}
        <div class="row">
            <div class="col s12">
                <div class="col s12 wrapper" id="pub-{{ node.pk }}" data-id="{{ user.pk }}"
                     {% if node.level > 0 and node.level < 3 %}style="min-width: 98% !important;"{% endif %}>
                    <div class="box">
            <span id="check-{{ node.pk }}" class="top-options zoom-pub tooltipped" data-position="bottom"
                  data-delay="50"
                  data-tooltip="Ver conversación completa"><i class="fa fa-plus-square-o" aria-hidden="true"></i></span>
                        {% if user.is_authenticated and user.username == node.author.username or user.is_authenticated and user.username == user_profile.username %}
                            {% if node.event_type == 1 %}
                            <span data-id="{{ node.pk }}" id="edit-comment-content"
                                  class="top-options edit-comment tooltipped"
                                  data-position="bottom"
                                  data-delay="50"
                                  data-tooltip="Editar comentario"><i class="fa fa-pencil"
                                                                      aria-hidden="true"></i></span>
                            {% endif %}
                        {% endif %}
                        <div class="row">
                            <div class="articulo col s12">
                                <div class="row">
                                    <div class="image col l1 m2 s2"
                                         {% if user.is_authenticated and user.id == node.author.id %}title="¡Eres el autor!"
                                         style="box-shadow: 0 1px 5px rgba(129, 199, 132, 1);"{% endif %}>
                                        <div class="usr-img img-responsive">{% avatar node.author %}</div>
                                    </div>
                                    <div class="col l10 m12 s9">
                                        <h2 class="h22"><a
                                                href="/profile/{{ node.author.username }}">@{{ node.author.username }}</a>
                                        </h2>
                                        <a target="_blank" id="pub-created">{{ node.created|naturaltime }}</a>
                                        <div class="row">
                                            <div class="parrafo comment">
                                                <div class="wrp-comment">{{ node.content|safe }}</div>
                                            </div>
                                            <div class="show-more" id="show-comment-{{ node.pk }}">
                                                <a href="#">+ Mostrar más</a>
                                            </div>
                                        </div>
                                        {% if node.event_type == 2 %}
                                            <style>
                                                .comment .fa-user-plus {
                                                    color: #1e88e5;
                                                    font-style: normal;
                                                }
                                            </style>
                                        {% endif %}
                                        {% if node.shared_publication %}
                                            <style>
                                                .card-content img {
                                                    width: 70px;
                                                    height: 70px;
                                                    box-shadow: 0 1px 5px rgba(30, 136, 229, 0.15);
                                                }
                                                .comment .fa-share {
                                                    color: #1e88e5;
                                                    font-style: normal;
                                                }
                                            </style>
                                            <div class="card grey lighten-5">
                                                <div class="card-content black-text">
                                                    {% avatar node.shared_publication.publication.author %}<br>
                                                    <span class="card-title"><a href="{% url 'user_profile:profile' node.shared_publication.publication.author %}">@{{ node.shared_publication.publication.author }}</a>
                                                        <i class="blue-text text-darken-2"> {{ node.shared_publication.publication.created|naturaltime }}</i></span>
                                                    <p>{{ node.shared_publication.publication.content|safe }}</p>
                                                </div>
                                                <div class="card-action">
                                                    <a class="blue-text text-darken-2" href="/publication/{{ node.shared_publication.publication.pk }}">Ver</a>
                                                </div>
                                            </div>
                                            {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="divider"></div>
                            <!-- OPCIONES DE COMENTARIOS -->
                            <div class="options_comentarios" id="options-comments">
                                <ul class="opciones">
                                    {% if user.is_authenticated and user.username == node.author.username %}
                                        {% comment %} Si estamos visitando un perfil que no es el nuestro {% endcomment %}
                                        <li class="trash-comment" title="Borrar comentario"><i class="fa fa-trash"></i>
                                        </li>
                                    {% elif user.is_authenticated and user.username == user_profile.username %}
                                        {% comment %} Si estamos visitando nuestro propio perfil {% endcomment %}
                                        <li class="trash-comment" title="Borrar comentario"><i class="fa fa-trash"></i>
                                        </li>
                                    {% endif %}
                                    {% if user.is_authenticated and user.id != node.author.id %}
                                        {% comment %} Si el usuario esta logueado y no es al autor {% endcomment %}
                                        <li title="No me gusta" class="hate-comment" id="fa-hate" {% if node.pk|user_in_hated_list:user.pk %}style="color: rgb(186, 104, 200);"{% endif %}>
                                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                                            <i class="fa hate-value">{% if node.hated > 0 %}{{ node.hated|intword }}{% endif %}</i>
                                        </li>
                                        <li id="like-heart" title="¡Me gusta!" class="like-comment" {% if node.pk|user_in_liked_list:user.pk %}style="color: #f06292;"{% endif %}>
                                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                                            <i id="like-value" class="fa">{% if node.liked > 0 %}{{ node.liked|intword }}{% endif %}</i>
                                        </li>
                                    {% endif %}
                                    <li title="Añadir a mi skyline" data-id="{{ node.pk }}" class="add-timeline" {% if node.pk|user_in_shared_list:user.pk %}id="remove_from_skyline" style="color: #bbdefb;" {% else %}id="add_to_skyline"{% endif %}><i
                                                class="fa fa-quote-right" aria-hidden="true"> {% if node.shared > 0 %}{{ node.shared|intword }}{% endif %}</i></li>
                                    <li title="Responder" class="reply-comment"><i class="fa fa-reply"
                                                                                   id="reply-caja-comentario-{{ node.pk }}"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% if user.is_authenticated and user.username == node.author.username or user.is_authenticated and user.username == user_profile.username %}
                        {% if node.event_type == 1  %}
                        <div data-user-id="{{ node.author.pk }}" id="author-controls-{{ node.pk }}"
                             class="author-controls">
                            <div class="row">
                                <div class="col s12">
                                    <form method="post" accept-charset="utf-8">{% csrf_token %}
                                        <div class="row">
                                            {{ publication_edit.content.errors }}
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">create</i>
                                                {{ publication_edit.content }}
                                                <label for="id_caption">Contenido</label>
                                            </div>
                                            <div class="row">
                                                <button data-id="{{ node.pk }}"
                                                        class="waves-effect waves-light btn blue darken-1 right edit-comment-btn"
                                                        type="submit" id="submit_edit_publication">Editar
                                                    <i class="material-icons right">mode_edit</i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endif %}
                    <div class="wrapper-reply">
                        {% include "account/new_reply.html" %}
                    </div>
                    {% if not node.is_leaf_node %}
                        <ul class="children">
                            {{ children }}
                        </ul>
                        <div class="row">
                            <div class="col s12">
                                {% if not node.is_root_node %}
                                    {% with node.get_descendants_not_deleted as descendants %}
                                        {% if descendants > 0 %}
                                            <a class="waves-effect waves-light btn-large blue darken-1 white-text center"
                                               href="#"
                                               id="load_more_publications"
                                               data-id="{{ node.id }}"><i class=" material-icons left">expand_more</i>Cargar
                                                comentarios ({{ descendants }})</a>
                                        {% endif %}
                                    {% endwith %}
                                {% else %}
                                    {% with node.get_children_count as descendants %}
                                        {% if descendants > 8 %}
                                            <a class="waves-effect waves-light btn-large blue darken-1 white-text center"
                                               href="#"
                                               id="load_more_publications"
                                               data-id="{{ node.id }}"><i class=" material-icons left">expand_more</i>Cargar
                                                comentarios (<span
                                                        id="child_count">{{ descendants|add:"-9" }}</span>)</a>
                                        {% endif %}
                                    {% endwith %}
                                {% endif %}
                                <div>
                                    <img id="load_publications_image" src="{{ STATIC_URL }}img/ripple.gif"
                                         title="Loading..."
                                         alt="Loading..." style="display: none;">
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endrecursetree %}
{% endfor %}
{% if publications|length > 19 %}
    {% with publications|last as last_pub %}
        <div class="row" id="loader_skyline">
            <div class="col s12">
                <a class="waves-effect waves-light btn-large blue darken-1 white-text center"
                   href="#"
                   id="load_more_skyline"
                   data-id="{{ last_pub.0.id }}"><i class=" material-icons left">expand_more</i>Cargar
                    comentarios</a>
                <div>
                    <img id="load_publications_image" src="{{ STATIC_URL }}img/ripple.gif"
                         title="Loading..."
                         alt="Loading..." style="display: none;">
                </div>
            </div>
        </div>
    {% endwith %}
{% endif %}