{% extends "account/base_interface.html" %}
{% comment %}
  Template para el perfil de cada usuario
{% endcomment %}
{% load app_filters %}
{% load avatar_tags %}
{% block title %} <title> Perfil de {{ user_profile.username }}</title> {% endblock %}
{% block include_files %}
<!-- Mostrar objetos al hacer scroll -->

{% endblock %}

{% block extra-js %}
  <script async src="{{STATIC_URL}}js/scrollReveal.js"></script>
  <script async src="{{STATIC_URL}}js/scrollReveal.min.js"></script>
  <script async src="{{STATIC_URL}}js/list.min.js"></script>
{% endblock %}

{% block extra-css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/comentarios.css" onload="if(media!='all')media='all'">
    <link rel="stylesheet" href="{{STATIC_URL}}css/colorbox.css" onload="if(media!='all')media='all'"> <!-- Estilos para la galeria de fotos -->
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/timeline.css" onload="if(media!='all')media='all'">
{% endblock %}

{% block content %}
<div class="container">
  <div class="col-lg-8 col-md-6 col-sm-12">
<!-- Contenedor principal, engloba el tablon, widgets... [IMPORTANTE]-->
    <div class="container">
    <!-- Para el diseño de la rama develop, se cambia col-md-6 por col-md-12 -->
        {% comment %} CARD USUARIO - FOTO PERFIL ETC...  {% endcomment %}
      {% include "account/card-user.html" %}
      {% comment %}
      PIN ARRIBA IZQUIERDA
      {% endcomment %}
        {% include "account/pin-left-top.html" %}
    <!-- PIN PEQUEÑO - 2 -->
        {% comment %}
        PIN ARRIBA DERECHA
        {% endcomment %}
        {% include "account/pin-right-top.html" %}

    </div>
      {% comment %}
        PIN ABAJO
      {% endcomment %}
    {% include "account/pin-bottom.html" %}

    <!-- Contenedor principal -->
    <div class="container">
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="container">
      <div class="col-lg-12">
         <nav class="ventana-pin">
           <a><i class="fa fa-times"></i></a>
           <a><i class="fa fa-expand"></i></a>
           <a><i class="fa fa-thumb-tack"></i></a>
         </nav>
      <div id="div-separator">
        <div class="sidebar card" id="tab-container">
          <ul class="unstyled table fullwidth links">
            <li class="tab" id="li-tab-timeline"><a href="#tab-timeline">timeline</a></li>
	    <li class="tab" id="li-tab-comentarios"><a href="#tab-comentarios">Comentarios</a></li>
            <li class="tab" id="li-tab-amigos"><a href="#tab-amigos">Seguidos</a></li>
          </ul>
          <div class="unstyled content" id="hood-tabs">
        {% comment %}
            Incluimos el tab timeline
        {% endcomment %}
        {% include "account/tab-timeline.html" %}
        {% comment %}
            Incluimos el tab comentarios
        {% endcomment %}
        {% include "account/tab-comentarios.html" %}
        {% comment %}
            Incluimos el tab amigos
        {% endcomment %}
        {% include "account/tab-amigos.html" %}
          {% comment %}
          <!-- COMIENZO ISSUE#11 -->
	          <li class="tab" id="li-tab-comentarios"><a href="#tab-comentarios">Comentarios</a></li>
            <li class="tab" id="li-tab-amigos"><a href="#tab-amigos">Amigos</a></li>
          </ul>
          <div class="unstyled content" id="hood-tabs">
        <div id="tab-timeline">
                    <div id="section">
                        <div class="wrapperx">
                        {% if isFriend == True or user.username == user_profile.username %}
                            {% for item in timeline %}
                            <div class="line" id="tim-{{ item.from_timeline__id }}" data-id="{{ user.pk }}">
                                <li>
                                    <div data-sr="wait 0.2s then scale up 30%" class="second">
                                        {% if user_profile.profile.image %}
                                        <span class="acontecimiento">
                                          <img style="border-radius: 100%; width: 100%; height:100%;" src="{{user_profile.profile.image.url}}"> </img>
                                        </span>
                                        {% else %}
                                        <span class="acontecimiento">
                                          <img style="border-radius: 100%; width: 100%; height:100%;" src="{{STATIC_URL}}img/nuevo.png"> </img>
                                        </span>
                                        {% endif %}
                                        <span class="head"><a href="/profile/{{item.user__username}}">{{item.user__username}}</a>  <a class="fecha_" target="_blank">{{item.from_timeline__insertion_date}}</a><em></em></span>
                                        <div id="p" class="parrafo comment">
                                                {{ item.from_timeline__content|replace_tags_mentions|safe}}
                                        </div>
                                        <div class="contenidoadicional">
                                            <!--<img src="http://archive.eusa.eu/files/News/2012/photoc-camera_w2.jpg" title="random_photo" alt="random_photo">-->
                                        </div>
                                        <div class="controles">
                                            <ul>
                                                <li class="fa fa-trash fa-lg"></li>
                                                <li class="fa fa-heart fa-lg"></li>
                                                <li class="fa fa-tag fa-lg"></li>
                                                <li class="fa fa-quote-left fa-lg"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </div>
                            {% endfor %}
                            {% else %}
                          <div class="cmt-hidden">
                          <h3>¡Agrega a {{user_profile.username}} para ver sus comentarios!</h3>
                          <br>
                          </div>
                          {% endif %}
                        </div>
                    </div>

            </div>
  <div id="tab-comentarios">
  {% if isFriend or user.username == user_profile.username %}
  {% if publications_top15|length == 0 %} <!-- Si el usuario no tiene comentarios, proponemos uno -->
    <div class="no-comments">
      <span class="no-comments-text-info">¡{{ user_profile.username }} no tiene comentarios!</span>
      <a id="compose-new-no-comments" class="no-comments-new-comment">
        <i class="fa fa-paper-plane fa-lg"></i>
      </a>
    </div>
  {% endif %}
  {% for pub in publications_top15 %}
  <div class="wrapper" id="pub-{{ pub.pk }}" data-id="{{ user.pk }}">
            <div class="box">
            <span id="check-{{item.from_publication__id}}" class="zoom-pub"><i class="fa fa-expand fa-lg"> </i></span>
            <!-- Check para ampliar el mensaje... -->
                  <div class="ampliado" id="expand-{{item.from_publication__id}}">
                      <div class="nombre_image">
                    <ul>
                      <li><i class="first">{{pub.author__first_name}} {{pub.author__last_name}}</i></li>
                      <li><a class="name" href="/profile/{{ item.author__username }}" >{{item.user__username}}</a></li>
                    </ul>
                    {% if pub.author__profile__image and pub.author__profile__image|file_exists %}
                     <img src="{{MEDIA_URL}}{{ pub.author__profile__image }}" alt="img" class="usr-img img-responsive"><!-- id es avatar-publication-->
                  {% else %}
                     <img src="{{STATIC_URL}}img/nuevo.png"  alt="img" class="usr-img img-responsive"> <!-- id es avatar-publication-->
                  {% endif %}
                      </div>

                    <div class="parrafo comment-tab">
                    <a target="_blank">{{ pub.created }}</a><br><br>
                        {{ pub.content|replace_tags_mentions|safe }}
                  </div>
                  <div class="text_area">
                      <textarea placeholder="Escribe tu mensaje..."></textarea>
                       <div class="botones_ampliado">
                        <button class="enviar_ampliado"><i class="fa fa-paper-plane"></i>Enviar</button>
                        <button class="cerrar_ampliado"><i class="fa fa-close"></i><label for="check-{{item.from_publication__id}}">Cerrar</label></button>
                        <button class="difundir_ampliado"><i class="fa fa-bullhorn"></i> Difundir mensaje</button>
                        <button class="foto_ampliado"><i class="fa fa-paperclip"></i> Añadir archivo</button>
                        <button class="localizacion_ampliado"><i class="fa fa-map-marker"></i> Añadir localización</button>
                       </div>
                  </div>
                  </div>
      <div class="image">
        {% if pub.author__profile__image and pub.author__profile__image|file_exists %}
        <img src="{{MEDIA_URL}}{{item.user__profile__image}}" alt="img" class="usr-img img-responsive"><!-- id es avatar-publication-->
          {% else %}
            <img src="{{STATIC_URL}}img/nuevo.png"  alt="img" class="usr-img img-responsive"> <!-- id es avatar-publication-->
              {% endif %}
            </div>
</div>

                <article class="articulo">
                  <h2 class="h22"><a href="/profile/{{ pub.author__username }}" >{{ pub.author__username }}</a> ha publicado:  </h2>
                    <!--<p>Padre del comentario con ID: {{ item.from_publication__replies }}</p>-->
                  <div class="parrafo comment">
                    <a target="_blank">{{pub.created}}</a><br>
                      <div class="wrp-comment">{{ pub.content|replace_tags_mentions|safe}}</div>
                  </div>
                    <div class="show-more">
                        <a href="#">+ Mostrar más</a>
                    </div>
              <!-- OPCIONES DE COMENTARIOS -->
                <div class="optiones_comentarios">
                    <ul class="opciones">
                        {% if user.is_authenticated and user.username == pub.author.username %} <!-- Si estamos visitando un perfil que no es el nuestro -->
                             <li title="Borrar comentario"><i class="fa fa-trash"></i></li>
                        {% elif user.username == user_profile.username %} <!-- Si estamos visitando nuestro propio perfil -->
                             <li title="Borrar comentario"><i class="fa fa-trash"></i></li>
                        {% endif %}
                        {% if pub.hates > 0 %}
                        <li title="No me gusta" class="fa-broken-heart"><i id="fa-hate" class="fa fa-heartbeat"> {{ item.from_publication__hates }}</i></li>
                        {% else %}
                        <li title="No me gusta" class="fa-broken-heart"><i id="fa-hate" class="fa fa-heartbeat"></i></li>
                        {% endif %}
                        {% if pub.likes > 0 %}
                            <li title="¡Me gusta!"><i id="like-heart" class="fa fa-heart"> {{ item.from_publication__likes }} </i></li>
                        {% else %}
                            <li title="¡Me gusta!"><i id="like-heart" class="fa fa-heart"></i></li>
                        {% endif %}
                       <li title="Citar"><i class="fa fa-quote-left">
                       </i></li>
                       <li title="Responder"><i class="fa fa-reply" id="reply-caja-comentario-{{ pub.pk }}"></i></li>
                       <li  title="Añadir a mi timeline"><i class="fa fa-tag"></i></li>
                    </ul>
                </div>
                </article>
                {% include "account/new_reply.html" %}
                <!-- RESPUESTAS A COMENTARIOS -->
                {% for reply in pub.replies %}
                <div class="comment-reply">
                  {{ reply }}
                </div>
                {% endfor %}
    </div>
    {% endfor %}

    {% else %}
        <div class="cmt-hidden">
          <h3>¡Agrega a {{user_profile.username}} para ver sus comentarios!</h3>
            <br>
        </div>
    {% endif %}
        </div>

        <div id="tab-amigos">
            <input class="search" type="search" placeholder="¿A quién buscas?" title="Search">
            <button class="sort" data-sort="name">
              Sort by name
            </button>
            <ul class="list">
                {% for item in friends_top12 %}
                  <li id="friend-{{item.user__id}}">
                  {% if item.user__profile__image and item.user__profile__image|file_exists %}
                     <img src="{{MEDIA_URL}}{{item.user__profile__image}}" class="usr-img img-responsive">
                  {% else %}
                     <img src="{{STATIC_URL}}img/nuevo.png" class="usr-img img-responsive">
                  {% endif %}
                  <a class="name" href="/profile/{{ item.user__username }}">{{item.user__first_name}} {{item.user__last_name}} ({{item.user__username}})</a>
                  </li>
                {% endfor %}
            </ul>
        </div>

          </div>
      </div>
      </div>
      </div>
      </div>
    <!-- FIN ISSUE#11 -->

    <!-- <div class="col-lg-12 col-sm-12 col-md-12"> -->
        <!-- <div class="weather card"> -->
     <!-- <div class="widget-right-down">
          <div class="current">
              <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="follower-card">
                <div class="follower-tab">
                  <div class="follower-tab-personas">
                  A quien seguir
                  </div>
                  <div class="follower-tab-grupos">
                  Grupos
                  </div>
                </div>
                  {% for item in listR %}
                      {% if item.username != user_profile.username %}
                 <div class="follower-sug">
                      {% if item.user__profile__image and item.user__profile__image|file_exists %}
                      <img  class="sug-user" src="{{MEDIA_URL}}{{item.user__profile__image}}">
                      <span class="name-sug">
                      <a class="random-sug" href="/profile/{{ item.username }}">{{item.user__first_name}} {{item.user__last_name}} ({{item.user__username}})</a>
                      <button class="add-sug"><i class="fa fa-plus"></i>Seguir</button>
                      </span>
                      {% else %}
                     <img class="sug-user" src="{{STATIC_URL}}img/nuevo.png">
                      <span class="name-sug">
                      <a class="random-sug" href="/profile/{{ item.username }}">{{item.user__first_name}} {{item.user__last_name}} ({{item.username}})</a>
                     <button class="add-sug"><i class="fa fa-plus"></i>Seguir</button>
                      </span>
                       {% endif %}
                      </div>
                      {% endif %}
                    {% endfor %}
                  </div>

              </div>

          </div>
  </div> -->
  {% endcomment %}
<!-- This contains the hidden content for inline calls -->
          {% comment %}
          GALERIA DE IMÁGENES DEL PERFIL
          {% endcomment %}
{% include "account/profile-gallery.html" %}

<!-- IGNORAR, SOLO MUESTRA OBJETOS AL HACER SCROLL -->
    <script async>

      window.sr = new scrollReveal(config);

    </script>

     <script async>
      var config = {
        easing: 'hustle',
        reset:  true,
        delay:  'once',
        vFactor: 0.60,
          viewport: document.getElementById('tab-timeline')
      };

      window.sr = new scrollReveal( config );

    </script>
    {% comment %}
    <script type="text/javascript">

   //first set the value you will be using.
   var STATIC_URL = "{{STATIC_URL}}"; // and anything else you need to set
   var MEDIA_URL = "{{MEDIA_URL}}";

   var requests = jQuery.parseJSON( '{{json_requestsToMe|safe}}' );
   var stopRequests = false;
   var idRequestsTimer = null;
   if(requests){
      idRequestsTimer = setInterval(function(){ if(requests.length > 0){ item = requests.pop();showRequest(item.id_profile, item.username); }else if(idRequestsTimer != null){ clearInterval(idRequestsTimer); } }, 1500);

    }
</script>
{% endcomment %}
<!-- Esto es para las menciones a usuarios -->
    <!--
<script type="text/javascript">
$(document).ready(function() {
  $.ajax({
    url: '/get_mentions/',
    type: 'POST',
    data: {
      'slug': $("#profileId").html(),
    },
    dataType: 'json',
    success: function(data) {
      $("#message2").mention({
          queryBy: ['name', 'username'],
          users: [{
              username: "sarah",
              name: "Sarah Jones",
              image: "http://placekitten.com/25/25"
          }, {
              username: "bigCat",
              name: "Scott Pfaff",
              image: "http://placekitten.com/25/25"
          }, {
              username: "coderDude",
              name: "Roger Penn",
              image: "http://placekitten.com/25/25"
          }]
      });
    },
    error: function(rs, e) {
      alert("No se puede.");
    }
  });
});

</script> -->
<!-- Busqueda en tab-amigos -->
<script async>
  var options = {
    valueNames: [ 'name' ],
    indexAsync : true
  };

  var userList = new List('tab-amigos', options);

</script>

  {% if liked == True %}

    <style type="text/css">
        #ilike_profile {
            color: #ec407a;
        }
    </style>


  {% endif %}

  {% if isFriend == True %}
    <script type="text/javascript">
    $('#addfriend').replaceWith('<span class="fa fa-remove" id="addfriend" title="Dejar de seguir" style="color: #29b203;" onclick=AJAX_requestfriend("noabort");>'+' '+'</div>');
    </script>
  {% endif %}

{% endblock %}
