{% extends "account/base_interface.html" %}
{% comment %}
Template para el perfil de cada usuario
{% endcomment %}
{% load app_filters %}
{% load avatar_tags %}
{% load static %}
{% load dash_tags %}
{% load user_guide_tags %}
{% load render_bundle from webpack_loader %}
{% block title %}Perfil de {{ user_profile.username }}{% endblock %}
{% block include_files %}
{% endblock %}

{% block extra-css %}
    <style>
        .card-content img {
            max-width: 100%;
            max-height: 100%;
            box-shadow: 0 1px 5px rgba(30, 136, 229, 0.15);
        }
    </style>

    {% if liked == True %}
        <style type="text/css">
            #ilike_profile {
                color: #ec407a;
            }
        </style>
    {% endif %}
{% endblock %}

{% block content %}

    <script src="{% static "js/profile.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery.easytabs.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery.hashchange.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/dash.js" %}" type="text/javascript"></script>
    <script src="{% static "js/draggable.bundle.js" %}" type="text/javascript"></script>
    <script src="{% static "js/plugins.js" %}" type="text/javascript"></script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            const containers = document.querySelectorAll('#id_main');
            const swappable = new window.Draggable.Swappable(containers, {
                draggable: '.plugin',
                mirror: {
                    constrainDimensions: true,
                },
                swapAnimation: {
                    duration: 200,
                    easingFunction: 'ease-in-out'
                },
                plugins: [Plugins.SwapAnimation]
            });
            var lastOverContainer;
            var source;
            var target;

            swappable.on('drag:start', (event) => {
                if (!$('html, body').hasClass('body-inConf')) {
                    event.cancel();
                }
                lastOverContainer = event.sourceContainer;
                source = event.data.originalSource;
            });

            swappable.on('swappable:swapped', (event) => {
                target = event.data.dragEvent.data.over;
                if (lastOverContainer === event.dragEvent.overContainer) {
                    return;
                }
                lastOverContainer = event.dragEvent.overContainer;
            });

            swappable.on('swappable:stop', (event) => {
                let source_id = source.dataset.id;
                source.dataset.id = target.dataset.id;
                target.dataset.id = source_id;
                var query = `mutation {
                              swapDashboardEntry(
                                input: {
                                  targetPosition: ` + source.dataset.id + `,
                                  sourcePosition: ` + target.dataset.id + `
                                }
                              ) {
                                source {
                                  id
                                },
                                target {
                                  id
                                }
                              }
                            }`;
                $.ajax({
                    method: "POST",
                    url: "/graphql",
                    contentType: "application/json",
                    data: JSON.stringify({
                        query: query
                    }),
                    success: function (data) {
                        if (data.errors) {
                            Materialize.toast("Hubo un error al intercambiar los widgets, prueba a intentarlo de nuevo.", 1200);
                        } else {
                            Materialize.toast("¡Tus widgets es han movido correctamente!", 1200);
                        }
                    }
                })

            });
        });
    </script>
    {% for script in js %}
        <script src="{% static script %}" type="text/javascript"></script>
    {% endfor %}

    <div class="container">
        {% if user_profile.is_active %}
            {% user_guide guide_tags=onboarding %}
            {% comment %}
        }
    Formulario para citar un comentario
    {% endcomment %}
            <div class="row">
                <div class="col l5 m12 12 default-div compose-div share-publication-div" id="share-publication-wrapper">
                    <div class="row">
                        <div class="col s12 title-page-wrapper">
                            <h4><i class="material-icons">format_quote</i> Citar publicacion</h4>
                            <h6>Comparte esta publicación con tus seguidores</h6>
                        </div>
                    </div>
                    <form id="share_publication_form" action="" method="post">{% csrf_token %}
                        {{ publication_shared.pk }}
                        <div class="row">
                            <div class="row">
                                <div class="input-field col s12">
                                    {{ publication_shared.content }}
                                    <label for="shared_comment_content">Escribe un comentario adicional</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <button type="submit" id="share_publication"
                                        class="waves-effect waves-light btn right blue">
                                    Citar<i class="material-icons right">send</i></button>
                                <button type="button" id="close_share_publication"
                                        class="waves-effect waves-light btn right transparent black-text">Cancelar<i
                                        class="material-icons right">close</i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                {% include "account/card-user.html" %}
            </div>
            <div class="row clearfix">
                <div class="col l4 m12 s12 push-l8">
                    <div class="row">
                        {% if request.user == user_profile %}
                            {% for placeholder in placeholders %}
                                <div id="{{ placeholder.html_id }}"
                                     class="placeholder">
                                    {{ placeholder.render_for_edit|safe }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% for placeholder in placeholders %}
                                <div id="{{ placeholder.html_id }}"
                                     class="placeholder">
                                    {{ placeholder.render_for_view|safe }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="col l8 m12 s12 pull-l4">
                    <div id="div-separator">
                        <div class="sidebar card" id="tab-container">
                            <ul class="unstyled table fullwidth links">
                                {% comment %}<li class="tab" id="li-tab-timeline"><a href="#tab-timeline">skyline</a></li>{% endcomment %}
                                <li class="tab" id="li-tab-comentarios"><a
                                        href="#tab-comentarios">skyline</a></li>
                                <li class="tab" id="li-tab-amigos"><a href="#tab-amigos">Seguidos</a></li>
                            </ul>
                            <div class="unstyled content" id="hood-tabs">
                                {% comment %}
                            Incluimos el tab timeline
                            {% include "account/tab-timeline.html" %}
                            {% endcomment %}
                                {% comment %}
                            Incluimos el tab comentarios
                            {% endcomment %}
                                <div id="tab-comentarios">
                                    {% comment %}
                                    <div class="btn-filters row">
                                        <div id="react">
                                        </div>
                                        <script>
                                            window.board_owner = {{ user_profile.id }};
                                        </script>
                                        {% render_bundle component %}
                                    </div>
                                    {% endcomment %}
                                    {% if publications|length == 0 %}
                                        <div class="no-comments" id="without-comments">
                                            <span class="no-comments-text-info">¡{{ user_profile.username }} no tiene comentarios!</span>
                                            {% if user_profile == user %}
                                                <a id="compose-self-new-no-comments"
                                                   class="no-comments-new-comment">
                                                    <i class="material-icons">send</i>
                                                </a>
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        {% include "account/profile_comments.html" %}
                                    {% endif %}
                                </div>
                                {% comment %}
                            Incluimos el tab amigos
                            {% endcomment %}
                                {% include "account/tab-amigos.html" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "dash/wrapper_add_plugin.html" %}
            </div>
            <script type="text/javascript">
                $('#tab-container').easytabs({
                    defaultTab: "#li-tab-comentarios",
                    animate: true,
                    animationSpeed: "fast",
                    updateHash: false
                });

                var infinite = new Waypoint.Infinite({
                    element: $('#list-publications'),
                    offset: 'bottom-in-view',
                    onBeforePageLoad: function () {
                        $('.loading_skyline').show();
                    },
                    onAfterPageLoad: function () {
                        $('.loading_skyline').hide();
                    }
                });

                var submitFollowed = false;
                $('#tab-container')
                    .bind('easytabs:after', function (evt, tab, panel, data) {
                        if (tab[0].text.toLowerCase() === 'seguidos') {
                            if (submitFollowed) return;
                            submitFollowed = true;
                            $.get("?page=1&qs=following", function (data, status) {
                                var $load_following = $('.load_following');
                                $load_following.show();
                                $('.followed-container').html($(data));
                                $load_following.hide();
                            }).always(function () {
                                submitFollowed = true;
                            });
                        } else if (tab[0].text.toLowerCase() === 'skyline') {
                        }
                    });

            </script>

            {% if user_profile == user %}
                <script>
                    $('#menu-hr').find('li:nth-child(1)').css('background-color', 'rgba(0,0,0,0.1)');
                </script>
            {% endif %}
            <script src="{% static "js/socket.js" %}"></script>
            <script>
                UTILS.init([{{ user.pk }}]);
                UTILS.conn_socket();
            </script>
            {% comment "Add follow to tab %}
Add follow to profile tab
{% endcomment %}
            {% if user_profile.id == user.id %}
                <script>
                    function addItemToFriendList(name, lastname, username, avatar_url) {
                        $("#tab-amigos").find("ul").append('<li>' + avatar_url + '<a>' + name + ' ' + lastname + ' (' + username + ')</a></li>');
                    }
                </script>
            {% endif %}
        {% else %}
            <h1 class="account-disabled">Cuenta desactivada.</h1>
        {% endif %}
{% endblock %}
