{% load decorators %}
{% load avatar_tags %}
{% load app_filters %}
{% load humanize %}
{% load embed_video_tags %}
<div id="list-publications" class="infinite-container">
    {% for node in publications %}
        <div class="row infinite-item wrapper" id="pub-{{ node.pk }}" data-id="{{ user.pk }}">
            <div class="col s12">
                <div class="col s12"
                     {% if node.level > 0 and node.level < 3 %}style="min-width: 98% !important;"{% endif %}>
                    <div class="box">
            <span id="check-{{ node.pk }}" class="top-options zoom-pub tooltipped" data-position="bottom"
                  data-delay="50"
                  data-tooltip="Ver conversación completa"><i class="material-icons md-18">open_in_new</i></span>
                        {% if user.id == node.author.id %}
                                <span data-id="{{ node.pk }}"
                                      class="top-options edit-comment tooltipped"
                                      data-position="bottom"
                                      data-delay="50"
                                      data-tooltip="Editar comentario"><i
                                        class="material-icons md-18">mode_edit</i></span>
                        {% endif %}
                        <div class="row">
                            <div class="articulo col s12">
                                <div class="row">
                                    <div class="image col l1 m2 s2"
                                         {% if user.id == node.author.id %}title="¡Eres el autor!"
                                         style="box-shadow: 0 1px 5px rgba(129, 199, 132, 1);"{% endif %}>
                                        <div class="usr-img img-responsive">{% avatar node.author %}</div>
                                    </div>
                                    <div class="col l10 m12 s9">
                                        <h2 class="h22"><a
                                                href="/profile/{{ node.author.username }}">@{{ node.author.username }}</a>
                                        </h2>
                                        <p class="blue-text text-darken-2 pub-created">{{ node.created|naturaltime }}</p>
                                        <div class="row publication-content">
                                            <div class="parrafo comment">
                                                <div class="wrp-comment">{{ node.content|safe }}</div>
                                            </div>
                                            <div class="show-more" id="show-comment-{{ node.pk }}">
                                                <a href="#">+ Mostrar más</a>
                                            </div>
                                        </div>
                                        {% if node.shared_publication %}
                                            {% if node.shared_publication.deleted %}
                                                <div class="row">
                                                    <div class="col s12 m5">
                                                        <div class="card-panel blue">
                                                            <span class="white-text">Esta publicación no está disponible.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                {% comment %} Para publicaciones que contienen citas {% endcomment %}
                                                <div class="card grey lighten-5">
                                                    <div class="card-content black-text">
                                                        {% avatar node.shared_publication.author %}<br>
                                                        <p class="card-title-md-18"><a
                                                                href="{% url 'user_profile:profile' node.shared_publication.author %}">@{{ node.shared_publication.author }}</a>
                                                            <i class="blue-textº text-darken-2"> {{ node.shared_publication.created|naturaltime }}</i>
                                                        </p>
                                                        <p>{{ node.shared_publication.content|safe }}</p>
                                                        {% with node.shared_publication.images.all as images %}
                                                            {% if images %}<br>
                                                                <div class="row">
                                                                    {% for image in images %}
                                                                        <div class="col s4">
                                                                            <img class="lazyload responsive-img z-depth-2"
                                                                                 data-src="{{ image.image.url }}"
                                                                                 alt="Imagen de: {{ node.author }}"
                                                                                 title="Imagen de: {{ node.author }}">
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                            {% endif %}
                                                        {% endwith %}
                                                        {% with node.shared_publication.videos.all as videos %}
                                                            {% if videos %}<br>
                                                                <div class="row">
                                                                    {% for video in videos %}
                                                                        <div class="col s4">
                                                                            <video class="responsive-video" controls
                                                                                   loop>
                                                                                <source src="{{ video.video.url }}"
                                                                                        type="video/mp4">
                                                                            </video>
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                            {% endif %}
                                                        {% endwith %}
                                                        {% if node.shared_publication.extra_content %}
                                                            {% comment %} Para publicaciones con URL {% endcomment %}
                                                            {% if  node.shared_publication.extra_content.video %}
                                                                {% video node.shared_publication.extra_content.video as my_video %}
                                                                {% video my_video "medium" %}
                                                                {% endvideo %}
                                                            {% else %}
                                                                <div class="card small">
                                                                    <div class="card-image">
                                                                        <img class="lazyload" data-src="
                                                                                {% if node.shared_publication.extra_content.image %}{{ node.shared_publication.extra_content.image }}{% else %}{{ STATIC_URL }}dist/img/nuevo_back.png{% endif %}">
                                                                        <span class="card-title white-text">{{ node.shared_publication.extra_content.title }}</span>
                                                                    </div>
                                                                    <div class="card-content">
                                                                        <p>{{ node.shared_publication.extra_content.description }}.</p>
                                                                    </div>
                                                                    <div class="card-action">
                                                                        <a href="{{ node.shared_publication.extra_content.url }}">Ver</a>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                    <div class="card-action">
                                                        <a class="blue-text text-darken-2"
                                                           href="/publication/{{ node.shared_publication.pk }}">Ver</a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        {% if node.shared_photo_publication %}
                                            {% if node.shared_photo_publication.deleted %}
                                                <div class="row">
                                                    <div class="col s12 m5">
                                                        <div class="card-panel blue">
                                                            <span class="white-text">Esta publicación no está disponible.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                {% comment %} Para publicaciones que contienen citas {% endcomment %}
                                                <div class="card grey lighten-5">
                                                    <div class="card-content black-text">
                                                        {% avatar node.shared_photo_publication.p_author %}<br>
                                                        <span class="card-title-md-18"><a
                                                                href="{% url 'user_profile:profile' node.shared_photo_publication.p_author %}">@{{ node.shared_photo_publication.p_author }}</a>
                                                        <i class="blue-text text-darken-2"> {{ node.shared_photo_publication.created|naturaltime }}</i></span>
                                                        <p>{{ node.shared_photo_publication.content|safe }}</p>
                                                        {% with node.shared_photo_publication.images.all as images %}
                                                            {% if images %}<br>
                                                                <div class="row">
                                                                    {% for image in images %}
                                                                        <div class="col s4">
                                                                            <img class="lazyload responsive-img z-depth-2"
                                                                                 data-src="{{ image.image.url }}"
                                                                                 alt="Imagen de: {{ node.author }}"
                                                                                 title="Imagen de: {{ node.author }}">
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                            {% endif %}
                                                        {% endwith %}
                                                        {% with node.shared_photo_publication.videos.all as videos %}
                                                            {% if videos %}<br>
                                                                <div class="row">
                                                                    {% for video in videos %}
                                                                        <div class="col s4">
                                                                            <video class="responsive-video" controls
                                                                                   loop>
                                                                                <source src="{{ video.video.url }}"
                                                                                        type="video/mp4">
                                                                            </video>
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                            {% endif %}
                                                        {% endwith %}
                                                        {% if node.shared_photo_publication.publication_photo_extra_content %}
                                                            {% comment %} Para publicaciones con URL {% endcomment %}
                                                            {% if node.shared_photo_publication.publication_photo_extra_content.video %}
                                                                {% video node.shared_photo_publication.publication_photo_extra_content.video as my_video %}
                                                                {% video my_video "medium" %}
                                                                {% endvideo %}
                                                            {% else %}
                                                                <div class="card small">
                                                                    <div class="card-image">
                                                                        <img class="lazyload" data-src="
                                                                                {% if node.shared_photo_publication.publication_photo_extra_content.image %}{{ node.shared_photo_publication.publication_photo_extra_content.image }}{% else %}{{ STATIC_URL }}dist/img/nuevo_back.png{% endif %}">
                                                                        <span class="card-title white-text">{{ node.shared_photo_publication.publication_photo_extra_content.title }}</span>
                                                                    </div>
                                                                    <div class="card-content">
                                                                        <p>{{ node.shared_photo_publication.publication_photo_extra_content.description }}.</p>
                                                                    </div>
                                                                    <div class="card-action">
                                                                        <a href="{{ node.shared_photo_publication.publication_photo_extra_content.url }}">Ver</a>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                    <div class="card-action">
                                                        <a class="blue-text text-darken-2"
                                                           href="/publication_pdetail/{{ node.shared_photo_publication.pk }}">Ver</a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        {% if node.shared_group_publication %}
                                            {% if node.shared_group_publication.deleted %}
                                                <div class="row">
                                                    <div class="col s12 m5">
                                                        <div class="card-panel blue">
                                                            <span class="white-text">Esta publicación no está disponible.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                {% comment %} Para publicaciones que contienen citas {% endcomment %}
                                                <div class="card grey lighten-5">
                                                    <div class="card-content black-text">
                                                        {% avatar node.shared_group_publication.author %}<br>
                                                        <p class="card-title-md-18"><a
                                                                href="{% url 'user_profile:profile' node.shared_group_publication.author %}">@{{ node.shared_group_publication.author }}</a>
                                                            <i class="blue-textº text-darken-2"> {{ node.shared_group_publication.created|naturaltime }}</i>
                                                        </p>
                                                        <p>{{ node.shared_group_publication.content|safe }}</p>
                                                        {% with node.shared_group_publication.images.all as images %}
                                                            {% if images %}<br>
                                                                <div class="row">
                                                                    {% for image in images %}
                                                                        <div class="col s4">
                                                                            <img class="lazyload responsive-img z-depth-2"
                                                                                 data-src="{{ image.image.url }}"
                                                                                 alt="Imagen de: {{ node.author }}"
                                                                                 title="Imagen de: {{ node.author }}">
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                            {% endif %}
                                                        {% endwith %}
                                                        {% with node.shared_group_publication.videos.all as videos %}
                                                            {% if videos %}<br>
                                                                <div class="row">
                                                                    {% for video in videos %}
                                                                        <div class="col s4">
                                                                            <video class="responsive-video" controls
                                                                                   loop>
                                                                                <source src="{{ video.video.url }}"
                                                                                        type="video/mp4">
                                                                            </video>
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                            {% endif %}
                                                        {% endwith %}
                                                        {% if node.shared_group_publication.extra_content %}
                                                            {% comment %} Para publicaciones con URL {% endcomment %}
                                                            {% if  node.shared_group_publication.extra_content.video %}
                                                                {% video node.shared_group_publication.extra_content.video as my_video %}
                                                                {% video my_video "medium" %}
                                                                {% endvideo %}
                                                            {% else %}
                                                                <div class="card small">
                                                                    <div class="card-image">
                                                                        <img class="lazyload" data-src="
                                                                                {% if node.shared_group_publication.extra_content.image %}{{ node.shared_group_publication.extra_content.image }}{% else %}{{ STATIC_URL }}dist/img/nuevo_back.png{% endif %}">
                                                                        <span class="card-title white-text">{{ node.shared_group_publication.extra_content.title }}</span>
                                                                    </div>
                                                                    <div class="card-content">
                                                                        <p>{{ node.shared_group_publication.extra_content.description }}.</p>
                                                                    </div>
                                                                    <div class="card-action">
                                                                        <a href="{{ node.shared_group_publication.extra_content.url }}">Ver</a>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                    <div class="card-action">
                                                        <a class="blue-text text-darken-2"
                                                           href="{% url "publications_groups:detail_group_publication" pk=node.shared_group_publication.pk %}">Ver</a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        {% with node.images.all as images %}
                                            {% if images %}
                                                <div class="row images">
                                                    {% for image in images %}
                                                        <div class="col s4 z-depth-2 center">
                                                            <img class="lazyload responsive-img"
                                                                 data-src="{{ image.image.url }}"
                                                                 alt="Imagen de: {{ node.author }}"
                                                                 title="Imagen de: {{ node.author }}">
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        {% endwith %}
                                        {% with node.videos.all as videos %}
                                            {% if videos %}
                                                <div class="row videos">
                                                    {% for video in videos %}
                                                        <div class="col s4 z-depth-2 center">
                                                            <video class="responsive-video" controls loop>
                                                                <source src="{{ video.video.url }}" type="video/mp4">
                                                            </video>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        {% endwith %}
                                        {% if node.extra_content %}
                                            {% if node.extra_content.video %}
                                                {% video node.extra_content.video as my_video %}
                                                {% video my_video "medium" %}
                                                {% endvideo %}
                                            {% else %}
                                                {% comment %} Para publicaciones con URL {% endcomment %}
                                                <div class="card small">
                                                    <div class="card-image">
                                                        <img class="lazyload" data-src="
                                                                {% if node.extra_content.image %}{{ node.extra_content.image }}{% else %}{{ STATIC_URL }}dist/img/nuevo_back.png{% endif %}">
                                                        <span class="card-title white-text">{{ node.extra_content.title }}</span>
                                                    </div>
                                                    <div class="card-content">
                                                        <p>{{ node.extra_content.description }}</p>
                                                    </div>
                                                    <div class="card-action">
                                                        <a href="{{ node.extra_content.url }}">Ver</a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="divider"></div>
                            <!-- OPCIONES DE COMENTARIOS -->
                            <div class="options_comentarios">
                                <ul class="opciones">
                                    {% if user.id == node.author.id or user.id == user_profile.id %}
                                        {% comment %} Si estamos visitando un perfil que no es el nuestro {% endcomment %}
                                        <li class="trash-comment" title="Borrar comentario"><i
                                                class="material-icons md-18">delete_forever</i>
                                        </li>
                                    {% endif %}
                                    {% comment %} Si el usuario esta logueado {% endcomment %}
                                    {% with node.user_give_me_hate.all as hates %}
                                        <li title="No me gusta" class="hate-comment" {% if user in hates %}
                                            style="color: rgb(186, 104, 200);"{% endif %}>
                                            <i class="material-icons md-18">keyboard_arrow_down</i>
                                            <i class="hate-value">{% if hates|length > 0 %}
                                                {{ hates|length|intword }}{% endif %}</i>
                                        </li>
                                    {% endwith %}
                                    {% with node.user_give_me_like.all as likes %}
                                        <li title="¡Me gusta!" class="like-comment"
                                            {% if user in likes %}style="color: rgb(240, 98, 146);"{% endif %}>
                                            <i class="material-icons md-18">keyboard_arrow_up</i>
                                            <i class="like-value">{% if likes|length > 0 %}
                                                {{ likes|length|intword }}{% endif %}</i>
                                        </li>
                                    {% endwith %}
                                    <li id="share-{{ node.pk }}" data-id="{{ node.pk }}"
                                        class={% if node.id in pubs_shared_with_me %}"remove-timeline"
                                        title="Eliminar de mi skyline" {% else %}"add-timeline" title="Añadir a mi
                                            skyline" {% endif %}
                                    >
                                    <i class="material-icons md-18">format_quote</i>
                                    <i class="share-values"> {{ pubs_shared|lookup:node.id|intword }}</i>
                                    </li>
                                    <li title="Responder" class="reply-comment"
                                        id="reply-caja-comentario-{{ node.pk }}">
                                        <i class="material-icons md-18">reply</i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% if user.id == node.author.id %}
                            <div data-user-id="{{ node.author.pk }}" id="author-controls-{{ node.pk }}"
                                 class="author-controls">
                                <div class="row">
                                    <div class="col s12">
                                        <form method="post" accept-charset="utf-8">{% csrf_token %}
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <input type="number" name="pk" required value="{{ node.pk }}"
                                                           hidden>
                                                    <i class="material-icons prefix">create</i>
                                                    <textarea class="materialize-textarea"
                                                              placeholder="Escribe el contenido del nuevo mensaje"
                                                              id="id_caption-{{ node.pk }}" cols="40" maxlength="500"
                                                              name="content" rows="10" required="required"
                                                              style="height: 11px;"></textarea>
                                                    <label for="id_caption-{{ node.pk }}">Editar comentario</label>
                                                </div>
                                                <div class="row">
                                                    <button
                                                            class="waves-effect waves-light btn blue darken-1 right edit-comment-btn"
                                                            type="button">Editar
                                                        <i class="material-icons right">mode_edit</i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                    {% endif %}
                    <div class="wrapper-reply">
                        {% include "account/new_reply.html" %}
                    </div>
                    {% if not node.is_leaf_node %}
                        <ul class="children">
                            {{ children }}
                        </ul>
                        <div class="row">
                            <div class="col s12">
                                {% with node.get_children_count as descendants %}
                                    {% if descendants > 0 %}
                                        <a class="waves-effect waves-light btn-large blue darken-1 white-text center load_more_publications"
                                           href="#"
                                           data-id="{{ node.id }}" data-created="{{ node.created|date:"U" }}"><i
                                                class=" material-icons left">expand_more</i>Cargar
                                            comentarios (<span
                                                    class="child_count">{{ descendants }}</span>)</a>
                                    {% endif %}
                                {% endwith %}
                                <div>
                                    <div class="progress load_publications_descendants" style="display: none">
                                        <div class="indeterminate blue darken-1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% if publications.has_next %}
    <a class="infinite-more-link waves-effect waves-light btn-large blue darken-1 white-text center"
       href="?page={{ publications.next_page_number }}&qs=publications">More</a>
{% endif %}
<div class="progress loading_skyline" style="display: none">
    <div class="indeterminate blue darken-1"></div>
</div>
