{% extends "account/base_interface.html" %}
{% load decorators %}
{% load avatar_tags %}
{% load app_filters %}
{% load humanize %}
{% load mptt_tags %}
{% load embed_video_tags %}
{% load compress %}
{% block extra-css %}
    {% compress css%}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/comentarios.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/publication_detail.css">
    {% endcompress %}
{% endblock %}
{% block title %} <title> Skyfolk - Publicacion #{{ publication_id }}</title> {% endblock %}
{% block content %}
    <style>
        .card-content img {
            max-width: 100%;
            max-height: 100%;
            box-shadow: 0 1px 5px rgba(30, 136, 229, 0.15);
        }

        .comment .fa-share {
            color: #1e88e5;
            font-style: normal;
        }
        .comment .fa-user-plus {
            color: #1e88e5;
            font-style: normal;
        }
    </style>

    <div class="container" id="publication-thread">
        {% comment %}
            Formulario para citar un comentario
        {% endcomment %}
        <div class="row">
            <div class="col l5 m12 12 default-div compose-div share-publication-div" id="share-publication-wrapper"
                 data-id="" hidden>
                <div class="row">
                    <div id="status" class="col s12 title-page-wrapper">
                        <h4><i class="fa fa-quote-right" aria-hidden="true"></i> Citar publicacion</h4>
                        <h6>Comparte esta publicación con tus seguidores</h6>
                    </div>
                </div>
                <form id="share_publication_form" action="" method="post">{% csrf_token %}
                    <div class="row">
                        <div class="row">
                            <div class="input-field col s12">
                                {{ publication_shared.content }}
                                <label for="shared_comment_content">Escribe un comentario adicional</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button type="submit" id="share_publication"
                                    class="waves-effect waves-light btn right blue">
                                Citar<i class="material-icons right">send</i></button>
                            <button type="button" id="close_share_publication"
                                    class="waves-effect waves-light btn right transparent black-text">Cancelar<i
                                    class="material-icons right">close</i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% recursetree publication %}
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="col offset-l1 {% if node.is_root_node %}l10 m12 s12 {% else %}l9 m11 s11{% endif %} wrapper"
                             id="pub-{{ node.pk }}"
                             data-id="{{ user.pk }}"
                             {% if not node.is_root_node %}style="border-right: 2px solid #1e88e5;" {% endif %}>
                            <div class="row">
                                <div class="image col l2 m2 s2">
                                    <div class="usr-img img-responsive">{% avatar node.author %}</div>
                                </div>
                                <div class="articulo col s9">
                                    <h2 class="author-header"><a
                                            href="/profile/{{ node.author.username }}">@{{ node.author.username }}</a>
                                        {% if node.parent %}
                                            <span class="chip">
                                                        {% avatar node.parent.author %}
                                                        <i class="fa fa-reply"></i> <a
                                                    href="/publication/{{ node.parent.id }}">{{ node.parent.content|safe|truncatechars_html:80 }}</a>
                                                </span>
                                        {% endif %}
                                    </h2>
                                    <div class="row">
                                        <div class="parrafo comment">
                                            <p id="pub-created"
                                               class="blue-text text-darken-2">{{ node.created|naturaltime }}</p>
                                            <div class="wrp-comment">{{ node.content|safe }}</div>
                                        </div>
                                        <div class="show-more" id="show-comment-{{ node.pk }}">
                                            <a href="#">+ Mostrar más</a>
                                        </div>
                                    </div>
                                    
                                    {% if node.shared_publication %}
                                        
                                        <div class="card grey lighten-5">
                                            <div class="card-content black-text">
                                                {% avatar node.shared_publication.author %}<br>
                                                <span class="card-title"><a
                                                        href="{% url 'user_profile:profile' node.shared_publication.author %}">@{{ node.shared_publication.author }}</a>
                                                        <i class="blue-text text-darken-2"> {{ node.shared_publication.created|naturaltime }}</i></span>
                                                <p>{{ node.shared_publication.content|safe }}</p>
                                                {% with node.shared_publication.images.all as images %}
                                                        {% if images %}<br>
                                                        <div class="row">
                                                        {% for image in images %}
                                                            <div class="col s4">
                                                                <img class="responsive-img z-depth-2 lazyload" data-src="{{image.image.url}}" alt="Imagen de: {{ node.author }}" title="Imagen de: {{ node.author }}">
                                                            </div>
                                                        {% endfor %}
                                                        </div>
                                                        {% endif %}
                                                    {% endwith %}
                                                        {% with node.shared_publication.videos.all as videos %}
                                                            {% if videos %}<br>
                                                                <div class="row">
                                                             {% for video in videos %}
                                                                 <div class="col s4">
                                                                     <video class="responsive-video" controls loop>
                                                                         <source src="{{ video.video.url }}" type="video/mp4">
                                                                     </video>
                                                                 </div>
                                                            {% endfor %}
                                                                </div>
                                                            {% endif %}
                                                        {% endwith %}
                                                {% if node.shared_publication.extra_content %}
                                                    {% comment %} Para publicaciones con URL {% endcomment %}
                                                     {% if node.shared_publication.extra_content.video %}
                                                         {% video node.shared_publication.extra_content.video as my_video %}
                                                           {% video my_video "medium" %}

                                                           {% endvideo %}
                                                     {% else %}
                                                    <div class="card small">
                                                        <div class="card-image">
                                                            <img class="lazyload" data-src="
                                                                    {% if node.shared_publication.extra_content.image %}{{ node.extra_content.image }}{% else %}{{ STATIC_URL }}dist/img/nuevo_back.png{% endif %}">
                                                            <span class="card-title white-text">{{ node.shared_publication.extra_content.title }}</span>
                                                        </div>
                                                        <div class="card-content">
                                                            <p>{{ node.shared_publication.extra_content.description }}.</p>
                                                        </div>
                                                        <div class="card-action">
                                                            <a href="{{ node.shared_publication.extra_content.url }}">Ver</a>
                                                        </div>
                                                    </div>
                                                     {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="card-action">
                                                <a class="blue-text text-darken-2"
                                                   href="/publication/{{ node.shared_publication.pk }}">Ver</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% if node.shared_photo_publication %}
                                            {% comment %} Para publicaciones que contienen citas {% endcomment %}
                                            <div class="card grey lighten-5">
                                                <div class="card-content black-text">
                                                    {% avatar node.shared_photo_publication.p_author %}<br>
                                                    <span class="card-title"><a
                                                            href="{% url 'user_profile:profile' node.shared_photo_publication.p_author %}">@{{ node.shared_photo_publication.p_author }}</a>
                                                        <i class="blue-text text-darken-2"> {{ node.shared_photo_publication.created|naturaltime }}</i></span>
                                                    <p>{{ node.shared_photo_publication.content|safe }}</p>
                                                    {% with node.shared_photo_publication.images.all as images %}
                                                        {% if images %}<br>
                                                        <div class="row">
                                                        {% for image in images %}
                                                            <div class="col s4">
                                                                <img class="responsive-img z-depth-2 lazyload" data-src="{{image.image.url}}" alt="Imagen de: {{ node.author }}" title="Imagen de: {{ node.author }}">
                                                            </div>
                                                        {% endfor %}
                                                        </div>
                                                        {% endif %}
                                                    {% endwith %}
                                                        {% with node.shared_photo_publication.videos.all as videos %}
                                                            {% if videos %}<br>
                                                                <div class="row">
                                                             {% for video in videos %}
                                                                 <div class="col s4">
                                                                     <video class="responsive-video" controls loop>
                                                                         <source src="{{ video.video.url }}" type="video/mp4">
                                                                     </video>
                                                                 </div>
                                                            {% endfor %}
                                                                </div>
                                                            {% endif %}
                                                        {% endwith %}
                                                    {% if node.shared_photo_publication.extra_content %}
                                                        {% comment %} Para publicaciones con URL {% endcomment %}
                                                        {% if node.shared_photo_publication.extra_content.video %}
                                                        {% video node.shared_photo_publication.extra_content.video as my_video %}
                                                           {% video my_video "medium" %}
                                                        {% endvideo %}
                                                        {% else %}
                                                        <div class="card small">
                                                            <div class="card-image">
                                                                <img class="lazyload" data-src="{% if node.shared_photo_publication.extra_content.image %}{{ node.shared_photo_publication.extra_content.image }}{% else %}{{ STATIC_URL }}dist/img/nuevo_back.png{% endif %}">
                                                                <span class="card-title white-text">{{ node.shared_photo_publication.extra_content.title }}</span>
                                                            </div>
                                                            <div class="card-content">
                                                                <p>{{ node.shared_photo_publication.extra_content.description }}.</p>
                                                            </div>
                                                            <div class="card-action">
                                                                <a href="{{ node.shared_photo_publication.extra_content.url }}">Ver</a>
                                                            </div>
                                                        </div>
                                                            {% endif %}
                                                    {% endif %}
                                                </div>
                                                <div class="card-action">
                                                    <a class="blue-text text-darken-2"
                                                       href="/publication/{{ node.shared_publication.publication.pk }}">Ver</a>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% with node.images.all as images %}
                                            {% if images %}
                                            <div class="row">
                                            {% for image in images %}
                                                <div class="col s4 z-depth-2">
                                                    <img class="responsive-img lazyload" data-src="{{image.image.url}}" alt="Imagen de: {{ node.author }}" title="Imagen de: {{ node.author }}">
                                                </div>
                                            {% endfor %}
                                            </div>
                                            {% endif %}
                                        {% endwith %}
                                {% with node.videos.all as videos %}
                                        {% if videos %}
                                            <div class="row">
                                         {% for video in videos %}
                                            <div class="col s4 z-depth-2 center">
                                                    <video class="responsive-video" controls loop>
                                                        <source src="{{ video.video.url }}" type="video/mp4">
                                                    </video>
                                            </div>
                                        {% endfor %}
                                            </div>
                                        {% endif %}
                                    {% endwith %}
                                    {% if node.extra_content %}
                                        {% comment %} Para publicaciones con URL {% endcomment %}
                                        {% if node.extra_content.video %}
                                            {% video node.extra_content.video as my_video %}
                                               {% video my_video "medium" %}
                                            {% endvideo %}
                                        {% else %}
                                        <div class="card small">
                                            <div class="card-image">
                                                <img class="lazyload" data-src="
                                                        {% if node.extra_content.image %}{{ node.extra_content.image }}{% else %}{{ STATIC_URL }}dist/img/nuevo_back.png{% endif %}">
                                                <span class="card-title white-text">{{ node.extra_content.title }}</span>
                                            </div>
                                            <div class="card-content">
                                                <p>{{ node.extra_content.description }}</p>
                                            </div>
                                            <div class="card-action">
                                                <a href="{{ node.extra_content.url }}">Ver</a>
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="divider"></div>
                                <div class="options_comentarios col s12" id="options-comments">
                                    <ul class="opciones">
                                        {% if user.id == node.author.id %}
                                            {% comment %} Si estamos visitando un perfil que no es el nuestro {% endcomment %}
                                            <li class="trash-comment" title="Borrar comentario"><i
                                                    class="fa fa-trash"></i>
                                            </li>
                                        {% elif user.id == node.author.id %}
                                            {% comment %} Si estamos visitando nuestro propio perfil {% endcomment %}
                                            <li class="trash-comment" title="Borrar comentario"><i
                                                    class="fa fa-trash"></i>
                                            </li>
                                        {% endif %}
                                        {% comment %} Si el usuario esta logueado {% endcomment %}
                                        {% with node.user_give_me_hate.all as hates %}
                                            <li title="No me gusta" class="hate-comment" {% if user in hates %} style="color: rgb(186, 104, 200);"{% endif %}
                                                >
                                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                                                <i class="fa hate-value">{% if hates|length > 0 %} {{ hates|length|intword }}{% endif %}</i>
                                            </li>
                                        {% endwith %}
                                        {% with node.user_give_me_like.all as likes %}
                                            <li title="¡Me gusta!" class="like-comment"{% if user in likes %}style="color: rgb(240, 98, 146);"{% endif %}
                                                >
                                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                                                <i class="fa like-value"> {% if likes|length > 0 %} {{ likes|length|intword }}{% endif %}</i>
                                            </li>
                                        {% endwith %}
                                            <li title="Añadir a mi skyline" id="share-{{node.id}}" data-id="{{ node.pk }}" class="add-timeline"
                                            ><i
                                                class="fa fa-quote-right" aria-hidden="true"> </i></li>
                                        <li title="Responder" class="reply-comment"><i class="fa fa-reply"
                                                                                       id="reply-caja-comentario-{{ node.pk }}"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {% with publication as pub %}
                                {% include "account/new_reply_extend_publication.html" %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
                {% if not node.is_leaf_node %}
                    <ul class="children">
                        {{ children }}
                    </ul>
                {% endif %}
            </div>
        {% endrecursetree %}
    </div>
    <script src="{{ STATIC_URL }}js/publication_detail.js" type="text/javascript"></script>
    <script>
    {% for s in pubs_shared %}
        $('#share-' + {{ s.shared_publication__id }}).children().text(' ' + {{ s.total }});
    {% endfor %}
    {% for m in pubs_shared_with_me %}
        $('#share-' + {{ m.shared_publication__id }}).attr('class', 'remove-timeline').css('color', '#bbdefb');
    {% endfor %}
    </script>
{% endblock %}
