{% extends 'account/nuevosusuarios.html' %}
<!-- Extendemos la base de "nuevosusuarios.html" -->
{% load avatar_tags %} {% load app_filters %} {% block title %}
    <title>¡Bienvenido a Skyfolk! - Paso 1 ({{ user }})</title>
{% endblock %}

<body>
{% block content %}
    <div class="wrapper white z-depth-1">
        <div class="col s12 m12 l12 title">
            <h5 class="grey-text darken-1 center-align">Puedes empezar siguiendo a estos perfiles... </h5>
        </div>
        <div class="row">
        {% if object_list %}
            {% for item in object_list %}
                <div class="col s12 m12 l4">
                    <div class="card white">
                        <div class="card-content" {% if item.back_image %}style="background: url({{ item.back_image.url }}) top center repeat-y; background-size: 100%" {% endif %}>
                            {% avatar item.user %}
                            <span class="card-title grey-text darken-1">
                                <a href="/profile/{{ item.user.username }}">{{ item.user.username }}</a>
                            </span>
                            <div class="divider"></div>
                            <br> {% for tag in item.user.id|get_tags %}
                            <div class="chip">{{ tag.title }}</div>
                        {% endfor %}
                        </div>
                        <div class="card-action right-align">
                            {% if user.id|is_blocked:item.user.id %}
                                <button data-user-id="{{ item.user.id }}"
                                        class="btn waves-effect waves-light blue darken-1 unblock-user" type="submit">
                                    Desbloquear
                                </button>
                            {% elif user.id|exist_request:item.user.id %}
                                <button data-user-id="{{ item.user.id }}"
                                        class="btn waves-effect waves-light blue darken-1 follow_request" type="submit">
                                    Solicitud enviada
                                </button>
                            {% else %}
                                <button data-user-id="{{ item.user.id }}"
                                        class="btn waves-effect waves-light blue darken-1 follow-user" type="submit">
                                    {% if user.id|is_follow:item.user.id %}Dejar de seguir {% else %}
                                        Seguir{% endif %}</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% else %}
            <p class="center">No hemos podido encontrar a nadie con tus intereses, ¡debes ser muy especial!</p>
        {% endif %}
            <div class="row">
                <div class="col s12">
                    <div class="divider"></div>
                    <br>
                    <div class="col s12 left">
                        <a href="{% url 'user_profile:profile' username=user_profile %}"
                           class="waves-effect waves-light btn right blue darken-1">He acabado</a>
                    </div>
                </div>
            </div>
        </div>
        {{ pagination|safe }}
    </div>
{% endblock %}
</body>
