{% load app_filters %}
{% load avatar_tags %}
{% load static %}
{% for item in friends_top4 %}
    <div class="col l3 m10 s12 offset-m1">
        <div class="personal-card">
            <div class="row">
                <div class="col s12">
                    <div class="header">
                        {% if item.profile.back_image %}
                            <img class="back-profile-user lazyload" data-src="{{ item.profile.back_image.url }}">
                        {% else %}
                            <img class="back-profile-user lazyload" data-src="{% static "img/nuevo_back.png" %}">
                        {% endif %}
                        <i class="material-icons like-him">person</i>
                        <div class="bg-user">
                            <div onclick="location.href='/profile/{{ item.username }}'"
                                 class="profile-user-bg">{% avatar item.username %}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="name-friend">
                        <a href="/profile/{{ item.username }}">@{{ item.username }} </a><br><br>
                        <p>{{ item.first_name }} {{ item.last_name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

