{% extends 'account/base_interface.html' %}
{% comment %}
Template para los seguidores de un perfil
{% endcomment %}
{% block title %}<title>{% if url_name == "followers" %}Seguidores de{% else %}
    Seguidos{% endif %} {{ username }}</title> {% endblock %}
{% block extra-css %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/amigos.css">
{% endblock %}
{% block content %}
<div class="container"> 
    <div class="row"> 
        <div class="col l12 m10 s12 container-responsive">
            {% if user.username == username %}
            <div class="row">
                <div id="by_affinity">
                    
                </div>
                <div class="divider"></div>
            </div>
            {% endif %}
            <div class="row">
                {% include "account/relations_page.html" %}
            </div>
        </div>
    </div>
    {% if pagination %}
        {{ pagination|safe }}
    {% endif %}
</div>
<script src="{{ STATIC_URL }}js/friends.js"></script>
{% if url_name == "following" %}
<script>
    $('#menu-hr').find('li:nth-child(3)').css('background-color', 'rgba(0,0,0,0.1)');
</script>
{% endif %}
<script src="{{ STATIC_URL }}js/{{ component }}"></script>
{% endblock %}
