{% extends 'account/base_search.html' %}
{% load app_filters %}
{% load avatar_tags %}
{% block title %} <title>Búsqueda en Skyfolk.</title> {% endblock %}


{% block content %}
<div class="container">
<div class="col-lg-12 col-md-10 col-sm-12">
  {% if resultSearch|length == 0 and resultMessages|length == 0 %}
  <div class="col-sm-4">
  	   <div id="search-noelements">
         <h5 class="">Sin resultados :-(</h5>
         <i class="not-query">No se obtuvo ningún resultado para:
           {% for word in words %}
            {{ word }}
           {% endfor %}
        </i>
      </div>
    </div>
  {% else %}
  <h2 class="account-search">Cuentas</h2>
  {% for item in resultSearch %}
<div class="col-lg-3 col-md-5 col-sm-12">
    <div class="personal-card">
        <div class="col-lg-12">
            <div class="header">
                {% if item.profile.backImage %}
                <img class="back-profile-user" src="{{ item.profile.backImage.url }}">
                   {% else %}
                   <img class="back-profile-user" src="{{ STATIC_URL }}img/backgrounds/5.jpg">
                {% endif %}
                <i class="fa fa-user fa-2x like-him">
                </i>
                <div class="bg-user">
                    <div onclick="location.href='/profile/{{ item.username }}'" class="profile-user-bg">{% avatar item %}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="name-friend">
            <p>{{ item.username }}</p><br>
                <p>{{ item.first_name }} {{item.last_name}}</p>
            </div>

        </div>
    </div>
</div>
{% endfor %}
    </div>
 {% endif %}
    {% if resultMessages|length == 0 %}
    {% else %}
    <div class="col-lg-12 col-md-10 col-sm-12">
    <h2 class="messages-search">Publicaciones</h2>
    {% for pub in resultMessages %}
        {% if request.user.username|check_follow:pub.author.username %} {% comment 'Check privacity' %} Comprobamos la privacidad del autor del mensaje {% endcomment %}
   <div class="col-lg-3 col-md-5 col-sm-12 pub-search">
    <div class="personal-card">
        <div class="col-lg-12">
            <div class="header">
                {% if pub.author.profile.backImage %}
                   <img class="back-profile-user" src="{{ pub.author.profile.backImage.url }}">
                   {% else %}
                   <img class="back-profile-user" src="{{ STATIC_URL }}img/backgrounds/5.jpg">
                {% endif %}
                <div class="bg-user">
                    <div onclick="location.href='/profile/{{ pub.author.username }}'" class="profile-user-bg">{% avatar pub.author %}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-12 col-md-12 col-sm-12 pub-author">
                <a href="/profile/{{ pub.author.username }}">@{{ pub.author.username }}</a>
                <i> ({{ pub.author.first_name}} {{ pub.author.last_name }})</i>
              </div>
            <div class="col-lg-12 col-md-12 col-sm-12 comm">
                    <p class="pub-content">{{ pub.content|safe }}</p>
            </div>
        </div>
    </div>
</div>{% endif %}
{% endfor %}
 {% endif %}
 </div>
{% comment %}
{% block messages %}
	<!-- Permite mostrar el form para enviar mensajes -->
{% if user.is_authenticated %}
  <div id="page-wrapper" style="display:none;">
      <h1> </h1>
    <div id="status">to {{ user_profile.username }}</div>
    <form id="message-form2" action="" method="post">{% csrf_token %}

      {{publicationForm.as_p}}
      <input type="text" name="userprofileid" value="{{ user_profile.pk }}" hidden>
      <input type="text" name="emitterid" value="{{ user.pk }}" hidden>
        <button type="submit" id="sendformpubli"><i class="fa fa-paper-plane"> </i> Enviar</button>
        <!--  <input type="submit" id="sendformpubli" value="Submit Feedback" /> -->
        <button type="button" id="close"><i class="fa fa-remove"> </i> Cerrar</button>
        <button class="fontawesome-bullhorn"><i class="fa fa-bullhorn"> </i></button>
        <button class="fontawesome-camera"><i class="fa fa-camera"> </i></button>
        <button class="fontawesome-map-marker"><i class="fa fa-map-marker"> </i></button>

    </form>
  </div>
{% endif %}
{% endblock %}{% endcomment %}
{% endblock %}
</div>
