{% load decorators %}
{% load avatar_tags %}
{% load app_filters %}
{% load humanize %}
{% load embed_video_tags %}
{% load group_utils %}
{% load emoji_tags %}
{% load static %}

{% if shared_publication %}
{% if shared_publication.deleted %}
<div class="row">
    <div class="col s12 m5">
        <div class="card-panel blue">
            <span class="white-text">Esta publicación no está disponible.</span>
        </div>
    </div>
</div>
{% else %}
{% comment %} Para publicaciones que contienen citas {% endcomment %}
<blockquote class="z-depth-2">
    <div class="row info-publication">
        <div class="col s12">
            <div class="chip">
                {% avatar shared_publication.author 60 %}
                <a href="{% url 'user_profile:profile' shared_publication.author %}">@{{ shared_publication.author }}</a>
            </div>
            <br><br>
            <p class="blue-text">{{ shared_publication.created|naturaltime }}{% if shared_publication.edition_date %}<i> - Editado</i>{% endif %}</p>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col s12">
            <p>{{ shared_publication.content|safe|emoji_replace }}</p>
        </div>
        <div class="col s12">
            {% with shared_publication.images.all as images %}
            {% if images %}<br>
            <div class="row">
                {% for image in images %}
                {% if image.image %}
                <div class="col l4 s12">
                    <img class="lazyload materialboxed responsive-img z-depth-2"
                    data-src="{{ image.image.url }}"
                    alt="Imagen de: {{ author }}"
                    title="Imagen de: {{ author }}">
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            {% with shared_publication.videos.all as videos %}
            {% if videos %}<br>
            <div class="row">
                {% for video in videos %}
                {% if video.video %}
                <div class="col s4">
                    <video class="responsive-video" controls
                    loop>
                    {% if video.video %}
                    <source src="{{ video.video.url }}"
                    type="video/mp4">
                    {% endif %}
                </video>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        {% if shared_publication.extra_content %}
        {% comment %} Para publicaciones con URL {% endcomment %}
        {% if  shared_publication.extra_content.video %}
        {% video shared_publication.extra_content.video as my_video %}
        {% video my_video "100% x 100%" %}
        {% endvideo %}
        {% else %}
        <div class="card small">
            <div class="card-image">
                <img class="lazyload" data-src="
                {% if shared_publication.extra_content.image %}{{ shared_publication.extra_content.image }}{% else %}{% static "dist/img/nuevo_back.jpg" %}{% endif %}">
                <span class="card-title white-text">{{ shared_publication.extra_content.title }}</span>
            </div>
            <div class="card-content">
                <p>{{ shared_publication.extra_content.description }}.</p>
            </div>
            <div class="card-action">
                <a class="white-text blue right btn right" target="_blank" href="{{ shared_publication.extra_content.url }}">Ver</a>
            </div>
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="divider"></div>
    {% with shared_publication|classname as classname %}
        <a class="white-text blue right btn"
            href="{% if classname == 'Publication' %}/publication/{% elif classname == 'PublicationGroup'%}/group/publication/{% endif %}{{ shared_publication.pk }}">Ver</a>
        {% endwith %}
</div>
</blockquote>
{% endif %}
{% endif %}