{% extends "account/base_login-signup.html" %}
{% comment %}
	Template para el registro
{% endcomment %}
{% load i18n %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block extra_head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    {{ wizard.form.media }}
{% endblock %}

{% block content %}
<form style="height:inherit;" action="" method="post">
{% csrf_token %}
    {{ wizard.management_form }}
    {% block custom_form %}
    {% endblock %}
</form>
{% endblock content %}