{% comment %}
  Pestaña de timeline en el perfil
{% endcomment %}

<div id="tab-timeline">
    <div id="section">
        <div class="wrapperx" id="wrapperx-timeline">
            {% include "account/timeline_entries.html" %}
        </div>
    </div>
</div>
{% block js %}
    <script src="{{ STATIC_URL }}el-pagination/js/el-pagination.js"></script>
    <script>
        $('#tab-timeline').endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: 20
        });
    </script>
{% endblock %}