{% load decorators %}
{% load avatar_tags %}
{% load app_filters %}
{% load el_pagination_tags %}


{% paginate timeline using "timeline_entries" %}
{% for item in timeline %}
    {% if item.from_timeline__type == "publication" %}
        <div class="timeline-pub" id="tim-{{ item.from_timeline__id }}" data-id="{{ user.pk }}"
             data-publication="{{ item.from_timeline__publication__id }}">
            <div class="second">
                                <span class="acontecimiento">
                                    {% avatar item.user__username %}
                                        </span>
                <span class="head">
                                            <a href="/profile/{{ item.from_timeline__publication__author__username }}">{{ item.from_timeline__publication__author__username }}</a>
                                            <a class="fecha_"
                                               target="_blank">{{ item.from_timeline__insertion_date }}</a><em></em>
                                        </span>
                <div id="timeline-id-content" class="parrafo timeline-content">
                    {{ item.from_timeline__publication__content|replace_decorators|safe }}
                </div>
                <div class="show-more">
                    <a href="#">+ Mostrar más</a>
                </div>
                <div class="contenidoadicional">
                    <!--<img src="http://archive.eusa.eu/files/News/2012/photoc-camera_w2.jpg" title="random_photo" alt="random_photo">-->
                </div>
                <div class="controles" id="controls-timeline">
                    <ul>
                        <li id="add-timeline" class="fa fa-tag fa-lg"><i
                                class="fa">{{ item.from_timeline__publication__id|total_shares }}</i></li>
                        <li class="fa fa-reply fa-lg"></li>
                        <li class="fa fa-quote-left fa-lg"></li>
                        {% if item.from_timeline__publication__likes > 0 %}
                            <li class="fa fa-heart fa-lg" id="like-heart-timeline"><i
                                    class="fa">{{ item.from_timeline__publication__likes }}</i></li>
                        {% else %}
                            <li class="fa fa-heart fa-lg" id="like-heart-timeline"><i class="fa"></i></li>
                        {% endif %}
                        <li title="No me gusta" class="fa-stack timeline-hate-with-values"
                            id="fa-hate-timeline">
                                                    <span class="timeline-hate-comment">
                                                        <i class="fa fa-heart fa-stack-1x fa-lg"></i>
                                                        <i class="fa fa-bolt fa-stack-1x fa-lg fa-inverse"></i>
                                                        {% if item.from_timeline__publication__hates > 0 %}
                                                            <i class="fa timeline-hate-value">{{ item.from_timeline__publication__hates }}</i>
                                                        {% else %}
                                                            <i class="fa timeline-hate-value"></i>
                                                        {% endif %}
                                                    </span>
                        </li>
                        {% if user.username == user_profile.username %}
                            <li class="fa fa-trash fa-lg"></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    {% elif item.from_timeline__type == "new_relation" %}
        <div class="timeline-pub" id="tim-{{ item.from_timeline__id }}" data-id="{{ user.pk }}">
            <div class="second">
                                <span class="acontecimiento">
                                    {% avatar item.user__username %}
                                </span>
                <span class="head">
                                    <a class="fecha_"
                                       target="_blank">{{ item.from_timeline__insertion_date }}</a><em></em>
                                </span>
                <div id="timeline-id-content" class="parrafo timeline-content">
                    {{ item.from_timeline__verb|safe }}
                </div>
                <div class="show-more">
                    <a href="#">+ Mostrar más</a>
                </div>
                <div class="contenidoadicional">
                    <!--<img src="http://archive.eusa.eu/files/News/2012/photoc-camera_w2.jpg" title="random_photo" alt="random_photo">-->
                </div>
                <div class="controles" id="controls-timeline">
                    <ul>
                        {% if user.username == user_profile.username %}
                            <li class="fa fa-trash fa-lg"></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
{% show_more %}