{% extends "account/base.html" %}

{% load i18n %}

{% block title %}Configuración - Confirmar Email {% endblock %}

{% block head_title %}Confirmar email{% endblock %}
{% block menu %}{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="row">
            <p class="flow-text">{% trans "Verify Your E-mail Address" %}.</p>
            <div class="col offset-l3 col l6 m12 s12">
                <div class="z-depth-1">
                    {% blocktrans %}Le hemos enviado un correo electrónico para su verificación. Siga el enlace para finalizar
                        el proceso de registro. Póngase en contacto con nosotros si no lo recibe en unos pocos minutos.{% endblocktrans %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}