{% load humanize i18n %}
<div class="row center">
    <p class="flow-text">¡{{ total_points }} puntos de experiencia!</p>
    <div class="row">
        <div class="divider"></div>
    </div>
    <div class="row">
        {% for category, points in type_of_user.items %}
        <div class="col l3 m6 s12">
            {% trans category %}
            <div class="progress">
                <div class="determinate" style="width: {{ points }}%"></div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="row">
    <ul class="collection">
        {% for award in awards %}
        <li class="collection-item avatar">
            <img src="{{ award.badge.image }}" alt="" class="circle">
            <span class="title">{{ award.badge.name }} (+{{ award.badge.points }} puntos)</span>
            <p>{{ award.badge.description }}
           </p>
           <span class="secondary-content"><i class="material-icons">person</i>{{ award.badge.users_count|intword }}</span>
       </li>
       {% endfor %}
   </ul>
</div>
<div class="row">
    <ul class="pagination center">
        {% if awards.has_previous %}
        <li><a href="/awards/user/{{ user_id }}/?page={{ awards.previous_page_number }}" class="prev-awards"><i
            class="material-icons">chevron_left</i></a></li>
            {% else %}
            <li class="disabled"><span><i class="material-icons">chevron_left</i></span></li>
            {% endif %}
            <li class="active blue darken-1 white-text">
                <span>{{ awards.number }} de {{ awards.paginator.num_pages }} </span></li>
                {% if awards.has_next %}
                <li><a href="/awards/user/{{ user_id }}/?page={{ awards.next_page_number }}" class="next-awards">
                    <i class="material-icons">chevron_right</i>
                </a></li>
                {% else %}
                <li class="disabled"><span>
                   <i class="material-icons">chevron_right</i>
               </span></li>
               {% endif %}
           </ul>
       </div>