{% comment %}
{% extends "base.html" %}

{% block title %}Badges{% endblock %}

{% block content %}
    {% if not badges %}
        <p>No badges yet.</p>
    {% else %}
        <ul>
        {% for badge in badges %}
            <li>
                <h4><a href="{{ badge.get_absolute_url }}">{{ badge.name }}</a></h4>
                <ul>
                    <li><em>{{ badge.description }}</em></li>
                    <li><strong>{{ badge.users_count }} users</strong></li>
                </ul>
            </li>
        {% endfor %}
        </ul>
        {% if is_paginated %}
<ul class="pagination">
    {% if page_obj.has_previous %}
    <li><a href="?page=1">⟪⟪</a></li>
    <li><a href="?page={{ page_obj.previous_page_number }}">←</a></li>
    {% endif %}
    {% for i in paginator.page_range %}
    <li {% if page_obj.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
    {% endfor %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}">➝</a></li>
    <li><a href="?page={{ page_obj.paginator.num_pages }}">⟫⟫</a></li>
    {% endif %}
</ul>
{% endif %}
    {% endif %}
{% endblock %}
{% endcomment %}