{% extends "account/base_interface.html" %}
{% load i18n %}

{% load url from future %}
{% block bodyclass %}about{% endblock %}
{% block title %} <title> Mensajes privados - {{user.username }}</title> {% endblock %}

{% block extra-js %}

{% endblock %}
<!-- bloques de estilos para cada pagina -->
{% block extra-css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/mensajes_privados.css" />
{% endblock %}
<body>

{% block content %}
<div class="container">
    <div class="row">
    <div id="nav-menu-messages" class="col l2 m12 s12 wrapper-config-menu">
        <ul class="menu-config">
            <li id="config-profile" onclick="window.location.href='/messages/inbox'">Inbox<i class="material-icons right">person</i></li>
            <li id="config-password" onclick="window.location.href='/messages/compose'">Componer<i class="material-icons right">lock</i></li>
            <li onclick="window.location.href='/messages/outbox'">Email<i class="material-icons right">Componer</i></li>
            <li onclick="window.location.href='/messages/trash'">Privacidad<i class="material-icons right">Papelera</i></li>
        </ul>
    </div>
      <nav class="col l3 m12 s12 menu-messages-2">
            <a href="#!" class="center-align">Contactos ({{ friends_top12|length }})</a>
            {% for item in friends_top12 %}
            <a href="/messages/compose/{{item.user__username}}"><i class="mdi-action-account-circle left"></i>({{item.user__username}})</a>
            {% endfor %}
            <a href="#!"><i class="mdi-social-group left"></i>Equipo desarrolladores <div class="chip">130</div></a>
        </nav>
        {% block body %}

        {% endblock %}
    {% endblock %}
</div>
</div>
</body>
