{% extends "django_messages/base.html" %}
{% load i18n %}
{% block body %}
    {% if parent_body %}
    <div class="col-lg-6 col-md-12 col-sm-12 parent-body"><a href="/profile/{{ parent_username }}">{{ parent_username }}</a> <b>escribió</b>: {{ parent_body }}</div>
    {% endif %}
    <h3 class="compose_message">{% trans "Compose Message"%}</h3>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <form action="" method="post">{% csrf_token %}
            <table class="z-depth-1 compose_table">
                {{ form.as_table }}
            </table>
            <button class="compose-button" type="submit" value="{% trans "Send" %} &raquo;">Enviar</button>
            </form>
        </div>
    <!-- Reajusta el tamaño del textarea, conforme vamos escribiendo -->
	<script>
		autosize(document.querySelectorAll('textarea'));
	</script>

{% endblock %}
