{% extends "django_messages/base.html" %}
{% load i18n %}
{% load url from future %}
{% load replacetags %}
{% load app_filters %}
{% load avatar_tags %}
{% block include_files %}
{% endblock %}
  {% block body %}
  <div class="col-lg-6 col-md-12 col-sm-12 body-wrapper">
  {% if message_list %}
     {% for message in message_list %}
              <div class="col-sm-12 col-md-12 col-lg-12 card">
              <div class="col-lg-3 col-md-12 col-sm-12">
                      <div class="image-user" id="image-user">
                          {% avatar message.sender %}
                      </div>
                    <span class="blue-text">{{ message.sender }}</span>
                  {% if message.new %}
                    <span title="¡Nuevo mensaje!" class="new-message"><i class="fa fa-bell-o"></i></span>
                  {% endif %}
                  {% if message.replied %}
                    <span title="Mensaje respondido" class="replied-message"><i class="fa fa-pencil-square-o"></i></span>
                  {% endif %}
              </div>
              <div class="col-lg-4 col-md-8 col-sm-8 msg-inbox">
                      <h5>
                        <b>
                          <a class="message_subject" href="{{message.get_absolute_url }}">{{ message.subject }}</a>
                        </b>
                      </h5>
                      <i class="time">{{ message.sent_at|date:_("DATETIME_FORMAT") }}</i>
                      <br><br>
                   <blockquote onclick="javascript:location.href='{{message.get_absolute_url }}'" class="grey-text truncate">{{message.body|replaceTags}}</blockquote>
              </div>
              <a class="borrar" href="{% url 'messages_delete' message.id %}"><i class="fa fa-trash"></i></a>
            </div>
        {% endfor %}
  {% else %}
  <p class="no_messages">{% trans "¡No tienes mensajes!" %}<br><br>
    <a class="create-new" href="{% url 'messages_compose' %}">Crea uno nuevo.</a>
  </p>
  {% endif %}
</div>
{% endblock %}
