{% extends "account/base.html" %}

{% block head_title %}Política de privacidad{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <h1>Politica de privacidad</h1>
            </div>
            <div class="col offset-m1 m10 s12">
                <div class="section">
                    <p class="flow-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales urna a nisi auctor
                        volutpat.
                        Proin fringilla in augue nec viverra. Mauris sit amet imperdiet odio, ut blandit lacus. Nam
                        maximus
                        blandit
                        dolor ac convallis. Nulla quis elit ligula. Suspendisse et arcu pellentesque, lacinia eros ut,
                        tincidunt
                        nunc. Vivamus ac tincidunt ex. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                        posuere
                        cubilia Curae; Curabitur vitae felis nec lorem facilisis interdum. Vivamus auctor mauris vitae
                        feugiat
                        ullamcorper. Duis pretium ipsum vel sem dictum tempor. Nulla facilisi. Etiam elit felis,
                        dignissim
                        eu
                        scelerisque vitae, dignissim ac lacus. In eget placerat justo. Ut lectus turpis, pulvinar a erat
                        sed,
                        blandit rhoncus tellus. Nullam sagittis malesuada tellus ut eleifend.
                    </p>
                </div>
                <div class="section">
                    <p class="flow-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales urna a nisi auctor
                        volutpat.
                        Proin fringilla in augue nec viverra. Mauris sit amet imperdiet odio, ut blandit lacus. Nam
                        maximus
                        blandit
                        dolor ac convallis. Nulla quis elit ligula. Suspendisse et arcu pellentesque, lacinia eros ut,
                        tincidunt
                        nunc. Vivamus ac tincidunt ex. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                        posuere
                        cubilia Curae; Curabitur vitae felis nec lorem facilisis interdum. Vivamus auctor mauris vitae
                        feugiat
                        ullamcorper. Duis pretium ipsum vel sem dictum tempor. Nulla facilisi. Etiam elit felis,
                        dignissim
                        eu
                        scelerisque vitae, dignissim ac lacus. In eget placerat justo. Ut lectus turpis, pulvinar a erat
                        sed,
                        blandit rhoncus tellus. Nullam sagittis malesuada tellus ut eleifend.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}