{% extends 'account/base_search.html' %}
{% comment %}
Template para las busquedas
{% endcomment %}
{% load app_filters %}
{% load avatar_tags %}
{% load humanize %}
{% load highlight %}
{% block title %} <title>Búsqueda en Skyfolk.</title> {% endblock %}
{% block include_files %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/gallery.css">
<!-- Estilos para la galeria de fotos -->
<style>
    .notice-item {
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
        border-radius: 7px;
        margin-top: 5%;
        overflow: hidden;
    }

    .notice-item .img {
        border-radius: 7px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    }

    .notice-item .img img {
        width: 100%;
        height: 100%;
    }

    .notice-item .contenido {
        margin-top: 2.5%;
        margin-bottom: 1.5%;
        word-wrap: break-word;
        line-height: 1.5rem;
    }

    .notice-item .author {
        display: block;
        margin-top: 1.25%;
    }

    .notice-item .author a {
        text-decoration: none;
        color: #1e88e5;
        font-weight: 600;
        margin-right: 2%;
    }

    .notice-item .author i {
        color: gray;
    }

    .notice-item .pub-date {
        margin-top: 2%;
        display: block;
    }
    .highlighted {
        font-weight: bold;
        background-color: rgba(30, 136, 229, 0.5);
        padding: 3px;
    }
    .publication-div {
        margin-bottom: 2.5%;
    }
    .flow-columns {
        column-width: 320px;
        column-gap: 15px;
        width: 90%;
        max-width: 1140px;
    }
    .flow-columns .item {
        margin: 0 2px 15px;
        padding: 15px;
        padding-bottom: 10px;
        display: inline-block;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
    }
    @media screen and (max-width: 750px) { 
        .flow-columns { column-gap: 0px; }
        .flow-columns .item { width: 100%; }
        .flow-columns .image-div { width: 100%; }
    }
    .flow-columns .image-div {
        max-width: 320px;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col l12 m12 s12">
            <ul class="query-options">
                <li class="list-vertical" {% if s == 'all' %}style="border-bottom: 3px solid #1e88e5;"{% endif %}><a href="{% url 'user_profile:category-search' 'all' %}?q={{ q }}">Ensalada de Frutas</a></li>
                <li class="list-vertical" {% if s == 'images' %} style="border-bottom: 3px solid #1e88e5;" {% endif %}><a href="{% url 'user_profile:category-search' 'images' %}?q={{ q }}">Imágenes</a></li>
                <li class="list-vertical" {% if s == 'publications' %} style="border-bottom: 3px solid #1e88e5;" {% endif %}><a href="{% url 'user_profile:category-search' 'publications' %}?q={{ q }}">Publicaciones</a></li>
                <li class="list-vertical" {% if s == 'videos' %} style="border-bottom: 3px solid #1e88e5;" {% endif %}><a href="{% url 'user_profile:category-search' 'videos' %}?q={{ q }}">Videos</a></li>
                <li class="list-vertical" {% if s == 'accounts' %} style="border-bottom: 3px solid #1e88e5;" {% endif %}><a href="{% url 'user_profile:category-search' 'accounts' %}?q={{ q }}">Cuentas</a></li>
                <li class="list-vertical">Más opciones <i class="fa fa-caret-down" aria-hidden="true"></i>
                    <div id="dropdown-search" class="dropdown-options">
                        <ul class="dropdown-ul">
                            <li>Todo</li>
                            <li>Nuevo</li>
                            <li>De todos</li>
                            <li>Personas que sigues</li>
                            <li>Personas que te siguen</li>
                            <li id="search-advanced">Búsqueda avanzada</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    {% if object_list|length == 0 %}
    <div class="row">
        <div class="col s12">
            <div class="noelements-search" id="search-noelements">
                <h5 class="">Sin resultados :-(</h5>
                <i class="not-query">No se obtuvo ningún resultado para:
                    <b>{{ q }}</b>
                </i>
            </div>
        </div>
    </div>
    {% endif %}
    {% if s == 'all' %}
    <div class="row flow-columns">
        {% for item in object_list %}
        {% if item.model_name == 'profile' %}
        <div class="item">
            <div class="personal-card">
                <div class="header">
                    {% if item.back_image %}
                    <img class="back-profile-user" src="{{ MEDIA_URL }}{{ item.back_image }}">
                    {% else %}
                    <img class="back-profile-user" src="{{ STATIC_URL }}img/nuevo_back.png">
                    {% endif %}
                    <i class="fa fa-user fa-2x like-him">
                    </i>
                    <div class="bg-user">
                        <div onclick="location.href='/profile/{{ item.username }}'"
                            class="profile-user-bg">{% avatar item.username %}</div>
                    </div>
                </div>
                <div class="col s12">
                    <div style="cursor: default" class="name-friend">
                        <a href="{% url "user_profile:profile" username=item.username %}">@{{ item.username }}</a>
                        <p>{{ item.firstname }} {{ item.lastname }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% elif item.model_name == 'publication' %}
        <div class="item">
            <div class="col s12" style="box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);">
                <div class="col s3" style="padding: 10px">
                    {% avatar item.author 50 %}
                </div>
                <div class="col s9">
                    <div class="row">
                        <p><a href="/profile/{{ item.author }}">@{{ item.author }}</a> - <i class="fa fa-clock-o" aria-hidden="true"></i> {{ item.pub_date|naturaltime }}</p>
                    </div>
                    <div class="row">
                        {% with item.content|safe|truncatechars:"150" as content %}
                        <p>{% highlight content with request.GET.q %}</p>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
        {% elif item.model_name == 'photo' %}
        <div class="item image-div tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{ item.description|truncatechars:"150" }}">
            <div class="container-image">
                <div class="principal-content">
                    {% if item.object.tags.all %}
                    <div class="tags-content">
                        {% for tag in item.object.tags.all %}
                        <blockquote
                            onclick="location.href='{% url 'photologue:collection-list' item.author tag.name %}'">{{ tag.name }}</blockquote>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <img class="lazyload" data-src="
                    {% if item.thumbnail %}/media/{{ item.thumbnail }}{% elif item.url_image %}/media/{{ item.url_image }}{% else %}{{ item.external_image }}{% endif %}"
                    alt="{{ item.title }}" title="{{ item.title }}"
                    onclick="location.href='/photo/{{ item.slug }}'">
                </div>
                <div class="col s12 legend-content">
                    <div class="legend-user-image">
                        {% avatar item.author %}
                    </div>
                    <div class="col l8 m8 s8 legend-user-data">
                        <a href="/profile/{{ item.author }}">@{{ item.author }}</a>
                        <i class="photo-title truncate">{{ item.title }}</i>
                        <i class="truncate photo-date"><i class="fa fa-clock-o"
                                aria-hidden="true"></i> {{ item.date|naturaltime }}</i>
                    </div>
                </div>
            </div>
        </div>
        {% endif %} 
        {% endfor %}
    </div>
    {% endif %}
    {% if s == 'accounts' %}
    <div class="row">
        {% for item in object_list %}
        <div class="col l3 m5 s12">
            <div class="personal-card">
                <div class="header">
                    {% if item.back_image %}
                    <img class="back-profile-user" src="{{ MEDIA_URL }}{{ item.back_image }}">
                    {% else %}
                    <img class="back-profile-user" src="{{ STATIC_URL }}img/nuevo_back.png">
                    {% endif %}
                    <i class="fa fa-user fa-2x like-him">
                    </i>
                    <div class="bg-user">
                        <div onclick="location.href='/profile/{{ item.username }}'"
                            class="profile-user-bg">{% avatar item.id %}</div>
                    </div>
                </div>
                <div class="col s12">
                    <div style="cursor: default" class="name-friend">
                        <a href="{% url "user_profile:profile" username=item.username %}">@{{ item.username }}</a>
                        <p>{{ item.firstname }} {{ item.lastname }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if s == 'publications' %}
    <div class="row">
        {% for item in object_list %}
        <div class="col l3 m5 s12">
            <div class="col s12 publication-div" style="box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);">
                <div class="col s3">
                    {% avatar item.author 50 %}
                </div>
                <div class="col s9">
                    <div class="row">
                        <p><a href="/profile/{{ item.author }}">@{{ item.author }}</a> - <i class="fa fa-clock-o" aria-hidden="true"></i> {{ item.pub_date|naturaltime }}</p>
                    </div>
                    <div class="row">
                        {% with item.content|safe|truncatechars:"150" as content %}
                        <p>{% highlight content with request.GET.q %}</p>
                        {% endwith %}                    
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if s == 'images' %}
    <div class="row">
        {% for item in object_list %}
        <div class="col l2 m12 s12 image-div tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{ item.description }}">
            <div class="container-image">
                <div class="principal-content">
                    {% if item.object.tags.all %}
                    <div class="tags-content">
                        {% for tag in item.object.tags.all %}
                        <blockquote
                            onclick="location.href='{% url 'photologue:collection-list' item.author tag.name %}'">{{ tag.name }}</blockquote>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <img class="lazyload" data-src="
                    {% if item.thumbnail %}/media/{{ item.thumbnail }}{% elif item.url_image %}/media/{{ item.url_image }}{% else %}{{ item.external_image }}{% endif %}"
                    alt="{{ item.title }}" title="{{ item.title }}"
                    onclick="location.href='/photo/{{ item.slug }}'">
                </div>
                <div class="col s12 legend-content">
                    <div class="legend-user-image">
                        {% avatar item.author %}
                    </div>
                    <div class="col l8 m8 s8 legend-user-data">
                        <a href="/profile/{{ item.author }}">@{{ item.author }}</a>
                        <i class="photo-title truncate">{{ item.title }}</i>
                        <i class="truncate photo-date"><i class="fa fa-clock-o"
                                aria-hidden="true"></i> {{ item.date|naturaltime }}</i>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if s == 'videos' %}
    <div class="row">
        {% for result in object_list %}
        <div class="col l3 m5 s12">
            <div class="personal-card">
                <div class="col s12">
                    <div class="header">
                        <a href="{{ result.object.get_absolute_url }}">{{ result.author }}</a>
                    </div>
                </div>
                <div class="col s12">
                    <p>
                        <a href="{{ result.object.get_absolute_url }}">{{ result.text }}</a>
                        {{ result.pub_date }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% if page.has_previous or page.has_next %}
        <div>
            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
            |
            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>
<script async src="{{ STATIC_URL }}js/search.js"></script>
<script async src="{{ STATIC_URL }}js/photo_gallery.js" type="text/javascript"></script>
{% endblock %}
