{% extends 'account/base_search.html' %}
{% comment %}
Template para las busquedas
{% endcomment %}
{% load app_filters %}
{% load avatar_tags %}
{% load humanize %}
{% load highlight %}
{% load embed_video_tags %}
{% load static %}
{% block title %}Búsqueda {{ q }}{% endblock %}
{% block include_files %}
    <!-- Estilos para la galeria de fotos -->
    <style>
        .grid {
            margin: 0 auto;
        }

        .grid-item {
            width: 300px;
            margin-bottom: 10px;
            float: left;
            background-color: #fff;
        }

        .photo-date {
            display: initial;
        }

        .grid-item .img {
            border-radius: 3px;
            box-shadow: 0 1px 5px #1e88e5;
        }

        .grid-item .img > img {
            width: 100%;
            height: 100%;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col l12 m12 s12">
                <ul class="query-options">
                    <li class="list-vertical" {% if s == 'all' %}style="border-bottom: 3px solid #1e88e5;"{% endif %}><a
                            href="{% url 'user_profile:category-search' 'all' %}?q={{ q }}">Ensalada de Frutas</a></li>
                    <li class="list-vertical" {% if s == 'images' %}
                        style="border-bottom: 3px solid #1e88e5;" {% endif %}><a
                            href="{% url 'user_profile:category-search' 'images' %}?q={{ q }}">Imágenes</a></li>
                    <li class="list-vertical" {% if s == 'publications' %}
                        style="border-bottom: 3px solid #1e88e5;" {% endif %}><a
                            href="{% url 'user_profile:category-search' 'publications' %}?q={{ q }}">Publicaciones</a>
                    </li>
                    <li class="list-vertical" {% if s == 'videos' %}
                        style="border-bottom: 3px solid #1e88e5;" {% endif %}><a
                            href="{% url 'user_profile:category-search' 'videos' %}?q={{ q }}">Videos</a></li>
                    <li class="list-vertical" {% if s == 'accounts' %}
                        style="border-bottom: 3px solid #1e88e5;" {% endif %}><a
                            href="{% url 'user_profile:category-search' 'accounts' %}?q={{ q }}">Cuentas</a></li>
                    <li class="list-vertical" {% if s == 'groups' %}
                        style="border-bottom: 3px solid #1e88e5;" {% endif %}><a
                            href="{% url 'user_profile:category-search' 'groups' %}?q={{ q }}">Grupos</a></li>
                    {% comment %}
                    <li class="list-vertical">Más opciones<i class="material-icons">arrow_drop_down</i>
                        <div id="dropdown-search" class="dropdown-options">
                            <ul class="dropdown-ul">
                                <li>Todo</li>
                                <li>Nuevo</li>
                                <li>De todos</li>
                                <li>Personas que sigues</li>
                                <li>Personas que te siguen</li>
                                <li id="search-advanced">Búsqueda avanzada</li>
                            </ul>
                        </div>
                    </li>
                {% endcomment %}
                </ul>
            </div>
        </div>
        {% if object_list|length == 0 %}
            <div class="row">
                <div class="col s12">
                    <div class="noelements-search" id="search-noelements">
                        <h5 class="">Sin resultados :-(</h5>
                        <i class="not-query">No se obtuvo ningún resultado para:
                            <b>{{ q }}</b>
                        </i>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if s == 'all' %}
            <div class="grid row">
                {% for item in page_obj.object_list %}
                    {% if item.model_name == 'profile' %}
                        <div class="grid-item infinite-item">
                            <div class="personal-card">
                                <div class="header">
                                    {% if item.object.back_image %}
                                        <img class="back-profile-user" src="{{ item.object.back_image.url }}">
                                    {% else %}
                                        <img class="back-profile-user" src="{% static "img/nuevo_back.png" %}">
                                    {% endif %}
                                    <i class="material-icons like-him">person</i>
                                    <div class="bg-user">
                                        <div onclick="location.href='/profile/{{ item.username }}'"
                                             class="profile-user-bg">{% avatar item.object.user %}</div>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div style="cursor: default" class="name-friend">
                                        <a href="{% url "user_profile:profile" username=item.username %}">@{{ item.username }}</a>
                                        <p>{{ item.firstname }} {{ item.lastname }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% elif item.model_name == 'usergroups' %}
                        <div class="grid-item infinite-item">
                            <div class="personal-card">
                                <div class="header">
                                    {% if item.object.back_image %}
                                        <img class="back-profile-user" src="{{ item.object.back_image.url }}">
                                    {% else %}
                                        <img class="back-profile-user" src="{% static "img/nuevo_back.png" %}">
                                    {% endif %}
                                    <i class="material-icons like-him">group</i>
                                    <div class="bg-user">
                                        <div onclick="location.href='{% url "user_groups:group-profile" groupname=item.slug %}'"
                                             class="profile-user-bg"><img src="{% if item.object.avatar %}{{ item.object.avatar.url }}{% else %}{% static "img/nuevo.png" %}{% endif %}" alt="Imagen de {{ item.name }}" title="Imagen de {{ item.name }}"/></div>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div style="cursor: default" class="name-friend">
                                        <a href="{% url "user_groups:group-profile" groupname=item.slug %}">{{ item.name }}</a>
                                        <p class="truncate">{{ item.description|truncatechars:100 }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% elif item.model_name == 'publication' %}
                        <div class="grid-item infinite-item">
                            <div class="col s12" style="box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);">
                                <div class="col s3 img">
                                    {% avatar item.object.author %}
                                </div>
                                <div class="col l9 m9 s8 author">
                                    <div class="row">
                                        <span><a
                                                href="/profile/{{ item.author }}">@{{ item.author }}</a><i> {{ item.object.author.first_name }} {{ item.object.author.last_name }}</i></span>
                                        <span><a href="/publication/{{ item.object.id }}" title="Ver publicación"><i
                                                class="material-icons md-18 right"
                                                aria-hidden="true">open_in_new</i></a></span>
                                        <p><i class="pub-date">{{ item.object.created|naturaltime }}</i></p>
                                    </div>
                                    <div class="row" style="word-wrap: break-word;">
                                        <p>{{ item.content|truncatechars_html:"150"|safe }}</p>
                                        {% with item.object.shared_publication as shared_publication %}
                                            {% include "account/shared_publication.html" %}
                                        {% endwith %}
                                        {% with item.object.shared_group_publication as shared_publication %}
                                            {% include "account/shared_publication.html" %}
                                        {% endwith %}
                                        {% for i in item.object.images.all %}
                                            <div class="col s12">
                                                <img class="materialboxed" src="{{ i.image.url }}" alt="{{ item.author }}" width="100%"
                                                     height="100%"/>
                                            </div>
                                        {% endfor %}
                                         {% with item.object.videos.all as videos %}
                                            {% if videos %}
                                                <div class="row videos">
                                                    {% for video in videos %}
                                                        <div class="col s12 z-depth-2 center">
                                                            <video class="responsive-video" controls loop>
                                                                <source src="{{ video.video.url }}" type="video/mp4">
                                                            </video>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        {% endwith %}
                                        {% if item.object.extra_content %}
                                            {% if item.object.extra_content.video %}
                                                {% video item.object.extra_content.video as my_video %}
                                                    {% video my_video "100% x 100%" %}
                                                {% endvideo %}
                                            {% else %}
                                                {% comment %} Para publicaciones con URL {% endcomment %}
                                                <div class="card small">
                                                    <div class="card-image">
                                                        <img class="lazyload" data-src="
                                                                {% if item.object.extra_content.image %}{{ item.object.extra_content.image }}{% else %}{% static "dist/img/nuevo_back.png" %}{% endif %}">
                                                        <span class="card-title white-text">{{ item.object.extra_content.title }}</span>
                                                    </div>
                                                    <div class="card-content">
                                                        <p>{{ item.object.extra_content.description }}</p>
                                                    </div>
                                                    <div class="card-action">
                                                        <a class="white-text blue right btn right" target="_blank" href="{{ item.object.extra_content.url }}">Ver</a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% elif item.model_name == 'photo' %}
                        <div class="grid-item image-div tooltipped infinite-item" data-position="bottom" data-delay="50"
                             data-tooltip="{{ item.description|truncatechars:"150" }}">
                            <div class="container-image">
                                <div class="principal-content">
                                    {% if item.tags %}
                                        <div class="tags-content">
                                            {% for tag in item.tags %}
                                                <blockquote
                                                        onclick="location.href='{% url 'photologue:collection-list' item.author tag %}'">{{ tag }}</blockquote>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <img class="lazyload" data-src="{% if item.thumbnail %}{{ item.thumbnail }}{% elif item.url_image %}{{ item.url_image }}{% else %}{{ item.external_image }}{% endif %}" alt="{{ item.title }}" title="{{ item.title }}" onclick="location.href='{% url "photologue:pl-photo" username=item.author slug=item.slug %}'">
                                </div>
                                <div class="col s12 legend-content">
                                    <div class="legend-user-image">
                                        <img src="{{ item.avatar }}" title="{{ item.author }}" alt="{{ item.author }}"/>
                                    </div>
                                    <div class="col l8 m8 s8 legend-user-data">
                                        <a href="/profile/{{ item.author }}">@{{ item.author }}</a>
                                        <a href="{% url "photologue:pl-photo" username=item.author slug=item.slug %}"
                                           class="photo-title truncate">{{ item.title }}</a>
                                        <i class="truncate photo-date"><i
                                                class="material-icons md-18">access_time</i> {{ item.object.date_added|naturaltime }}
                                        </i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% elif item.model_name == 'video' %}
                        <div class="grid-item image-div tooltipped infinite-item" data-position="bottom" data-delay="50"
                             data-tooltip="{{ item.description|truncatechars:"150" }}">
                            <div class="container-image">
                                <div class="principal-content">
                                    {% if item.tags %}
                                        <div class="tags-content">
                                            {% for tag in item.tags %}
                                                <blockquote
                                                        onclick="location.href='{% url 'photologue:collection-list' item.author tag %}'">{{ tag }}</blockquote>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    {% if item.thumbnail %}
                                        <img class="lazyload" data-src="{{ item.thumbnail }}" alt="{{ item.name }}" title="{{ item.name }}" onclick="location.href='{% url "photologue:pl-video" username=item.author slug=item.slug %}'">
                                    {% else %}
                                        <video controls style="width: 100%; height: 100%; outline: none;">
                                            <source src="{{ item.video }}" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                    {% endif %}
                                </div>
                                <div class="col s12 legend-content">
                                    <div class="legend-user-image">
                                        <img src="{{ item.avatar }}" title="{{ item.author }}" alt="{{ item.author }}"/>
                                    </div>
                                    <div class="col l8 m8 s8 legend-user-data">
                                        <a href="/profile/{{ item.author }}">@{{ item.author }}</a>
                                        <a href="{% url "photologue:pl-video" username=item.author slug=item.slug %}"
                                           class="photo-title truncate">
                                            {{ item.name }}</a>
                                        <i class="truncate photo-date"><i
                                                class="material-icons md-18">access_time</i> {{ item.object.date_added|naturaltime }}
                                        </i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% if s == 'accounts' %}
            <div class="grid row">
                {% for item in object_list %}
                    <div class="grid-item infinite-item">
                        <div class="personal-card">
                            <div class="header">
                                {% if item.object.back_image %}
                                    <img class="back-profile-user" src="{{ item.object.back_image.url }}">
                                {% else %}
                                    <img class="back-profile-user" src="{% static "img/nuevo_back.png" %}">
                                {% endif %}
                                <i class="material-icons like-him">person</i>
                                <div class="bg-user">
                                    <div onclick="location.href='/profile/{{ item.username }}'"
                                         class="profile-user-bg">{% avatar item.object.user %}</div>
                                </div>
                            </div>
                            <div class="col s12">
                                <div style="cursor: default" class="name-friend">
                                    <a href="{% url "user_profile:profile" username=item.username %}">@{{ item.username }}</a>
                                    <p>{{ item.firstname }} {{ item.lastname }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if s == "groups" %}
            <div class="grid row">
                {% for item in object_list %}
                    <div class="grid-item infinite-item">
                        <div class="personal-card">
                            <div class="header">
                                {% if item.object.back_image %}
                                    <img class="back-profile-user" src="{{ item.object.back_image.url }}">
                                {% else %}
                                    <img class="back-profile-user" src="{% static "img/nuevo_back.png" %}">
                                {% endif %}
                                <i class="material-icons like-him">group</i>
                                <div class="bg-user">
                                    <div onclick="location.href='{% url "user_groups:group-profile" groupname=item.slug %}'"
                                         class="profile-user-bg"><img src="{% if item.object.avatar %}{{ item.object.avatar.url }}{% else %}{% static "img/nuevo.png" %}{% endif %}" alt="Imagen de {{ item.name }}" title="Imagen de {{ item.name }}"/></div>
                                </div>
                            </div>
                            <div class="col s12">
                                <div style="cursor: default" class="name-friend">
                                    <a href="{% url "user_groups:group-profile" groupname=item.slug %}">{{ item.name }}</a>
                                    <p class="truncate">{{ item.description|truncatechars:"100" }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if s == 'publications' %}
            <div class="grid row">
                {% for item in object_list %}
                    <div class="grid-item infinite-item">
                        <div class="col s12" style="box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);">
                            <div class="col s3 img">
                                {% avatar item.object.author %}
                            </div>
                            <div class="col l9 m9 s8 author">
                                <div class="row">
                                    <span><a
                                            href="/profile/{{ item.author }}">@{{ item.author }}</a><i> {{ item.object.author.first_name }} {{ item.object.author.last_name }}</i></span>
                                    <span><a href="/publication/{{ item.object.id }}" title="Ver publicación"><i
                                            class="material-icons md-18 right">open_in_new</i></a></span>
                                    <p><i class="pub-date">{{ item.object.created|naturaltime }}</i></p>
                                </div>
                                <div class="row" style="word-wrap: break-word;">
                                    <p>{{ item.content|truncatechars_html:"150"|safe }}</p>
                                    <br>
                                    {% if node.shared_publication %}
                                            {% if node.shared_publication.deleted %}
                                                <div class="row">
                                                    <div class="col s12 m5">
                                                        <div class="card-panel blue">
                                                            <span class="white-text">Esta publicación no está disponible.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                {% comment %} Para publicaciones que contienen citas {% endcomment %}
                                                <div class="card grey lighten-5">
                                                    <div class="card-content black-text">
                                                        {% avatar node.shared_publication.author %}<br>
                                                        <p class="card-title-md-18"><a
                                                                href="{% url 'user_profile:profile' node.shared_publication.author %}">@{{ node.shared_publication.author }}</a>
                                                            <i class="blue-textº text-darken-2"> {{ node.shared_publication.created|naturaltime }}</i>
                                                        </p>
                                                        <p>{{ node.shared_publication.content|safe }}</p>
                                                        {% with node.shared_publication.images.all as images %}
                                                            {% if images %}<br>
                                                                <div class="row">
                                                                    {% for image in images %}
                                                                        {% if image.image %}
                                                                        <div class="col l4 s12">
                                                                            <img class="lazyload materialboxed responsive-img z-depth-2"
                                                                                 data-src="{{ image.image.url }}"
                                                                                 alt="Imagen de: {{ node.author }}"
                                                                                 title="Imagen de: {{ node.author }}">
                                                                        </div>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </div>
                                                            {% endif %}
                                                        {% endwith %}
                                                        {% with node.shared_publication.videos.all as videos %}
                                                            {% if videos %}<br>
                                                                <div class="row">
                                                                    {% for video in videos %}
                                                                        <div class="col s4">
                                                                            <video class="responsive-video" controls
                                                                                   loop>
                                                                                <source src="{{ video.video.url }}"
                                                                                        type="video/mp4">
                                                                            </video>
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                            {% endif %}
                                                        {% endwith %}
                                                        {% if node.shared_publication.extra_content %}
                                                            {% comment %} Para publicaciones con URL {% endcomment %}
                                                            {% if  node.shared_publication.extra_content.video %}
                                                                {% video node.shared_publication.extra_content.video as my_video %}
                                                                {% video my_video "100% x 100%" %}
                                                                {% endvideo %}
                                                            {% else %}
                                                                <div class="card small">
                                                                    <div class="card-image">
                                                                        <img class="lazyload" data-src="
                                                                                {% if node.shared_publication.extra_content.image %}{{ node.shared_publication.extra_content.image }}{% else %}{% static "dist/img/nuevo_back.png" %}{% endif %}">
                                                                        <span class="card-title white-text">{{ node.shared_publication.extra_content.title }}</span>
                                                                    </div>
                                                                    <div class="card-content">
                                                                        <p>{{ node.shared_publication.extra_content.description }}.</p>
                                                                    </div>
                                                                    <div class="card-action">
                                                                        <a class="white-text blue right btn right" target="_blank" href="{{ node.shared_publication.extra_content.url }}">Ver</a>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                    <div class="card-action">
                                                        <a class="white-text blue right btn right"
                                                           target="_blank"
                                                           href="/publication/{{ node.shared_publication.pk }}">Ver</a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        {% if item.object.shared_group_publication %}
                                            {% if item.object.shared_group_publication.deleted %}
                                                <div class="row">
                                                    <div class="col s12 m5">
                                                        <div class="card-panel blue">
                                                            <span class="white-text">Esta publicación no está disponible.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                {% comment %} Para publicaciones que contienen citas {% endcomment %}
                                                <div class="card grey lighten-5">
                                                    <div class="card-content black-text">
                                                        {% avatar item.object.shared_group_publication.author %}<br>
                                                        <p class="card-title-md-18"><a
                                                                href="{% url 'user_profile:profile' item.object.shared_group_publication.author %}">@{{ item.object.shared_group_publication.author }}</a>
                                                            <i class="blue-textº text-darken-2"> {{ item.object.shared_group_publication.created|naturaltime }}</i>
                                                        </p>
                                                        <p>{{ item.object.shared_group_publication.content|safe }}</p>
                                                        {% with item.object.shared_group_publication.images.all as images %}
                                                            {% if images %}<br>
                                                                <div class="row">
                                                                    {% for image in images %}
                                                                        {% if image.image %}
                                                                        <div class="col l4 s12">
                                                                            <img class="lazyload materialboxed responsive-img z-depth-2"
                                                                                 data-src="{{ image.image.url }}"
                                                                                 alt="Imagen de: {{ node.author }}"
                                                                                 title="Imagen de: {{ node.author }}">
                                                                        </div>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </div>
                                                            {% endif %}
                                                        {% endwith %}
                                                        {% with item.object.shared_group_publication.videos.all as videos %}
                                                            {% if videos %}<br>
                                                                <div class="row">
                                                                    {% for video in videos %}
                                                                        <div class="col s4">
                                                                            <video class="responsive-video" controls
                                                                                   loop>
                                                                                <source src="{{ video.video.url }}"
                                                                                        type="video/mp4">
                                                                            </video>
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                            {% endif %}
                                                        {% endwith %}
                                                        {% if item.object.shared_group_publication.extra_content %}
                                                            {% comment %} Para publicaciones con URL {% endcomment %}
                                                            {% if  item.object.shared_group_publication.extra_content.video %}
                                                                {% video item.object.shared_group_publication.extra_content.video as my_video %}
                                                                {% video my_video "100% x 100%" %}
                                                                {% endvideo %}
                                                            {% else %}
                                                                <div class="card small">
                                                                    <div class="card-image">
                                                                        <img class="lazyload" data-src="
                                                                                {% if item.object.shared_group_publication.extra_content.image %}{{ item.object.shared_group_publication.extra_content.image }}{% else %}{% static "dist/img/nuevo_back.png" %}{% endif %}">
                                                                        <span class="card-title white-text">{{ item.object.shared_group_publication.extra_content.title }}</span>
                                                                    </div>
                                                                    <div class="card-content">
                                                                        <p>{{ item.object.shared_group_publication.extra_content.description }}.</p>
                                                                    </div>
                                                                    <div class="card-action">
                                                                        <a class="white-text blue right btn right" target="_blank" href="{{ item.object.shared_group_publication.extra_content.url }}">Ver</a>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                    <div class="card-action">
                                                        <a class="white-text blue right btn right"
                                                           target="_blank"
                                                           href="{% url "publications_groups:detail_group_publication" pk=item.object.shared_group_publication.pk %}">Ver</a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% for i in item.object.images.all %}
                                        <div class="col s12">
                                            <img class="materialboxed" src="{{ i.image.url }}" alt="{{ item.author }}" width="100%"
                                                 height="100%"/>
                                        </div>
                                    {% endfor %}
                                    {% with item.object.videos.all as videos %}
                                            {% if videos %}
                                                <div class="row videos">
                                                    {% for video in videos %}
                                                        <div class="col s12 z-depth-2 center">
                                                            <video class="responsive-video" controls loop>
                                                                <source src="{{ video.video.url }}" type="video/mp4">
                                                            </video>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        {% endwith %}
                                        {% if item.object.extra_content %}
                                            {% if item.object.extra_content.video %}
                                                {% video item.object.extra_content.video as my_video %}
                                                    {% video my_video "100% x 100%" %}
                                                {% endvideo %}
                                            {% else %}
                                                {% comment %} Para publicaciones con URL {% endcomment %}
                                                <div class="card small">
                                                    <div class="card-image">
                                                        <img class="lazyload" data-src="
                                                                {% if item.object.extra_content.image %}{{ item.object.extra_content.image }}{% else %}{% static "dist/img/nuevo_back.png" %}{% endif %}">
                                                        <span class="card-title white-text">{{ item.object.extra_content.title }}</span>
                                                    </div>
                                                    <div class="card-content">
                                                        <p>{{ item.object.extra_content.description }}</p>
                                                    </div>
                                                    <div class="card-action">
                                                        <a class="white-text blue right btn right" target="_blank" href="{{ item.object.extra_content.url }}">Ver</a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if s == 'images' %}
            <div class="grid row">
                {% for item in object_list %}
                    <div class="grid-item image-div tooltipped infinite-item" data-position="bottom" data-delay="50"
                         data-tooltip="{{ item.description|truncatechars:"150" }}">
                        <div class="container-image">
                            <div class="principal-content">
                                {% if item.tags %}
                                    <div class="tags-content">
                                        {% for tag in item.tags %}
                                            <blockquote
                                                    onclick="location.href='{% url 'photologue:collection-list' item.author tag %}'">{{ tag }}</blockquote>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <img class="lazyload" data-src="{% if item.thumbnail %}{{ item.thumbnail }}{% elif item.url_image %}{{ item.url_image }}{% else %}{{ item.external_image }}{% endif %}" alt="{{ item.title }}" title="{{ item.title }}" onclick="location.href='{% url "photologue:pl-photo" username=item.author slug=item.slug %}'">
                            </div>
                            <div class="col s12 legend-content">
                                <div class="legend-user-image">
                                    <img src="{{ item.avatar }}" title="{{ item.author }}" alt="{{ item.author }}"/>
                                </div>
                                <div class="col l8 m8 s8 legend-user-data">
                                    <a href="/profile/{{ item.author }}">@{{ item.author }}</a>
                                    <i class="photo-title truncate">{{ item.title }}</i>
                                    <i class="truncate photo-date"><i
                                            class="material-icons md-18">access_time</i> {{ item.object.date_added|naturaltime }}
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if s == 'videos' %}
            <div class="grid row">
                {% for item in object_list %}
                    <div class="grid-item image-div tooltipped infinite-item" data-position="bottom" data-delay="50"
                         data-tooltip="{{ item.description|truncatechars:"150" }}">
                        <div class="container-image">
                            <div class="principal-content">
                                {% if item.tags %}
                                    <div class="tags-content">
                                        {% for tag in item.tags %}
                                            <blockquote
                                                    onclick="location.href='{% url 'photologue:collection-list' item.author tag %}'">{{ tag }}</blockquote>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% if item.thumbnail %}
                                    <img class="lazyload" data-src="{{ item.thumbnail }}"
                                         alt="{{ item.name }}" title="{{ item.name }}"
                                         onclick="location.href='{% url "photologue:pl-video" username=item.author slug=item.slug %}'">
                                {% else %}
                                    <video controls style="width: 100%; height: 100%; outline: none;">
                                        <source src="{{ item.video }}" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                {% endif %}
                            </div>
                            <div class="col s12 legend-content">
                                <div class="legend-user-image">
                                    <img src="{{ item.avatar }}" title="{{ item.author }}" alt="{{ item.author }}"/>
                                </div>
                                <div class="col l8 m8 s8 legend-user-data">
                                    <a href="/profile/{{ item.author }}">@{{ item.author }}</a>
                                    <a href="{% url "photologue:pl-video" username=item.author slug=item.slug %}"
                                       class="photo-title truncate">
                                        {{ item.name }}</a>
                                    <i class="truncate photo-date"><i
                                            class="material-icons md-18">access_time</i> {{ item.object.date_added|naturaltime }}
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="row">
            {% if page_obj.has_next %}
                <a class="infinite-more-link hidden"
                   href="?page={{ page_obj.next_page_number }}&q={{ q }}"></a>
            {% endif %}
            <div class="progress loading_search" style="display: none">
                <div class="indeterminate blue darken-1"></div>
            </div>
        </div>
    </div>
    <script src="{% static "js/search.js" %}"></script>
    <script src="{% static "js/photo_gallery.js" %}" type="text/javascript"></script>
    <script src="{% static "js/imagesloaded.pkgd.min.js" %}"></script>
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.grid'),
            offset: 'bottom-in-view',
            onBeforePageLoad: function () {
                $('.loading_search').show();
            },
            onAfterPageLoad: function () {
                $('.loading_search').hide();
                $grid.imagesLoaded().progress(function () {
                    $grid.masonry('reloadItems');
                    $grid.masonry('layout');
                });
            }
        });

        var $grid = $('.grid').masonry({
            itemSelector: '.grid-item',
            columnWidth: 300,
            gutter: 20,
            fitWidth: true,
            initLayout: false,
            horizontalOrder: true,
            transitionDuration: '0.3s'
        });
        $grid.imagesLoaded().progress(function () {
            $grid.masonry('layout');
        })
    </script>
{% endblock %}
