.textcomplete-dropdown {
  border-radius: 7px;
  background-color: #fafafa;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  z-index: 9999 !important;
}
.textcomplete-dropdown img {
  width: 20px;
  height: 20px;
}
.textcomplete-dropdown .textcomplete-item {
    padding: 10px;
    cursor: pointer;
    display: inline-block;
}
.textcomplete-dropdown .textcomplete-item a {
    margin: auto;
}
.textcomplete-dropdown .textcomplete-item:hover > a{
    color: #555;
}