{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="wrapper">
        <h3 class="lost-password-title">Soporte y ayuda</h3>
        <p>Si no ha podido resolver su problema de ninguna otra forma, por favor, contacta con nosotros.</p>
        {% if user.is_authenticated %}
            {% include "account/account/snippets/already_logged_in.html" %}
        {% endif %}
        <div class="row">
            <div class="col offset-l3 col l6 m12 s12">
                <form method="POST" action="" class="password_reset">{% csrf_token %}
                    <div class="row">
                        {{ form.title.errors }}
                        <div class="input-field col s12">
                            {{ form.title }}
                            <label for="id_title">{{ form.title.label }}</label>
                        </div>
                    </div>
                    <div class="row">
                        {{ form.description.errors }}
                        <div class="input-field col s12">
                            {{ form.description }}
                            <label for="id_description">{{ form.description.label }}</label>
                        </div>
                    </div>
                    <div class="row">
                        {{ form.username_or_email.errors }}
                        <div class="input-field col s12">
                            {{ form.username_or_email }}
                            <label for="id_username_or_email">{{ form.username_or_email.label }}</label>
                        </div>
                    </div>
                    <button class="waves-effect waves-light btn blue darken-1 right" type="submit">Enviar
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
