{% extends "account/base_interface.html" %}
{% load static %}
{% load i18n %}
{% load django_th_extras %}
{% block filter_trigger %}
{% block title %}Error en servicio{% comment %}{% trans "My Services" %}{% endcomment %}{% endblock %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row center">
            <div class="col offset-s4 s4">
                <div class="z-depth-1">
                    <h1>Ups... algo ha ido mal.<h1>
                    <h4>{{ exception }}</h4>
                    <a href="{% url 'user_services' %}" class="btn blue">Ir a mis servicio</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
