{% extends "account/base_interface.html" %}
{% load static %}
{% load i18n %}
{% load django_th_extras %}
{% block title %}<title>Skyfolk // Mis servicios{% comment %}{% trans "My Services" %}{% endcomment %}</title>{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="col offset-s3 s6 z-depth-2" id="trigger-content">
        {% if action == 'edit' %}
        <h3 class="center">Editar servicio: {% comment %} {% trans 'Edition of the service' %} {% endcomment %}{{ service_name_alone }}</h3>
        {% else %}
        <h3 class="center">Añadir servicio: {% comment %} {% trans 'Adding of the service' %} {% endcomment %}{{ service_name_alone }}</h3>
        {% endif %}
        {%  if services == 0 %}
        <div class="alert alert-warning">
            ¡Ya has activado todos los servicios existentes!
            <a href="{% url 'user_services' %}">Ir a mis servicios activos</a>
        </div>
        {%  else  %}
        <form method="post" role="form" class="form-horizontal" action="">
        {% csrf_token %}
        {{ form.non_field_errors }}
            <div class="form-group">
                <div class="col s12"><h4>Quiero recibir los datos capturados por este servicio en mi correo en...</h4></div>
                <label class="col s12 control-label" for="id_duration">{% trans 'Duration' %}</label>
                <div class="col s12">{{ form.duration }}</div>
                <div class="col s12">{{ form.duration.errors }}</div>
            </div>
            {% if service_name in SERVICES_WITH_TOKEN %}
            <div class="form-group">
                <div class="col-sm-12"><h4>Autenticación</h4></div>
                <label class="col-sm-2 control-label" for="id_token">{% trans 'User Token' %}</label>
                <div class="col-sm-6">{{ form.token }}</div>
                <div class="col-sm-offset-2 col-sm-8">{{ form.token.errors }}</div>
            </div>
            {% elif service_name in SERVICES_HOSTED_WITH_AUTH %}
            <div class="form-group">
                <label class="col-sm-2 control-label" for="id_username">{% trans 'Username' %}</label>
                <div class="col-sm-6">{{ form.username }}</div>
                <div class="col-sm-offset-2 col-sm-8">{{ form.username.errors }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="id_password">{% trans 'Password' %}</label>
                <div class="col-sm-6">{{ form.password }}</div>
                <div class="col-sm-offset-2 col-sm-8">{{ form.password.errors }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="id_client_id">{% trans 'Client ID' %}</label>
                <div class="col-sm-6">{{ form.client_id }}</div>
                <div class="col-sm-offset-2 col-sm-8">{{ form.client_id.errors }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="id_client_secret">{% trans 'Client Secret' %}</label>
                <div class="col-sm-6">{{ form.client_secret }}</div>
                <div class="col-sm-offset-2 col-sm-8">{{ form.client_secret.errors }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="id_host">{% trans 'Host' %}</label>
                <div class="col-sm-6">{{ form.host }}</div>
                <div class="col-sm-offset-2 col-sm-8">{{ form.host.errors }}</div>
            </div>
            {% elif service_name in SERVICES_AUTH and action != 'edit' %}
            <div class="col s12">
                <blockquote>Cuando presiones <b>Activar</b>, serás redirigido a tu cuenta de {{ service_name_alone }}. Autoriza a Skyfolk para que podamos enviarle datos. Puedes eliminar esta conexión en cualquier momento.</blockquote>
            </div>
            {% endif %}
            <div class="col s12">
                <div class="right">
                    <button class="btn btn-primary blue">{% if action == 'edit' %}Guardar{% else %}Activar{% endif %}</button>
                </div>
            </div>
        </form>
        {%  endif  %}
    </div>
</div>
</div>
{% endblock %}
