{% extends master_template %}

{% load i18n %}

{% block title %}{% if current_workspace %}{{ current_workspace.name }}{% else %}{% trans "Default" %}{% endif %} -
    {% trans "Public dashboard" %}{% endblock title %}
<div class="container">
    {% block top-nav-menu-wrapper %}
        {% if current_workspace.is_clonable %}
            <div class="row center">
                <a href="{% url 'dash.clone_dashboard_workspace' current_workspace.pk %}"
                   class="btn blue white-text" title="{% trans 'Clone this workspace' %}">
                    {% trans 'Clone this workspace' %}
                </a>
            </div>
        {% endif %}
    {% endblock top-nav-menu-wrapper %}
    {% block workspaces-wrapper %}
        {% if workspaces %}
            <div class="divider"></div>

            <div class="row">
                <div class="col s12">
                    <div>
                        <ul class="collapsible" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header">{{ workspaces|length }} Workspaces</div>
                                <div class="collapsible-body">
                                    {% for ws in workspaces %}
                                        <div class="col s3">
                                            <div class="card {% if ws == current_workspace %}grey lighten-1{% endif %}">
                                                <a href="{% url 'dash.public_dashboard' user.username ws.slug %}"
                                                   title="Workspace {{ ws.name }}">
                                                    <p class="flow-text">
                                                        <span class="material-icons">dashboard</span>
                                                        <span>{{ ws.name }}</span> -
                                                        <span>{{ ws.layout_uid }}</span>
                                                    </p>
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="divider"></div>
        {% endif %}
    {% endblock workspaces-wrapper %}
    {% block content %}
        <div class="row">
            {% for placeholder in placeholders %}
                <div id="{{ placeholder.html_id }}" class="placeholder {{ placeholder.html_class }}">
                    {{ placeholder.render_for_view|safe }}
                </div>
            {% endfor %}
        </div>
    {% endblock content %}
</div>