@import url(http://fonts.googleapis.com/css?family=PT+Sans);   
@import url(http://fonts.googleapis.com/css?family=Open+Sans); 
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}


body {
    font-size: 20px;
    font-weight: normal;
    font-family: 'PT Sans', sans-serif;
    width: 1000px;
    height: auto;
}
span h3.fontawesome-envelope {
  margin-left:  20px;
  padding:  10px 10px;
  background-color:  #A5DBEB;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #F5F5F5;
  width: 1600px;
}

aside {
  position:  relative;
  margin-left: 20px;
  background-color: #FAFAFA;
  height: 420px;
  width: 280px;
  border-radius:  7px;
  -webkit-box-shadow: 2px 2px 7px 0px #efefef;
-moz-box-shadow:    2px 2px 7px 0px #efefef;
box-shadow:         2px 2px 7px 0px #efefef;
}
nav {
  list-style-type:  none;
  height: 100%;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;

}
nav li {
  color:  #000;
  margin-top:  20px;
  padding:  10px 10px;
  border-bottom:  2px solid #fff;
  background-color:  #fafafa;
  border-left: 5px solid #A5DBEB;
  border-radius:  3px;
  transition:  all .2s ease-in;
  cursor:  pointer;
}
nav li:hover {
  color:  #00CED1;
  background-color:  #E4E4E4;
}
nav li i {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  font-style: normal;
  transition:  all .3s ease-in;
}
nav li:hover > i {
  margin-left: 40px;
}

input[target="search"] {
    border-radius: 20px;
    background: url('http://png-4.findicons.com/files/icons/1389/g5_system/32/toolbar_find.png') 9px 9px no-repeat, linear-gradient(to bottom, #f7f7f8 0%,#ffffff 100%);
    background-size: 19px;
    border: none;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
    transition: all 0.2s linear;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 13px;
    color: #222222;
    position: relative;
    height: 36px;
    width: 250px;
    padding-left: 30px;

}

a{
    text-decoration: none;
    color: white;
    border-bottom: 2px solid aquamarine;
    transition: all .3s ease-in-out;
    width: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    
}
a:hover {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid tomato;
    
}
a[target="name"] {
    text-decoration: none;
    color: grey;
    border-bottom: 1px solid #C0FFEF;
    transition: all .3s ease-in-out;
    text-align: center;
}
.wrapper {
    text-align: center;
    height: auto;
    top: 5%;
    width: auto;
    max-width: 70%; 
    position: absolute;
	margin: 50px auto;
    left:23%;
    
}
div.noti img{
    width: 100px;
    height: 112px;
    float: left;
    position: relative;
    cursor: pointer;
    display: block;
}
img:hover {
    opacity: 0.8;
}
div.noti {
    width: 850px;
    height: 113px;
    background-color: #E8E8E8; 
    margin: 10px;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    display: table;
}
div.noti:hover {
    background-color: #fff;
    color: #000;
}

blockquote {
    font-size: 20px;
    min-width: 60%;
    max-width: 70%;
    position: relative;
    left: 10%;
    margin-right: auto;
    text-align: center;
    top: 20px;
}
i {
    font-size: 9px;
    float: right;
    padding: 5px 5px;
    height: 86%;
    color: grey;
    background-color: transparent;
}