{% extends "index.html" %}

{% block title %} <title>Próximamente Skyfolk - Confirmación</title>{% endblock %}

{% block content %}
            <div class="col s10 m8 l6 email-field">
                    <h4 class="email-title">¡Gracias por introducir tu correo!</h4>
                    <h5>Te avisaremos cuanto este acabada y lista para tí.</h5>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.skyfolk.net" data-text="¡Conoce Skyfolk!" data-size="large" data-hashtags="skyfolk">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                     <div class="google-btn">
                         <div class="g-plusone" data-annotation="inline" data-width="300"></div>
                     </div>
                </div>
            </div>
{% endblock %}
