{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    {% block title %}
        <title>{% trans "Próximamente" %} - Skyfolk.</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <meta property="og:image" content="http://skyfolk.net/static/images/skyfolk.jpg"/>
    <meta name="keywords" content="social, network, CSS, red, social, HTML, amigos, friends, skyfolk, HTML5">
    <meta name="description" content="Nueva red social próximamente...">
    <meta name="author" content="Adrián Carayol - Néstor Pana - Gabriel Oriol">
    <meta name="google-site-verification" content="oUGAcmPQTSVAWBuFOnilYlTVonkSyhv-HQSM3jmRLPM"/>
    <link rel="icon" type="image/png" href="{% static "images/favicon.ico" %}"/>
    <!-- Importamos styles -->
    <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static "css/soon.css" %}" media="screen,projection"/>
    <!-- Importamos js -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
    <!-- Importamos icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-72424818-1', 'auto');
        ga('send', 'pageview');

    </script>
    <script src="https://apis.google.com/js/platform.js" async defer>
        {
            lang: 'es'
        }
    </script>
</head>

<body>
<img class="imagen-oculta" rel="image_src" src="{% static "images/skyfolk.jpg" %}">
<div class="body-wallpaper">
    <div id="background_cycler">
        <img class="active" src="{% static "images/fondos_antiguos/fondo2.jpg" %}">
    </div>
    {% block header %}
        <div onclick="location.href='/'" class="div-skyfolk-logo">
            <h4 class="title-skyfolk"><i class="text-initial">S</i>kyfolk</h4><img class="logo-skyfolk"
                                                                                   src="{% static "images/logo.png" %}">
        </div>
    {% endblock %}
    {% block prox %}
        <div class="prox-skyfolk-div">
            <h1>Skyfolk.
                <br>
                Próximamente.
            </h1>
        </div>
    {% endblock %}
    {% block wrapper %}
        <div class="wrapper">
            <div class="row">
                {% block content %}
                    <div class="col s10 m7 l5 email-field">
                        <h5 class="email-title">{% trans "Introduce tu e-mail" %}.</h5>
                        <div class="input-field col s6 m6 l6">
                            <form action="" method="post">{% csrf_token %}
                                {{ form }}
                                <!--<input id="email" type="email" class="validate">
                                <label for="email" data-error="wrong" data-success="right">Tu e-mail</label>-->
                                <div class="center-block">
                                    <button class="btn waves-effect waves-light" type="submit"
                                            name="action">{% trans "¡Avisame!" %}</button>
                                </div>
                            </form>
                        </div>
                        <div onclick="location.href='/team'" class="col s2 m2 l3 team-group">
                            <img class="team-image"
                                 src="http://www.goodlookingdesign.co.uk/images/services/logo-design.svg">
                            <div class="team-div">
                                <span class="team-triangle"></span>
                                <span class="team-div-span">Conoce al equipo.</span>
                            </div>
                        </div>
                    </div>
                    </div>
                {% endblock %}
        </div>
    {% endblock %}
    {% block footer %}
        <div class="footer">
            <h5>{% trans "¡Te avisamos cuando estemos online!" %}</h5>
        </div>
    {% endblock %}
</div>
</body>

</html>
