{% extends "index.html" %}

  {% block title %} <title>¡Conoce al equipo!</title>{% endblock %}
  {% block prox %}
<div class="title-team">
  <h1>Equipo Skyfolk.</h1>
</div>
  {% endblock %}
  {% block wrapper %}
<div class="col l12 m12 s12 wrapper-x">
        <div class="row">
          <div class="col l3 s12 m6">
            <div class="card white">
              <div class="card-content grey-text text-darken-2">
                <img class="responsive-img right" src="/static/images/design.png">
                <span class="grey-text text-darken-2 card-title">Adrián Carayol Orenes<br><h6>FULL-STACK DEVELOPER</h6></span>
                <p>Encargado del <b>Front-End + Back-End</b> en Skyfolk.</p>
              </div>
              <div class="grey-text text-darken-2 card-action">
                <a href="https://es.linkedin.com/in/adrian-carayol-orenes-027016108" class="blue-text text-darken-2"><i class="tiny material-icons">web</i> Web</a>
                <a class="blue-text text-darken-2 right"><i class="tiny material-icons">location_on </i> España - Murcia </a>
              </div>
            </div>
          </div>

          <div class="col l3 s12 m6">
            <div class="card white">
              <div class="card-content grey-text text-darken-2">
                <img class="responsive-img right" src="/static/images/sys.png">
                <span class="card-title grey-text text-darken-2">Nestor Pana Saavedra<br><h6>SYSTEMS ADMINISTRATOR / DEVOPS</h6></span>
                <p>Administrador de sistemas, <b>DevOps</b>.</p>
              </div>
              <div class="grey-text text-darken-2 card-action">
                <a href="http://lostcitizen.net" class="blue-text text-darken-2"><i class="tiny material-icons">web</i> Web</a>
                <a class="blue-text text-darken-2 right"><i class="tiny material-icons">location_on </i> España - Barcelona </a>
              </div>
            </div>
          </div>
          <div class="col l3 s12 m6">
            <div class="card white">
              <div class="card-content grey-text text-darken-2">
                <img class="responsive-img right" src="/static/images/back.png">
                <span class="card-title grey-text text-darken-2">Gabriel Fernández<br><h6>FULL-STACK DEVELOPER</h6></span>
                <p>Encargado del <b>Back-End</b> en Skyfolk.</p>
              </div>
              <div class="grey-text text-darken-2 card-action">
                <a href="https://www.linkedin.com/in/gabrielfernandezdeveloper" class="blue-text text-darken-2"><i class="tiny material-icons">web</i> Web</a>
                <a class="blue-text text-darken-2 right"><i class="tiny material-icons">location_on </i> Uruguay - Salto </a>
              </div>
            </div>
          </div>
        </div>
</div>
  {% endblock %}

  {% block footer %}

  {% endblock %}
