{% comment %}
  Pin de usuario, donde se muestra avatar, nombre, imagen de perfil (en profile.html)
{% endcomment %}
{% load app_filters %}
{% load avatar_tags %}
{% load static %}
<div class="row">
    <div class="col l12 m12 s12">
        <div id="group-profile" data-id="{{ group_profile.group_ptr_id }}" class="user-card card">
            <div class="ventana-pin">
                <a><i class="material-icons">remove</i></a>
                <a><i class="material-icons">flip_to_front</i></a>
            </div>
            <div class="user-avatar">
                {% if group_profile.back_image %}
                    <img src="{{ group_profile.back_image.url }}" class="user-bg">
                {% else %}
                    <img src="{% static "img/nuevo_back.png" %}" class="user-bg">
                {% endif %}
                <div class="group-tool">
                    <div class="item">
                        <div class="user-pic">
                            {% if group_profile.avatar %}
                                <img src="{{ group_profile.avatar.url }}" height="120" width="120">
                            {% else %}
                                <img src="{% static "img/nuevo.png" %}" height="120" width="120">
                            {% endif %}
                        </div>
                        <span class="informacion">
                        {% if group_owner %}
                            <span data-url="{% url "user_groups:configuration_group:configuration_group" pk=group_profile.group_ptr_id %}" id="configurationOnProfile" class="material-icons configure-profile" title="Configuracion">settings</span>
                        {% elif follow_group %}
                            <span id="unfollow-group" class="material-icons group-follow" title="Dejar de seguir"
                                  style="color: #29b203;">remove</span>
                        {% elif friend_request %}
                            <span class="material-icons cancel-request" id="cancel_group_request" title="En proceso">watch_later</span>
                        {% else %}
                            <span id="follow-group" class="material-icons group-follow" title="Seguir">add</span>
                        {% endif %}
                            {% if user_like_group %}
                                <span id="like-group" class="material-icons group-like" title="¡Me gusta!"
                                      style="color: rgb(236, 64, 122);">favorite</span>
                            {% else %}
                                <span id="like-group" class="material-icons group-like" title="¡Me gusta!">favorite</span>
                            {% endif %}
                            <span id="publish_group" class="material-icons group-comment" title="Escribir">send</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="group-info center">
                <br>
                <p class="group-name">{% if not group_profile.is_public %}<i class="material-icons">lock</i> {% endif %}<b>{{ group_profile.name }}</b></p><br>
                {% if group_profile.description != None %}
                    <p class="group-description">{{ group_profile.description }}</p><br><br>
                {% endif %}
                {% if interests %}
                <div class="interests">
                    {% for i in interests %}
                        <span class="chip">{{ i.title }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <ul id="user-stats" class="stats">
                <li>
                    <a href="/users/{{ group_profile.slug }}"><strong
                            id="followers-stats">{{ users_in_group }}</strong><span>Usuarios</span></a>
                </li>
                <li>
                    <a id="likes" href="/glikes/{{ group_profile.slug }}"><strong>{{ likes }}</strong><span
                            title="me gusta">Me gusta</span></a>
                </li>
                <li>
                    <a class="to_gallery"
                       href="{% url "photologue_groups:photo-list" slug=group_profile.slug %}"><strong>{{ group_profile.get_total_multimedia }}</strong><span>Fotos y vídeos</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
