{% comment %}
  Pin de usuario, donde se muestra avatar, nombre, imagen de perfil (en profile.html)
{% endcomment %}
{% load app_filters %}
{% load avatar_tags %}
<div class="row">
    <div class="col l12 m12 s12">
        <div id="group-profile" data-id="{{ group_profile.id }}" class="user-card card" >
            <div class="ventana-pin">
                <a><i class="fa fa-times"></i></a>
                <a><i class="fa fa-expand"></i></a>
                <a><i class="fa fa-thumb-tack"></i></a>
            </div>
            <div class="user-avatar">
                {% if group_profile.large_image and group_profile.large_image|file_exists %}
                    <img src="{{ group_profile.large_image.url }}" class="user-bg">
                {% else %}
                    <img src="{{ STATIC_URL }}img/nuevo_back.png" class="user-bg">
                {% endif %}
                <div class="caja">
                    <div class="item">
                        <div class="user-pic">
                            <img src="{{ STATIC_URL }}img/nuevo.png" height="120" width="120">
                        </div>
                        <span class="informacion">
                        {% if follow_group %}
                            <span id="unfollow-group" class="fa fa-remove group-follow" title="Dejar de seguir" style="color: #29b203;"></span>
                        {% else %}
                            <span id="follow-group" class="fa fa-plus group-follow" title="Seguir"></span>
                        {% endif %}
                        {% if user_like_group %}
                            <span id="like-group" class="fa fa-heart group-like" title="¡Me gusta!" style="color: rgb(236, 64, 122);"></span>
                        {% else %}
                            <span id="like-group" class="fa fa-heart group-like" title="¡Me gusta!"></span>
                        {% endif %}
                            <span class="fa fa-paper-plane group-comment" title="Escribir"></span>
                        </span>
                    </div>
                </div>
            </div>
            <header>
                <p class="user-profile-name">{{ group_profile.name }}</p><br>
                {% if group_profile.description != None %}
                    <p class="status">{{ group_profile.description }}</p><br><br>
                {% endif %}
            </header>
            <ul id="user-stats" class="stats">
                <li>
                    <a href="/followers/{{ group_profile.name }}"><strong
                            id="followers-stats">{{ users_in_group }}</strong><span>Usuarios</span></a>
                </li>
                <li>
                    <a id="likes" href=""><strong>{{ likes }}</strong><span title="me gusta">Me gusta</span></a>
                </li>
                <li>
                    <a class="to_gallery"
                       href="/multimedia/{{ user_profile.username }}/"><strong>50</strong><span>Fotos y vídeos</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
