{% extends 'account/base_interface.html' %}
{% comment %}
  Template para los seguidores de un perfil
{% endcomment %}
{% load static %}
{% block title %}Usuarios de {{ group.name }}{% endblock %}
{% block extra-css %}
    <link type="text/css" rel="stylesheet" href="{% static "css/amigos.css" %}" onload="if(media!='all')media='all'">
    <style>
        .user-card  {
            height: 300px;
        }
        .user-avatar {
            height: 80% !important;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <input id="group_id" type="hidden" value="{{ group.id }}"/>
        <div class="row">
            <div class="col l12 m10 s12 container-responsive">
                <div class="row">
                    {% include "groups/followers_page.html" %}
                </div>
            </div>
        </div>
        <div class="row">
            {% if members.has_other_pages %}
                <ul class="pagination center">
                    {% if members.has_previous %}
                        <li><a href="?page={{ members.previous_page_number }}"><i class="material-icons">chevron_left</i></a>
                        </li>
                    {% else %}
                        <li class="disabled"><span><i class="material-icons">chevron_left</i></span></li>
                    {% endif %}
                    {% for i in members.paginator.page_range %}
                        {% if members.number == i %}
                            <li class="active blue darken-1 white-text"><span>{{ i }}</span></li>
                        {% else %}
                            <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if members.has_next %}
                        <li><a href="?page={{ members.next_page_number }}">
                            <i class="material-icons">chevron_right</i>
                        </a></li>
                    {% else %}
                        <li class="disabled"><span>
                <i class="material-icons">chevron_right</i>
        </span></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
        <script type="text/javascript" src="{% static "js/groups.js" %}"></script>
    </div>
{% endblock %}
