{% load app_filters %}
{% load avatar_tags %}
{% load static %}
{% for item in object_list %}
    <div id="member-{{ item.profile.user.id }}" class="col l3 s12 z-depth-1-half"
         style="border-radius: 7px; margin: 10px;">
        {% include "user_profile/skyfolk-card.html" %}
        {% if enable_kick_btn %}
            <div class="row center">
                <div class="col s12">
                    <button data-id="{{ item.id }}" class="kick-member waves-effect waves-light btn red">Expulsar
                    </button>
                </div>
            </div>
        {% endif %}
    </div>
{% endfor %}
