{% load static from staticfiles %}
{% load group_utils %}
{% load humanize %}
{% for theme in themes %}
    <div class="col s12 theme" data-id="{{ theme.id }}">
        <div class="card horizontal">
            <div class="card-image">
                <img class="lazyload" data-src="
                        {% if theme.image %}{{ theme.image.url }}{% else %}{% static "img/nuevo_back.png" %}{% endif %}"
                     style="width: 120px; height: 120px;">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <a href="{% url "user_profile:profile" username=theme.owner %}">@{{ theme.owner }}</a>
                    <i>{{ theme.created|naturaltime }}</i>
                    <h4>{{ theme.title|safe }}</h4>
                    <p>{{ theme.description|safe }}</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'user_groups:group_theme' slug=theme.slug %}" class="blue-text">Ver tema</a>
                    <p class="right">
                        <span><i class="material-icons">comment</i><i class="pubs-theme-value">{{ theme.total_pubs|zero_to_empty }}</i></span>
                        <span class="like-theme" {% if theme.have_like == 1 %}style="color: rgb(240, 98, 146);"{% endif %}><i class="material-icons">keyboard_arrow_up</i><i
                                class="like-theme-value">{{ theme.likes|zero_to_empty }}</i></span>
                        <span class="hate-theme" {% if theme.have_hate == 1 %}style="color: rgb(186, 104, 200);"{% endif %}><i class="material-icons">keyboard_arrow_down</i><i
                                class="hate-theme-value">{{ theme.hates|zero_to_empty }}</i></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% if themes.has_next %}
    <div class="row center">
        <a class="infinite-more-themes waves-effect waves-light btn blue darken-1 white-text center"
           href="?page={{ themes.next_page_number }}&qs=themes"><i class="material-icons">add</i></a>
        <div class="progress load_themes" style="display: none">
            <div class="indeterminate blue darken-1"></div>
        </div>
    </div>
{% endif %}