{% load humanize %}
{% load app_filters %}
<div class="row">
<ul>
    {% for group in groups %}
    	<li>
    		<div class="col l3 m6 s12">
    			<div class="user-award z-depth-2">
	    			<div class="row">
	    				<div class="col s2">
	    					{% if group.avatar %}
	    						<img src="{{ group.avatar.url }}" width="48" height="48">
	    					{% else %}
	    						<img src="{{ STATIC_URL }}img/ic_people_black_24dp_2x.png">
	    					{% endif %}
	    				</div>
	    				<div class="col s10"><br>
	    					<b>{% if not group.is_public %}<i class="material-icons md-18 left" title="Este grupo es privado.">lock</i>{% endif %}<a href="{% url 'user_groups:group-profile' groupname=group.slug %}">{{ group.name }}</a></b>
	    				</div>
	    			</div>
	    			<div class="row">
	    				<div class="col s12">
	    				<p>{{ group.description|truncatechars:"120" }}</p>
	    				</div>
	    			</div>
	    			<div class="row center">
	    				<a class="btn-large disabled"><i class="material-icons left">person</i>{{ members|lookup:group.group_ptr_id|intword }}</a>
	    			</div>
    			</div>
    		</div>
    	</li>
    {% endfor %}
</ul>
</div>
{% if pagination %}
<div class="row">
	{{ pagination|safe }}
</div>
{% endif %}