{% extends "groups/base_group.html" %}
{% load app_filters %}
{% load avatar_tags %}
{% block title %} <title>Skyfolk - Grupos</title> {% endblock %}

{% block extra-css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/groups.css" onload="if(media!='all')media='all'">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 wrapper-groups">
                <div class="row">
                    {% for group in object_list %}
                        <div class="col l3 m10 s12 offset-m1">
                            <div class="personal-card">
                                <div class="row">
                                    <div class="col s12">
                                        <div class="header">
                                            {% if group.back_image  %}
                                                <img class="back-profile-user"
                                                     src="{{ MEDIA_URL }}{{ group.back_image }}">
                                            {% else %}
                                                <img class="back-profile-user" src="{{ STATIC_URL }}img/nuevo_back.png">
                                            {% endif %}
                                            <i class="material-icons md-24 group-icon"
                                               title="{{ group.users.all|length }}">group</i>
                                            <div class="bg-user">
                                                <div onclick="location.href='/group/{{ group.slug }}'"
                                                     class="profile-user-bg">
                                                    {% if group.avatar %}
                                                        <img src="{{ MEDIA_URL }}{{ group.avatar }}"
                                                             alt="avatar_group">
                                                    {% else %}
                                                        <img src="{{ STATIC_URL }}img/nuevo.png"
                                                             alt="avatar_group">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row">
                                        <div class="col s12">
                                            <div class="name-friend">
                                                <a class="truncate"
                                                   href="/group/{{ group.slug }}">{{ group.name }}</a><br><br>
                                                <p class="truncate">{{ group.description }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="row">
                                        <div class="col s12 group-data">
                                            {% for tag in group.tags.most_common|slice:":5" %}
                                                <span class="chip">
                                                        {{ tag.name|truncatechars:9 }}
                                                    </span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
