{% extends "groups/base_group.html" %}

{% load avatar_tags %}
{% block title %} <title>Skyfolk - Grupos</title> {% endblock %}

{% block extra-css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/groups.css"/>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 wrapper-news">
                {% comment "Usuarios con mayor afinidad" %}
                    Lista de los 6 usuarios con mayor afinidad.
                {% endcomment %}
                <div class="row">
                     {% for group in object_list %}
                        <div class="col l2 m12 s12">
                            <div class="notice-item">
                                <div class="col l3 m2 s3 img">
                                    {% avatar fav.0 %}
                                </div>
                                <div class="col l8 m9 s8 author">
                                    <a href="/group/{{ group.name }}">{{ group.name }}</a><br><br><i>{{ group.description}} {{ fav.3 }}</i>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}