{% load i18n dash_tags %}

<div class="container">
    <div class="row">
        <div class="col l4 s12 offset-l4">
            <div class="wrapper-bg"></div>
            <div class="hero-unit-small center">
                <h2 class="content-title">{% blocktrans with plugin.name as plugin_name %}Add {{ plugin_name }} to Dashboard{% endblocktrans %}</h2>
            </div>
        </div>
        <div class="col l4 s12 offset-l4">
            <div class="card">
                <form method="post" action="{{ request.path }}" enctype="multipart/form-data" class="form-horizontal">
                    {% csrf_token %}
                    <ul class="content-listing generic-form">
                        {% comment %}
                        {% include layout.form_snippet_template_name %}
                        {% endcomment %}
                        {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                        <div class="row">
                            <div class="input-field col s12">
                                {{ field.errors }}
                                {% if field.help_text %}
                                <small>{{ field.help_text }}</small>
                                {% endif %}
                                {% if 'FileInput' in field|field_type %}
                                    <div class="file-field input-field">
                                        <div class="btn">
                                            <span>{{ field.label }}</span>
                                            {{ field }}
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                        </div>
                                    </div>
                                {% else %}
                                    {{ field }}
                                    {{ field.label_tag }}
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        <div class="row">
                            <button type="submit" class="btn blue white-text right">{% trans "Add" %}</button>
                        </div>
                        {% include "dash/snippets/plugin_help_text.html" %}
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>
