{% load i18n %}
{% block content %}
    <div class="container">
        <div class="row">
            {% for ws in workspaces %}
                <div class="col s4">
                    <div class="card z-depth-2{% if ws == current_workspace %} blue{% endif %}">
                        <div class="row">
                            <a href="{% if edit_mode %}{% url 'dash.edit_dashboard' ws.slug %}{% else %}{% url 'dash.dashboard' ws.slug %}{% endif %}"
                               title="{{ ws.name }}">
                                <span class="material-icons" title="Privado">{% if not ws.is_public %}
                                    lock{% endif %}</span>
                                <span class="material-icons">{% if not ws.is_clonable %}content_copy{% endif %}</span>
                                <span class="flow-text" title="Puede copiarse">Workspace: {{ ws.name }}</span>
                            </a>
                        </div>
                        <div class="divider"></div>
                        <div class="row">
                            <span>Layout: </span>
                            <span>{{ ws.layout_uid }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}