{% load i18n %}
{% block content %}
    <div class="container">
        <div class="row">
            {% for ws in workspaces %}
                <div class="col l4 m6 s12">
                    <div class="card z-depth-2">
                        <div class="row">
                            <a href="{% if edit_mode %}{% url 'dash:dash.edit_dashboard' ws.slug %}{% else %}{% url 'dash:dash.dashboard' ws.slug %}{% endif %}"
                               title="{{ ws.name }}">
                                <span class="material-icons" title="Privado">{% if not ws.is_public %}
                                    lock{% endif %}</span>
                                <span class="material-icons">{% if not ws.is_clonable %}content_copy{% endif %}</span>
                                <span class="flow-text" title="Puede copiarse">Workspace: {{ ws.name }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include "dash/wrapper_add_plugin.html" %}
{% endblock %}