{% load i18n %}
<div class="generic-content-wrapper">
    <div class="wrapper-bg"></div>
    <div class="row hero-unit-small">
        <h4 class="content-title center">{% trans "Edit dashboard workspace" %}</h4>
    </div>

    <div class="row content-body">
        <form method="post" action="{% url 'dash.edit_dashboard_workspace' workspace_id %}" enctype="multipart/form-data" class="form-horizontal">
            {% csrf_token %}
            <ul class="content-listing generic-form">
                {% comment %}
                {% include layout.form_snippet_template_name %}
                {% endcomment %}
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field.errors }}
                    {{ hidden_field }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    <div class="row">
                        <div class="input-field col s12">
                            {{ field.errors }}
                            {% if field.help_text %}
                                <p>{{ field.help_text }}</p>
                            {% endif %}
                            {{ field }}
                            {{ field.label_tag }}
                        </div>
                    </div>
                {% endfor %}
                <li class="buttons control-group">
                    <div class="right">
                        <button type="submit" class="btn blue">{% trans "Add" %}</button>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('select').material_select();
    });
</script>