<div class="row">
    <div id="list_of_plugins" class="col l5 default-div compose-div hidden">
        <div class="content">
            <div class="progress">
                <div class="indeterminate"></div>
            </div>
        </div>
        <div class="actions">
            <div class="row">
                <div class="col s12">
                    <button type="button" id="close_list_of_plugins"
                            class="waves-effect waves-light btn right transparent black-text">Cancelar<i
                            class="material-icons right">close</i></button>
                </div>
            </div>
        </div>
    </div>
</div>