{% extends 'about/aboutSkyfolk.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block title %}
<h2 class="grey-text text-lighten-1 header">About us</h2>
{% endblock %}
{% block description %}
<p>Conoce quien está detrás de este proyecto.</p>
{% endblock %}
{% block content %}
<div class="info-our-profile">
        <div class="row">
            <div class="z-depth-2 grey lighten-5 col s12 m12 l4 our-card-1">
                <div class="name">
                    <h4 class="grey-text text-lighten-1">Gabriel Oriol</h4>
                </div>
                    <div class="info-class">
                            <span onclick="javascript:location.href='https://www.google.es/maps/place/Salto,+Uruguay/@-31.3689985,-57.9122047,12z/data=!3m1!4b1!4m2!3m1!1s0x95addd27e22982a9:0x68fc0fac8ca73bc7'"><i class="small material-icons">location_on</i><br>Salto (Uruguay)</span>
                            <br>
                            <p>Programador Django - Base de datos </p>
                    </div>
            </div>

          <div class="z-depth-2 grey lighten-5 col s12 m12 l4 our-card-2">
                <div class="name">
                    <h4 class="grey-text text-lighten-1">Adrián Carayol</h4>
                </div>
            <div class="info-class">
                     <span onclick="javascript:location.href='https://www.google.es/maps/place/Murcia/@37.9886177,-1.13004,14z/data=!3m1!4b1!4m2!3m1!1s0xd6381f8d5928c7f:0xd627129b38c4ab9a'"><i class="small material-icons">location_on</i><br>Murcia (España)</span>
                     <br>
                     <p>Programador Django - Diseñador web </p>
            </div>
        </div>

    <div class="z-depth-2 grey lighten-5 col s12 m12 l4 our-card-3">
        <div class="name">
            <h4 class="grey-text text-lighten-1">Nestor</h4>
        </div>
            <div class="info-class">
                <span onclick="javascript:location.href='https://www.google.es/maps/place/Barcelona/@41.39479,2.1487679,12z/data=!3m1!4b1!4m2!3m1!1s0x12a49816718e30e5:0x44b0fb3d4f47660a'"><i class="small material-icons">location_on</i><br>Barcelona (España)</span>
                <br>
                <p>Programador Django - Administrador de Sistemas </p>

            </div>
    </div>
        </div>
</div>
{% endblock %}
</body>
</html>
