{% load el_pagination_tags %}
{% load emoji_tags %}
{% paginate publications_blog %}
<br>
<div class="row">
    {% for pub in publications_blog %}
        <div class="col l6 s12">
          <div class="card">
            <div class="card-content clearfix grey-text text-darken-2">
              <h4 class="grey-text text-darken-2"><a href="{% url "about:publication-blog" pub.pk %}">{{ pub.title|safe|emoji_replace }}</a></h4>
              <div class="divider"></div>
              <p class="flow-text">{{ pub.content|safe|emoji_replace|truncatechars_html:120 }}</p>
              <span class="card-title">
                  {% for tag in pub.tags.all %}
                  <span class="chip">
                    {{ tag.name }}
                  </span>
                  {% endfor %}
              </span>
              <br><br>
                {% if pub.image %}
                    <img src="{{ pub.image.url }}" width="300" height="300">
                {% endif %}
            </div>
            <div class="card-action">
              <a class="white-text blue btn" href="{% url 'user_profile:profile' pub.author.username %}">@{{ pub.author.username }}</a>
                <b class="right">{{ pub.created }}</b>
            </div>
          </div>
        </div>
    {% endfor %}
</div>
{% show_more %}