{% load el_pagination_tags %}
{% load emoji_tags %}
{% paginate publications_blog %}
<br>
<div class="row">
    {% for pub in publications_blog %}
        <div class="col s12">
          <div class="card">
            <div class="card-content blue lighten-2 clearfix">
              <p class="flow-text">{{ pub.content|safe|emoji_replace }}</p>
              <span class="card-title">
                  {% for tag in pub.tags.all %}
                  <span class="chip">
                    {{ tag.name }}
                  </span>
                  {% endfor %}
              </span><br><br>
                {% if pub.image %}
                    <img src="{{ pub.image.url }}" width="300" height="300">
                {% endif %}
            </div>
            <div class="card-action">
              <a class="white-text blue btn" href="{% url 'user_profile:profile' pub.author.username %}">@{{ pub.author.username }}</a>
                <b class="right">{{ pub.created }}</b>
            </div>
          </div>
        </div>
    {% endfor %}
</div>
{% show_more %}