{% load emoji_tags %}

<div class="grid">
    {% for pub in publications_blog %}
        <div class="grid-item">
          <div class="card">
            <div class="card-content clearfix grey-text text-darken-2">
              <div class="row">
                <h4 class="grey-text text-darken-2"><a href="{% url "about:publication-blog" pub.pk %}">{{ pub.title|safe|emoji_replace }}</a></h4>
                <p class="left">
                  Por <a href="{% url 'user_profile:profile' pub.author.username %}">@{{ pub.author.username }}</a> a {{ pub.created }}
                </p>
              </div>
              <div class="divider"></div>
              <br>
              <p class="flow-text">{{ pub.content|safe|emoji_replace|truncatechars_html:120|safe|linebreaks }}</p>
              <span class="card-title">
                  {% for tag in pub.tags.all %}
                  <span class="chip">
                    {{ tag.name }}
                  </span>
                  {% endfor %}
              </span>
              <br><br>
                {% if pub.image %}
                    <img src="{{ pub.image.url }}" width="300" height="300">
                {% endif %}
            </div>
          </div>
        </div>
    {% endfor %}
</div>
<div class="row center">
{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }}</span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>