{% extends "account/base.html" %}
{% load static %}
{% block head_title %}Blog{% endblock %}

{% block extra_head %}
    <style>
        .grid {
            margin: 0 auto;
        }

        .grid-item {
            width: 500px;
            margin-bottom: 10px;
            float: left;
        }

        .card .card-title {
            font-size: inherit;
        }
        .active {
            background-color: #1e88e5 !important;
        }
    </style>
    <script src="{% static "js/masonry.pkgd.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/imagesloaded.pkgd.min.js" %}" type="text/javascript"></script>
{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
    <div id="blog-publications" class="container">
        <div class="row center">
            <div class="col s12">
                <h3><b>{</b> Blog <b>}</b> - Últimas publicaciones.</h3>
                <div class="divider"></div>
            </div>
        </div>
        {% include "about/entry_list_page.html" %}
    </div>
    {% block js %}
        {{ block.super }}
        <script>
        $(window).on('load', function () {
            var $grid = $('.grid').imagesLoaded(function () {
                $grid.masonry({
                    itemSelector: '.grid-item',
                    columnWidth: 500,
                    gutter: 20,
                    fitWidth: true,
                    horizontalOrder: true,
                    transitionDuration: '0.3s'
                });
            });
              
        });
        </script>
    {% endblock %}
{% endblock %}
