{% load group_utils app_filters %}

<div class="options_comentarios">
        <ul class="opciones">
            {% if user.id == node.author.id or user.id == user_profile.id %}
                <li class="message-settings dropdown-button" data-activates='dropdown-{{ node.pk }}'>
                    <i class="material-icons">more_horiz</i>
                </li>
            {% endif %}
            <li id="check-{{ node.pk }}" class="zoom-pub" title="Ver conversación completa">
                <i class="material-icons md-18">open_in_new</i>
            </li>
            {% comment %} Si el usuario esta logueado {% endcomment %}
            <li title="No me gusta" class="hate-comment" {% if node.have_hate %}
                    style="color: rgb(186, 104, 200);"{% endif %}>
                <i class="material-icons md-18">keyboard_arrow_down</i>
                <i class="hate-value">{{ node.hates|zero_to_empty }}</i>
            </li>
            <li title="¡Me gusta!" class="like-comment"
                    {% if node.have_like %}style="color: rgb(240, 98, 146);"{% endif %}>
                <i class="material-icons md-18">keyboard_arrow_up</i>
                <i class="like-value">{{ node.likes|zero_to_empty }}</i>
            </li>
        {% if node|classname == 'Publication' or node|classname == 'PublicationGroup' %}
            <li id="share-{{ node.pk }}" data-id="{{ node.pk }}"
                class={% if node.have_shared %}"remove-timeline"
                title="Eliminar de mi skyline" {% else %}"add-timeline" title="Añadir a mi skyline" {% endif %}>
            <i class="material-icons md-18">format_quote</i>
            <i class="share-values"> {{ node.total_shared|zero_to_empty }}</i>
            </li>
        {% endif %}
            <li title="Responder" class="reply-comment"
                id="reply-caja-comentario-{{ node.pk }}">
                <i class="material-icons md-18">reply</i>
            </li>
        </ul>
    </div>
    <ul id='dropdown-{{ node.pk }}' class='dropdown-content'>
            {% if user.id == node.author.id %}
                    <li data-id="{{ node.pk }}"
                        class="edit-comment center"><span>Editar</span></li>
            {% endif %}
            {% if user.id == node.author.id or user.id == user_profile.id %}
                {% comment %} Si estamos visitando un perfil que no es el nuestro {% endcomment %}
                <li class="trash-comment" title="Borrar comentario">
                    <span class="red-text">Eliminar</span>
                </li>
            {% endif %}
    </ul>