{% load app_filters %}
{% load humanize %}

<div class="row center score-controls">
    <button class="{% if node.have_like %}green lighten-3{% else %}white{% endif %} waves-effect waves-light btn black-text like-comment col s12">
        <i class="material-icons">keyboard_arrow_up</i>
    </button>
    <p class="score-comment flow-text col s12">{{ node.likes|subtract:node.hates|intword }}</p>
    <button class="{% if node.have_hate %}red lighten-3{% else %}white{% endif %} waves-effect waves-light btn black-text hate-comment col s12">
        <i class="material-icons">keyboard_arrow_down</i>
    </button>
</div>