* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
  color: #555 !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 11.5px !important;
}

.container .personal-card {
    background-color: #fff;
    width: 100%;
    margin-top: 20px;
    height: 300px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

.container .header {
    height: 150px;
}

.container .personal-card .header .back-profile-user {
    width: 100%;
    height: 100%;
    position: relative;
}
.container .personal-card .header .bg-user {
    width: 80px;
    height: 80px;
    position: relative;
    margin: auto;
    display: block;
}
.container .personal-card .header .profile-user-bg {
    position: relative;
    margin-top: -80px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 4px solid #fff;
    cursor: pointer;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.container .personal-card .header .profile-user-bg:hover {
    -webkit-transform: scale(1.1);
    -moz-transition: scale(1.1);
    transition: scale(1.1);
    border-color: #1e88e5;
    opacity: 1;
}

.container .personal-card .header .like-him {
    position: relative;
    margin-top: -30px;
    float: right;
    margin-right: 20px;
    background-color: #1e88e5;
    color: #fff;
    border-radius: 100%;
    width: 50px;
    margin-left: 300px;
    height: 50px;
    padding-left: 14px;
    padding-top: 14px;
    display: inline-block;

}

.container .personal-card .name-friend {
    position: relative;
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    border-radius: 7px;
    padding: 10px;
    color: grey;
    background-color: #e0e0e0;
}

.container .personal-card .name-friend a:first-child {
    color: #1e88e5;
    text-decoration: none;
}
.container .personal-card .name-friend p:last-child {
    color: #414141;
}