@import url(http://fonts.googleapis.com/css?family=Pacifico); /* ONLY FOR LOGO */

/*caja de busqueda*/
.field>form input[type=text],
.field>form button {
  font:1.2em 'Open Sans', sans-serif;;
}

.field>form input[type=text] {
  float: right;
  right: 200px;
  position:relative;
  width: 300px;
  background-color: #f0f0f0;
  opacity: 0.6;
  border: none;
  height: 25px;
  top: 7px;
  text-align: left;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  appearance: none;
  box-shadow: none;
  outline: none;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  border-radius: 7px;
  background-image: url('/static/img/search-icon.png');
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: 13px;
  padding: 0px 20px;
  color: black;
}
.field>form input[type=text]:focus {
  background-color: #cccccc;
  background-position: 1%;
}
.field>form input[type="text"] {
  transition: all .3s ease-in;
}

.field>form button {
  padding: 0.6em 0.8em;
  background-color: #3E9397;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 1.2em;
  height:34px;
  width:70px;
}
.btn{
   cursor: pointer;
}

#search-noelements{
  margin:0 auto 0 auto;
  width:40%;
  text-align:center;
  font:1.6em 'Montserrat Alternates';
  margin-top:10px;

}



/* cf */

*{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}
.float-right{
  float: right;
}
.fa{
 font-size: .8em;
  line-height: 22px !important;
}

.fa-comment, .fa-bell {
  float: right;
  display: inline-block;
  position: relative;
  right: -280px;
  top: 12px;
  text-decoration: none;
  margin-left: 50px;
  cursor: pointer;
  color: rgba(44,44,44,0.854);
}
.fa-bars {
  color: rgba(44,44,44,0.854);
  float: left;
  display: inline-block;
  position: relative;
  right: 0px;
  top: 14px;
  list-style-type: none;
  margin-left: 50px;
  cursor: pointer;
   transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
}

.fa-bell em {
  background-color: tomato;
  font-size: 10px;
  padding: 5px 5px;
  border-radius: 100%;
  text-decoration: none;
  border-top-left-radius: 10px;
  color: white;
}
.fa-comment:hover, .fa-bell:hover {
 -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  color: #556B75;
}
.fa-bars:hover {
  opacity: 0.8;
}

.fa-bars-rotate {
    color: #1976d2 !important;
}
.fa-bars-rotate-2 {
  color: tomato;
}

@media only screen and (min-width: 641px) and (max-width: 959px) {
  .field {
    width: 831px; }
  }
@media only screen and (max-width: 640px) {
    .field {
    width: 631px; }
  }
@media only screen and (max-width: 640px) {
  .field {
    width: 600px;
  }
  .fa-bell, .fa-comment {
    right: -255px;
  }
}
  #toggle {
  display: none;
  background-color: #fff;
  width: 250px;
  position: absolute;
  top: 40px;
  margin-right: 200px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  height: auto;
  border-bottom-right-radius: 10px;
  color: #ccc;
  z-index: 9999;
  border-bottom: 0 none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
#toggle img {
  width: 75px;
  height: 75px;
  border-radius: 3px;
  box-shadow: 0 1px 5px #1976d2;
  border: 1px solid #eee;
  position: relative;
}
#toggle .profilee i {
  position: relative;
  top: -30px;
  left: 10px;
  background-color: #1976d2;
  color: white;
  padding: 5px 5px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 5px;
}
#toggle img:hover {
  opacity: 0.6;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
}
#toggle li {
  font-size: 16.5px;
  margin-top: 10px;
  margin-left: 17px;
  list-style-type: none;
  padding: 10px 10px;
  color: rgba(44,44,44,0.854);
  box-shadow: 0 1px 2px -2px #212121;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  transition: all .3s ease-in;
  cursor: pointer;
  border: none;
}
#toggle li:nth-child(5) {
  margin-top: 182px;
}
/*
#toggle li:nth-child(8) {
  color: #000;
  display: none;
}
#toggle li:nth-child(9) {
  margin-top: 20px;
  border-top: 1px solid #1e88e5;
  text-align: center;
  color: #1e88e5;
}*/

#toggle li:nth-child(n+2):hover {
  background-color: white;
  color: #1e88e5;
}
#toggle li:nth-child(5):hover, #toggle li:nth-child(6):hover {
  border-right: 8px solid #1e88e5;
}
/*
#toggle li:nth-child(9):hover {
  border-right: 8px solid #1e88e5;
  border-left: 8px solid #1e88e5;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #1e88e5;
}*/

.box-tool {
  width: 100%;
  height: 40px;
  background-color: #fff;
  box-shadow: 1px 1px 1px #f0f0f0;
  list-style-type: none;
  position: fixed;
  top: 0px;
  z-index: 9999;
}

/* Menu opcional para usuario */

.box-tool .oldMenu  {
  position: relative;
  height: 30px;
  width: 40%;
  display: inline-block;
  margin-left: 30px;
  font-weight: 100;
}

.box-tool .oldMenu li {
  display: inline-block;
  background-color: #fff;
  height: 100%;
  text-align: center;
  margin-left: 2px;
  margin-top: 7px;
  padding: 5px 10px;
  color: #424242;
  font-size: 1.4em;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  cursor: pointer;
}
.box-tool .oldMenu li:hover {
  color: #1e88e5;
}

.box-tool .oldMenu li:after {
  content: '';
  display: block;
  margin-top: 3px;
  height: 0px;
  width: 100%;
  background-color: transparent;
  transition: height .2s ease-in-out, background-color .2s ease-in-out;
}
@media only screen and (max-width: 1200px) {
.box-tool .oldMenu li {
  font-size: 1.1em;
  }
}
@media only screen and (max-width: 1005px)  {
  .box-tool .oldMenu {
    display: none;
    }
}

.box-tool .oldMenu li:hover:after {
  height: 3px;
  background-color: #1e88e5;
}

.logotipo_skyfolk {
  position: fixed;
  font-family: 'Pacifico', cursive !important;
  margin: auto;
  left: 50%;
  cursor: pointer;
  top: 12px;
  font-size: 1.4em;
}
.logotipo_skyfolk i {
  color: #0096d7;
  text-shadow: 1px 1px 1px #ccc;
}

.fa-bars .fa-bars-content li:nth-child(1) {
      list-style-type: none;
      position: absolute;
      cursor:pointer;
      background: none;
      top: 0;
      left: 50px;
      font-size: 20px;
  }

.fa-bars .fa-bars-content li:nth-child(2) {
      list-style-type: none;
      position: absolute;
      cursor:pointer;
      left: 100px;
      top: 0;
      font-size: 20px;
  }
.fa-bars .fa-bars-content li:nth-child(3) {
      list-style-type: none;
      position: absolute;
      cursor:pointer;
      left: 150px;
      top: 0;
      font-size: 20px;
}
.fa-bars .fa-bars-content li:nth-child(4) {
      list-style-type: none;
      position: absolute;
      cursor:pointer;
      left: 200px;
      top: 0;
      font-size: 20px;
}
.fa-bars .fa-bars-content li:nth-child(5) {
      list-style-type: none;
      position: absolute;
      left: 250px;
      cursor:pointer;
      top: 30px;
      width: 40px;
      height: 40px;

}
.fa-bars .fa-bars-content li:nth-child(5) img {
    width: 40px;
    height:40px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

/* Menu superior izquierda */

.fa-bars .fa-bars-content {
  display: none;
  position: absolute;
  top: 0;
  width: 300px;
  height: 30px;
  left: 13px;
  background: none;
}

.fa-bars:hover .fa-bars-content {
  display: inline-block;
}

.fa-bars .fa-bars-content li:hover {
  color: #1976d2;
}

.box-tool .logo {
  position: fixed;
  margin: auto;
  text-align: center;
  left: 50%;
  padding: 0;
  top: -280px;
}
.box-tool img {
  width: 120px;
  height: 120px;
  top: 0px;
  cursor: pointer;
  position: fixed;
}

@media only screen and (max-width: 640px) {
  .box-tool {
    width: 100%;
  }
  .logotipo_skyfolk {
    display: none;
  }
  .notificationss, .fa-comment {
    display: none;
  }
  .field>form input[type=text] {
      left: -260px;
      margin-top: 3px;
      width: 250px;
  }

  #toggle {
    height: auto;
  }
  #toggle li {
    margin-top: 5px;
  }

  #toggle li:nth-child(8) {
    display: block;
  }

  #toggle li:nth-child(7) {
      display: none;
  }

  #toggle li:nth-child(9) {
    display: none;
  }

  #page-wrapper {
    width: 50%;
    margin-left: -94px;
  }

  #page-wrapper .fontawesome-bullhorn, .fontawesome-camera, .fontawesome-map-marker {
    display: none;
  }
}

  /* Buscar en el tab-amigos */
    .search-in-tab {
        position: relative;
        border: none;
        width: 70%;
        height: 30px;
        margin: 10px 0 20px 15%;
        padding-left: 20px;
        font-family: 'Open Sans', sans-serif;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        transition: all .3s linear;
        background: #eeeeee url("/static/img/search-icon.png") no-repeat 95%;
        background-size: 13px;
    }
    .search-in-tab:focus {
        background: #fefefe url('/static/img/search-icon.png') no-repeat 1%;
        background-size: 13px;
    }
@media only screen and (min-width: 640px) and (max-width: 1080px) {
  .logotipo_skyfolk {
    left: 200px;
  }
}
