html {
    color: #555;
    font-family: "Open Sans", sans-serif;
    font-size: 11.5px;
    font-style: normal;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

a, a:visited {
    color: #4099FF;
    text-decoration: none;
}

/*1 */
.wrapper {
    margin: 30px auto;
    min-width: 100%;
    min-height: 155px;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ddd;
    overflow: hidden;
    height: auto;
}

.comment {
    overflow: hidden;
    line-height: 1em;
    height: auto;
}

.comment .wrp-comment {
    height: auto;
}

.comment-tab {
    height: auto;
}

.show-more {
    padding: 10px 0;
    text-align: center;
    margin-right: 10%;
}

.show-more a {
    display: none;
}

.articulo {
    float: left;
    left: 37px;
    position: relative;
    width: 80%;
    border-bottom: 1px solid #eee;
    margin-top: 20px;
    margin-bottom: 12px;
}

.articulo .emoji, .comment-reply .emoji {
    width: 20px;
    height: 20px;
}

.h22 {
    margin: 1px 0 7px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #282828;
}

.parrafo {
    font-size: 1.1rem;
    line-height: 1.5rem;
    word-wrap: break-word;
    margin-bottom: 25px;
}

.parrafo b, .comment-reply b {
    font-weight: bold;
}

.parrafo i, .comment-reply i {
    font-style: italic;
}

.image {
    float: left;
    position: relative;
    top: 9px;
    left: 9px;
    cursor: pointer;
    box-shadow: 0 1px 5px rgba(30, 136, 229, 0.15);
    padding: 0 0;
    width: 10%;
    height: 10%;
    border-radius: 3px;
    overflow: hidden;
}

.usr-img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.usr-img img {
    width: 100%;
    height: 100%;
}

.wrapper .author-controls {
    display: none;
    clear: both;
}

.wrapper .author-controls .edit-comment-btn {
    margin-right: 2%;
}

.wrapper .box .top-options {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 100%;
    float: right;
    margin-right: 7px;
    margin-top: 7px;
    text-align: center;
    -webkit-box-shadow: 0 0 1px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0 0 1px 0 rgba(50, 50, 50, 0.75);
    box-shadow: 0 0 1px 0 rgba(50, 50, 50, 0.75);
}

.wrapper .box .zoom-pub .fa-plus-square-o, .wrapper .box .edit-comment .fa-pencil {
    color: #212121;
    font-size: 100%;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
    cursor: pointer;
}

.wrapper .box .zoom-pub .fa-plus-square-o:hover, .wrapper .box .edit-comment .fa-pencil:hover {
    color: #1e88e5;
}

.wrapper .box .zoom-pub:hover, .wrapper .box .edit-comment:hover {
    -webkit-box-shadow: 0 0 1px 0 #1e88e5;
    -moz-box-shadow: 0 0 1px 0 #1e88e5;
    box-shadow: 0 0 1px 0 #1e88e5;
}

input[type="checkbox"] {
    opacity: 0;
}

.ampliado {
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Open Sans", sans-serif;
    box-shadow: 0 1px 5px #000;
    outline: none;
    border-radius: 3px;
    position: fixed;
    z-index: 9999;
    width: 70%;
    background: white;
    top: 200px;
    height: 70%;
    display: none;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.ampliado .nombre_image {
    position: relative;
    top: 3px;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.ampliado .nombre_image img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    top: 0;
    position: relative;
    border: 1px solid #21abcd;
}

.ampliado .parrafo {
    position: relative;
    width: 90%;
    margin-left: 15px;
    border-radius: 3px;
    display: inherit;
    letter-spacing: 1px;
    margin-top: 30px;
    background-color: #f5f5f5;
    color: black;
    padding: 7px 17px;
    text-indent: 1em;
    opacity: 0.7;
}

.ampliado .parrafo img {
    width: 20px;
    height: 20px;
}

.ampliado .parrafo a[target="_blank"] {
    position: relative;
    display: inline-block;
    margin-top: 3px;
    float: right;
    margin-left: 17px;
}

.ampliado ul {
    list-style-type: none;
}

.ampliado li {
    display: list-item;
}

.ampliado .name {
    position: absolute;
    font-size: 16px;
    margin-left: 80px;
    text-decoration: none;
    color: #787878;
}

.ampliado .first {
    position: absolute;
    font-size: 12px;
    margin-left: 80px;
    margin-top: 20px;
    text-decoration: none;
    color: #787878;
}

.ampliado .fa-close {
    float: right;
    font-size: 1.32em;
    margin: 1.25%;
    position: relative;
    cursor: pointer;
    z-index: 9999;
}

.ampliado .fa-close:hover {
    opacity: 0.9;
}

/* Respuestas en comentario ampliado */
.ampliado .wrapper-reply {
    clear: both;
    height: auto;
    width: 90%;
    background-color: transparent;
}

.ampliado .triangle-reply {
    display: none;
}

/* Responder - Me gusta - Añadir */
.informacion span[class*="fa-paper-plane"] {
    cursor: pointer;
    float: left;
    display: block;
    font-size: 2em;
    text-align: center;
    height: 100%;
    width: 70px;
    padding: 30px 20px;
    opacity: 1;
    z-index: 2;
    position: relative;
}

.informacion span[class*="fa-cog"] {
    cursor: pointer;
    float: left;
    display: block;
    font-size: 2em;
    height: 100%;
    width: 70px;
    line-height: 55px;
    text-align: center;
    padding: 30px 20px;
    opacity: 1;
    z-index: 2;
    position: relative;
}

.informacion span[class*="fa-users"] {
    cursor: pointer;
    float: left;
    display: block;
    font-size: 2em;
    height: 100%;
    text-align: center;
    width: 70px;
    padding: 30px 20px;
    opacity: 1;
    z-index: 2;
    position: relative;
}

.informacion span[class*="fa-plus"] {
    cursor: pointer;
    float: left;
    display: block;
    font-size: 2em;
    height: 100%;
    text-align: center;
    width: 70px;
    padding: 30px 20px;
    opacity: 1;
    z-index: 2;
    position: relative;
}

.informacion span[class*="fa-heart"] {
    cursor: pointer;
    float: left;
    display: block;
    text-align: center;
    font-size: 2em;
    height: 100%;
    width: 70px;
    line-height: 55px;
    padding: 30px 20px;
    opacity: 1;
    z-index: 2;
    position: relative;
}

.informacion span[class*="fa-clock-o"] {
    cursor: pointer;
    float: left;
    display: block;
    font-size: 2em;
    height: 100%;
    text-align: center;
    width: 70px;
    padding: 30px 20px;
    opacity: 1;
    z-index: 2;
    position: relative;
}

.informacion span[class*="fa-ban"] {
    cursor: pointer;
    float: left;
    display: block;
    font-size: 2em;
    height: 100%;
    text-align: center;
    width: 70px;
    padding: 30px 20px;
    opacity: 1;
    z-index: 2;
    position: relative;
}

.informacion span[class*="fa-remove"] {
    cursor: pointer;
    float: left;
    display: block;
    font-size: 2em;
    height: 100%;
    text-align: center;
    width: 70px;
    padding: 30px 20px;
    opacity: 1;
    z-index: 2;
    position: relative;
}

.informacion .fa-clock-o {
    background: #c8e6c9;
}

.informacion .fa-clock-o:hover {
    background: #a5d6a7;
}

.informacion .fa-ban {
    background: #FF6347;
}

.informacion .fa-ban:hover {
    background: #e57373;
}

.informacion .fa-plus {
    background: #e1f5fe;
}

.informacion .fa-plus:hover {
    background: rgba(48, 164, 209, 0.3);
}

span[class*="paper-plane"] {
    background: #b3e5fc;
}

span[class*="paper-plane"]:hover {
    background: rgba(46, 120, 209, 0.3);
}

span[class*="cog"] {
    background: #e1f5fe;
}

span[class*="cog"]:hover {
    background: rgba(46, 120, 209, 0.3);
}

span[class*="users"] {
    background: #81d4fa;
}

span[class*="users"]:hover {
    background: rgba(48, 164, 209, 0.3);
}

span[class*="heart"] {
    background: #81d4fa;
}

span[class*="heart"]:hover {
    background: rgba(48, 164, 209, 0.3);
}

.item:hover img {
    box-shadow: none;
}

.item:hover .informacion {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.item img {
    position: relative;
    top: 0;
    border-radius: 3px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.item .informacion {
    display: block;
    height: 76px;
    width: 210px;
    padding: 0;
    margin-left: -45px;
    font-size: 12px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    box-shadow: none;
    background: rgb(236, 241, 244);
    opacity: 0.7;
}

.item .informacion:hover {
    opacity: 1;
}

.informacion strong {
    border-bottom: 1px solid #CCCCCC;
    display: block;
    font-size: 18px;
    text-align: center;
}

.informacion a {
    color: #013354;
    display: block;
    font-family: "Prosto One", cursive;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
}

.informacion a:hover {
    color: #2698CE;
}

#box-tool {
    padding: 10px;
    width: 250px;
    height: 50%;
    float: right;
    margin-top: 9.5px;
}

.fontawesome-link {
    color: #FFF;
    cursor: pointer;
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
    padding: 0;
    margin-left: 15px;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.fontawesome-link:hover {
    opacity: 1;
    color: #000;
    border: 3px solid #1abc9c;
    border-right: none;
    border-top: none;
    border-left: none;
}

.fontawesome-comment-alt {
    color: #FFF;
    float: right;
    cursor: pointer;
    margin-top: 7px;
    text-align: center;
    font-size: 31px;
    padding: 0;
    margin-left: 0;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.fontawesome-comment-alt:hover {
    color: black;
    opacity: 1;
    border: 3px solid #1abc9c;
    border-right: none;
    border-top: none;
    border-left: none;
}

.fontawesome-th {
    color: #FFF;
    cursor: pointer;
    margin-top: 3px;
    text-align: center;
    font-size: 16px;
    padding: 0;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

a.fontawesome-cog:link {
    color: #FFF;
    margin-top: 3px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    padding: 0;
    margin-left: 15px;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

a.fontawesome-cog:hover {
    display: inline-block;
    border: 3px solid #1abc9c;
    border-right: none;
    border-top: none;
    border-left: none;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    color: black;
    opacity: 1;
}

.fontawesome-th {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.fontawesome-comment-alt {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

/* OPCIONES COMENTARIOS */
.options_comentarios {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.options_comentarios ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 1.2em;
    float: right;
    cursor: pointer;
}

.options_comentarios ul .like-comment, .quote-comment, .reply-comment, .add-timeline {
    margin-left: 2.5%;
}

.options_comentarios ul .fa-stack, .trash-comment {
    margin-left: 1.25%;
}

.options_comentarios ul li:hover {
    transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
}

.options_comentarios ul .like-comment:hover {
    color: #f06292;
}

.options_comentarios ul .fa-quote-left:hover {
    color: grey;
}

.options_comentarios ul .fa-reply:hover {
    color: #1e88e5;
}

.options_comentarios ul .fa-tag:hover {
    color: #bbdefb;
}

.options_comentarios ul .fa-trash:hover {
    color: #f44336;
}

.options_comentarios ul .fa-bolt, .wrapper-reply .reply-options ul .fa-bolt {
    top: -5%;
    left: 2%;
    font-size: 80%;
}

.options_comentarios ul .hate-comment:hover {
    color: #3f51b5;
}

.options_comentarios ul .fa-stack .hate-value, .wrapper-reply .reply-options ul .fa-stack .hate-value {
    position: relative;
    float: right;
    left: 4px;
}

#tab-comentarios .no-comments, #tab-messages .no-comments {
    width: 100%;
    height: 20%;
    position: relative;
    display: block;
    border-bottom: 5px solid #eee;
    text-align: center;
}

#tab-comentarios .no-comments .no-comments-text-info, #tab-messages .no-comments .no-comments-text-info {
    top: 80px;
    font-size: 1.5em;
    position: relative;
    display: block;
}

#tab-comentarios .no-comments .no-comments-new-comment {
    display: block;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #1e88e5;
    color: white;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    cursor: pointer;
    padding-top: 25px;
    height: 70px;
    width: 70px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

#tab-comentarios .no-comments .no-comments-new-comment:hover {
    opacity: 0.8;
    background-color: #eee;
    color: grey;
}

/*# sourceMappingURL=comentarios.css.map */

/* RESPUESTAS A COMENTARIOS */
.wrapper-reply {
    clear: both;
    height: 100%;
    background-color: transparent;
}

.wrapper-reply .comment-reply .avatar-reply img:first-child {
    width: 50px;
    height: 50px;
    box-shadow: 0 0 5px #1e88e5;
}

.wrapper-reply .enviar {
    margin-right: 2%;
    margin-top: -4%;
    margin-bottom: 1.25%;
}

.wrapper-reply .comment-reply .reply-options {
    text-align: right;
    display: block;
    width: 94%;
}

.wrapper-reply .comment-reply .reply-options ul > li {
    font-style: normal;
    font-size: 1.2em;
    display: inline-block;
    cursor: pointer;
}

.wrapper-reply .comment-reply .reply-options ul > li i {
    font-style: normal;
}

.wrapper-reply ul .like-reply, .quote-reply, .reply-reply, .add-reply-timeline {
    margin-left: 2.5%;
}

.wrapper-reply .reply-options ul .fa-stack, .wrapper-reply .reply-options ul .del-reply {
    margin-left: 1.25%;
}

.wrapper-reply .reply-options ul .fa-stack {
    margin-top: 1.25%;
    top: -4px;
}

.hate-with-values {
    margin-right: 2.5% !important;
}

.comment-reply {
    clear: both;
    padding: 2%;
    margin: 1%;
    color: #666;
    border-right: 2px solid #1e88e5;
    box-shadow: 0 1px 5px #bdbdbd;
    height: 100%;
}

.comment-reply .author-reply {
    position: relative;
    color: #282828;
    background-color: #eee;
    width: 80%;
    height: 30px;
    margin-left: 60px;
    top: -50px;
    padding: 10px;
}

.comment-reply .author-reply .reply-created {
    float: right;
    display: inline-block;
    font-style: normal;
}

.comment-reply .author-reply .triangle {
    width: 10px;
    height: 10px;
    background-color: #eee;
    position: relative;
    display: inline-block;
    margin-left: -15px;
    margin-right: 15px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.comment-reply .author-reply p, .comment-reply .author-reply a {
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
}

.comment-reply .content-reply {
    margin-left: 60px;
    margin-top: -20px;
    text-align: left;
    font-weight: 100;
    color: #424242;
    width: 80%;
    height: 100%;
    position: relative;
    word-wrap: break-word;
}

.hidden {
    display: none;
}
