@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: 'fontawesome', sans-serif;
}

html {
  background: #eee url(http://goo.gl/kqNwg);
  
  color: #555;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 11.5px;
  -webkit-font-smoothing: antialiased;
  font-style, font-weight, letter-spacing, line-height, word-spacing: normal;
}

a, a:visited {
  color: #4099FF;
  text-decoration: none;
}
/*1*/
.wrapper {
  margin: 30px auto;
  width: 375px;
  height: 125px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px #ddd;
  overflow: hidden;
}

.box{
  float: left;
  width: 115px;
  height: 115px;
  border-right: 1px solid #eee;
  
  
}

.articulo {
  float: right;
  top: -150px;
  position: relative;
  width: 201px;
  border-bottom: 1px solid #eee;
  
}

.h22 {
  margin: 1px 0 7px;
  font-size: 1.2rem;
  font-weight: bold;
}

.parrafo {
  font-size: 1.1rem;
  line-height: 1.5rem;
}


input[type="checkbox"]{display:none;}
.popo{
  float:left;
  position: 20px 20px;
  border:3px solid #fff;
  cursor:pointer;
  
  width:120px;
  height:120px;
  overflow:hidden;
  -webkit-transform:translateX(-30px);
  -moz-transform:translateX(-30px);
  -o-transform:translateX(-30px);
  transform:translateX(-30px);
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}
.popo img{width:120px;}

input[type="checkbox"]:checked + .popo {
  -webkit-transform:translateX(0px);
  -moz-transform:translateX(0px);
  -o-transform:translateX(0px);
  transform:translateX(0px);
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

span[class*="entypo-forward"] {
  cursor:pointer;
  float:left;
  display: block;
  font-size:38px;
  height:100px;
  width:70px;
  line-height:55px;
  padding:31px 17px;
  opacity:100%;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

span[class*="entypo-plus"] {
  cursor:pointer;
  float:left;
  font-size:38px;
  height:100px;
  width:70px;
  line-height:55px;
  padding:31px 17px;
  opacity:100%;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
  
}

span[class*="entypo-thumbs-up"] {
  cursor:pointer;
  float:left;
  font-size:38px;
  height:100px;
  width:70px;
  line-height:55px;
  padding:31px 17px;
  opacity:100%;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

#profile:checked ~ span[class*="entypo-forward"] {
  text-align:center;
  opacity:0;
  width:70px;
  height:100px;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
  }

  #profile:checked ~ span[class*="entypo-plus"] {
 text-align:center;
  opacity:0;
  width:70px;
  height:100px;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
  }
  
span[class*="plus"] {background:#97E2FF;}
span[class*="plus"]:hover {
  background:rgba(48,164,209,0.3);}


#profile:checked ~ span[class*="entypo-thumbs-up"] {
  text-align:center;
  opacity:0;
  width:70px;
  height:100px;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
  }
span[class*="forward"] {background:#2D75D0;}
span[class*="forward"]:hover {
  background:rgba(46,120,209,0.3);}
span[class*="thumbs-up"] {background:#30A4D1;}
span[class*="thumbs-up"]:hover {
  background:rgba(48,164,209,0.3);}

/*2*/

.wrapper {
  margin: 30px auto;
  width: 375px;
  height: 125px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px #ddd;
  overflow: hidden;
}

.box{
  float: left;
  width: 115px;
  height: 115px;
  border-right: 1px solid #eee;
  
  
}

article.articulo {
  float: right;
  top: -100px;
  position: relative;
  width: 201px;
  border-bottom: 1px solid #eee;
  
}

h.h22 {
  margin: 1px 0 7px;
  font-size: 1.2rem;
  font-weight: bold;
}

p.parrafo {
  font-size: 1.1rem;
  line-height: 1.5rem;
}


input[type="checkbox"]{display:none;}
.popo1{
  float:left;
  position: 20px 20px;
  border:3px solid #fff;
  cursor:pointer;
  display:block;
  width:120px;
  height:120px;
  overflow:hidden;
  -webkit-transform:translateX(-30px);
  -moz-transform:translateX(-30px);
  -o-transform:translateX(-30px);
  transform:translateX(-30px);
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}
.popo1 img{width:120px;}

input[type="checkbox"]:checked + .popo1{
  -webkit-transform:translateX(0px);
  -moz-transform:translateX(0px);
  -o-transform:translateX(0px);
  transform:translateX(0px);
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

span[class*="entypo-forward"] {
  cursor:pointer;
  float:left;
  font-size:38px;
  height:100px;
  width:70px;
  line-height:55px;
  padding:31px 17px;
  opacity:100%;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

span[class*="entypo-thumbs-up"] {
  cursor:pointer;
  float:left;
  font-size:38px;
  height:100px;
  width:70px;
  line-height:55px;
  padding:31px 17px;
  opacity:100%;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}

#profile:checked ~ span[class*="entypo-forward"] {
  text-align:center;
  opacity:0;
  width:70px;
  height:100px;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
  }


#profile:checked ~ span[class*="entypo-thumbs-up"] {
  text-align:center;
  opacity:0;
  width:70px;
  height:100px;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
  }
span[class*="forward"] {background:#2D75D0;}
span[class*="forward"]:hover {
  background:rgba(46,120,209,0.3);}
span[class*="thumbs-up"] {background:#30A4D1;}
span[class*="thumbs-up"]:hover {
  background:rgba(48,164,209,0.3);}

/**3*/ 

.caja {
    display: inline-block;
    width: 90px;
    height: 20px;
    vertical-align: top;
    margin: 1em 1.5em 2em 0;
    cursor: pointer;
    position: relative;
    font-family: Tahoma, Arial;
    -webkit-perspective: 2000px;
       -moz-perspective: 2000px;
        -ms-perspective: 2000px;
         -o-perspective: 2000px;
            perspective: 2000px;
  }
.item {
    height: 20px;
      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
          -ms-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;
      -webkit-transition: -webkit-transform .7s;
         -moz-transition: -moz-transform .7s;
          -ms-transition: -ms-transform .7s;
           -o-transition: -o-transform .7s;
              transition: transform .7s;
  }
 
    .item:hover {
      -webkit-transform: translateZ(-50px) rotateX(95deg);
         -moz-transform: translateZ(-50px) rotateX(95deg);
          -ms-transform: translateZ(-50px) rotateX(95deg);
           -o-transform: translateZ(-50px) rotateX(95deg);
              transform: translateZ(-50px) rotateX(95deg);
    }
 
      .item:hover img {
        box-shadow: none;
        border-radius: 10px;
      }
 
      .item:hover .informacion {
        box-shadow: 0px 3px 8px rgba(0,0,0,0.3);
        border-radius: 3px;
      }
 
    .item img {
      display: block;
      position: absolute;
      top: 0;
      border-radius: 3px;
      box-shadow: 0px 3px 8px rgba(0,0,0,0.3);
      -webkit-transform: translateZ(50px);
         -moz-transform: translateZ(50px);
          -ms-transform: translateZ(50px);
           -o-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-transition: all .6s;
         -moz-transition: all .6s;
          -ms-transition: all .6s;
           -o-transition: all .6s;
              transition: all .6s;
 
    }
 
    .item .informacion {
      display: block;
      position: absolute;
      top: -90px;
	  left: -50px;
      height: 80px;
      width: 210px;
      text-align: left;
      border-radius: 15px;
      padding: 0px;
      font-size: 12px;
      text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
      box-shadow: none;
      background: rgb(236,241,244);
      -webkit-transform: rotateX(-70deg) translateZ(70px);
         -moz-transform: rotateX(-70deg) translateZ(70px);
          -ms-transform: rotateX(-70deg) translateZ(70px);
           -o-transform: rotateX(-70deg) translateZ(70px);
              transform: rotateX(-70deg) translateZ(70px);
      -webkit-transition: all .7s;
         -moz-transition: all .7s;
          -ms-transition: all .7s;
           -o-transition: all .7s;
              transition: all .7s;
 
    }
.informacion strong {
    border-bottom: 1px solid #CCCCCC;
    display: block;
    font-size: 18px;

    text-align: center;
}
.informacion a {
    color: #013354;
    display: block;
    font-family: 'Prosto One',cursive;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
}
.informacion a:hover {
    color: #2698CE;
}
#box-tool{
	padding:10px;
	width:300px;
	height:100%;
	float:right;
}
.fontawesome-random {
  color:#A4AA4A;
  cursor:pointer;
  text-align:center;
  font-size:38px;
  padding:0px;
  margin-left:15px;
  text-shadow:1px 1px 1px rgba(225,225,225,0.5);
  opacity: 0.6;
}
.fontawesome-random {
  opacity: 1;
}
.fontawesome-comment-alt {
color:#A4A4A4;
cursor:pointer;
text-align: center;
/*margin: 1171px;
top:-1158px;
position: absolute;*/
font-size: 38px;
padding: 0px;
/*float: right;*/
margin-left:15px;
text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
opacity: 0.6;
}
.fontawesome-comment-alt:hover {
color:#5BF578;
opacity:1;
}
.fontawesome-th {
color:#A4A4A4;
cursor:pointer;
text-align: center;
/*margin: 1115px;
top:-1099px;
position: absolute;*/
font-size: 38px;
padding: 0px;
/*float: right;*/
margin-left:15px;
text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
opacity:0.6;
}
.fontawesome-th:hover {
color:#FFB912;
opacity: 1;
}
.fontawesome-cog{
color:#A4A4A4;
cursor:pointer;
text-align: center;
/*margin: 1115px;
top:-1099px;
position: absolute;*/
font-size: 38px;
padding: 0px;
/*float: right;*/
margin-left:15px;
text-shadow: 1px 1px 1px rgba(255,255,255,0.5); 
opacity: 0.6;
}
.fontawesome-cog {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.fontawesome-cog:hover, .fontawesome-cog:focus, .fontawesome-cog:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
.fontawesome-th {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.fontawesome-th:hover, .fontawesome-th:focus, .fontawesome-th:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
  .fontawesome-comment-alt {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.fontawesome-comment-alt:hover, .fontawesome-comment-alt:focus, .fontawesome-comment-alt:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}


