@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

hgroup {
  margin-bottom: 70px;
  position: relative;
}

span {
  position: relative;
  top: 40px;
  left: 0px;
}
h6 {
  position:  relative;
    margin-left:  70px;
    margin-top: 7px;
    color:  #3F3A3A;
    font-weight: 100;
    font-size: 13px;
}
.fontawesome-cog {
    margin-left:  20px;
    padding:  10px 10px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 30px;
    color: grey;
      border-bottom: 1px solid rgba(44,44,44,0.854);
      width: 20%;

}

/* Menu horizontal */
.menu-config {
  position: relative;
  display: block;
  width: 100%;
  height: 70px;
  padding-left: 120px;
  margin-top: 2%;
  margin-bottom: 5%;
}
.menu-config a {
  margin-left: 50px;
  flex: 1;
  text-decoration: none;
  color: grey;
  background-color: #eeeeee;
  box-shadow: 0 0 0 4px #1e88e5;
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  text-align: center;
}
.menu-config a:hover {
  -webkit-transition: activeA .4s ease-in;
  -moz-transition: activeA .4s ease-in;
  animation: activeA .4s ease-in;
  color: #1e88e5;
}
.menu-config i {
  margin-top: 25px;
}

@keyframes activeA {
  0%{ box-shadow: 0 0 0 4px #1e88e5; opacity:1;}
  25%{ box-shadow: 0 0 0 1px #1e88e5; opacity:1;}
  50%{ box-shadow: 0 0 0 7px #1e88e5; opacity:1;}
  75%{ box-shadow: 0 0 0 4px #1e88e5; opacity:1;}
  100%{ box-shadow: 0 0 0 5px #1e88e5; opacity:1;}
}

.wr {
  position: relative;
  margin: auto;
  width: auto;
  height: 300px;
  left: 27%;
}
.actual, #form-changepass input{
  width: 20%;
  position: relative;
  margin: auto;
  padding: 5px 7px;
  color: rgba(44,44,44,0.854);
  border: 1px solid #ececec;
  border-radius: 2px;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s;
  margin-left: 20px;
  margin-right: 0px;
}
#recent,#new,#new2 {
  display: list-item;
}
label[for="id_first_name"] {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
    color: rgba(44,44,44,0.776);
    font-weight: 100;
    top: 2px;
    margin-left: 5px;
}
label[for="id_last_name"] {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
    color: rgba(44,44,44,0.776);
    font-weight: 100;
    top: 2px;
    margin-left: 5px;
}
#form-changepass {
  position: relative;
  left: 70px;
}
.img-circle {
    width: 100px;
    height: 100px;
    border: 1px solid #489AB1;
    cursor: pointer;
}
.chg {
  position: relative;
  display: inline-block;
  top: 50px;
  left: 30px;
  height: auto;
}
.actual:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 2px solid rgba(81, 203, 238, 1);
}
#float {

  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  margin: -30px;
  padding-right: 5px;
  background: #FFFFFF;
  border: 50px solid #FFF;
  border-radius: 8px 8px 8px 8px;
  box-shadow: rgb(196,196,196) 5px 5px;
}
input[type="password"] {
  position: relative;
  display: list-item;
  border: 1px solid rgb(196,196,196);
  width: 120px;
  height: 30px;
  padding: 10px 5px;
  left: 220px;
}
label[for="id_oldpassword"] {
  color: grey;
  font-weight: 100;
  position: relative;
  top: 25px;
}
label[for="id_password1"] {
  color: grey;
  font-weight: 100;
  position: relative;
  top: 25px;
}
label[for="id_password2"] {
  color: grey;
  font-weight: 100;
  position: relative;
  top: 25px;
}
#contra {
      position:  relative;
      margin-top: 5%;
    margin-left: 20%;
      width:  100%;
    background-color: #fff;
      height: 600px;
      border-radius: 7px;
      -webkit-box-shadow: 2px 2px 7px 0px #efefef;
      -moz-box-shadow:    2px 2px 7px 0px #efefef;
      box-shadow:         2px 2px 7px 0px #efefef;
      border: 1px solid #e0e0e0;
}

#contra li {
      list-style-type: none;
      position: relative;
      display: list-item;
      margin-top: 30px;
}
#contra-2 {
  margin-top: 10px;
}

/* Boton salvar cambios */

button[type="submit"] {
  position: relative;
  display: inline;
  top: 80px;
  margin-right: 80px;
  float: right;
  padding: 10px 7px;
  width: 100px;
  height: 30px;
  line-height: 2px;
  font-size: 0.9em;
}
#boton-perfil {
  position: relative;
  display: list-item;
  top: 0px;
  bottom: 1px;
  right: 0;
  margin-left: 300px;
  float: right;
  padding: 10px 7px;
  width: 100px;
  height: 30px;
  line-height: 2px;
  font-size: 0.9em;
}
#id_image {
  display: list-item;
  position: relative;
  top: 0px;
  margin-top: 20px;
}

label[for="id_image"] {
  color: #ccc;
  font-weight: 100;

}
#id_backImage {
  display: list-item;
  position: relative;
  top: 0px;
  margin-top: 20px;
}
label[for="id_backImage"] {
  color: #ccc;
  font-weight: 100;
  margin-right: 10px;

}

#id_status {
  width: 200px;
  position: relative;
  margin: auto;
  padding: 5px 7px;
  color: rgba(44,44,44,0.854);
  border: 1px solid #ececec;
  border-radius: 2px;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s;
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 0px;
}
label[for="id_status"] {
  top: 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  position: relative;
}
hgroup {
  position: relative;
  margin-bottom: 30px;
  margin-top: 0px;

}
.cn {
  font-size: 20px;
  text-shadow: #ccc 0.5px 0.5px 0.5px;
  color: #ccc;
  font-family: 'Open Sans', sans-serif;
  margin-left: 7px;
  margin-top: -14px;

}
.ch {
  font-size: 12px;
  text-shadow: #ccc 0.2px 0.2px 0.2px;
  color: #ccc;
  margin: 6px;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
}
.wrapper {
  position:relative;
  display: block;
  background-color: #FAFAFA;
  height: auto;
  width: auto;
  clear:both;
}
.profilex {
   width: 90%;
    border-bottom-left-radius: 70px;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    height: 100px;
    background-color: #fff;
    left: 20px;
    border: 1px solid #ececec;
    margin-top: 12px;
    position: relative;
}
.profilex .img-circle {
  border-radius: 100%;
}

/* MEDIAS */

@media only screen and (max-width:632px) {
    hgroup {
        display: none;
    }
}