#target {
  width: 400px;
  margin-bottom: 120px;
  margin-right: 15px  ;
}

#target #photos #cabeza {
  background-image: url('http://www.picturesforwalls.com/blackandwhite/newyork/images/brooklynarches.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
  border-bottom: 4px solid rgba(44,44,44,0.777);
}
#contenedor {
	width: 117%;
	height: auto;
	margin: auto;
}
#proffile {
  position: relative;
  margin: auto;
  cursor: pointer;
  top: 50%;
  left: 35%;
}
.relation {
  position: relative;
  display: block;
  margin: auto;
  left: 0%;
  top: 37%;
  padding: 5px 7px 30px 7px;
  background-color: rgba(44,44,44,0.777);
  width: 120px;
  border-radius: 30px;
  height: 12px;
  text-align: center;
  color: white;
  font-size: 0.98em;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
}
.fa-user {
  margin-right: 7px;
  margin-top: 5px;
}
.informacion {
  list-style-type: none;
  top: 20px;
  margin: auto;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  left: 0px;
  max-width: 200px;
  text-align: center;
  
}
.informacion li {
  display: list-item;
  height: auto;
}
.nombre  {
  font-size: 1.2em;
  display: block;
  vertical-align: middle;
  position: relative;
}
.apodo {
  font-size: 0.9em;
  display: block;
  vertical-align: middle;
  line-height: 5px;
  margin-top: 15px;
  position: relative;
  color: #53A8A8;
}
.estado {
  top: 25px;
  display: block;
  vertical-align: middle;
  position: relative;
}
.controls {
  position: relative;
  top: 60px;
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
  color: rgba(44,44,44,0.866);
  background-color: rgba(44,44,44,0.055);
  padding: 30px 70px;
  right: 0px;
}
.controls li {
  display: inline-block;
  margin-top: -10px;
  float: right;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}
.fa-plus:hover {
  color: #246068;
  
}
.fa-heart:hover {
  color: tomato;
}
.fa-reply:hover {
  color: #2E4272;
}

/* MODIFICACION */

@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);



/*caja de busqueda*/
.field>form input[type=text],
.field>form button {
 /* display:block;*/
 font:1.2em 'Montserrat Alternates';
}

.field>form input[type=text] {
  float: right;
  left: 350%;
  position:relative;
  width: 300px;
  background-color: #f0f0f0;
  opacity: 0.6;
  border: none;
  height: 25px;
  top: 7px;
  text-align: left;
  font-family: sans-serif;
  font-size: 14px;
  appearance: none;
  box-shadow: none;
  outline: none;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  border-radius: 7px;
  background-image: url('https://cdn3.iconfinder.com/data/icons/eightyshades/512/11_Search-128.png');
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: 13px;
  line-height: -1.02px;
  padding: 0px 20px;
  color: black;
}
.field>form input[type=text]:focus {
  background-color: #cccccc;
  background-position: 1%;
}
.field>form input[type="text"] {
  border: 0.2 em solid #3E9397;
  transition: all .3s ease-in;
}

.field>form button {
  padding: 0.6em 0.8em;
  background-color: #3E9397;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 1.2em;
  height:34px;
  width:70px;
}
.btn{ 
   cursor: pointer;
}
.container {
  position: relative;
  top: 100px;
  height: auto;
  width: auto;
  left: -6%;
}
/* cf */

*{
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}
.float-right{
  float: right;
}
.fa{
 font-size: .8em;
  line-height: 22px !important;
}

.fa-comment, .fa-bell {
  float: right;
  display: inline-block;
  position: relative;
  right: -280px;
  top: 12px;
  text-decoration: none;
  margin-left: 50px;
  cursor: pointer;
  color: rgba(44,44,44,0.854);
}
.fa-bars {
  color: rgba(44,44,44,0.854);
  float: left;
  display: inline-block;
  position: relative;
  left: -350px;
  top: 14px;
  list-style-type: none;
  margin-left: 50px;
  cursor: pointer;
}
.fa-bell em {
  background-color: tomato;
  font-size: 10px;
  padding: 5px 5px;
  border-radius: 100%;
  text-decoration: none;
  border-top-left-radius: 10px;
  color: white;
}
.fa-comment:hover, .fa-bell:hover {
 -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  color: #556B75;
}
.fa-bars:hover {
  color: grey;
  transform: rotate(90deg);
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  }


@media only screen and (min-width: 641px) and (max-width: 959px) {
  .field {
    width: 831px; } 
  }
@media only screen and (max-width: 640px) {
    .field {
    width: 631px; }  
  }
@media only screen and (max-width: 640px) {
  .field {
    width: 600px;
  }
  .fa-bell, .fa-comment {
    right: -255px;
  }
}
.toggle-2 {
  display: none;
  background-color: #fff;
  width: 200px;
  position: absolute;
  top:  40px;
  margin-right: 200px;
  font-family: 'Open Sans', sans-serif;
  height: 500px;
  border-bottom-right-radius: 10px;
  color: #ccc;
  z-index: 9999;
}
.toggle-2 img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 2px solid white;
  position: relative;
}
.toggle-2 .profilee i {
  text-align: right;
  position: relative;
  top: -7px;
  left: 10px;
  background-color: rgba(44,44,44,0.554);
  color: white;
  padding: 5px 5px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 5px;
}
.toggle-2 img:hover {
  opacity: 0.6;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
}
.toggle-2 li {
  font-size: 13px;
  margin-top: 20px;
  margin-left: 10px;
  list-style-type: none;
  padding: 10px 10px;
  color: rgba(44,44,44,0.854);
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  transition: all .3s ease-in;
  cursor: pointer;
}
.toggle-2 li:hover {
  background-color: white;
  color: grey;
}
#notificationn {
  width: 210px;
  height: 200px;
  position: absolute;
  right: 14px;
  top: 50px;
  background: #fff;
  display: none;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

#notificationn .not {
  list-style-type: none;
  display: block;
  position: relative;
  margin: auto;
  top: 0px;
}
#notificationn .cabeza {
  width: 100%;
  height: 40px;
  background-color: rgba(44,44,44,0.777);
}
#notificationn .cabeza em {
  background-color: tomato;
  padding: 10.5px 15px;
  color: white;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  float: right;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 400;
  margin-right: 7px;
  margin-top: 15px;
  cursor: pointer;
}
#notificationn .cabeza em:hover {
  opacity: 0.7;
}
#notificationn a {
  font-weight: 100;
  color: #708090;
  font-size: 13px;
  line-height: 17px;
  width: 190px;
  margin-left: 7.3px;
  top: 20px;
  font-family: 'Open Sans', sans-serif;
}
#notificationn .msg {
  top: 10px;
  position: relative;
  display: block;
  width: 102%;
}
#notificationn .fa-heart {
  background-color: #de5252;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  text-align: center;
  padding: -4px 10px;
  color: #fffffe;
  margin-left: 5px;
  cursor: pointer;
}
#notificationn .fa-user {
  background-color: #4ca0d9;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  text-align: center;
  padding: 0px 0px;
  color: #fffffe;
  margin-left: 0px;
  cursor: pointer;
}
#notificationn .fa-paper-plane-o {
  background-color: #4cd985;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  text-align: center;
  padding: 3px 0px;
  color: #fffffe;
  margin-left: 0px;ç
  cursor: pointer;
}
#notificationn li:nth-child(1n+2) {
  display: list-item;
  position: relative;
  top: 10px;
  margin-top: 7px;
  margin-left: 5px;
}

.box-tool-2 {
  width: 100%;
  height: 40px;
  background-color: #fff;
  box-shadow: 1px 1px 1px #f0f0f0;
  list-style-type: none;
  position: fixed;
  top: 0px;
  z-index: 9999;
  margin-bottom: 200px;
}
.logotipo_skyfolk {
  position: fixed;
  width: 47px;
  background-image: url('http://s11.postimg.org/58jltbaqb/logo.png');
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center;
  height: 47px;
  margin: auto;
  left: 50%;
  cursor: pointer;
}

.box-tool-2 .logo {
  position: fixed;
  margin: auto;
  text-align: center;
  left: 50%;
  padding: 0;
  top: -280px;
}

.btn-floating {
  position: relative;
  top: 70px;
  right: 30px;
}

.crear-grupo {
  position: absolute;
  display: none;
  z-index: 9999;
  width: 480px;
  height: 600px;
  margin: auto;
  top: 100px;
  left: 40%;
}

@media only screen and (min-width: 641px) and (max-width: 959px) {
  .crear-grupo {
    left: 20%;
  }
}

@media only screen and (min-width: 241px) and (max-width: 580px) {
  .crear-grupo {
    left: 10%;
  }
}
#search-noelements {
  margin-top: 150px;
}
.opciones_busqueda {
  position: fixed;
  width: 80%;
  height: 30px;
  box-shadow: none;
  background: transparent;
  border-bottom: 1px solid #e0e0e0;
  top: 60px;
  left: 10%;
}
.opciones_busqueda .opc_ul {
  position: relative;
  margin: auto;
  width: 500px;
  bottom: 15px;
}
.opciones_busqueda .opc_ul li {
  color: #2196F3;
  left: 40%;
  font-family: 'Open Sans', sans-serif;
  height: 0px;
  padding: 0px 10px 40px 10px;
  border-right: 1px solid #e0e0e0;
  cursor: pointer;
  border-bottom: 0px solid #2196F3;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}

.opciones_busqueda .opc_ul li:hover {
  color: #2296F9;
  background: transparent;
 border-bottom: 2.4px solid #2196F3;
  animation-name: border-up;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

@keyframes border-up {
  0% {  border-bottom: 2px solid #2196F3;}
  25% {  border-bottom: 2.1px solid #2196F3;}
  50% {  border-bottom: 2.2px solid #2196F3;}
  75% {  border-bottom: 2.3px solid #2196F3;}
  100% {  border-bottom: 2.4px solid #2196F3;}
}
.dropdown-button {
  bottom: 11px;
  position: relative;
  color: white;
}
#dropdown1 li {
  width: 350px;
}
#dropdown1 {
  height: 550px;
  padding: 70px 350px 10px 0px;
  margin-top: 40px;
}