@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(http://fonts.googleapis.com/css?family=Pacifico); /* ONLY FOR LOGO */

body {
                       padding: 0;
                       margin: auto;
                       background-size: 100%;
                       background-repeat: no-repeat;
}

/* Random Background */
#background_cycler{padding:0;margin:0;width:100%;position:absolute;top:0;left:0;z-index:-1;height:100%;}
#background_cycler img{position:absolute;left:0;top:0;width:100%;z-index:1;height: 100%;}
#background_cycler img.active{z-index:3};
/* LOGO */
.namesn {
  position: relative;
  display: block;
  width: 200px;
  height: 120px;
  margin: auto;
  bottom: 200px;
}
.logo {
  position: relative;
  margin: auto;
  left: -120px;
  top: 120px;
  width: 150px;
  height: 100px;
}
.logo img {
  width: 120px;
  height: 120px;
  position: absolute;
  margin: auto;
  vertical-align: middle;
  top: -7px;
  left: 0px;
}
.namesn i {
  color: #0096d7;
  text-shadow: 1px 1px 1px #ccc;
}
.namesn h5 {
  position: relative;
  left: 87px;
  font-size: 5em;
  text-decoration: none;
  color: grey;
  letter-spacing: 0.5px;
  display: inline-block;
  font-family: 'Pacifico', cursive;
  top: 0px;
  text-shadow: 1px 1px 1px #0096d7;
}

footer {
  width: 100%;
  background-color: rgba(44,44,44,0.254);
  position: fixed;
  height: 20px;
  bottom: 0;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
footer ul {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
}
footer li {
  display: inline-block;
  margin-right: 20px;
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  color: grey;
  font-size: 16px;
  position: relative;
  left: 40%;
}
.flex {
  position: relative;
  margin: auto;
  width: 40px;
  height: 40px;
  background-color: rgba(44,44,44,0.854);
  background-image: url('https://cdn2.iconfinder.com/data/icons/antto-basic-1/423/More-512.png');
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  top: -20px;
  -webkit-transform: rotate(45deg);
  -moz-transition: rotate(45deg);
  transition: rotate(45deg);
}
  footer:hover {
    height: 100px;
}
  footer:hover > .flex {
    border: 1px solid #7edc1f;
  }
.block-form{


    width: 300px;
    height: 300px;
    background-color: rgba(44,44,44,0.854);
    margin: auto;
    position: relative;
    top: 100px;
    font-family: 'PT Sans', sans-serif; 
    border-radius: 5px;
    -webkit-box-shadow:  0 1px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);

}

form {
    position: relative;
    top: 23px;
    font-family: 'PT Sans', sans-serif;
  

}

.links{
    float: left;
}

.form-3 label {
    position: relative;
    text-align: center;
    color: #efefef;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    font-width: 100;
    left: 30px;
}

.form-3 label[for="id_remember"] {
  position: relative;
  left: 80px;
  font-size: 1.01121em;
  font-weight: 100;
  top: -4px;
}
.form-3 input[type=text] {
  width: 70%;
  position: relative;
  margin: auto;
  background-image: url('https://www.cs.umd.edu/sites/default/files/default_images/user_icon.png');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: left;
  padding: 5.2px 25px;
  outline: none;
  border: 1px solid #ececec;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  border-radius: 5px;
}
.form-3 input[type="email"] {
  width: 70%;
  position: relative;
  margin: auto;
  background-image: url('http://cdn.flaticon.com/png/256/36175.png');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: left;
  padding: 5.2px 25px;
  outline: none;
  border: 1px solid #ececec;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  border-radius: 5px;
}
.form-3 input[type=password] {
  
  width: 70%;
  position: relative;
  margin: auto;
  background-image: url('https://cdn4.iconfinder.com/data/icons/defaulticon/icons/png/256x256/padlock-closed.png');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: left;
  padding: 5.2px 25px;
  outline: none;
  border: 1px solid #ececec;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  border-radius: 5px;



}
.form-3 input:focus {
  background-position: 5px;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(12,198,204,1);
  -moz-box-shadow: 0px 0px 8px 1px rgba(12,198,204,1);
  box-shadow: 0px 0px 8px 1px rgba(12,198,204,1);
}
.block-form h3 {
  position: absolute;
  left: 0%;
  text-align: center;
  margin: auto;
  color: #ececec;
  border-bottom: 1px solid #cccccc;
  width: 100%;
  margin-bottom: 10px;
  font-weight: 100;
  font-family: 'PT Sans', sans-serif; 
}

/*
.form-3 p:nth-child(3),
.form-3 p:nth-child(4) {
    float: left;
    width: 50%;
}
*/
/*
.form-3 label[for="remember"] {
    width: auto;
    float: none;
    display: inline-block;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
    text-indent: 2px;
    position: absolute;
}
*/
/*
.form-3 input[type="checkbox"] {
    position: relative;
    top: 100px;
}
*/

/*
.form-3 input[type=submit] {
    
    width: 30%;
    padding: 8px 5px;
  
    
    border: 1px solid #0273dd; 
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.3),
        inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius: 3px;
    background: #38a6f0;
    cursor:pointer;
  
    
    font-family: 'PT Sans', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 15px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
    float: right;
    top: 120px;
}
*/

/*
.form-3 input[type=submit]:hover { 
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
}

.form-3 input[type=submit]:active { 
    background: #287db5;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.6);
    border-color: #000;
    border-color: rgba(0,0,0,0.9);
}

.no-boxshadow .form-3 input[type=submit]:hover {
    background: #2a92d8;
}
*/


/*
.btn-info {

    background-color:#32C0EF;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:6px 17px;
	text-decoration:none;
	float:right;
    position:relative;
    top:70px;
    margin-right: 15px;
    outline: none;
    font-family: 'Lato', sans-serif;
    transition: all .2s ease-in;
}
*/

.btn-info:hover {

    background-image: url('https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/512/edit.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    color: rgba(0,0,0,0);
}


.form-3 a{

    /*float: left;*/
   
    margin-left: 60px;
    position: relative;
    top: 13px;

}
.checkbox{
    background-color: blue;
    /*width: 20px;*/
}
.checkbox-rembember{
    width: 100%;
    float: left;
    position: absolute;
}

/*
.btn-success{

    background-color:#5A5550;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:15px;
    padding:6px 17px;
    text-decoration:none;
    float:left;
    left: -140px;
    position:relative;
    top:102px;
    margin-left: 2px;
    font-family: 'Lato', sans-serif;
    outline: none;
    transition: all .2s ease-in;
	
}
*/

.btn-success:hover {
  background-image: url('https://cdn1.iconfinder.com/data/icons/windows-8-metro-style/512/login.png');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  color: rgba(0,0,0,0);


}
.block-formregister{
    width: 300px;
    height: 550px;
    background-color: rgba(44,44,44,0.854);
    position: relative;
    top: 0px;
    float: right;
    margin-right: 130px;
    font-family: 'PT Sans', sans-serif;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-box-shadow: -1px 2px 17px 0px rgba(65,109,152,1);
    -moz-box-shadow: -1px 2px 17px 0px rgba(65,109,152,1);
    box-shadow: -1px 2px 17px 0px rgba(65,109,152,1);
    display: block;
 
}

.block-formregister .btn-info, .block-formregister .btn-success {
  top: 120px;
  position: relative;
  display: inline-block;
}
@media tv and (min-width: 700px) and (orientation: landscape) {
  .register {
    left: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .register {
    left: 150px;
  }
}
@media screen and (max-width: 600px) and (max-height: 600px) {
  body {
    background-size: 100%;
    background-repeat: repeat;
  }
}


/* DE CARLOS*/
.form-3 .form-group{
  height: 56%;
  width: 100%;
}
.form-3{
  
  height: 100%;
  width: 100%;
  padding: 10px;

}

.form-3 p{
  /*display: block;*/
  padding-bottom: 10px;
  
}

.form-3 input{
 
  margin: 0 auto;
  display: block;

}
.form-3 input[type="checkbox"] {
    display: inline;
    float: right;
    margin-right: 70px;
}

.form-3 .btn-success{
    float: left;
    margin-top: 30px;
    margin-left: 20px;
}

.form-3 .btn-info{
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}