    @import url('font-awesome.css');
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://fonts.googleapis.com/css?family=Gafata);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Roboto);

/*
body {
                background: #563c55 url({{STATIC_URL}}img/6.jpg) no-repeat center top !important;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                background-size: cover;
}
*/

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
span.cabezal {
font-size: 70px;
}
header {
  position: fixed;
  width: 95%;
  text-align: center;
  font-size: 72px;
  line-height: 108px;
  height: 108px;
  background: #fff;
  color: grey;
  font-family: 'PT Sans', sans-serif;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: -50px;
}
footer {
    position: fixed;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    background: white;
    opacity: 0.8;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: auto;
    height: auto;
    margin-top: 70px;
    padding: 10px;
    width: 95%;
    height: 108px;
}
ul{
  position: relative;
  margin: auto;
  list-style-type: none;

}
li {
  color: #000;
  position: relative;
  margin: auto 20px;
  display: inline;
}
.block-form{


    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    /* Size and position */
    width: 500px;
    position: relative;
    margin: 230px auto 0px 50px;
    padding: 20px 50px 20px;
    overflow: hidden;
    /* Styles */
    background: #111;
    border-radius: 0.4em;
    border: 1px solid #191919;
    box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.08), 
        0 16px 10px -8px rgba(0, 0, 0, 0.6);
    /*background-color: #000000;*/
    height: 10 auto;
    opacity: 0.72;

}

.form-3 {
    /*
	font-family: 'Ubuntu', 'Lato', sans-serif;
	font-weight: 400;

	width: 500px;
	position: relative;
	margin: 300px auto 0px 50px;
	padding: 20px 50px 50px;
	overflow: hidden;

	background: #111;
	border-radius: 0.4em;
	border: 1px solid #191919;
	box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.08), 
        0 16px 10px -8px rgba(0, 0, 0, 0.6);
	background-color: #000000;
    */
  

}
/*
.form-3 fieldset{
     border: 0px;
     background-color: yellow;
     border: 0px;
     padding: 0px;
}
*/


.links{
    float: left;
}
.form-3 label {
    /* Size and position */
    width: 50%;
    /*float: left;*/
    /*padding-top: 9px;*/

    /* Styles */
    color: #ddd;
    font-size: 12px;
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
    text-shadow: 0 1px 0 #000;
    text-indent: 10px;
    font-weight: 700;
    cursor: pointer;
}

.form-3 input[type=text],
.form-3 input[type=password] {
    /* Size and position */
    width: 90%;
    float: left;
    padding: 8px 5px;
    margin-bottom: 10px;
    font-size: 12px;

    /* Styles */
    background: #1f2124; /* Fallback */
    background: -moz-linear-gradient(#1f2124, #27292c);
    background: -ms-linear-gradient(#1f2124, #27292c);
    background: -o-linear-gradient(#1f2124, #27292c);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#1f2124), to(#27292c));
    background: -webkit-linear-gradient(#1f2124, #27292c);
    background: linear-gradient(#1f2124, #27292c);    
    border: 1px solid #000;
    box-shadow:
        0 1px 0 rgba(255,255,255,0.1);
    border-radius: 3px;

    /* Font styles */
    font-family: 'Roboto', sans-serif;
    color: white;


}

.form-3 input[type=text]:hover,
.form-3 input[type=password]:hover,
.form-3 label:hover ~ input[type=text],
.form-3 label:hover ~ input[type=password] {
    background: #27292c;
}

.form-3 input[type=text]:focus, 
.form-3 input[type=password]:focus {
    box-shadow: inset 0 0 2px #000;
    background: #fff;
    border: 3px solid #51cbee;
    outline: none;
    color: black;
    transition: all .3s ease-in-out; /* Remove Chrome outline */
}

.form-3 p:nth-child(3),
.form-3 p:nth-child(4) {
    float: left;
    width: 50%;
}

.form-3 label[for=remember] {
    width: auto;
    float: none;
    display: inline-block;
    text-transform: capitalize;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0px;
    text-indent: 2px;
}

.form-3 input[type=checkbox] {
    /*margin-left: 10px;*/
    /*vertical-align: middle;*/
}

.form-3 input[type=submit] {
    /* Width and position */
    width: 30%;
    padding: 8px 5px;
  
    /* Styles */
    border: 1px solid #0273dd; /* Fallback */
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.3),
        inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius: 3px;
    background: #38a6f0;
    cursor:pointer;
  
    /* Font styles */
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 15px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
    float: right;
}


.form-3 input[type=submit]:hover { 
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
}

.form-3 input[type=submit]:active { 
    background: #287db5;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.6);
    border-color: #000; /* Fallback */
    border-color: rgba(0,0,0,0.9);
}

.no-boxshadow .form-3 input[type=submit]:hover {
    background: #2a92d8;
}


.form-3 msgalert{
    color: white;
    width: 80%;
    font-family: 'Open Sans', sans-serif;
    font-size:15px;
}


.form-3:after {
    /* Size and position */
    content: "";
    height: 1px;
    width: 33%;
    position: absolute;
    left: 20%;
    top: 0;

    /* Styles */
    background: -moz-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
    background: -ms-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
    background: -o-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), color-stop(0.25, #444), color-stop(0.5, #b6b6b8), color-stop(0.75, #444), to(transparent));
    background: -webkit-linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
    background: linear-gradient(left, transparent, #444, #b6b6b8, #444, transparent);
}

.form-3:before {
    /* Size and position */
    content: "";
    width: 8px;
    height: 5px;
    position: absolute;
    left: 34%;
    top: -7px;
    
    /* Styles */
    border-radius: 50%;
    box-shadow: 0 0 6px 4px #fff;
}

.block-form:nth-child(1):before{
    /* Size and position */
    content:"";
    width:250px;
    height:100px;
    position:absolute;
    top:0;
    left:45px;

    /* Styles */
    -webkit-transform: rotate(75deg);
    -moz-transform: rotate(75deg);
    -ms-transform: rotate(75deg);
    -o-transform: rotate(75deg);
    transform: rotate(75deg);
    background: -moz-linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
    background: -ms-linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
    background: -o-linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
    background: -webkit-linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
    background: linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
    pointer-events:none;
}

.no-pointerevents .form-3 p:nth-child(1):before {
    display: none;
}





.block-form .msgalert{
    color: white;/*#E2E2E2*/
    width: 80%;
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
    text-align: center;
    margin-left: 30px;

}
.form-3 .link-a{
    color: #E2E2E2;
    /*width: 100%;*/
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
    /*text-align: center;*/
    margin-left: 180px;
    margin-top: 30px;
   

}
.form-3 .link-b{

    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
    color: #E2E2E2;

}
.block-form .link-c{
    
    /*width: 100%;*/
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
    /*text-align: center;*/
    margin-left: 180px;
    margin-top: 30px;
    color: #E2E2E2 !important;

}
/*
.form-3 .button-reg{
    width: 35px;
    margin-left: 50%;
    margin-top: 22px;

}
*/
#linkLogin{
    margin-left: 6px;
	
	}
.myButton {
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#33bdef;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
	float:right;
    position:relative;
    top:23px;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
}
.myButton:active {
	position:relative;
	top:10px;
}


.form-3 a{

    float: left;
}
.checkbox{
    background-color: blue;
    /*width: 20px;*/
}
.checkbox-rembember{
    width: 100%;
    float: left;
}

#link-login{
-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
    -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6E6E6E), color-stop(1, #6E6E6E));
    background:-moz-linear-gradient(top, #6E6E6E 5%, #9A9A9A 100%);
    background:-webkit-linear-gradient(top, #6E6E6E 5%, #9A9A9A 100%);
    background:-o-linear-gradient(top, #6E6E6E 5%, #9A9A9A 100%);
    background:-ms-linear-gradient(top, #76E6E6E 5%, #9A9A9A 100%);
    background:linear-gradient(to bottom, #6E6E6E 5%, #9A9A9A 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#B133F0', endColorstr='#9A9A9A',GradientType=0);
    background-color:#6E6E6E;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #1F2124;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px -1px 0px #5b6178;
    float:left;
    position:relative;
    top:0px;
	
}
#link-login:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6E6E6E), color-stop(1, #6E6E6E));
    background:-moz-linear-gradient(top, #9A9A9A 5%, #6E6E6E 100%);
    background:-webkit-linear-gradient(top, #9A9A9A 5%, #6E6E6E 100%);
    background:-o-linear-gradient(top, #9A9A9A 5%, #6E6E6E 100%);
    background:-ms-linear-gradient(top, #9A9A9A 5%, #6E6E6E 100%);
    background:linear-gradient(to bottom, #9A9A9A 5%, #6E6E6E 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6E6E6E', endColorstr='#B133F0',GradientType=0);
    background-color:#6E6E6E;
}
.block-formregister{
    /*top: -120px;*/
    height: auto; /*320px*/
    position: absolute;
    top:-50px;
    right:70px;
 
}

/* CUENTAS GUARDADAS */
.form-2 {
    display: none;
    font-weight: 100;
    /* Size and position */
    width: 250px;
    position: absolute;
    margin: 170px auto 0px 170px;
    padding: 130px 50px 50px;
    overflow: hidden;
    /* Styles */
    background: #111;
    border-radius: 0.4em;
    border: 1px solid #191919;
    box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.08), 
        0 16px 10px -8px rgba(0, 0, 0, 0.6);
    background-color: #000000;
    height: auto;
    font-family: 'Open Sans', sans-serif;
}
.form-2 ul.mis_cuentas {
    position: absolute;
    margin: auto;
    float: left;
    list-style-type: none;
    top: 0%;
    left: 0%;
    height: auto;

}
.form-2 ul.mis_cuentas li {
    position: relative;
    display: inline-block;
    margin: 15px auto;
    cursor: pointer;
    border: none;
    left: 10%;
}
.form-2 ul.mis_cuentas li p{
    display: inline-block
    position: relative;
    left: 30%;
    margin: -40px 40px;
    color: #56B9B9;
    text-align: center;
    font-weight: 100;
    padding: 0;
}
.form-2 img {
    width: 50px;
    height: 50px;
    position: relative;
    display: inline;
    padding: 0;
    margin: auto;
    border-radius: 100%;
    border: 2px solid #56B9B9;
    transition: all .3s ease-in;
    clear: both;
}

/* LOGO SKYFOLK */
#Menu {
    background:#eee;
    color:#fff;
    width:40px;
    height:40px;
    border:2px solid #7EC6F5;
    -webkit-border-radius: 200px;
    border-radius: 210px;
    box-shadow:2px 0px 2px #444;
    position:fixed;
    left:2.5%;top:2.5%;
    margin: auto;
    /*margin:100px auto;*/
    z-index:2;
    overflow:hidden;
    opacity: 1;
    line-height: 1;
    }

    #centro {
    padding-top: 0%;
    width: 45%;
    height: 47%;
    background:#ccc;
    border:5px solid #eee;
    -webkit-border-radius: 30px;
    border-radius: 100px;
    box-shadow:inset 0px 20px 45px #999;
    position:absolute;
    left:0;
    right:0;
    margin:75px auto;
    z-index:2;
    overflow:hidden;
    font-size:9em;
    text-shadow:0px 0px 15px #999;
}

#llinkedin {
    color:rgba(14, 118, 168,0.5);
    text-shadow: 1px 3px 6px #0e76a8,
                                0px 0px 0px #000,
                            1px 4px 6px #0e76a8;
    background:#907AFB;
    -webkit-border-radius:305px 0px 0px 0px;
    border-radius:305px 0px 0px 0px;
}

#ddribbble {
    color:rgba(226, 77, 135,0.5);
        text-shadow: 1px 3px 6px #E24D87,
                                0px 0px 0px #000,
                            1px 4px 6px #E24D87;
    background:#72FFB0;
    -webkit-border-radius:0px 205px 0px 0px;
    border-radius:0px 205px 0px 0px;
}

#ffacebook{
    color:rgba(59, 89, 152,0.5);
    text-shadow: 1px 3px 6px #00CEFC,
                                0px 0px 0px #000,
                            1px 4px 6px #0e76a8;
    background:#F77AFB;
    -webkit-border-radius:0px  0px 0px 205px;
    border-radius:0px  0px 0px 205px;
}

#ttwitter {
    color: #0092AC;
        text-shadow: 1px 3px 6px #00CEFC,
                                0px 0px 0px #000,
                            1px 4px 6px #00CEFC;
    background:#B9B9B9;
    -webkit-border-radius:0px  0px 205px 0px ;
    border-radius:0px  0px 205px 0px ;
}
#ttwitter span, #ffacebook span, #ddribbble span, #llinkedin span{
margin-left:60px;
margin-top:25px;
}
.size {
    padding-top:25%;
    font-size:2.5em;
    margin-bottom:2%;
    width:50%;
        height:30%;
    overflow:hidden;
}

    .left {
        float:left;
    }

    .right {
        float:right;
    }

#ffacebook:hover, #llinkedin:hover, #ddribbble:hover, #ttwitter:hover {
        color:rgba(255,255,255,0.7);
        cursor:pointer;

}

    .left {
        float:left;
    }

    .right {
        float:right;
    }

