@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

button::-moz-focus-inner {
  border: 0; }

/* IMPORTANTE PARA CONSERVAR LOS BORDES DE LA INTERFAZ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.activex {
  color: red; }

.container {
  *zoom: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.container:before, .container:after {
  content: " ";
  display: table; }

.container:after {
  clear: both; }

.container .row {
  *zoom: 1;
  display: block; }

.container .row:before, .container .row:after {
  content: " ";
  display: table; }

.container .row:after {
  clear: both; }

body > .container {
  margin-top: 7em;
  margin-bottom: 1em; }

@media only screen and (min-width: 641px) and (max-width: 959px) {
  body > .container {
    margin: 1em; } }
@media only screen and (max-width: 640px) {
  body > .container {
    font-size: 1.1em;
    margin: 1em;
    min-width: 320px; } }
@media only screen and (min-width: 1220px) {
  body > .container {
    font-size: 1.1em;
    max-width: 1600px; } }
.col-lg-1 {
  display: block;
  float: left;
  margin-right: 1.20482%;
  width: 7.22892%; }

.col-lg-1:last-child {
  margin-right: 0; }

.col-lg-2 {
  display: block;
  float: left;
  margin-right: 1.20482%;
  width: 15.66265%; }

.col-lg-2:last-child {
  margin-right: 0; }

.col-lg-3 {
  display: block;
  float: left;
  margin-right: 1.09512%;
  width: 23.09639%; }

.col-lg-3:last-child {
  margin-right: 0; }

.col-lg-4 {
  display: block;
  float: left;
  margin-right: 1.20482%;
  width: 32.531%; }

.col-lg-4:last-child {
  margin-right: 0; }

.col-lg-5 {
  display: block;
  float: left;
  margin-right: 1.20482%;
  width: 40.96386%; }

.col-lg-5:last-child {
  margin-right: 0; }

.col-lg-6 {
  display: block;
  float: left;
  margin-right: 1.20482%;
  width: 49.39759%; }

.col-lg-6:last-child {
  margin-right: 0; }

.col-lg-7 {
  display: block;
  float: left;
  margin-right: 1.20482%;
  width: 57.83133%; }

.col-lg-7:last-child {
  margin-right: 0; }

.col-lg-8 {
  display: block;
  float: left;
  margin-right: 1.20482%;
  width: 66.26506%; }

.col-lg-8:last-child {
  margin-right: 0; }

.col-lg-9 {
  display: block;
  float: left;
  margin-right: 1.20482%;
  width: 74.6988%; }

.col-lg-9:last-child {
  margin-right: 0; }

.col-lg-10 {
  display: block;
  float: left;
  margin-right: 1.20482%;
  width: 83.13253%; }

.col-lg-10:last-child {
  margin-right: 0; }

.col-lg-11 {
  display: block;
  float: left;
  margin-right: 1.20482%;
  width: 91.56627%; }

.col-lg-11:last-child {
  margin-right: 0; }

.col-lg-12 {
  display: block;
  float: left;
  margin-right: 1.20482%;
  width: 100%; }

.col-lg-12:last-child {
  margin-right: 0; }

@media only screen and (min-width: 641px) and (max-width: 959px) {
  .col-md-1 {
    display: block;
    float: left;
    margin-right: 1.20482%;
    width: 7.22892%; }
    .col-md-1 .col-md-1:last-child {
      margin-right: 0; } }
@media only screen and (min-width: 641px) and (max-width: 959px) {
  .col-md-2 {
    display: block;
    float: left;
    margin-right: 1.20482%;
    width: 15.66265%; }

  .col-md-2:last-child {
    margin-right: 0; } }
@media only screen and (min-width: 641px) and (max-width: 959px) {
  .col-md-3 {
    display: block;
    float: left;
    margin-right: 1.20482%;
    width: 24.09639%; }

  .col-md-3:last-child {
    margin-right: 0; } }
@media only screen and (min-width: 641px) and (max-width: 959px) {
  .col-md-4 {
    display: block;
    float: left;
    margin-right: 1.20482%;
    width: 32.53012%; }

  .col-md-4:last-child {
    margin-right: 0; } }
@media only screen and (min-width: 641px) and (max-width: 959px) {
  .col-md-5 {
    display: block;
    float: left;
    margin-right: 1.20482%;
    width: 40.96386%; }

  .col-md-5:last-child {
    margin-right: 0; } }
@media only screen and (min-width: 641px) and (max-width: 959px) {
  .col-md-6 {
    display: block;
    float: left;
    margin-right: 1.20482%;
    margin-top: 5.3%;
    width: 49.39759%; }

  .col-md-6:last-child {
    margin-right: 0; } }
@media only screen and (min-width: 641px) and (max-width: 959px) {
  .col-md-7 {
    display: block;
    float: left;
    margin-right: 1.20482%;
    width: 57.83133%; }

  .col-md-7:last-child {
    margin-right: 0; } }
@media only screen and (min-width: 641px) and (max-width: 959px) {
  .col-md-8 {
    display: block;
    float: left;
    margin-right: 1.20482%;
    width: 66.26506%; }

  .col-md-8:last-child {
    margin-right: 0; } }
@media only screen and (min-width: 641px) and (max-width: 959px) {
  .col-md-9 {
    display: block;
    float: left;
    margin-right: 1.20482%;
    width: 74.6988%; }

  .col-md-9:last-child {
    margin-right: 0; } }
@media only screen and (min-width: 641px) and (max-width: 959px) {
  .col-md-10 {
    display: block;
    float: left;
    margin-right: 1.20482%;
    width: 83.13253%; }

  .col-md-10:last-child {
    margin-right: 0; } }
@media only screen and (min-width: 641px) and (max-width: 959px) {
  .col-md-11 {
    display: block;
    float: left;
    margin-right: 1.20482%;
    width: 91.56627%; }

  .col-md-11:last-child {
    margin-right: 0; } }
@media only screen and (min-width: 641px) and (max-width: 959px) {
  .col-md-12 {
    display: block;
    float: left;
    margin-right: 1.20482%;
    width: 100%; }

  .col-md-12:last-child {
    margin-right: 0; } }
@media only screen and (max-width: 640px) {
  .col-sm-1 {
    display: block;
    float: left;
    margin-right: 1.20482%;
    width: 7.22892%; }

  .col-sm-1:last-child {
    margin-right: 0; } }
.col-offset-1 {
  margin-left: 8.43373%; }

@media only screen and (max-width: 640px) {
  .col-sm-2 {
    display: block;
    float: left;
    margin-right: 1.20482%;
    width: 15.66265%; }

  .col-sm-2:last-child {
    margin-right: 0; } }
.col-offset-2 {
  margin-left: 16.86747%; }

@media only screen and (max-width: 640px) {
  .col-sm-3 {
    display: block;
    float: left;
    margin-right: 1.20482%;
    width: 24.09639%; }

  .col-sm-3:last-child {
    margin-right: 0; } }
.col-offset-3 {
  margin-left: 25.3012%; }

@media only screen and (max-width: 640px) {
  .col-sm-4 {
    display: block;
    float: left;
    margin-right: 1.20482%;
    width: 32.53012%; }

  .col-sm-4:last-child {
    margin-right: 0; } }
.col-offset-4 {
  margin-left: 33.73494%; }

@media only screen and (max-width: 640px) {
  .col-sm-5 {
    display: block;
    float: left;
    margin-right: 1.20482%;
    width: 40.96386%; }

  .col-sm-5:last-child {
    margin-right: 0; } }
.col-offset-5 {
  margin-left: 42.16867%; }

@media only screen and (max-width: 640px) {
  .col-sm-6 {
    display: block;
    float: left;
    margin-right: 1.20482%;
    width: 49.39759%; }

  .col-sm-6:last-child {
    margin-right: 0; } }
.col-offset-6 {
  margin-left: 50.60241%; }

@media only screen and (max-width: 640px) {
  .col-sm-7 {
    display: block;
    float: left;
    margin-right: 1.20482%;
    width: 57.83133%; }

  .col-sm-7:last-child {
    margin-right: 0; } }
.col-offset-7 {
  margin-left: 59.03614%; }

@media only screen and (max-width: 640px) {
  .col-sm-8 {
    display: block;
    float: left;
    margin-right: 1.20482%;
    width: 66.26506%; }

  .col-sm-8:last-child {
    margin-right: 0; } }
.col-offset-8 {
  margin-left: 67.46988%; }

@media only screen and (max-width: 640px) {
  .col-sm-9 {
    display: block;
    float: left;
    margin-right: 1.20482%;
    width: 74.6988%; }

  .col-sm-9:last-child {
    margin-right: 0; }

  .col-offset-9 {
    margin-left: 75.90361%; } }
@media only screen and (max-width: 640px) {
  .col-sm-10 {
    display: block;
    float: left;
    margin-right: 1.20482%;
    width: 83.13253%; }

  .col-sm-10:last-child {
    margin-right: 0; }

  .col-offset-10 {
    margin-left: 84.33735%; } }
@media only screen and (max-width: 640px) {
  .col-sm-11 {
    display: block;
    float: left;
    margin-right: 1.20482%;
    width: 91.56627%; }

  .col-sm-11:last-child {
    margin-right: 0; }

  .col-offset-11 {
    margin-left: 92.77108%; } }
@media only screen and (max-width: 640px) {
  .col-sm-12 {
    display: block;
    float: left;
    margin-right: 1.20482%;
    margin-top: 5.25%;
    width: 100%; }

  .col-sm-12:last-child {
    margin-right: 0; }

  .col-offset-12 {
    margin-left: 101.20482%; } }
.vbox .user-video {
  width: 20%;
  min-height: 100px;
  display: inline-block;
  background-image: url("http: //parentesis.com/imagesPosts/taylor-swift-2014-sarah-barlow-billboard-650.jpg");
  background-repeat: no-repeat;
  border: 2px solid #fff;
  background-size: 100%;
  margin-top: 7px;
  margin-left: 30px;
  transtion: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  position: relative; }

@media only screen and (max-width: 1024px) {
  .vbox .user-video {
    display: none; } }
.vbox .user-video:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-tranform: scale(1.2); }

.play-user-video {
  outline: none;
  border: 1px solid #e0e0e0;
  width: 30px;
  height: 30px;
  margin: auto;
  position: relative;
  left: 43%;
  margin-top: 15%;
  background: none;
  border-radius: 100%;
  color: #000; }

.premium header {
  background: #1d2122;
  padding: 1.5em 1em;
  padding-right: 40%;
  position: relative;
  border-radius: 0.3rem; }

.premium header h1 {
  color: #c5c5c5;
  margin: 0; }

.premium header h1 span {
  color: #f9f9f9; }

.premium header p {
  color: #bfc5c8;
  margin: 0; }

.premium .ui-kit {
  background: #e76049;
  height: 100%;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 1.5em;
  text-transform: uppercase;
  color: white;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem; }

.premium .ui-kit:before {
  content: "";
  height: 100%;
  vertical-align: middle;
  display: inline-block; }

.premium .ui-kit span {
  font-size: 2em;
  font-weight: 600;
  vertical-align: middle; }

.card {
  background: white;
  border-radius: 0.3rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 1em; }

/* Ventana para las opciones de cada pin */
* .ventana-pin {
  width: 100%;
  height: auto;
  display: none;
  border-radius: 3px; }

* .ventana-pin a {
  float: right;
  font-size: 17px;
  margin-right: 14px; }

.body-inConf {
  background-color: #e6e6e6; }

.user-card .user-avatar {
  text-align: center; }

.user-card .user-avatar .user-bg {
  width: 100%;
  min-height: 351.567px;
  max-height: 351.567px;
  border-bottom: 3px solid #1e88e5;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem; }

.user-card .user-avatar .user-bg:after {
  content: "";
  width: 100%;
  height: 100%;
  background: red; }

.user-card .user-avatar .user-pic {
  background: white;
  padding: 0;
  border-radius: 0.3rem;
  margin-top: -16.7em;
  box-shadow: 0 0 1px #1e88e5; }

.user-pic {
  width: 120px;
  height: 120px; }

/* Recolocamos la caja y la imagen */
@media only screen and (max-width: 500px) {
  .caja {
    left: 0%; } }
/* Posicionamiento default */
.caja {
  left: 14px;
  position: relative; }

.user-card header {
  text-align: center;
  padding: 0 1.5em;
  display: block;
  margin-top: -40px; }

.user-card header h1 {
  margin-top: 3.35em;
  margin-bottom: 0; }

.user-card header p {
  color: #717a7e;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0.5em; }

.user-card .status {
  color: #75787b;
  font-size: 0.98em; }

.user-card .stats {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  display: table;
  width: 100.15%; }

.user-card .stats li {
  margin: 0;
  padding: 0;
  width: 33.33334%;
  display: table-cell;
  text-align: center;
  border-left: 0.1em solid transparent; }

.user-card .stats li:first-child {
  border-left: 0; }

.user-card .stats li:first-child a {
  border-bottom-left-radius: 0.3rem; }

.user-card .stats li:last-child a {
  border-bottom-right-radius: 0.3rem; }

.user-card .stats li a, .user-card .stats li strong {
  display: block; }

.user-card .stats li a {
  background: #f7f7f7;
  padding: 1em 0;
  color: #46494c; }

.user-card .stats li a strong, .user-card .stats li a span {
  font-weight: 600;
  line-height: 1; }

.user-card .stats li a strong {
  font-size: 2em; }

.user-card .stats li a span {
  color: #717a7e; }

.user-card .stats li a:hover {
  background-color: #e0e0e0;
  color: #1e88e5; }

.user-card .stats li a:hover span {
  color: #1e88e5; }

.stock .stock-chart {
  background: #00c5de;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem; }

.stock .stock-chart #chart {
  height: 19.7em;
  background: url(http://i.imgbox.com/abmuNQx2) center bottom no-repeat; }

.stock .current-price {
  background: #1d2122;
  padding: 1em; }

.stock .current-price .info abbr {
  display: block;
  color: #f8f8f8;
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 0.18em; }

.stock .current-price .changes {
  text-align: right; }

.stock .current-price .changes .value {
  font-size: 1.8em;
  font-weight: 600; }

.stock .current-price .changes .value:before {
  content: "";
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 0.25em;
  border-bottom-color: #4fd98b;
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.5em;
  margin-right: 0.4em; }

.stock .current-price .changes .value.up {
  color: #4fd98b; }

.stock .current-price .changes .value.down {
  color: #e76646; }

.stock .current-price .changes .value.down:before {
  border-color: #e76646 transparent transparent; }

.stock .current-price .info time, .stock .current-price .info .change, .stock .current-price .changes time, .stock .current-price .changes .change {
  color: #c8c8c8;
  font-weight: 300;
  font-size: 0.9em; }

.stock .yearly-changes {
  height: 6em;
  padding: 1em; }

.stock .yearly-changes:after {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle; }

.stock .yearly-changes .year-all, .stock .yearly-changes .year-chart {
  display: inline-block;
  vertical-align: middle; }

.stock .yearly-changes .year-chart, .stock .yearly-changes .chart-bars {
  height: 100%; }

.stock .year-all, .stock .summary {
  text-align: center; }

.stock .year-all strong, .stock .summary strong {
  display: block;
  font-weight: 600;
  font-size: 1.4em; }

.stock .year-all span, .stock .summary span {
  color: #a1a5a8;
  font-size: 0.9em;
  font-weight: 300;
  text-transform: uppercase; }

.stock .year-all strong {
  font-size: 2.1em; }

.stock .year-chart .chart-bars {
  list-style: none;
  padding: 0;
  padding-bottom: 1.5em;
  margin: 0;
  text-align: justify; }

.stock .year-chart .chart-bars:after {
  content: "";
  display: inline-block;
  width: 100%; }

.stock .year-chart .chart-bars li {
  position: relative;
  font-size: 0.9em;
  width: 5.5%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  display: inline-block;
  border-radius: 0.3rem; }

.stock .year-chart .chart-bars li .value {
  position: absolute;
  display: block;
  width: 100%;
  height: 50%;
  left: 0;
  bottom: 0;
  background: #1c84d4;
  border-radius: 0.3rem; }

.stock .year-chart .chart-bars li label {
  color: #a1a5a8;
  width: 100%;
  display: block;
  text-align: center;
  position: absolute;
  bottom: -1.6em; }

.stock .summary {
  padding: 0 1em 1em; }

.stock .summary a {
  color: #46494c;
  display: block;
  background: rgba(0, 0, 0, 0.05);
  padding: 1em 0.5em;
  border-radius: 0.3rem; }

.stock .summary a:hover {
  color: #1c84d4; }

.stock .summary a:hover span {
  color: #1d8cdf; }

.messages {
  margin-bottom: 1em; }

.message {
  background: #91c76f;
  margin-bottom: 0.5em;
  border-radius: 0.3em;
  position: relative;
  opacity: 1;
  -webkit-transition: transform 0.2s, opacity 0.1s;
  -moz-transition: transform 0.2s, opacity 0.1s;
  transition: transform 0.2s, opacity 0.1s; }

@media only screen and (max-width: 640px) {
  .message {
    border-radius: 0;
    margin-bottom: 0; } }
.video-player {
  background: #bdbdbd;
  background-image: url("https: //d13yacurqjgara.cloudfront.net/users/507883/screenshots/2214064/andy_hau_quinnsquips_quinn_the_fox_dribbble_1.gif");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat; }

.controls {
  background: #bdbdbd; }

.video-player .vbox {
  position: relative; }

.video-player .vbox .thumbnail {
  height: 20em;
  background: #e0e0e0 url(//i.imgbox.com/acfTG4CJ) center center no-repeat; }

.video-player .vbox .play-btn {
  color: #bdbdbd;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4em;
  background: #bdbdbd;
  border-radius: 100%;
  text-align: center;
  padding-left: 0.37em;
  opacity: 0.8;
  width: 2em;
  height: 2em;
  border: 0.3rem solid white;
  text-shadow: 0 0.1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.1rem rgba(0, 0, 0, 0.1);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.video-player .vbox .play-btn:hover {
  opacity: 1; }

.video-player .controls {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  width: 100.2%; }

.video-player .controls button {
  color: #212121;
  margin: 0;
  padding: 0;
  border: 0;
  padding: 0.75em 1em;
  background: none;
  font-size: 1.2em;
  text-shadow: 0 0.1em 0.1em black;
  text-align: center; }

.video-player .controls > li {
  vertical-align: middle;
  border-left: 0.1em solid #bdbdbd;
  border-right: 0.1em solid #bdbdbd;
  background-color: #fff; }

.video-player .controls > li:first-child {
  border-left: 0; }

.video-player .controls > li:last-child {
  border-right: 0; }

.video-player .controls > li:hover {
  background: #757575; }

.video-player .controls > li.timeline {
  width: 70%;
  padding: 0 1em; }

.video-player .controls > li.volume-ctl {
  width: 30%; }

.video-player .controls > li.volume-ctl .table {
  width: 100%; }

.video-player .controls > li.volume-ctl .volume-bar {
  width: 100%;
  padding-right: 1em;
  vertical-align: middle; }

@media only screen and (min-width: 641px) and (max-width: 959px) {
  .video-player .controls > li.timeline {
    width: 90%; }

  .video-player .controls > li.volume-ctl {
    display: none; } }
@media only screen and (max-width: 640px) {
  .video-player .controls > li.timeline {
    width: 90%; }

  .video-player .controls > li.volume-ctl {
    display: none; } }
.sidebar .links li {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  background: #f7f7f7;
  border-left: 0.1em solid #e6e6e6;
  border-bottom: 0.1em solid #e6e6e6; }

.sidebar .links li.active {
  background: white;
  border-bottom-color: white; }

.sidebar .links li.comentarios {
  background: white;
  border-bottom-color: white; }

.sidebar .links li:first-child {
  border-top-left-radius: 0.3rem;
  border-left: 0; }

.sidebar .links li:last-child {
  border-top-right-radius: 0.3rem; }

.sidebar .links a {
  display: block;
  padding: 1.9em 0 1.5em;
  color: #1d2121; }

.sidebar .links a:hover {
  background: rgba(255, 255, 255, 0.5); }

.sidebar .content li:last-child figure {
  border-bottom: none;
  *zoom: 1; }

.sidebar .content li:last-child figure:before, .sidebar .content li:last-child figure:after {
  content: " ";
  display: table; }

.sidebar .content li:last-child figure:after {
  clear: both; }

.sidebar .content figure {
  margin: 0 1.2em;
  padding: 1.2em 0;
  border-bottom: 0.1em solid #ebebeb; }

.sidebar .content figure img {
  float: left;
  margin-right: 1.2em;
  border-radius: 0.3em; }

.sidebar .content figure .description p {
  margin: 1px;
  margin-bottom: 0.5em; }

.sidebar .content figure .description a {
  color: #46494c;
  font-size: 0.9em; }

.sidebar .content figure .description a:hover {
  color: #e76049; }

.sidebar .content figure .description a span {
  margin-right: 0.35em; }

.widget-right-down {
  margin-top: 30px; }

.follower-card {
  width: 100%;
  height: 250px;
  float: left;
  margin-top: -25px;
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden; }

.follower-sug {
  display: inline-block;
  list-style-type: none;
  position: relative;
  width: 97%;
  height: 50px;
  padding: 0;
  margin-left: 10px;
  margin-top: 20px;
  background-color: #fff;
  box-sizing: border-box;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  z-index: 9998;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.75); }

.follower-tab {
  position: relative;
  height: 50px;
  width: 100%;
  margin: auto;
  top: 0; }

.follower-tab .follower-tab-personas {
  display: inline-block;
  width: 100px;
  height: 30px;
  border-bottom: 1px solid #eee;
  margin-top: 7px;
  margin-left: 29%;
  margin-right: 7px;
  color: #bdbdbd;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear; }

.follower-tab .follower-tab-grupos {
  display: inline-block;
  width: 100px;
  border-bottom: 1px solid #eee;
  text-align: center;
  cursor: pointer;
  color: #bdbdbd;
  height: 30px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear; }

.follower-tab .follower-tab-personas:hover {
  color: #80deea;
  border-bottom: 2px solid #80deea; }

.follower-tab .follower-tab-grupos:hover {
  color: #80deea;
  border-bottom: 2px solid #80deea; }

.sug-user {
  position: relative;
  width: 50px;
  height: 50px;
  float: left;
  border-radius: 100%;
  border: 1px solid #e0e0e0; }

.name-sug {
  position: relative;
  display: inline;
  width: auto;
  top: 10px;
  font-size: 1.1em;
  margin-left: 20px;
  text-align: center; }

.name-sug a:link {
  color: #9e9e9e;
  text-decoration: none; }

.name-sug a:visited {
  color: #9e9e9e;
  text-decoration: none; }

.name-sug a:hover {
  color: #9e9e9e;
  text-decoration: none; }

.add-sug {
  width: 80px;
  padding: 0px 0px 0px 0px;
  height: 30px;
  color: #000;
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  border-radius: 7px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.025em;
  text-align: center;
  margin-left: 7px;
  outline: none; }

.add-sug i {
  margin-right: 7px;
  color: #1e88e5; }

.weather .current {
  text-align: center;
  background: #ffcf00;
  padding: 2em 0 0;
  color: white; }

.weather .current .icon {
  font-size: 9em; }

.weather .current .temperature {
  font-size: 5em;
  font-weight: 700;
  margin-top: -0.3em; }

.weather .info {
  padding: 1.4rem 1.4rem 0.9rem;
  font-size: 1.4em;
  font-weight: 700; }

.weather .info .city {
  text-transform: uppercase;
  margin-bottom: 0.6rem; }

.weather .info .indicators {
  color: #66696c; }

.weather .info .indicators .icon {
  margin-right: 0.5em; }

.weather .info .indicators .wind small {
  text-transform: uppercase;
  font-size: 0.6em;
  margin-left: 0.1em; }

.weather .info .refresh {
  font-size: 1.5em;
  width: 1.85em;
  height: 1.85em;
  background: #dcdddd;
  border: 0;
  border-radius: 0.3rem;
  color: white; }

.location {
  background: #5691b1; }

.location .map {
  height: 15em;
  background: url(//i.imgbox.com/adlFId14) center center;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem; }

.location .decription {
  padding: 1em;
  font-weight: 600; }

.location .decription .loc {
  color: #225773;
  font-size: 1em;
  text-transform: uppercase;
  margin-bottom: 0.2rem; }

.location .decription .city, .location .decription .photos {
  color: white;
  text-transform: uppercase; }

.location .decription .city {
  font-size: 1.4em; }

.location .decription .photos {
  font-size: 1.2em;
  padding: 0.59em 0.4em 0.4em;
  display: block;
  border: 0.2rem solid rgba(255, 255, 255, 0.2);
  border-radius: 0.3rem;
  text-align: center; }

.location .decription .photos:hover {
  background: rgba(0, 0, 0, 0.05); }

@media only screen and (min-width: 641px) and (max-width: 959px) {
  .location .decription .photos {
    font-size: 0.75em;
    padding: 0.6em 0.2em 0.7em; } }
@media only screen and (max-width: 640px) {
  .location .decription .photos {
    font-size: 0.8em;
    padding: 0.4em; }

  .location .decription .city {
    font-size: 1.1em; } }
.progress-bar .bar {
  border-radius: 0.5rem;
  padding: 0.1em;
  background: black;
  box-shadow: 0 0.1em rgba(255, 255, 255, 0.1);
  position: relative; }

.progress-bar .bar .progress {
  background: #90caf9;
  width: 60%;
  border-radius: 0.3rem; }

.progress-bar .bar .value {
  width: 40%;
  height: 0.6em;
  background: #1976d2;
  border-radius: 0.3rem;
  box-shadow: inset 0 0.1em rgba(255, 255, 255, 0.2); }

.table {
  display: table; }

.table .row {
  display: table-row; }

.table .cell {
  display: table-cell; }

.fullwidth {
  width: 100%; }

.middle {
  vertical-align: middle; }

a {
  cursor: pointer;
  color: #46494c; }

a:hover {
  color: #1c84d4; }

#controls-container {
  color: white;
  position: fixed;
  top: 5px;
  left: 5px;
  font: 13px/1.1 "Helvetica Neue", Tahoma, Verdana;
  background: rgba(0, 0, 0, 0.7);
  padding: 5px;
  z-index: 1000;
  opacity: 0.2; }

#controls-container:hover {
  opacity: 1; }

#controls-container input {
  display: block; }

.fr {
  float: right; }

.fl {
  float: left; }

.unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden; }

.unstyled.content {
  height: 1175px; }

#div-separator {
  height: 870px; }

/* unvisited link */
#tab-container .tab a {
  color: #404040;
  outline: none; }

/* visited link */
#tab-container .tab a:visited {
  color: #404040; }

#tab-container .tab.active {
  background: #FFFFFF;
  position: relative;
  border-bottom: 1px solid #1e88e5; }

#tab-container .tab.active > a {
  color: #1e88e5; }

#tab-container .tab:hover:not(.active) {
  background: #FAFAFA; }

#tab-amigos {
  overflow: auto;
  height: 100%; }

#tab-comentarios {
  overflow: auto;
  height: 100%; }

#tab-amigos ul.list {
  position: relative;
  margin: auto;
  list-style-type: none; }

#hood-tabs {
  overflow: hidden;
  -ms-overflow-style: none; }

#hood-tabs::-webkit-scrollbar {
  display: none; }

#tab-amigos ul.list li {
  display: table;
  background-color: #FAFAFA;
  margin: 10px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  width: 95%;
  color: #1e88e5;
  -webkit-box-shadow: 0px 0px 3px 1px #1e88e5;
  -moz-box-shadow: 0px 0px 3px 1px #1e88e5;
  box-shadow: 0px 0px 3px 1px #1e88e5; }

#tab-amigos ul.list li img {
  width: 72px;
  height: 72px;
  float: left;
  border-right: 2px solid #1e88e5;
  cursor: pointer; }

#tab-amigos ul.list li a {
  text-decoration: none;
  margin: auto;
  vertical-align: middle;
  display: table-cell;
  cursor: pointer;
  height: auto;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-align: center;
  margin-left: 0px;
  width: 100%; }

#tab-amigos ul.list li a:hover {
  opacity: 0.5;
  transition: all 0.2s ease-in; }

ul.table > li {
  display: table-cell; }

.illustration {
  padding: 0.1em 1em; }

#closesession {
  font-family: "Ubuntu", "Lato", sans-serif;
  font-size: 13px;
  width: 100%;
  position: relative;
  color: #E2E2E2 !important;
  float: right; }

#closesession a {
  float: right; }

.fa-paw {
  cursor: pointer;
  color: rgba(44, 44, 44, 0.666);
  font-size: 25px;
  position: relative;
  display: inline-block;
  float: right;
  margin-right: 14px;
  text-shadow: grey 1px 1px 1px;
  margin-top: 7px; }

.fa-paw:hover {
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  transform: rotate(15deg);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  transform: scale(1.3); }

.info-paw {
  width: 50%;
  left: 25.55502%;
  display: none;
  height: auto;
  background-color: transparent;
  position: absolute;
  margin: auto;
  z-index: 9999; }

.info-paw .info-nav {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px #1976d2;
  -moz-box-shadow: 0px 0px 5px 0px #1976d2;
  box-shadow: 0px 0px 5px 0px #1976d2;
  position: relative;
  margin: auto; }

.info-paw .info-nav .info-event {
  width: 50px;
  height: 50px;
  float: right;
  right: 0;
  position: absolute;
  background-color: #fff;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #eee;
  border-radius: 100%;
  margin-right: -25px;
  margin-top: -25px;
  display: inline;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out; }

.info-paw .info-nav .info-trof {
  width: 50px;
  height: 50px;
  float: right;
  right: 0;
  position: absolute;
  background-color: #fff;
  background-size: 80%;
  border: 1px solid #eee;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
  margin-right: 75px;
  margin-top: 95px;
  display: inline;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out; }

.info-paw .info-nav .info-groups {
  width: 50px;
  height: 50px;
  float: right;
  background-color: #fff;
  border: 1px solid #eee;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
  margin-right: 15px;
  margin-top: 45px;
  display: inline;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out; }

.info-paw .info-nav .info-groups:hover, .info-event:hover, .info-trof:hover {
  opacity: 0.8;
  cursor: pointer; }

.info-paw .info-user-name {
  text-align: center;
  font-size: 1.5em;
  margin-top: 10px; }

.info-paw .info-user-name_last {
  text-align: center;
  font-size: 1.1em;
  margin-top: 7px; }

.info-paw .info-wrapper-pic {
  width: 90px;
  height: 90px;
  margin-top: 50px;
  position: relative;
  margin-left: auto;
  margin-right: auto; }
  .info-paw .info-wrapper-pic img {
    border-radius: 100%;
    border: 2px solid #1976d2; }

.info-paw .info-user-ciudad {
  text-align: center;
  font-size: 1em;
  margin-top: 10px; }

.info-paw .info-user-ciudad .fa-map-marker {
  margin-right: 5px;
  color: tomato; }

.info-paw .info-user-pic {
  width: 92px;
  height: 92px;
  border-radius: 100%; }

.trofeos {
  position: absolute;
  z-index: 9999;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: #fafafa;
  top: 10%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  display: none; }

.trofeos .trofeo-user {
  height: 90px;
  display: inline-block;
  border-radius: 100%;
  background-color: transparent;
  border: 5px solid #1e88e5;
  margin-left: 50px;
  margin-top: 15px; }

.trofeos .fa-close, .grupos .fa-close {
  float: right;
  display: inline;
  margin-top: 7px;
  margin-right: 7px;
  color: #1e88e5;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

.trofeos .fa-close:hover, .grupos .fa-close:hover {
  opacity: 0.8; }

.trofeos .trofeos-title {
  text-align: center;
  margin: auto;
  color: #212121;
  font-size: 2em;
  padding-bottom: 10px;
  font-weight: 100;
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px solid #212121;
  width: 80%; }

.trofeos .wrapper-trofeos {
  position: relative;
  margin: auto;
  width: 85%;
  margin-left: 7%;
  height: 570px; }

.trofeos img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-left: -5px;
  -webkit-box-shadow: inset 0.2px 0.2px 18px 1px #b2dfdb;
  -moz-box-shadow: inset 0.2px 0.2px 18px 1px #b2dfdb;
  box-shadow: inset 0.2px 0.2px 18px 1px #b2dfdb;
  /* GRUPOS */ }

.grupos {
  position: absolute;
  z-index: 9999;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: #fafafa;
  top: 10%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  display: none; }

.grupos .grupos-title {
  text-align: center;
  margin: auto;
  color: #212121;
  font-size: 2em;
  padding-bottom: 10px;
  font-weight: 100;
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px solid #212121;
  width: 80%; }

.grupos .grupo-user {
  display: inline-block;
  background-color: #000;
  height: 160px;
  margin-left: 43px;
  margin-top: 20px;
  margin-bottom: 20px; }

.grupos img {
  width: 100%;
  height: 100%; }

.grupos .text-description {
  position: relative;
  top: -90%;
  font-size: 1.4em;
  color: #fff;
  font-weight: 400;
  margin-left: 7px; }

.grupos .fa-users {
  position: relative;
  margin-top: -30px;
  float: left;
  margin-left: 7px;
  color: #fff; }

.grupos .fa-heart {
  position: relative;
  margin-top: -30px;
  float: right;
  margin-right: 7px;
  color: #fff; }

.grupos .fa-users:hover {
  color: #1e88e5; }

.grupos .fa-heart:hover {
  color: #ec407a;
  /*Fin informacion perfil */
  /* Presencia user */ }

.foto_perfil {
  width: 45px;
  height: 45px;
  background-size: 98%;
  border-radius: 98%;
  margin: auto;
  box-shadow: 0 0 0 0.2em rgba(255, 255, 255, 0.85), 0 0 0 0.3em rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 3;
  float: right;
  right: 90%;
  cursor: pointer;
  top: -55px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  z-index: 9999; }

.foto_perfil:hover {
  border: 1px solid #71FF95; }

#nav2 {
  width: 20px;
  margin: 40px auto;
  margin-right: 100%;
  top: 3%;
  position: relative;
  z-index: 9999; }

.nameact {
  list-style: none;
  padding: 5px;
  margin: 38px;
  width: 225px;
  z-index: 9999;
  margin-top: -7px; }

#panel1 {
  position: absolute;
  z-index: 9999; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.Mensaje {
  display: table;
  position: fixed;
  margin: 40px auto 0;
  width: 500px;
  background-color: #0074d9;
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 101; }

.is-hidden {
  opacity: 0;
  height: 0;
  font-size: 0;
  padding: 0;
  margin: 0 auto;
  display: block; }

.Mensaje--orange {
  background-color: #f39c12; }

.Mensaje--red {
  background-color: #ff4136; }

.Mensaje--green {
  background-color: #2ecc40; }

.Mensaje-icon {
  display: table-cell;
  vertical-align: middle;
  width: 60px;
  padding: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25); }

.Mensaje-icon > i {
  width: 20px;
  font-size: 20px; }

.Mensaje-body {
  display: table-cell;
  vertical-align: middle;
  padding: 30px 20px 30px 10px; }

.Mensaje-body > p {
  line-height: 1.2;
  margin-top: 6px; }

.Mensaje-button {
  position: relative;
  margin: 15px 5px -10px;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px rgba(0, 0, 0, 0.4);
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  font-family: "Source Sans Pro";
  color: #fff;
  outline: none;
  cursor: pointer; }

.Mensaje-button:hover {
  background: rgba(0, 0, 0, 0.3); }

.Mensaje-button:active {
  background: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0px rgba(0, 0, 0, 0.4);
  top: 3px; }

.Mensaje-close {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  border: none;
  outline: none;
  font-size: 20px;
  right: 5px;
  top: 5px;
  opacity: 0;
  cursor: pointer; }

.Mensaje:hover .Mensaje-close {
  opacity: 1; }

.Mensaje-close:hover {
  background-color: rgba(0, 0, 0, 0.5); }

.u-italic {
  font-style: italic; }

/*INFORMACION */
@-webkit-keyframes fa-paw {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes fa-paw {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
.fa-paw {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent; }

.fontawesome-paw:hover, .fontawesome-paw:focus, .fontawesome-paw:active {
  -webkit-animation-name: fontawesome-paw;
  animation-name: fontawesome-paw;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

/* more */
.clint {
  border-radius: 10px 10px 10px 10px;
  width: 100px;
  height: 100px;
  opacity: 0.7; }

.clint:hover {
  opacity: 1;
  border: 1px solid #1abc9c; }

#avatar-publication {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  height: 100%;
  width: 100%; }

/** Mensaje flotante */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#page-wrapper {
  width: 55%;
  background: #fafafa;
  padding: 1em;
  margin: 1em auto;
  border-top: 4px solid rgba(44, 44, 44, 0.777);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  border-radius: 7px;
  cursor: default;
  font-family: "Open Sans", sans-serif;
  /*CENTRADO */
  overflow: hidden;
  position: fixed;
  top: 50%;
  margin-top: -100px;
  margin-right: auto;
  margin-left: auto;
  right: 0;
  left: 0;
  resize: none;
  z-index: 9999; }

@media only screen and (min-width: 200px) and (max-width: 640px) {
  #page-wrapper {
    left: 45%; }

  #message2 {
    font-size: 1.2em !important; } }
#page-wrapper:hover {
  border-top: 4px solid #1e88e5; }

#page-wrapper #status {
  font-size: 1.4em;
  margin-bottom: 1rem; }

#page-wrapper #status .fa-paper-plane {
  font-size: 2em !important;
  padding: 7px; }

#page-wrapper #status h4 {
  top: -15px;
  position: relative;
  display: inline-block; }

#page-wrapper #status h6 {
  top: -10px;
  position: relative;
  margin-left: 54px;
  font-size: 0.7em !important; }

.open {
  color: green; }

.closed {
  color: red; }

#message-form2 {
  margin-top: 1.5rem; }

#message2 {
  width: 98.5%;
  padding: 0.5rem;
  font-size: 1.5em;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  min-height: 200px;
  margin-bottom: 1rem;
  font-family: "Open Sans", sans-serif;
  display: block;
  resize: none; }

#page-wrapper button[type="button"] {
  border: medium none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0px 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  text-decoration: none;
  color: #212121;
  background-color: transparent;
  text-align: center;
  letter-spacing: 0.5px;
  transition: all 0.2s ease-out 0s;
  cursor: pointer;
  float: right;
  margin-right: 7px;
  outline: none; }

#page-wrapper button[type="submit"] {
  border: medium none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0px 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  text-decoration: none;
  color: #1e88e5;
  background-color: transparent;
  text-align: center;
  letter-spacing: 0.5px;
  transition: all 0.2s ease-out 0s;
  cursor: pointer;
  float: right;
  outline: none; }

#page-wrapper button[type="submit"]:hover {
  opacity: 0.8;
  background-color: #eee; }

#page-wrapper button[type="button"]:hover {
  opacity: 0.8;
  background-color: #eee;
  color: grey; }

#tab-timeline {
  height: 100%;
  overflow: auto; }

.fontawesome-bullhorn {
  background: transparent;
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 1.1rem;
  padding: 1rem 1em;
  float: left;
  color: #1e88e5;
  top: 10px;
  margin: 0 0.25rem;
  cursor: pointer;
  text-align: center; }

.fontawesome-bullhorn:hover {
  box-shadow: 0 1px 5px #1976d2; }

.fontawesome-file {
  background: transparent;
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 1.1rem;
  padding: 1rem 1em;
  float: left;
  color: #1e88e5;
  top: 10px;
  cursor: pointer;
  margin: 0 0.25rem;
  text-align: center; }

.fontawesome-file:hover {
  box-shadow: 0 1px 5px #1976d2; }

.fontawesome-map-marker {
  background: transparent;
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 1rem 1em;
  float: left;
  color: #1e88e5;
  top: 10px;
  margin: 0 0.25rem;
  text-align: center; }

.fontawesome-map-marker:hover {
  box-shadow: 0 1px 5px #1976d2; }

.fontawesome-eye-open, .fontawesome-star-half, .fontawesome-globe, .fontawesome-heart-empty, .fontawesome-star-empty {
  font-size: 20px;
  color: white; }

/* INFORMACION DEL USUARIO */
#friend_request_progress {
  margin-left: -20px;
  margin-top: 0px;
  margin-right: -84px;
  float: left; }

@media only screen and (max-width: 640px) {
  .aboutuser {
    left: 300px;
    top: 170px; } }
@media only screen and (min-width: 641px) and (max-width: 959px) {
  .aboutuser {
    left: 270px;
    top: 147px; } }
/* ATAJOS KEYBOARD */
#atajos-keyboard-profile {
  position: absolute;
  top: 15%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 500px;
  height: 400px;
  z-index: 9999;
  display: none;
  background-color: #fff;
  border-radius: 1px; }

#atajos-keyboard-profile .atajos-title {
  position: relative;
  width: 100%;
  height: 25px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border-bottom: 2px solid #e0e0e0;
  font-size: 16px;
  color: #bdbdbd;
  padding-bottom: 2.5px;
  padding-top: 2.5px; }

#atajos-keyboard-profile .atajos-title .fa-close {
  float: right;
  font-size: 14px;
  margin-right: 5px;
  margin-bottom: 1.5px;
  cursor: pointer; }

#atajos-keyboard-profile .acc-atajos-div {
  margin-left: 20px;
  position: relative; }

#atajos-keyboard-profile .acc-atajos {
  font-size: 15px;
  color: #000;
  font-weight: 500; }

#atajos-keyboard-profile .modal-table {
  position: relative;
  margin: auto;
  width: 90%;
  margin-top: 2px;
  height: 92.5%; }

#atajos-keyboard-profile .modal-table .thead {
  position: relative;
  display: inline-block;
  font-size: 14px;
  color: #000;
  border-bottom: 2px solid #eee;
  margin-top: 1.5px; }

#atajos-keyboard-profile .modal-table b {
  background-color: #e0e0e0;
  padding: 3px;
  border-radius: 1.5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75); }

/* WIDGET ENCUESTA */
.stock .wrapper {
  margin-top: 0;
  height: 457px; }

.wrapper .widget-wr {
  background-color: #eeeeee;
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  margin: auto;
  z-index: 2; }

.wrapper .widget-wr img {
  width: 99.931%;
  height: 100%;
  border: 2px solid #fff;
  margin-left: auto;
  margin-right: auto; }

.wrapper .widget-wr .widget-wr-ans {
  position: relative;
  background-color: #f5f5f5;
  width: 100%;
  height: 80%; }

.wrapper .widget-wr .wr-tittle {
  font-family: "Open Sans", sans-serif;
  position: absolute;
  display: block;
  top: 80%;
  font-size: 1.7em;
  margin-left: 10px;
  color: white; }

.wrapper .widget-options {
  position: relative;
  margin-top: 0px;
  width: 100%;
  height: 30%;
  background-color: #fff; }

.wrapper .widget-options button {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 100%;
  font-size: 1.4em;
  color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.wrapper .widget-options .widget-ok {
  float: right;
  margin-top: 5px;
  margin-right: 15px;
  border: 1px solid #c5e1a5; }

.wrapper .widget-options .widget-ok:hover {
  color: #c5e1a5; }

.wrapper .widget-options .widget-no {
  float: left;
  margin-top: 5px;
  margin-left: 15px;
  border: 1px solid #ef9a9a; }

.wrapper .widget-options .widget-no:hover {
  color: #ef9a9a; }

.wrapper .widget-options .widget-result {
  display: inline-block;
  position: relative;
  margin-left: 27%;
  margin-top: 20px; }

.wrapper .widget-options i {
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4em; }

.wrapper .widget-options .widget-result-ok {
  color: #c5e1a5; }

.wrapper .widget-options .widget-result-no {
  color: #ef9a9a; }

/* Div para mensajes ocultos */
.cmt-hidden {
  position: relative;
  display: list-item;
  list-style-type: none;
  width: 90%;
  margin: auto;
  height: 400px;
  margin-top: 50%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); }

.cmt-hidden h3 {
  font-size: 2em;
  color: #212121;
  position: relative;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  top: 180px; }

/* NOTIFICACIONES - CHAT MENU VERTICAL */
.nav-vertical-and-chat {
  position: fixed;
  right: -1.2%;
  display: none;
  top: 40px;
  background-color: rgba(189, 189, 189, 0.7);
  height: 100%;
  z-index: 9998;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); }
  .nav-vertical-and-chat .nav-vertical-controls {
    position: absolute;
    display: block;
    height: 120px;
    bottom: 0; }
    .nav-vertical-and-chat .nav-vertical-controls .controls-notifications {
      position: relative;
      list-style-type: none;
      text-align: center; }
      .nav-vertical-and-chat .nav-vertical-controls .controls-notifications li {
        border: medium none;
        border-radius: 2px;
        display: inline-block;
        height: 36px;
        line-height: 36px;
        padding: 0px 2rem;
        text-transform: uppercase;
        text-decoration: none;
        background-color: #1e88e5;
        text-align: center;
        letter-spacing: 0.5px;
        transition: all 0.2s ease-out 0s;
        cursor: pointer;
        outline: none;
        font-size: 1.3em; }
        .nav-vertical-and-chat .nav-vertical-controls .controls-notifications li a, .nav-vertical-and-chat .nav-vertical-controls .controls-notifications li a:visited {
          color: #fff; }
  .nav-vertical-and-chat li {
    height: 110px;
    margin-top: 2%;
    display: list-item;
    padding: 10px;
    font-size: 1.3em;
    background-color: #fff;
    opacity: 0.5;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear; }
    .nav-vertical-and-chat li:hover {
      opacity: 1; }

#hover-clear-notify {
  display: none;
  position: absolute;
  right: 0;
  margin-right: 0px;
  margin-top: 20px;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  outline: none;
  border: none;
  background-color: tomato;
  color: #fff;
  font-size: 1em;
  text-align: center;
  cursor: pointer; }

.notification-bell:hover {
  height: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
  .notification-bell:hover > #hover-clear-notify {
    display: block; }
    .notification-bell:hover > #hover-clear-notify:hover {
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); }

.ctrl {
  position: absolute;
  display: block;
  top: 0px;
  float: left;
  left: -20px; }

.ctrl li {
  display: inline-block;
  margin-right: 3px;
  border-radius: 100%;
  background-color: tomato;
  padding: 7px 7px;
  cursor: pointer; }

.ctrl li:nth-child(1) {
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center; }

.ctrl li:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1); }

.ctrl li:nth-child(2) {
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center; }

.ctrl li:nth-child(3) {
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center; }

textarea {
  width: 80%;
  position: relative;
  margin: auto;
  height: 40px;
  resize: none;
  margin-top: 7px;
  margin-left: 7px;
  padding: 7px 7px;
  outline: none;
  border: 1px solid #ececec;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-weight: 100;
  font-size: 15px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear; }

textarea:focus {
  border: 1px solid grey; }

.op {
  position: absolute;
  margin: auto;
  top: 330px;
  right: 0;
  margin-right: 5px;
  list-style-type: none; }

.move-body {
  margin-right: 300px; }

/* LOADER */
@-webkit-keyframes loader-before {
  0% {
    left: 0;
    width: 0; }
  50% {
    left: 25%;
    width: 75%; }
  75% {
    left: 100%;
    width: 0; } }
@keyframes loader-before {
  0% {
    left: 0;
    width: 0; }
  50% {
    left: 25%;
    width: 75%; }
  75% {
    left: 100%;
    width: 0; } }
@-webkit-keyframes loader-after {
  0%,
50% {
    left: 0;
    width: 0; }
  75% {
    left: 0;
    width: 25%; }
  100% {
    left: 100%;
    width: 0; } }
@keyframes loader-after {
  0%,
50% {
    left: 0;
    width: 0; }
  75% {
    left: 0;
    width: 25%; }
  100% {
    left: 100%;
    width: 0; } }
#loader {
  display: inline-block;
  position: relative;
  height: 4px;
  width: 100%;
  margin-top: 11px;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), -webkit-linear-gradient(left, #1e88e5, #1e88e5);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), linear-gradient(to right, #1e88e5, #1e88e5); }

#loader:after, #loader:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  background-color: #1e88e5;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear; }

#loader:before {
  left: 0;
  -webkit-animation-name: loader-before;
  -moz-animation-name: loader-before;
  animation-name: loader-before; }

#loader:after {
  right: 0;
  -webkit-animation-name: loader-after;
  -moz-animation-name: loader-after;
  animation-name: loader-after; }

/*# sourceMappingURL=miperfil.css.map */
