@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

#menuu {
  float: right;
  width: 300px;
  height: 100%;
  border: 1px medium #000;
  font-family: 'Open Sans Condensed', sans-serif;
  background: rgb(26, 188, 156);
  border-radius: 2%;
}
ul.boxxxtool {
   list-style-type: none;
}
ul.boxxxtool li{
  margin: 15px;
  margin-left: -15px;
  padding: -5px;
 border-bottom: 1px solid #fff;
  color: white;
  transition: all .2s ease-in-out;
  cursor: pointer;
}
ul.boxxxtool li:hover{
  margin: 15px;
  margin-left: -15px;
  padding: 3px;
  color: rgb(26, 188, 156);
  background: white;
}
#Seguidoresrandom {
  margin-top: 50%;
  margin-left: -10px;
  width: 100%;
  
}
ul.followers {
  list-style-type: none;
  text-align: center;
  margin-left: -10px;
  padding: 3px;
}
ul.followers li {
  color: #000;
  margin-top: 18px;
 
}
h4 {
  margin: 5px;
  padding: 3px;
  border-bottom: 1px solid #000;
  transition: all 1s ease-in-out;
}
h4:hover {
  color:aquamarine;
  border-bottom: 1px solid aquamarine;
}
img.lol {
  width: 25px;
  height: 25px;
  top: 20px;  
  margin-left: 40px;
  border-radius: 5%;
  position: relative;
  display: block;
}
li.more {
  border: none;
  text-align: center;
  padding-left: 20px;
  width: 100%;
}
#imd {
  border-top: 1px solid #CECECE;
  margin-top: 85%;
}
ul.imd {
  list-style-type: none;
  width: 70%;
}
ul.imd li {
  border-bottom: 1px solid #fff;
  margin-left: -20px;
  margin-top: 5px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
ul.imd li:hover {
  color: tomato;
  border-bottom: 1px solid #DB1331;
}