a, a:visited {
    color: #4099FF;
    text-decoration: none;
}
.container {
    margin-top: 2.6em !important;
}

.container .board-photo {
    text-align: center;
    line-height: 100px;
    height: 100px;
    position: relative;
}
.container .board-photo .board-photo-container {
    height: 100%;
}
.container .board-photo .board-photo-link {
    font-size: 2em;
}
.container .board-photo img {
    max-height: 100%;
    max-width: 100%;
}

.wrapper {
    min-height: 155px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ddd;
    height: auto;
}

.comment {
    overflow: hidden;
    line-height: 1em;
    height: auto;
}

.comment .wrp-comment {
    height: auto;
}

.comment-tab {
    height: auto;
}

.show-more {
    padding: 10px 0;
    text-align: center;
    margin-right: 10%;
}
.show-more a {
    display: none;
}

.articulo {
    float: right;
    position: relative;
    width: 70%;
    height: 100%;
}

.articulo .emoji, .comment-reply .emoji {
    width: 20px;
    height: 20px;
}

.author-header {
    margin: 1px 0 7px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #282828;
}

.parrafo {
    font-size: 1.1rem;
    line-height: 2rem;
    word-wrap: break-word;
    margin-bottom: 25px;
}

.parrafo b, .comment-reply b {
    font-weight: bold;
}

.parrafo i, .comment-reply i {
    font-style: italic;
}

.image {
    float: left;
    position: relative;
    top: 9px;
    left: 9px;
    cursor: pointer;
    box-shadow: 0 1px 5px rgba(30, 136, 229, 0.15);
    padding: 0 0;
    width: 20%;
    height: 20%;
    border-radius: 3px;
    overflow: hidden;
}

.usr-img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.usr-img img {
    width: 100%;
    height: 100%;
}

#box-tool {
    padding: 10px;
    width: 250px;
    height: 50%;
    float: right;
    margin-top: 9.5px;
}

.fontawesome-link {
    color: #FFF;
    cursor: pointer;
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
    padding: 0;
    margin-left: 15px;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.fontawesome-link:hover {
    opacity: 1;
    color: #000;
    border: 3px solid #1abc9c;
    border-right: none;
    border-top: none;
    border-left: none;
}

.fontawesome-comment-alt {
    color: #FFF;
    float: right;
    cursor: pointer;
    margin-top: 7px;
    text-align: center;
    font-size: 31px;
    padding: 0;
    margin-left: 0;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.fontawesome-comment-alt:hover {
    color: black;
    opacity: 1;
    border: 3px solid #1abc9c;
    border-right: none;
    border-top: none;
    border-left: none;
}

.fontawesome-th {
    color: #FFF;
    cursor: pointer;
    margin-top: 3px;
    text-align: center;
    font-size: 16px;
    padding: 0;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

a.fontawesome-cog:link {
    color: #FFF;
    margin-top: 3px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    padding: 0;
    margin-left: 15px;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

a.fontawesome-cog:hover {
    display: inline-block;
    border: 3px solid #1abc9c;
    border-right: none;
    border-top: none;
    border-left: none;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    color: black;
    opacity: 1;
}

.fontawesome-th {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.fontawesome-comment-alt {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.options_comentarios ul {
    padding-top: 1%;
    margin-right: 4%;
}

.options_comentarios ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 1.2em;
    float: right;
    cursor: pointer;
}

.options_comentarios ul .quote-comment, .reply-comment, .remove-timeline, .add-timeline, .trash-comment {
    margin-left: 3%;
}

.options_comentarios ul li:hover {
    transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
}


.options_comentarios ul .fa-quote-left:hover {
    color: grey;
}

.options_comentarios ul .fa-reply:hover {
    color: #1e88e5;
}

.options_comentarios ul .fa-tag:hover {
    color: #bbdefb;
}

.options_comentarios ul .fa-trash:hover {
    color: #f44336;
}

.options_comentarios ul .fa-bolt, .wrapper-reply .reply-options ul .fa-bolt {
    top: -5%;
    left: 2%;
    font-size: 80%;
}



/* RESPUESTAS A COMENTARIOS */
.wrapper-reply {
    clear: both;
    height: 100%;
    background-color: transparent;
}

.wrapper-reply .comment-reply .avatar-reply img:first-child {
    width: 50px;
    height: 50px;
    box-shadow: 0 0 5px #1e88e5;
}

.reply-form .enviar {
    margin-right: 2%;
    margin-bottom: 1.25%;
}

.wrapper-reply .comment-reply .reply-options {
    text-align: right;
    display: block;
    width: 94%;
}

.wrapper-reply .comment-reply .reply-options ul > li {
    font-style: normal;
    font-size: 1.2em;
    display: inline-block;
    cursor: pointer;
}

.wrapper-reply .comment-reply .reply-options ul > li i {
    font-style: normal;
}

.wrapper-reply ul .like-reply, .quote-reply, .reply-reply, .add-reply-timeline {
    margin-left: 2.5%;
}

.wrapper-reply .reply-options ul .wrapper-reply .reply-options ul .del-reply {
    margin-left: 1.25%;
}

.comment-reply {
    clear: both;
    padding: 2%;
    margin-bottom: 2%;
    color: #666;
    border-right: 2px solid #1e88e5;
    box-shadow: 0 1px 5px #bdbdbd;
    height: 100%;
}

.comment-reply .author-reply {
    position: relative;
    color: #282828;
    background-color: #eee;
    width: 80%;
    height: 30px;
    margin-left: 60px;
    top: -50px;
    padding: 10px;
}

.comment-reply .author-reply .reply-created {
    float: right;
    display: inline-block;
    font-style: normal;
}

.comment-reply .author-reply .triangle {
    width: 10px;
    height: 10px;
    background-color: #eee;
    position: relative;
    display: inline-block;
    margin-left: -15px;
    margin-right: 15px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.comment-reply .author-reply p, .comment-reply .author-reply a {
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
}

.comment-reply .content-reply {
    margin-left: 60px;
    margin-top: -20px;
    text-align: left;
    font-weight: 100;
    color: #424242;
    width: 80%;
    height: 100%;
    position: relative;
}

.hidden {
    display: none;
}
.wrapper .top-options {
    position: relative;
    float: right;
    margin: 10px;
    cursor: pointer;
}
.wrapper .top-options:hover {
    color: #1e88e5;
}