@import url(http://weloveiconfonts.com/api/?family=entypo);

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

.profile {
  color: tomato;
  width: 100px;
  height: 100px;
  position: fixed;
  background-color: white;
  right: 0%;
  top: 82%;
  border-radius: 100%;
  background-image: url('http://randomuser.me/img/creator_arron.png');
  background-position:center;
  background-size: 100%;
  background-repeat: no-repeat;
  border-color: #F7FFFD;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  transition: all .3s ease-in;
  cursor:pointer;
}
.profile:hover {
  background-color: tomato;
}
.profile li:nth-child(1) {
  list-style-type: none;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  cursor:pointer;
  right: 110px;
  top: -25px;
}
.profile li:nth-child(2) {
  list-style-type: none;
  position: absolute;
  right: 35px;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  cursor:pointer;
  top: -40px;
}
.profile li:nth-child(3) {
  list-style-type: none;
  position: absolute;
  right: 130px;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  cursor:pointer;
  top: 25px;
}
.profile li:nth-child(4) {
    list-style-type: none;
  position: absolute;
  right: 120px;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  cursor:pointer;
  top: 70px;
}
.profile:hover > li {
  opacity: 1;
  transtition: margin-top;
  margin-top: -7px;
}
.profile li:hover {
  color: #AEC6CF;
}
