@import url(http://weloveiconfonts.com/api/?family=entypo);

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

.profile {
  color: rgba(44,44,44,0.888);
  width: 100px;
  height: 100px;
  position: fixed;
  background-color: white;
  right: 0%;
  top: 82%;
  border-radius: 100%;
  background-image: url('http://criticassdotcom.files.wordpress.com/2013/09/jesse-pinkman.jpg');
  background-position:center;
  background-size: 100%;
  background-repeat: no-repeat;
  border-color: #3A80A6;
  border: 2px solid;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor:pointer;
  z-index: 9999;
}
.profile:hover {
  background-color: rgba(44,44,44,0.777);
}
.profile li:nth-child(1) {
  list-style-type: none;
  position: absolute;
  visibility: hidden;
  -webkit-transition: all 3s ease-in;
  -moz-transition: all 3s ease-in;
  transition: all 3s ease-in;
  cursor:pointer;
  right: 110px;
  top: -25px;
  }
.profile li:nth-child(2) {
  list-style-type: none;
  position: absolute;
  right: 35px;
  visibility: hidden;;
  -webkit-transition: all 3s ease-in;
  -moz-transition: all 3s ease-in;
  transition: all 3s ease-in;
  cursor:pointer;
  top: -40px;
}
.profile li:nth-child(3) {
  list-style-type: none;
  position: absolute;
  right: 130px;
  visibility: hidden;
  -webkit-transition: all 3s ease-in;
  -moz-transition: all 3s ease-in;
  transition: all 3s ease-in;
  cursor:pointer;
  top: 25px;
}
.profile li:nth-child(4) {
    list-style-type: none;
  position: absolute;
  right: 120px;
  visibility: hidden;
  -webkit-transition: all 3s ease-in;
  -moz-transition: all 3s ease-in;
  transition: all 3s ease-in;
  cursor:pointer;
  top: 70px;
}

.profile:hover li {
  visibility: visible;
  margin-top: -10px;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
}
.profile li:hover {
  color: GREY;
  z-index: 9999;
}

@media (min-width: 1200px) and (min-height: 900px) {
  .profile {
    top: 88%;
  }
}
@media (max-width: 990px) {
  .profile {
    top: 88%;
  }
}