{% load humanize %}
<div class="alert alert-block alert-{{ notice.level }}">
    <a title="Borrar notificación" class="close pull-right" href="{% url 'notifications:delete' notice.slug %}">
        <i class="material-icons md-18">delete_forever</i>
    </a>
    <a title="Marcar como no leido" class="close pull-right"
       href="{% url 'notifications:mark_as_unread' notice.slug %}">
        <i class="material-icons md-18">undo</i>
    </a>
    <a title="Marcar como leido" class="close pull-right" href="{% url 'notifications:mark_as_read' notice.slug %}">
        <i class="material-icons md-18">done</i>
    </a>
    <h5>
        {% if notice.unread %}<i class="material-icons" title="Sin leer">notifications</i>{% endif %}
        {% if not notice.level == "new_follow" %}<a href="/profile/{{ notice.actor }}">@{{ notice.actor }}</a>{% endif %}
        <b>{{ notice.verb|safe }}</b>
        {% if notice.target %}
            of {{ notice.target }}
        {% endif %}
    </h5>
    <p class="notice-timesince">{{ notice.timestamp|naturaltime }}</p>
    {% if notice.description %}
        <p class="notice-description">{{ notice.description|safe|linebreaksbr }}</p>
    {% endif %}
    {% if notice.level == "friendrequest" %}
        <div class="notification-buttons">
            <button data-notification="{{ notice.slug }}"
                    onclick="AJAX_respondFriendRequest({{ notice.actor_object_id }}, 'rejected', {{ notice.id }}); AJAX_delete_notification({{ notice.slug }}, {{ notice.id }});"
                    class="accept-response">Rechazar
            </button>
            <button data-notification="{{ notice.slug }}"
                    onclick="AJAX_respondFriendRequest({{ notice.actor_object_id }}, 'accept', {{ notice.id }}); AJAX_delete_notification({{ notice.slug }}, {{ notice.id }});"
                    class="rejected-response">Aceptar
            </button>
        </div>
        {% elif notice.level == "grouprequest" %}
            <div class="notification-buttons">
                <button data-notification="{{ notice.slug }}"
                    class="accept-response waves-effect waves-light btn white-text green"
                    onclick="AJAX_respondGroupRequest({{ notice.action_object_object_id }}, 'accept', {{ notice.id }})">
                    <i class="material-icons">done</i>
                </button>
                <button data-notification="{{ notice.slug }}"
                    class="rejected-response waves-effect waves-light btn white-text red"
                    onclick="AJAX_respondGroupRequest({{ notice.action_object_object_id }}, 'rejected', {{ notice.id }})">
                    <i class="material-icons">cancel</i>
                </button>
            </div>
    {% endif %}
    <div class="notice-actions">
        {% for action in notice.data.actions %}
            <a class="btn" href="{{ action.href }}">{{ action.title }}</a>
        {% endfor %}
    </div>
</div>
