{% load i18n dash_tags %}

{% for entry in dashboard_entries %}
    {% get_dash_plugin entry as plugin %}
    <div id="{{ plugin.html_id }}" class="plugin {{ plugin.html_class }}">
        <div class="ventana-pin blue" style="display: block;">
            <a href="{% url 'dash:dash.copy_dashboard_entry' entry.pk %}" class="copy-plugin"
               title="Copiar pin">
                <span class="material-icons">content_copy</span>
            </a>
        </div>
        <div class="plugin-content-wrapper">
            {% with plugin.render as rendered %}
                {% if rendered %}
                    {{ rendered }}
                {% endif %}
            {% endwith %}
        </div>
    </div>
{% endfor %}
