@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);
body {
  margin: 20px 20px;
  background-color: #fff;
}

header {
  width: 95%;
  position: absolute;
  margin: 0;
  top: 0;
  height: 80px;
}

hgroup {
  position: relative;
  margin-left: 20px;
  margin-top: -12px;
  font-family: 'Open Sans', sans-serif;
  color: #ccc;
}

hgroup h3, h5 {
  font-weight: 100;
}

.wrapper {
  position: relative;
  width: 900px;
  top: 200px;
  margin: auto;
  height: 400px;
}

.wrapper .line li {
  list-style-type: none;
}

.wrapper .line {
  margin: auto;
  background-color: #ee4d4d;
  box-shadow: 0.1px 0.1px grey;
  width: 10px;
  height: 1100px;
}

.wrapper .line .first {
  position: relative;
  width: 300px;
  background-color: #fff;
  height: 200px;
  float: left;
  left: -340px;
  margin-bottom: 40px;
}

.wrapper .line .first .head {
  background-color: #ee4d4d;
  width: 100%;
  height: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding: 0px 5px;
  position: absolute;
  color: white;
  font-weight: 100;
}

.wrapper .line .first .head em {
  float: right;
  width: 10px;
  height: 10px;
  background-color: #ee4d4d;
  margin-top: 10px;
  right: -5px;
  position: absolute;
  transform: rotate(45deg);
}

.wrapper .line .first .acontecimiento {
  width: 40px;
  height: 40px;
  background-image: url("https://www.ameritas.com/wps/wcm/connect/corp/aa0baea3-3a84-467b-a710-089ab961326b/get-married-icon.png?MOD=AJPERES&CACHEID=aa0baea3-3a84-467b-a710-089ab961326b");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  border-radius: 100%;
  border: 1px solid #ee4d4d;
  position: absolute;
  top: -7px;
  left: 322.5px;
}

.wrapper .line .first p {
  position: relative;
  display: inline-block;
  top: 20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 100;
  color: #000;
}

/* Second */
.wrapper .line .second {
  position: relative;
  width: 300px;
  background-color: #fff;
  height: 200px;
  float: right;
  right: -340px;
  margin-bottom: 40px;
}

.wrapper .line .second .head {
  background-color: #ee4d4d;
  width: 100%;
  height: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding: 0px 5px;
  position: absolute;
  color: white;
  font-weight: 100;
}

.wrapper .line .second .head em {
  float: left;
  width: 10px;
  height: 10px;
  background-color: #ee4d4d;
  margin-top: 10px;
  left: -5px;
  position: absolute;
  transform: rotate(45deg);
}

.wrapper .line .second p {
  position: relative;
  display: inline-block;
  top: 20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 100;
  color: #000;
}

.wrapper .line .second .contenidoadicional {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 10px;
  border-top: 1px solid #ccc;
}

.wrapper .line .second .contenidoadicional img {
  width: 80%;
  border-radius: 7px;
  position: relative;
  margin: auto;
  left: 10%;
  margin-top: 7px;
}

.wrapper .line .second .acontecimiento {
  width: 40px;
  height: 40px;
  background-image: url("https://cdn0.iconfinder.com/data/icons/vacation-and-travel/80/Vacation_travel-08-512.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  border-radius: 100%;
  border: 1px solid #ee4d4d;
  position: absolute;
  display: inline-block;
  top: -7px;
  right: 322.5px;
}

.wrapper .line .second .controles {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 40px;
  margin-top: 10px;
}

.wrapper .line .second .controles ul {
  display: inline-block;
  margin: auto;
  position: relative;
  width: 100%;
  height: 30px;
  left: 55px;
}

.wrapper .line .second .controles ul li {
  margin-right: 20px;
  vertical-align: middle;
  color: #ccc;
  display: inline-block;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  cursor: pointer;
  padding: 10px 7px;
}

.wrapper .line .second .controles:hover > ul li {
  margin-right: 20px;
  vertical-align: middle;
}

.wrapper .line .second .controles ul li:hover {
  transform: scale(1.2);
  -webkit-tranform: scale(1.2);
  -moz-tranform: scale(1.2);
}

.wrapper .line .second .controles ul li:hover:nth-child(1) {
  color: tomato;
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid tomato;
}

.wrapper .line .second .controles ul li:hover:nth-child(2) {
  color: aquamarine;
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid tomato;
}

.wrapper .line .second .controles ul li:hover:nth-child(3) {
  color: yellow;
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid tomato;
}
