{% extends "django_messages/base.html" %} 
{% load i18n %} 
{% load url from future %}

{% block content %}
<body>
<!-- Menu con logotipo -->
<nav class="box-tool">
  <li><div class="logo"></div></li>
  <li class="chat"><div></div></li>
</nav>

<h1 class="titulo_m"><i class="fa fa-envelope-o"></i>Mensajes privados.</h1>
{% if message_list %} 
<div class="messages">
<div class="wrapper">

    <!--<thead>
        <tr><th>{% trans "Sender" %}</th><th>{% trans "Subject" %}</th><th>{% trans "Received" %}</th><th>{% trans "Action" %}</th></tr>
    </thead>-->
    <tbody>
{% for message in message_list %} 
<!-- Codigo modificado (Adrian) --> 
   <li> <div class="bt">
    <div class="name_and_image">
        <div class="name"><a>{{ message.sender }}</a></div>
    </div>
        <div class="asunto">
            {% if message.new %}<strong>{% endif %}
            {% if message.replied %}<em>{% endif %}
            <a class="message_subject" href="{{message.get_absolute_url }}">{{ message.subject }}</a>
            {% if message.replied %}</em>{% endif %}
            {% if message.new %}</strong>{% endif %}
        </div>
        <div class="time">
        <i class="date_time">{{ message.sent_at|date:_("DATETIME_FORMAT") }}</i>
        </div>
        <ul class="ct">
        <li><a class="fa fa-remove fa-lg" href="{% url 'messages_delete' message.id %}"></a></li>
        </ul>
    </div>
    </li>
{% endfor %}
    </tbody>
</div>
</div>
{% else %}
<p>{% trans "No messages." %}</p>
{% endif %}  
{% endblock %}
</body>